@model Arasan.Models.HSNcode

@{
    ViewData["Title"] = "Index";
}

<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>HSN Code </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                   
                    <hr>
                    @using (Html.BeginForm("HSNcode", "HSNcode", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">HSN Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.HCode, new { @id = "txtHCode",autocomplete="off", @class = "form-control", @TabIndex = 1,@onkeydown = "return isNumeric2(event.keyCode,this.value)" })
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Dec, new { @id = "txtDec", @class = "form-control", @TabIndex = 1,autocomplete="off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">CGST%<label class="mandatory"></label></label>
                                       
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.CGst, Model.CGstlst,"Please Select", new { @id = "txtCGst", @Class = "form-control _select", @TabIndex = 1 })

                                           

                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">SGST%<label class="mandatory"></label></label>
                                          <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.SGst, Model.SGstlst,"Please Select", new { @id = "txtSGst", @Class = "form-control _select", @TabIndex = 1 })

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                      <br />  <label for="inputName3" class="col-sm-4 control-label">IGST%<label class="mandatory"></label></label>
                                          <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.IGst, Model.IGstlst,"Please Select", new { @id = "txtIGst", @Class = "form-control _select", @TabIndex = 1 })

                                         
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListHSNcode", "HSNcode")'">Cancel</button>
                              
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('._select').select2(); 

    });
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtHCode").value == "") {
                isValid = false;
                $(txtHCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter HSN Code");
                return false;
            }
            else {
                $(txtHCode).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDec").value == "") {
                isValid = false;
                $(txtDec).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Description");
                return false;
            }
            else {
                $(txtDec).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();

        });

    });
</script>
