@model Arasan.Models.BranchSelection
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arasan</title>
	<link rel="shortcut icon" href="~/assets/images/Arasan_Logo.ico" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/Arasan_Logo.ico" type="image/x-icon" />
	<!-- Bootstrap -->
	<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
	<!-- slimscroll -->
	<link href="~/assets/css/jquery.slimscroll.css" rel="stylesheet">
	<!-- Fontes -->
	<link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/css/simple-line-icons.css" rel="stylesheet">
	<!-- all buttons css -->
	<link href="~/assets/css/buttons.css" rel="stylesheet">
	<!-- animate css -->
	<link href="~/assets/css/animate.css" rel="stylesheet">
<!-- top nev css -->
	<link href="~/assets/css/page-header.css" rel="stylesheet">
<!-- adminui main css -->
	<link href="~/assets/css/main.css" rel="stylesheet">
	<!-- red green theme css -->
	<link href="~/assets/css/aqua-black.css" rel="stylesheet">
	<!-- media css for responsive  -->
	<link href="~/assets/css/main.media.css" rel="stylesheet">
	<!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
	<!--[if lt IE 9]> <script src="dist/html5shiv.js"></script> <![endif]-->
</head>
  @{
	<script type="text/javascript">
			@if (TempData["msg"] != null)
    {
				@:alert('@TempData["msg"]');
    }

	</script>
    }
<body class="aqua-bg login">
	<div class="middle-box loginscreen">
		<div class="widgets-container">
			
			@using (Html.BeginForm("BranchSelection", "BranchSelection", FormMethod.Post))
			{
				@Html.AntiForgeryToken()
				<form class="top15">
					<div class="form-group">
						<b>Branch Name :</b>
						<br/>
						</div>
					<div class="form-group">
						@Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control chosen-select", @TabIndex = 1  })
					 
						<br/>
					</div>
					<div class="form-group">
						<b>Location Name :</b>
						<br/>
						</div>
					<div class="form-group">
				 		@Html.DropDownListFor(C => C.Location, Model.Loclst, new { @id = "ddlLocation", @Class = "form-control chosen-select", @TabIndex = 1 })
						<br />
						@*<input type="password" required="" placeholder="Password" class="form-control">*@
					</div>
					<button class="btn aqua block full-width  bottom15" type="submit">Go</button>
					<br />
					@*	<a href="forgot_password.html"><small>Forgot password?</small></a>
				<p class="text-muted text-center"><small>Do not have an account?</small></p>
				<a href="register.html" class="btn btn-sm btn-white btn-block">Create an account</a>*@
				</form>
            }
		</div>
	</div>
</body>
</html>
	<script src="~/assets/js/vendor/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="~/assets/js/vendor/bootstrap.min.js"></script>
<script src="@Url.Content("~/js/chosen.jquery.js")"></script>

<link href="@Url.Content("~/css/chosen.css")" rel="stylesheet" />
<script type="text/javascript">
		jQuery.browser = { };
	(function () {
		jQuery.browser.msie = false;
		jQuery.browser.version = 0;
		if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
			jQuery.browser.msie = true;
			jQuery.browser.version = RegExp.$1;
		}
	})();
	</script>
<script>
    $(".chosen-select").chosen();
//var brid = document.getElementById("ddlBranch").value;
//BR_Change(brid);
	 //function BR_Change(branch) {
		 
  //      $.ajax({
  //          url: 'GetLocDetail',
  //          data: { 'branch' : branch },
  //          type: "GET",
  //          success: function (response) {
  //             var newlist;
  //                      newlist = response.Loclst;
  //                      PopulateDropDown("#ddlLocation", response);
  //          },
  //          error: function () {
  //              alert("Data Not Found");
  //          }
  //      });
  //  }
	
            function PopulateDropDown(dropDownId, list) {
                 //alert(list);
                $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
                if (list != null && list.length > 0) {
                    $(dropDownId).removeAttr("disabled");
                    $.each(list, function () {
                        $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                    });
                }
                $(dropDownId).trigger("liszt:updated");
            }

			 $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
             if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
                isValid = false;
                $(ddlBranch).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Branch");
                return false;
            }
            else {
                $(ddlBranch).css({
                    "border": "",
                    "background": ""
                });
            }
             if (document.getElementById("ddlLocation").value == "" || document.getElementById("ddlLocation").value == 0) {
                isValid = false;
                $(ddlLocation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Location");
                return false;
            }
            else {
                $(ddlLocation).css({
                    "border": "",
                    "background": ""
                });
            }
           
           
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>

