@model Arasan.Models.ReceiptSubContract

@{
    ViewData["Title"] = "Receipt for SubContract ";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong> Receipt for SubContract</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Receipt for SubContract</h5>
                    <hr>
                    @using (Html.BeginForm("ReceiptSubContract", "ReceiptSubContract", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.DocNo, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1 ,@readonly="readonly"})<br />
                                        @Html.HiddenFor(C => C.ID)
                                        @Html.HiddenFor(C => C.Branch)
                                        @Html.HiddenFor(C => C.enterd)
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>

                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.DocDate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Ref No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.RefNo, new { @id = "txtRefNo", @class = "form-control", @TabIndex = 3  })<br />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="Mandatory"></label></label>

                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.RefDate, new { @id = "RefDate", @class = "form-control", @TabIndex = 4,@size="32",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">D.C.No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.DCNo, Model.DClst," -- Please Select -- ", new { @id = "ddlDC", @Class = "form-control _select", @TabIndex = 5 ,onchange = "changeItem(this.value)"})<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Recived From<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Supplier, Model.Suplst," -- Please Select -- ", new { @id = "ddlSupplier", @Class = "form-control _select", @TabIndex = 6 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                  <br />  <label for="inputName3" class="col-sm-4 control-label">Add 1<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Add1, new { @id = "txtAdd1", @class = "form-control", @TabIndex = 7  })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /> <label for="inputName3" class="col-sm-4 control-label">Add 2<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Add2, new { @id = "txtAdd2", @class = "form-control", @TabIndex =8 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.City, new { @id = "txtCity", @class = "form-control", @TabIndex = 9 })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Location, Model.Loclst," -- Please Select -- ", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 10 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Through<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Through, new { @id = "txtThrough", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Chellan No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Chellan, new { @id = "txtChellan", @class = "form-control", @TabIndex = 12 })<br />
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-1" data-toggle="tab">Recived Metrial Details</a></li>
                                        <li><a href="#tab-2" data-toggle="tab">Item to be Delivered </a></li>

                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <!-- 1st tab  -->

                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                    </div>
                                                </div>
                                            

                                                <div class="col-lg-12">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <!-- / ibox-title -->
                                                        <table class="table table-striped table-hover" id="dataTable">
                                                                        <thead>
                                                                            <tr>
                                                                                
                                                                                <th>Exp.Rec.Item</th>
                                                                                <th>Drum</th>
                                                                                <th>Unit ID</th>
                                                                                <th>Exp.Rec.Qty</th>
                                                                                <th>Rate</th>
                                                                                <th>Amount</th>

                                                                            </tr>
                                                                        </thead>
                                                            <tbody id="tbBooks1">
                                                            @{
                                                                int i = 0;

                                                                foreach (var item in Model.Delilst.ToList())
                                                                {

                                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                        <td>
                                                                            @Html.DropDownListFor(o => o.Delilst[i].item, Model.Delilst[i].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlitem" + i, style = "width: 200px;", onchange = "Item_Change(this.value," + i + ")" })
                                                                        </td>
                                                                        <td><div class='fa-hover col-md-2 col-sm-4'> <a href='@Url.Action("DrumSelection", "ReceiptSubContract",new{id= item.id ,rowid=i})' class='fancybox' data-fancybox-type="iframe"><img src='../Images/view_icon.png' /></a></div> </td>
                                                                        <td>@Html.TextBoxFor(o => o.Delilst[i].unit, new { @id = "txtunit" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Delilst[i].qty, new { @id = "txtqty" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Delilst[i].rate, new { @id = "txtrate" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Delilst[i].amount, new { @id = "txtamount" + i, @class = "form-control", style = "width: 120px;" }) </td>
                                                                        <td>
                                                                            @Html.HiddenFor(o => o.Delilst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                            <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Delilst.Index" type="hidden" value="@(i)" />
                                                                        </td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                       
                                            <!-- 1st tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <!-- 2nd tab  -->
                                            
                                              <div class="col-md-12">
                                    <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                    </div>
                                </div>
                           
                                                    <div class="col-lg-12">
                                                        <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                            <!-- / ibox-title -->
                                                            <table class="table table-striped table-hover" id="dataTable1">
                                                                        <thead>
                                                                            <tr>
                                                                                
                                                                                <th>Item ID</th>
                                                                                <th>Unit</th>
                                                                                <th>Qty</th>
                                                                                <th>Rate</th>
                                                                                <th>Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                <tbody id="tbBooks">
                                                            @{
                                                                int j = 0;

                                                                foreach (var item in Model.Reclst.ToList())
                                                                {

                                                                    <tr id="trBook1@(j)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                        <td>
                                                                            @Html.DropDownListFor(o => o.Reclst[j].item, Model.Delilst[j].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlRitem" + i, style = "width: 200px;", onchange = "Item_Change(this.value," + j + ")" })
                                                                        </td>
                                                                        <td>@Html.TextBoxFor(o => o.Reclst[j].unit, new { @id = "txtRunit" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Reclst[j].qty, new { @id = "txtRqty" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Reclst[j].rate, new { @id = "txtRrate" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                        <td>@Html.TextBoxFor(o => o.Reclst[j].amount, new { @id = "txtRamount" + j, @class = "form-control", style = "width: 120px;" }) </td>
                                                                        <td>
                                                                            @Html.HiddenFor(o => o.Reclst[j].Isvalid, new { @id = "Isvalid" + j })
                                                                                <img onclick="removeRow1(@(j));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Delilst.Index" type="hidden" value="@(j)" />
                                                                        </td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        
                                                   
                                            <!-- 2nd tab  -->
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                      

                        <div style="height:30px;"></div>
                        <div class="row">
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Qty to be Recived<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.qtyrec, new { @id = "qtyrec", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Recived Qty<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.TotRecqty, new { @id = "TotRecqty", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(C => C.Narr, new { @id = "Narr", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                        <button class="btn btn-danger" type="submit">Cancel</button>
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

   <script>
     $(function() {
            $('._select').select2();
        });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
     $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
        showMeridian: 1
    });


     function changeItem(ItemId) {
        $.ajax({
            url: 'GetDCDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {
                
                document.getElementById("txtAdd1").value = result.add1;
              
                document.getElementById("txtAdd2").value = result.add2;
                document.getElementById("txtCity").value = result.city;
            },
            error: function () {
                alert("Data Not Found");
            }
        });
        $.ajax({
            url: "GetPartyJSON",
            type: "post",
            data: { 'itemid': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlSupplier", response);
            },
            error: function () {
                debugger;
                alert("Please Select Dc No");
            }
        });

        document.getElementById("tbBooks").innerHTML = "";
        document.getElementById("tbBooks1").innerHTML = "";
        $.ajax({
            url: 'GetRecivedDetail',

            type: "post",
            data: { "ItemId": ItemId, },
            cache: false,
            success: function (list) {
                if (list != null && list.length > 0) {

                    list.forEach((item) => {

                        var index = $("#tbBooks").children("tr").length;

                        var ItemId = "<td><label style='width: 200px;'>" + item.item + "</label><input type='hidden' value=" + item.itemid + " id='txtitemid" + index + "' name='Reclst[" + index + "].itemid'><input type='hidden' value=" + item.id + " id='txtID" + index + "' name='Reclst[" + index + "].id'></td>";

                        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Reclst[" + index + "].unit'  style='width: 90px;' type='text'  readonly='True'  value=" + item.unit + " /></td>";


                        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Reclst[" + index + "].qty'  style='width: 100px;' type='text' readonly='True' value=" + item.qty + " /></td>";





                        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Reclst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text' value=" + item.rate + " readonly='True' /></td>";

                        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Reclst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px; type='text' value=" + item.amount + " readonly='True' /></td>";






                        var removeCell = "<td><input id='Isvalid" + index + "' name='Reclst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='Reclst.Index' type='hidden' value='" + index + "'  /></td>";

                        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>"  + ItemId  + Unit  + Qty + rate + Amount +  removeCell + "</tr>";
                        $("#tbBooks").append(newRow);

                    });

                }


            },
            error: function () {
                debugger;
                alert("Please Select Supplier");
            }
        });
        $.ajax({
            url: 'GetDeliverItemDetail',

            type: "post",
            data: { "ItemId": ItemId, },
            cache: false,
            success: function (list) {
                if (list != null && list.length > 0) {

                    list.forEach((item) => {

                        var index = $("#tbBooks1").children("tr").length;

                        var ItemId = "<td><label style='width: 200px;'>" + item.item + "</label><input type='hidden' value=" + item.itemid + " id='txtitemid" + index + "' name='Delilst[" + index + "].itemid'><input type='hidden' value=" + item.drumno + " id='txtdrumno" + index + "' name='Delilst[" + index + "].drumno'><input type='hidden' value=" + item.dqty + " id='txtdqty" + index + "' name='Delilst[" + index + "].dqty'><input type='hidden' value=" + item.drate + " id='txtdrate" + index + "' name='Delilst[" + index + "].drate'><input type='hidden' value=" + item.damount + " id='txtdamount" + index + "' name='Delilst[" + index + "].damount'><input type='hidden' value=" + item.supid + " id='txtsupid" + index + "' name='Delilst[" + index + "].supid'></td>";
                        var Drum = "<td><div class='fa-hover col-md-2 col-sm-4''> <a href='@Url.Action("DrumSelection", "ReceiptSubContract")?rowid=0&id=" + item.supid + "' class='fancybox' data-fancybox-type='iframe' ><img src='../Images/view_icon.png' /></a></div> </td>";

                        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Delilst[" + index + "].unit'  style='width: 90px;' type='text'  readonly='True'  value=" + item.unit + " /></td>";


                        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Delilst[" + index + "].qty'  style='width: 100px;' type='text' readonly='True' value=" + item.qty + " /></td>";





                        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Delilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text' value=" + item.rate + " readonly='True' /></td>";

                        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Delilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px;' type='text' value=" + item.amount + " readonly='True' /></td>";






                        var removeCell = "<td><input id='Isvalid" + index + "' name='Delilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Delilst.Index' type='hidden' value='" + index + "'  /></td>";

                        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId +Drum+ Unit + Qty + rate + Amount + removeCell + "</tr>";
                        $("#tbBooks1").append(newRow);

                    });

                }


            },
            error: function () {
                debugger;
                alert("Please Select DC Number");
            }
        });
        }
         function PopulateDropDown(dropDownId, list) {
                 //alert(list);
                $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
                if (list != null && list.length > 0) {
                    $(dropDownId).removeAttr("disabled");
                    $.each(list, function () {
                        $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                    });
                }
                $(dropDownId).trigger("liszt:updated");
            }


    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        });
    }
      function AddRow1() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemDelJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow1(opt);
            }
        });
    }
     function AppendRow(opt) {
        var index = $("#tbBooks1").children("tr").length;

        var ItemId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='Delilst[" + index + "].item' style='width:150px;' onchange = 'Item_Change(this.value," + index + ")'> <option value=''>Please select</option>" + opt + " < /select><input type='hidden' id='txtitemid" + index + "' name='Delilst[" + index + "].itemid'><input type='hidden'  id='txtdrumno" + index + "' name='Delilst[" + index + "].drumno'><input type='hidden'  id='txtdqty" + index + "' name='Delilst[" + index + "].dqty'><input type='hidden'  id='txtdrate" + index + "' name='Delilst[" + index + "].drate'><input type='hidden'  id='txtdamount" + index + "' name='Delilst[" + index + "].damount'><input type='hidden'  id='txtsupid" + index + "' name='Delilst[" + index + "].supid'></td>";
        var Drum = "<td><div class='fa-hover col-md-2 col-sm-4''> <a href='@Url.Action("DrumSelection", "ReceiptSubContract")?rowid=0&id='item' class='fancybox' data-fancybox-type='iframe' ><img src='../Images/view_icon.png' /></a></div> </td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Delilst[" + index + "].unit'  style='width: 100px;' type='text'    /></td>";


        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Delilst[" + index + "].qty'  style='width: 100px;' type='text' /></td>";





        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Delilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text'  /></td>";

        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Delilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px;' type='text'  /></td>";






        var removeCell = "<td><input id='Isvalid" + index + "' name='Delilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Delilst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId + Drum + Unit + Qty + rate + Amount + removeCell + "</tr>";
        $("#tbBooks1").append(newRow);

        $(function () {
            $('._select').select2();
        });
    }
     function AppendRow1(opt) {
        var index = $("#tbBooks").children("tr").length;

        //var ItemGrp = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='MRlst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

        var ItemId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='Reclst[" + index + "].item' style='width:150px;' onchange = 'Item_Change(this.value," + index + ")'> <option value=''>Please select</option>" + opt + " < /select><input type='hidden'   id='txtitemid" + index + "' name='Reclst[" + index + "].itemid'><input type='hidden'  id='txtID" + index + "' name='Reclst[" + index + "].id'></td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Reclst[" + index + "].unit'  style='width: 100px;' type='text'  '    /></td>";


        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Reclst[" + index + "].qty'  style='width: 100px;' type='text'   /></td>";





        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Reclst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text'  /></td>";

        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Reclst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px; type='text'   /></td>";






        var removeCell = "<td><input id='Isvalid" + index + "' name='Reclst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='Reclst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + ItemId + Unit + Qty + rate + Amount + removeCell + "</tr>";
        $("#tbBooks").append(newRow);

        $(function () {
            $('._select').select2();
        });
    }
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function removeRow1(id) {
        var table = document.getElementById("dataTable1");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook1' + id);
        var j = 0;
        $('tr.chkitemlst1').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    </script>

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>
