@model Arasan.Models.BonusMaster

@{
    ViewData["Title"] = "BonusMaster";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        @* <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action(" LeaveTypeMaster", " LeaveTypeMaster")">HR</a> </li>
            <li class="active"> <strong>Leave Type Master </strong> </li>
        </ol> *@
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">BonusMaster</h5>
                    <hr>
                    @using (Html.BeginForm("BonusMaster", "BonusMaster", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Bonus Type<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.BType, new { @id = "txtBType", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <br /><label for="inputName3" class="col-sm-4 control-label">Application Designations<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                    @Html.DropDownListFor(C => C.ADes, Model.Itemlst, " -- Please Select -- ", new { @id = "ddlADes", @class = "form-control _select", @Width = "200px" })
                                    </div>
                                </div>
                              </div>
                          </div>
                        
                               
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Calculation<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CType, new { @id = "txtCType", @class = "form-control", @TabIndex = 2 })
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Bonus Value<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.BValue, new { @id = "txtBValue", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Effective From / To<label class="mandatory">*</label></label>
                                        <div class="input-group date from_Date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.EFrom, new { @id = "txtEFrom", @class = "form-control", @TabIndex = 2, @size = "31" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Effective From / To<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.EFrom, new { @id = "txtEFrom", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div> *@
                                <div class="col-md-6">
                                    <div class="form-group">
                                       <label for="inputName3" class="col-sm-4 control-label">Remarks<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
@*                                             @Html.TextBoxFor(C => C.Remarks, new { @id = "txtRemarks", @class = "form-control", @TabIndex = 2 })
 *@                                            @Html.TextAreaFor(C => C.Remarks, new { @id = "txtRemarks", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("BonusMasterList", "BonusMaster")'">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
       $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtBType").value == "") {
                isValid = false;
                $(txtBType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Bonus Type");
                return false;
            }
            else {
                $(txtBType).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCType").value == "") {
                isValid = false;
                $(txtCType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Calculation");
                return false;
            }
            else {
                $(txtCType).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtBValue").value == "") {
                isValid = false;
                $(txtBValue).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Bonus Value");
                return false;
            }
            else {
                $(txtBValue).css({
                    "border": "",
                    "background": ""
                });
            }




            if (isValid == false)
                e.preventDefault();
        });

    });
    </script>
    <script>

      // Initialize From Date picker
    $('.from_Date').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        startDate: new Date(),
        forceParse: 0
    })
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
</script>





