@model Arasan.Models.State

@{
    ViewData["Title"] = "State";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>State </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>

                    @using (Html.BeginForm("State", "State", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <form>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Country<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.countryid, Model.cuntylst,"--Please Select---", new { @id = "ddlcountry", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                       <br /> <label for="inputName3" class="col-sm-4 control-label">StateName<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.StateName, new { @id = "txtStateName", @class = "form-control", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">StateCode<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.StateCode, new { @id = "txtStateCode", onkeydown = "return isNumeric2(event.keyCode,this.value)", @class = "form-control", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListState", "State")">Cancel</a>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('._select').select2();
    });
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("ddlcountry").value == "" || document.getElementById("ddlcountry").value == 0) {
                isValid = false;
                $(ddlLocation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Country");
                return false;
            }
            else {
                $(ddlcountry).css({
                    "border": "",
                    "background": ""
                });
            }

            //if (document.getElementById("ddlcountry").value == "") {
            //    isValid = false;
            //    $(ddlcountry).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select Country");
            //    return false;
            //}
            //else {
            //    $(ddlcountry).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
            if (document.getElementById("txtStateName").value == "") {
                isValid = false;
                $(txtStateName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select State Name");
                return false;
            }
            else {
                $(txtStateName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtStateCode").value == "") {
                isValid = false;
                $(txtStateCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter State Code");
                return false;
            }
            else {
                $(txtStateCode).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>