@model Arasan.Models.AdvanceTM

@{
    ViewData["Title"] = "AdvanceTM";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action(" AdvanceTMList", " AdvanceTM")">HR</a> </li>
            <li class="active"> <strong>AdvanceTM </strong> </li>
        </ol> 
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">AdvanceTM</h5>
                    <hr>
                    @using (Html.BeginForm("AdvanceTM", "AdvanceTM", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Advance Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.AType, new { @id = "txtAType", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Max Amount Limit<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.MALmt, new { @id = "txtMALmt", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Eligibility Rules<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ERules, new { @id = "txtERules", @class = "form-control", @TabIndex = 2 })
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Repayment Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.RPType, new { @id = "txtRPType", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Number of Installments<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.NOIns, new { @id = "txtNOIns", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Deduction <label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Dedn, new { @id = "txtDedn", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div> 
                              </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Remarks<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @*@Html.TextBoxFor(C => C.Remarks, new { @id = "txtRemarks", @class = "form-control", @TabIndex = 2 })
 *@                                            @Html.TextAreaFor(C => C.Rmarks, new { @id = "txtRemarks", @class = "form-control", @TabIndex = 2 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("AdvanceTMList", "AdvanceTM")'">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function () {
       $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtAType").value == "") {
                isValid = false;
                $(txtAType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Advance Type");
                return false;
            }
            else {
                $(txtAType).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtMALmt").value == "") {
                isValid = false;
                $(txtMALmt).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Max Amount Limit");
                return false;
            }
            else {
                $(txtMALmt).css({
                    "border": "",
                    "background": ""
                });
            }
             if (document.getElementById("txtERules").value == "") {
                isValid = false;
                $(txtERules).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Eligibility Rules");
                return false;
            }
            else {
                $(txtERules).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtRPType").value == "") {
                isValid = false;
                $(txtRPType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Repayment Type");
                return false;
            }
            else {
                $(txtRPType).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();
        });

    });
</script>
<script>

      // Initialize From Date picker
    $('.from_Date').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        startDate: new Date(),
        forceParse: 0
    })
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
</script>





