@model Arasan.Models.AdvanceTM

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "AdvanceTM";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("AdvanceTMList", "AdvanceTM")">HR</a> </li>
            <li class="active"> <strong>AdvanceTM</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">AdvanceTM</h5>
                    <hr>
                    @using (Html.BeginForm("AdvanceTM", "AdvanceTM", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Advance Type<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.AType, new { @id = "AType", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Max Amount Limit<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.MALmt, new { @id = "MALmt", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Eligibility Rules<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.ERules, new { @id = "ERules", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Repayment Type<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.RPType, new { @id = "RPType", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Number of Installments<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.NOIns, new { @id = "NOIns", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Deduction<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Dedn, new { @id = "Dedn", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Remarks<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Rmarks, new { @id = "Rmarks", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>



  


