@model Arasan.Models.Location

@{
    ViewData["Title"] = "Location";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Location </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("Location", "Location", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()


                        <form>

                            <div class="row">
                      
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Location Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.LocationId, new { @id = "txtLocationId", @class = "form-control", @TabIndex = 1 })<br />
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Branch)
                                    </div>

                                    </div>
                                </div>
                              @*  <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst,"Please select", new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })<br /><br />
                                             @Html.HiddenFor(C => C.ID)
                                        </div>

                                    </div>
                            </div>*@
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Location Type<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.LocType, new { @id = "txtLocationType", @class = "form-control", @TabIndex = 1 })<br />
                                          
                                        </div>

                                    </div>
                                </div>
                                </div>
                              @*  <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Trade Y/N <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Trade, new { @id = "txtTrade", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                            </div>*@
                            @*  <div class="row">

                              <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Bin Required Y/N <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Bin, new { @id = "txtBin", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                            </div>*@
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Contact Person<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.ContactPer, new { @id = "txtContactPer", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Phone No <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.PhoneNo, new { @id = "txtPhoneNo",onkeydown = "return isNumeric2(event.keyCode,this.value)", @maxlength="10", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextAreaFor(C => C.Address, new { @id = "txtAddress", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">E-mail <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.EmailId, new { @id = "txtEmailId", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @* <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Flow Order<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.FlowOrd, new { @id = "txtFlowOrd", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                           
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Fax No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.FaxNo, new { @id = "txtFaxNo", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>

                                    </div>
                                </div>
                            </div>    *@
                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListLocation", "Location")">Cancel</a>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $('._select').select2();
    });
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtLocationId").value == "") {
                isValid = false;
                $(txtLocationId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Location ID");
                return false;
            }
            else {
                $(txtLocationId).css({
                    "border": "",
                    "background": ""
                });
            }
            //if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
            //    isValid = false;
            //    $(ddlBranch).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select Branch");
            //    return false;
            //}
            //else {
            //    $(ddlBranch).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
           
            if (document.getElementById("txtLocationType").value == "") {
                isValid = false;
                $(txtLocationType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Location Type");
                return false;
            }
            else {
                $(txtLocationType).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtContactPer").value == "") {
                isValid = false;
                $(txtContactPer).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Contact Person");
                return false;
            }
            else {
                $(txtContactPer).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtPhoneNo").value == "") {
                isValid = false;
                $(txtPhoneNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Phone No");
                return false;
            }
            else {
                $(txtPhoneNo).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtAddress").value == "") {
                isValid = false;
                $(txtAddress).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Address");
                return false;
            }
            else {
                $(txtAddress).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEmailId").value == "") {
                isValid = false;
                $(txtEmailId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter E-mail");
                return false;
            }
            else {
                $(txtEmailId).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>
