@model Arasan.Models.QCFinalValueEntry
@{
    ViewData["Title"] = "QCFinalValueEntry";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Quality Control</a> </li>
            <li class="active"> <strong>QC Final Value Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">QC Final Value Entry</h5>
                    <hr>
                      @using (Html.BeginForm("QCFinalValueEntry", "QCFinalValueEntry", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                       <br />  <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                           @Html.HiddenFor(C => C.ID)
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })
                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                      <br /> <label for="inputName3" class="col-sm-4 control-label">Doc Id<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                          @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                      <br /> <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>
                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.DocDate, new { @id = "DocDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly="readonly" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                         <br />   <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DropDownListFor(C => C.WorkCenter, Model.Worklst, new { @id = "ddlWorkCenter", @Class = "form-control _select", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                 <br />  <label for="inputName3" class="col-sm-4 control-label">Processer ID<label class="mandatory">*</label></label>

                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Process, Model.Processlst, new { @id = "ddlProcess", @Class = "form-control _select", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Drum No<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.DrumNo, Model.drumlst, new { @id = "ddlDrumNo", @Class = "form-control _select", @TabIndex = 1,onchange = "changeItem(this.value)"})
                                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                   <br />  <label for="inputName3" class="col-sm-4 control-label">Batch<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                          @Html.TextBoxFor(C => C.Batch, new { @id = "txtBatch", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Batch No<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                          @*  @Html.DropDownListFor(C => C.BatchNo, Model.Batchlst," -- Please Select -- " ,new { @id = "ddlBatchNo", @Class = "form-control _select", @TabIndex = 1 })*@

                                            @Html.TextBoxFor(C => C.BatchNo, new { @id = "txtBatchNo", @class = "form-control", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                           <br /> <label for="inputName3" class="col-sm-4 control-label">Item ID<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                           @* @Html.DropDownListFor(C => C.Itemid, Model.Itemlst, " -- Please Select -- ",new { @id = "ddlItemid", @Class = "form-control _select", @TabIndex = 1 })*@

                                            @Html.TextBoxFor(C => C.Itemid, new { @id = "txtItemid", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                      <br /> <label for="inputName3" class="col-sm-4 control-label">Prod No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                               @Html.TextBoxFor(C => C.ProNo, new { @id = "txtProNo", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Rate/Hr<label class="mandatory">*</label></label>

                                    <div class="col-sm-8">
                                              @Html.TextBoxFor(C => C.Rate, new { @id = "txtRate", @class = "form-control", @TabIndex = 1 })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                     <br />  <label for="inputName3" class="col-sm-4 control-label">Prod Date<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.ProDate, new { @id = "ProDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly="readonly" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <br /> <label for="inputName3" class="col-sm-4 control-label">Sample No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                             @Html.TextBoxFor(C => C.SampleNo, new { @id = "txtSampleNo", @class = "form-control", @TabIndex = 1 })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                      <br /> <label for="inputName3" class="col-sm-4 control-label">Nozzle No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.NozzleNo, new { @id = "NozzleNo", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Air Pressure<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                             @Html.TextBoxFor(C => C.AirPress, new { @id = "txtAirPress", @class = "form-control", @TabIndex = 1 })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                     <br />  <label for="inputName3" class="col-sm-4 control-label">Additive Charged[%]<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Additive, new { @id = "txtAdditive", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                     <br />  <label for="inputName3" class="col-sm-4 control-label">Sample Time<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.Stime, new { @id = "txtStime", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Champer Temp<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CTemp, new { @id = "txtCTemp", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-1" data-toggle="tab"> Result Detail</a></li>
                                        @*<li><a href="#tab-2" data-toggle="tab">Other Drums </a></li>*@
                                        <li><a href="#tab-2" data-toggle="tab">Gas Evoluation Details </a></li>
                                    </ul>
                                     <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1">
                                 <!-- 1st tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                             <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="ibox float-e-margins">

                                                            <!-- / ibox-title -->
                                                            <div id="demo3" class="ibox-content collapse in">
                                                                <div class="borderedTable">
                                                                    <div class="table-scrollable">
                                                                        <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                
                                                                                <th>Description</th>
                                                                                <th> ValueOrManual </th>
                                                                                <th> Unit </th>
                                                                                <th> Start Value </th>
                                                                                <th> End Value</th>
                                                                                <th> Test Value </th>
                                                                                <th> Manual Value </th>
                                                                                <th> Actual TestValue </th>
                                                                                <th> Test Result </th>
                                                                            </tr>
                                                                        </thead>
                                                                            <tbody id="tbBooks">
                                                                            <tr>

                                                                                @{

                                                int i = 0;
                                         

                                                    foreach (var item in Model.QCFVLst.ToList())
                                                {
                                                            <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Des, new { @id = "txtDes" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Value, new { @id = "txtValue" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Unit, new { @id = "txtUnit" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Sta, new { @id = "txtSta" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].En, new { @id = "txtEn" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Test, new { @id = "txtTest" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Manual, new { @id = "txtManual" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Actual, new { @id = "txtActual" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    <td>
                                                                @Html.TextBoxFor(o => o.QCFVLst[i].Result, new { @id = "txtResulth" + i, @class = "form-control", style = "width: 120px;" })
                                                    </td>
                                                    
                                                    <td>
                                                                @Html.HiddenFor(o => o.QCFVLst[i].Isvalid, new { @id = "Isvalid" + i })
  <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" />                                                     </td>

                                                            </tr>
                                                        i = i + 1;
                                                      

                                                    }
                                                }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                            <!-- 1st tab  -->
                                        </div>
                                        @*<div class="tab-pane" id="tab-2">
                                            <!-- 2nd tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                <th>Drum No.</th>
                                                                                <th> Batch No. </th>
                                                                                <th> Item Id </th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Drum No." type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Batch No." type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Drum No." type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Batch No." type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Drum No." type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Batch No." type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2nd tab  -->
                                        </div>*@
                                        <div class="tab-pane" id="tab-2">
                                            <!-- 2nd tab  -->
                                             <div style="height:30px;"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="btn-group">
                                                    <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                                </div>
                                            </div>
                                        </div>

                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                               
                                                                                <th>Time [Mins]</th>
                                                                                <th> Vol. at 25 C </th>
                                                                                <th> Vol. at 35 C </th>
                                                                                <th> Vol. at 45 C </th>
                                                                                <th> Vol. at STP </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbBooks1">
                                                                            

                                                                                @{

                                                                                    int j = 0;


                                                                                    foreach (var item in Model.QCFVDLst.ToList())
                                                                                    {
                                                                                    <tr id="trBook1@(j)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                                        <td>
                                                                                                @Html.TextBoxFor(o => o.QCFVDLst[j].Time, new { @id = "txtTime" + j, @class = "form-control", style = "width: 120px;" })
                                                                                        </td>
                                                                                        <td>
                                                                                                @Html.TextBoxFor(o => o.QCFVDLst[j].Vol, new { @id = "txtVol" + j, @class = "form-control", style = "width: 120px;" })
                                                                                        </td>
                                                                                        <td>
                                                                                                @Html.TextBoxFor(o => o.QCFVDLst[j].Volat, new { @id = "txtVolat" + j, @class = "form-control", style = "width: 120px;" })
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(o => o.QCFVDLst[j].Volc, new { @id = "txtVolc" + j, @class = "form-control", style = "width: 120px;" })
                                                                                        </td>
                                                                                        <td>
                                                                                            @Html.TextBoxFor(o => o.QCFVDLst[j].Stp, new { @id = "txtStp" + j, @class = "form-control", style = "width: 120px;" })
                                                                                        </td>

                                                                                        <td>
                                                                                                @Html.HiddenFor(o => o.QCFVDLst[j].Isvalid, new { @id = "Isvalid" + j })
                                                                                            <img onclick="removeRow1(@(j));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(j)" />
                                                                                        </td>

                                                                                    </tr>
                                                                                        j = j + 1;


                                                                                    }
                                                                                }

                                                                           
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            <!-- 2rd tab  -->
                                        </div>
                                       
                                   </div>
                                </div>

                            </div>
                        </div>


                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Final Result<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.FResult, new { @id = "txtFResult", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                   <br /> <label for="inputName3" class="col-sm-4 control-label">Result Type<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.RType, new { @id = "txtRType", @class = "form-control", @TabIndex = 1 })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Enterd, Model.RecList, new { @id = "ddlEnterd", @Class = "form-control _select", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br /><label for="inputName3" class="col-sm-4 control-label">Remarks<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Reamarks, new { @id = "txtReamarks", @class = "form-control", @TabIndex = 1 })
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListQCFinalValueEntry", "QCFinalValueEntry")'">Cancel</button>
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    function changeItem(ItemId) {
        

        $.ajax({
            url: "GetItemJSON",
            type: "post",
            data: { 'supid': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                newlist = response.Itemlst;
                PopulateDropDown("#ddlItemid", response);
            },
            error: function () {
                debugger;
                alert("Please Select Drum Location");
            }
        });
         $.ajax({
            url: "GetBatchJSON",
            type: "post",
            data: { 'Batchid': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                newlist = response.Batchlst;
                PopulateDropDown("#ddlBatchNo" , response);
            },
            error: function () {
                debugger;
                alert("Please Select Drum No");
            }
        });
        }
   
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
     function AddRow1() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
   
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
     function removeRow1(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook1' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

        var Des = "<td><input class='form-control' id='txtDes" + index + "' name='QCFVLst[" + index + "].Des'  style='width: 120px;' type='text'  /></td>";

        var Value = "<td><input class='form-control' id='txtValue" + index + "' name='QCFVLst[" + index + "].Value'  style='width: 120px;' type='text'  /></td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='QCFVLst[" + index + "].Unit'  style='width: 120px;' type='text'  /></td>";

        var Sta = "<td><input class='form-control' id='txtSta" + index + "' name='QCFVLst[" + index + "].Sta'  style='width: 120px;' type='text'  /></td>";

        var En = "<td><input class='form-control' id='txtEn" + index + "' name='QCFVLst[" + index + "].En'  style='width: 120px;' type='text'  /></td>";

        var Test = "<td><input class='form-control' id='txtTest" + index + "' name='QCFVLst[" + index + "].Test'  style='width: 120px;' type='text'  /></td>";

        var Manual = "<td><input class='form-control' id='txtManual" + index + "' name='QCFVLst[" + index + "].Manual'  style='width: 120px;' type='text'  /></td>";

        var Actual = "<td><input class='form-control' id='txtActual" + index + "' name='QCFVLst[" + index + "].Actual'  style='width: 120px;' type='text'  /></td>";

        var Result = "<td><input class='form-control' id='txtResultl" + index + "' name='QCFVLst[" + index + "].Result'  style='width: 120px;' type='text'  /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='Itemlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Drumlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Des + Value + Unit + Sta + En + Test + Manual + Actual + Result + removeCell + "</tr>";

        //alert(Packing);
        $("#tbBooks").append(newRow);
        $(function () {
            $('._select').select2();
        });
    }
    function AppendRow1(opt) {
        var index = $("#tbBooks1").children("tr").length;

        var Time = "<td><input class='form-control' id='Time" + index + "' name='QCFVDLst[" + index + "].Time'  style='width: 120px;' type='time'    /></td>";

        var Vol = "<td><input class='form-control' id='txtVol" + index + "' name='QCFVDLst[" + index + "].Vol'  style='width: 120px;' type='text'  /></td>";

        var Volat = "<td><input class='form-control' id='txtVolat" + index + "' name='QCFVDLst[" + index + "].Volat'  style='width: 120px;' type='text'  /></td>";

        var Volc = "<td><input class='form-control' id='txtVolc" + index + "' name='QCFVDLst[" + index + "].Volc'  style='width: 120px;' type='text'  /></td>";

        var Stp = "<td><input class='form-control' id='txtStp" + index + "' name='QCFVDLst[" + index + "].Stp'  style='width: 120px;' type='text'  /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='QCFVDLst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='Drumlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + Des + Value + Unit + Sta + En + Test + Manual + Actual + Result + removeCell + "</tr>";

        //alert(Packing);
        $("#tbBooks1").append(newRow);
        $(function () {
            $('._select').select2();
        });
    }
    $(function () {
        $('._select').select2();
    });
</script>



<script>

    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
                isValid = false;
                $(ddlBranch).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Branch");
                return false;
            }
            else {
                $(ddlBranch).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlWorkCenter").value == "" || document.getElementById("ddlWorkCenter").value == 0) {
                isValid = false;
                $(ddlWorkCenter).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select WorkCenter");
                return false;
            }
            else {
                $(ddlWorkCenter).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlProcess").value == "" || document.getElementById("ddlProcess").value == 0) {
                isValid = false;
                $(ddlProcess).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Process ID");
                return false;
            }
            else {
                $(ddlProcess).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("ddlDrumNo").value == "" || document.getElementById("ddlDrumNo").value == 0) {
                isValid = false;
                $(ddlDrumNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select DrumNo");
                return false;
            }
            else {
                $(ddlDrumNo).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtBatchNo").value == "") {
                isValid = false;
                $(txtBatchNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter BatchNo");
                return false;
            }
            else {
                $(txtBatchNo).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtItemid").value == "") {
                isValid = false;
                $(txtItemid).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Item ID");
                return false;
            }
            else {
                $(txtItemid).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtRate").value == "") {
                isValid = false;
                $(txtRate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Rate/Hr");
                return false;
            }
            else {
                $(txtRate).css({
                    "border": "",
                    "background": ""
                });
            }

            
            if (document.getElementById("ProDate").value == "") {
                isValid = false;
                $(ProDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Prod Date");
                return false;
            }
            else {
                $(ProDate).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtFResult").value == "") {
                isValid = false;
                $(txtFResult).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Final Result");
                return false;
            }
            else {
                $(txtFResult).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();

        });

    });

</script>