@model Arasan.Models.Transaction.MissingPunchEntry

@{
    ViewData["Title"] = "MissingPunchEntry";
    //string query = ViewContext.HttpContext.Request.Query["status"];
    string Qid = string.Empty;
    //if (!string.IsNullOrEmpty(query)) { Qid = ViewContext.HttpContext.Request.Query["status"]; }
}

<partial name="JqxGridPartial" />
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Transaction</a> </li>
            <li class="active"> <strong>Missing Punch EntryScreen</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var source =
            {
                url: "/MissingPunchEntry/MyListMissingPunchEntrygrid",

                data: {
                    strstatus: ""
                },
                datatype: "json",
                updaterow: function (rowid, rowdata) {
                    // synchronize with the server - send update command
                },
                datafields: [
                    { name: 'emp', type: 'string' },
                    { name: 'attendance', type: 'string' },
                    { name: 'missing', type: 'string' },
                    { name: 'device', type: 'string' },
                    { name: 'reason', type: 'string' },
                    { name: 'intime', type: 'string' },
                    { name: 'outtime', type: 'string' },
                    { name: 'editrow', type: 'string' },
                    { name: 'viewrow', type: 'string' },
                    { name: 'reject', type: 'string' },
                    { name: 'apprve', type: 'string' },
                    //{ name: 'delrow', type: 'string' },


                ],
                id: 'id',
            };
            var dataAdapter = new $.jqx.dataAdapter(source,
                { contentType: 'application/json; charset=utf-8' }, {
                loadComplete: function () {

                }
            }
            );
            var linkrenderer1 = function (row, column, value) {
                if (value == "") { 
                    return '';
                }
                else{
                    return '<a href="' + value + '" onclick="return ConfirmApprove()"><img  src="../Images/Approved.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';

                }
            }
            var linkrenderer2 = function (row, column, value) {
                if (value == "") { return ''; }
                else {
                    return '<a href="' + value + '" onclick="return ConfirmDelete()"><img  src="../Images/cancel.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';
                }
            }

            $("#grid").jqxGrid(
                {

                    width: '1100px',
                    source: dataAdapter,
                    height: 450,
                    source: source,
                    //autoheight: true,
                    sortable: true,
                    filterable: true,
                    groupable: false,
                    pageable: true,
                    showfilterbar: true,
                    //showfilterrow: true,
                    theme: 'ui-start',
                    autorowheight: true,
                    filterbarmode: 'simple',
                    enablebrowserselection: true,
                    columnsresize: true,
                    selectionmode: 'multiplerowsextended',
                    keyboardnavigation: false,
                    columns: [

                        { text: 'Employee Name', filtertype: 'checkedlist', datafield: 'emp', width: 145 },
                        { text: 'Attendance Date', filtertype: 'input', datafield: 'attendance', width: 120 },
                        { text: 'Device', filtertype: 'input', datafield: 'device', width: 70 },
                        { text: 'In/Out', filtertype: 'input', datafield: 'missing', width: 100 },
                        { text: 'In Time', filtertype: 'input', datafield: 'intime', width: 120 },
                        { text: 'Out Time', filtertype: 'input', datafield: 'outtime', width: 120 },
                        { text: 'Reason', filtertype: 'input', datafield: 'reason', width: 150 },
                      { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 60 },
                        { text: 'View', datafield: 'viewrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                        { text: 'Approve', datafield: 'apprve', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70, cellsrenderer: linkrenderer1 },
                        { text: 'Reject', datafield: 'reject', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70, cellsrenderer: linkrenderer2 },
                        //{ text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70, cellsrenderer: linkrenderer1, formatter: returnMyLink, edittype: 'select' },
                    ]
                });
            $("#ddlStatus").change(function () {
                var value = "ACTIVE";
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                source.data = {
                    strstatus: value
                };
                $("#grid").jqxGrid({ source: source });
            });
        });

    function returnMyLink(cellValue, options, rowdata, action) {
        return "<a href='/Controller/Action/" + options.rowId + "' >Click here</a>";
    }

</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                           @*  <div class="col-md-2 ">

                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                         { new SelectListItem() {Text = "Enabled", Value="ACTIVE"},
                                new SelectListItem() {Text = "Disabled", Value="INACTIVE"}},
                                         new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div> *@

                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("MissingPunchEntry","MissingPunchEntry")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Missing Punch Entry</a>
                                    <br>
                                </div>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-10 ">
                                <div id="grid">
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to Reject?");
    }
    function ConfirmApprove() {
        return confirm("Are you sure you want to Approve?");
    }
    function changeStatus(status) {
        var url = "/MissingPunchEntry/ListMissingPunchEntry?status=" + status;
        window.location.href = url;
        //$.ajax({
        //    url: 'AssignSession',
        //    data: { "status": status },
        //    type: "GET",
        //    success: function (result) {
        //        document.getElementById("hdstatus").value = result;
        //    },
        //    error: function () {
        //        alert("Data Not Found");
        //    }
        //});
        //window.location.reload();

    }
    $(document).ready(function () {
        var val2 = "@Qid";
        $('#ddlStatus').val(val2);
    });
</script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>