@model Arasan.Models.Transaction.MissingPunchEntry

@{
    ViewData["Title"] = "MissingPunchEntry";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Transaction</a> </li>
            <li class="active"> <strong> Missing Punch EntryScreen </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("MissingPunchEntry", "MissingPunchEntry", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(C => C.EmployeeId, Model.EmpNamelst, "--Please Select--", new { @id = "EmployeeId", @Class = "form-control _select newcss", @TabIndex = 1 })
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Attendance Date<label class="mandatory">*</label></label>
                                        <div class="input-group date for_date col-sm-6" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.PunchDate, new { @id = "txtPunchDate", @class = "form-control", @TabIndex = 2, @size = "32", @readonly = true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Device Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(C => C.Device, new { @id = "txtDevice", @class = "form-control", @TabIndex = 3 })
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Missing In & Out<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(C => C.Missing, Model.MissingPunch, "Please Select", new { @id = "txtMissing", @Class = "form-control _select newcss", @TabIndex = 1 })
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="grpMissingIn">
                                        <label for="inputName3" class="col-sm-4 control-label">Missing In<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(C => C.MissingIn, new { @id = "txtMissingIn", @class = "form-control", @TabIndex = 3 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="grpMissingOut">

                                        <label for="inputName3" class="col-sm-4 control-label">Missing Out<label class="mandatory">*</label></label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(C => C.MissingOut, new { @id = "txtMissingOut", @class = "form-control", @TabIndex = 4 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Reason<label class="mandatory"></label></label>
                                        <div class="col-sm-6">
                                            @Html.TextAreaFor(C => C.Reason, new { @id = "txtReason", @class = "form-control", @TabIndex = 5 })<br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListMissingPunchEntry", "MissingPunchEntry")">Cancel</a>


                        </form>
                    }

                </div>

            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        toggleMissingFields();

        $('#txtMissing').change(function () {
            toggleMissingFields();
        });

        function toggleMissingFields() {
            var value = $('#txtMissing').val();

            if (value === "Missing In") {
                $('#grpMissingIn').show();
                $('#grpMissingOut').hide();
            } else if (value === "Missing Out") {
                $('#grpMissingIn').hide();
                $('#grpMissingOut').show();
            } else {
                $('#grpMissingIn').show();
                $('#grpMissingOut').show();
            }
        }
    });
</script>

<script>
    $(".chosen-select").chosen();
            $('.for_date').datetimepicker({
                //   language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
</script>

<script>
    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;


            if (document.getElementById("EmployeeId").value == "" || document.getElementById("EmployeeId").value == 0) {
                isValid = false;
                $(EmployeeId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Employee Name");
                return false;
            }
            else {
                $(EmployeeId).css({
                    "border": "",
                    "background": ""
                });
            }


            if (document.getElementById("txtPunchDate").value == "" || document.getElementById("txtPunchDate").value == 0) {
                isValid = false;
                $(txtPunchDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Punch Date");
                return false;
            }
            else {
                $(txtPunchDate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtMissing").value == "" || document.getElementById("txtMissing").value == 0) {
                isValid = false;
                $(txtMissing).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Missing In & Out");
                return false;
            }
            else {
                $(txtMissing).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();

        });

    });

</script>