@model Arasan.Models.AccountGroup
@{
    ViewData["Title"] = "AccountGroup";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Account</a> </li>
            <li class="active"> <strong> Account Group</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Account Group </h5>
                    <hr>
                    @using (Html.BeginForm("AccountGroup", "AccountGroup", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                      <from>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                       <br /> <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst," -- Please Select -- ", new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                      <br />  <label for="inputName3" class="col-sm-4 control-label">Account Group<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.AccGroup, new { @id = "txtAccGroup", @class = "form-control", @TabIndex = 1  })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                               <div class="col-md-6">
                                <div class="form-group">


                                    <br /><label for="inputName3" class="col-sm-4 control-label">Account Type<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">

                                          @Html.DropDownListFor(C => C.AType, Model.Typelst," -- Please Select -- ", new { @id = "ddlAType", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                        <br /><label for="inputName3" class="col-sm-4 control-label">Group Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.GCode, new { @id = "txtGCode", @class = "form-control", @TabIndex = 1,maxlength="3",oninput="validateThreeDigitNumber()" })
                                          @*  <span id="error" style="color: red;"></span>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                       <br /> <label for="inputName3" class="col-sm-4 control-label">Display Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                             @Html.TextBoxFor(C => C.Display, new { @id = "txtDisplay", @class = "form-control", @TabIndex = 1   })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListAccountGroup", "AccountGroup")'">Cancel</button>


                        </from>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
      $(function () {
        $('._select').select2();
    });
      function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,

        forceParse: 0
    });
    $(".chosen-select").chosen();
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlBranch").value == "") {
                isValid = false;
                $(ddlBranch).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Branch");
                return false;
            }
            else {
                $(ddlBranch).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtAccGroup").value == "") {
                isValid = false;
                $(txtAccGroup).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Account Group");
                return false;
            }
            else {
                $(txtAccGroup).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlAType").value == "") {
                isValid = false;
                $(ddlAType).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Account Type");
                return false;
            }
            else {
                $(ddlAType).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDisplay").value == "") {
                isValid = false;
                $(txtDisplay).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Display Name");
                return false;
            }
            else {
                $(txtDisplay).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtGCode").value  == "") {
                isValid = false;
                $(txtGCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter GroupCode");
                return false;
            }
            else {
                $(txtGCode).css({
                    "border": "",
                    "background": ""
                });
            }
           

        });

    });
</script>