@model Arasan.Models.AllowanceMaster

@{
    Layout = "_PopupLayout";

    ViewData["Title"] = "View Allowance Details";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("ListAllowanceMaster", "AllowanceMaster")">HR</a> </li>
            <li class="active"> <strong>View Allowance Details</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">View Allowance Detail</h5>
                    <hr>
                    @using (Html.BeginForm("ViewAllowanceMaster", "AllowanceMaster", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Allowance Name<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.AllowanceName, new { @id = "AllowanceName", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Description, new { @id = "Description", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Allowance Type<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.AllowanceType, new { @id = "AllowanceType", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Applicable Level<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.ApplicableLevel, new { @id = "ApplicableLevel", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Is Recurring<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.IsRecurring, new { @id = "IsRecurring", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Effective Date<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.EffectiveDate, new { @id = "EffectiveDate", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

