@model Arasan.Models.WorkOrder

@{
    ViewData["Title"] = "Work Order";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Sales</a> </li>
            <li class="active"> <strong> Work Order</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Work Order</h5>
                    <hr>
                    @using (Html.BeginForm("WorkOrder", "WorkOrder", FormMethod.Post))
                        {
                          @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                          @*  <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control chosen-select", @TabIndex = 1 })
                                       
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Location, Model.Loc,"---Please Select---" ,new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        @Html.HiddenFor(C => C.Branch)
                                       <br />
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                         <label for="inputName3" class="col-sm-4 control-label">Quotation No.<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Quo, new { @id = "txtQuo", @class = "form-control", @TabIndex = 1,@readonly="readonly" })<br />
                                        </div>
                                    </div>
                                </div>
                       </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">

                                          <label for="inputName3" class="col-sm-4 control-label">Customer Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Customer, new { @id = "txtCustomer", @class = "form-control", @TabIndex = 1,@readonly="readonly" })<br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Order or Sample?<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">

                                                @Html.RadioButtonFor(C => C.OrderType, "ORDER", new { @TabIndex = 2 })
                                                <label id="mt-radio">ORDER</label>
                                                @Html.RadioButtonFor(C => C.OrderType, "SAMPLE", new { @TabIndex = 3 })
                                                <label id="mt-radio">SAMPLE</label>


                                            </div><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Jop Id<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.JopId, new { @id = "txtJopId", @class = "form-control", @TabIndex = 1,@readonly="readonly" })<br />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Job Date<label class="mandatory">*</label></label>
                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.JopDate, new { @id = "JopDate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />

                                </div>
                            </div>
                        </div>
                      
                      

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Customer PO. NO.<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.CusNo, new { @id = "txtCusNo", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Customer PO. Date<label class="Mandatory"></label></label>
                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.Cusdate, new { @id = "Cusdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                       @* @Html.DropDownListFor(C => C.Currency, Model.Curlst, new { @id = "ddlCurrency", @Class = "form-control _select", @TabIndex = 1 })*@
                                        @Html.TextBoxFor(C => C.Currency, new { @id = "txtCurrency", @class = "form-control", @TabIndex = 1 })<br />


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.ExRate, new { @id = "txtExRate", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br />
                                    </div>

                                </div>
                            </div>
                        </div>
                      

                        @*<div class="row">
                              <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Rate Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.RateType, new { @id = "txtRateType", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Terms and Cond ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                             
                        </div>*@

                        
 
                      @*  <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Sales Limit<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.SalesLimit, new { @id = "txtSalesLimit", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Sales Value<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.SalesValue, new { @id = "txtSalesValue", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Transaction Amout<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.TransAmount, new { @id = "txtTransAmount", @class = "form-control", @TabIndex = 1,placeholder="0",onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Credit Limit<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.CreditLimit, new { @id = "txtCreditLimit", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div style="height:30px;"></div>
                        <div class="row">


                            <br />   <br />  <div class="col-lg-12" style=" overflow-y:scroll; min-width:800px; min-height:400px;">

                                <br />   <br />
                                <div class="scroll">
                                    <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                          
                                                            <th>Item Id </th>
                                                            <th>Item Spec</th>
                                                            <th> Unit </th>
                                                            <th> Order Qty </th>
                                                            <th> Dispatch Qty </th>
                                                            <th> Rate </th>
                                                            <th> Amount </th>
                                                            <th> Qty Disc </th>
                                                            <th> Spl Disc </th>
                                                            <th> Cash Disc </th>
                                                            <th> Introd Disc </th>
                                                            <th> Trade Disc </th>
                                                            <th> Addition Disc </th>
                                                            <th> Discount </th>

                                                <th>  Freight </th>
                                                            <th> Freight Amount </th>
                                                            <th> Tax Type </th>
                                                            <th> Mat Supply</th>
                                                            <th> Packing Spec </th>
                                                             
                                                        </tr>
                                                    </thead>
                                        <tbody id="tbBooks">
                                                        



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>





                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                            <br />   <br />  <label for="inputName3" class="col-sm-2 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputEmail3" type="text" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                                <div style="height:30px;"></div>
                                <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                                <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListWorkOrder", "WorkOrder")'">Cancel</button>
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    $(function () {
        var jobid = '@ViewBag.Quo';
        changeQuoDet('edit', jobid);
    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    //function changeQuoDet(ItemId,jobid) {

    //    $.ajax({
    //        url: 'GetQuoDetail',
    //        data: { 'ItemId': ItemId},
    //        type: "GET",
    //        success: function (result) {



    //            document.getElementById("txtCustomer").value = result.customer;
    //            document.getElementById("txtCurrency").value = result.currency;

    //        },
    //        error: function () {
    //            alert("Data Not Found");
    //        }
    //    });
    //    document.getElementById("tbBooks").innerHTML = "";
    //    $.ajax({
    //        url: 'GetSalesQuoDetails',
    //        type: "post",
    //        data: { "id": ItemId, 'jobid': jobid },
    //        cache: false,

    //        success: function (list) {
    //            //if (list != null && list.length > 0) {
    //            list.forEach((item) => {

    //                var index = $("#tbBooks").children("tr").length;
    //                //alert(item.batch);
    //                var items = " <td><label>" + item.items + " </label><input type='hidden' value=" + item.itemid + " id='txtitemid" + index + "' name='Worklst[" + index + "].itemid'></td > ";

    //                var itemspec = "<td><input class='form-control' id='txtitemspec" + index + "' name='Worklst[" + index + "].itemspec'  style='width: 60px;' type='text'   value=" + item.itemspec + "   /></td>";

    //                var Unit = "<td><input class='form-control' id='txtunit" + index + "' name='Worklst[" + index + "].unit'  style='width: 150px;' type='text' readonly='True' value=" + item.unit + " /></td>";

    //                var orderqty = "<td><input class='form-control' id='txtorderqty" + index + "' name='Worklst[" + index + "].orderqty'  style='width: 90px;' type='text' readonly='True'  value=" + item.orderqty + " /></td>";

    //                var disqty = "<td><input class='form-control' id='txtdisqty" + index + "' name='Worklst[" + index + "].disqty'  style='width: 90px;' type='text' onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.disqty + "     /></td>";
      
    //                var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Worklst[" + index + "].rate'  style='width: 100px;' type='text'  readonly='True'  value=" + item.rate + " /></td>";

    //                var amount = "<td><input class='form-control' id='txtamount" + index + "' name='Worklst[" + index + "].amount' placeholder='0'  style='width: 100px;' type='text'  readonly='True'  value=" + item.amount + " /></td>";

    //                var qtydis = "<td><input class='form-control' id='txtqtydis" + index + "' name='Worklst[" + index + "].qtydis'  style='width: 90px;' type='text' onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.qtydis + "    /></td>";
    //                var spldis = "<td><input class='form-control' id='txtspldis" + index + "' name='Worklst[" + index + "].spldis'  style='width: 90px;' type='text'  onkeydown = 'return isNumeric2(event.keyCode,this.value)'  value=" + item.spldis + "  /></td>";

    //                var cashdis = "<td><input class='form-control' id='txtcashdis" + index + "' name='Worklst[" + index + "].cashdis'  style='width: 90px;' type='text'  onkeydown = 'return isNumeric2(event.keyCode,this.value)'   value=" + item.cashdis + " /></td>";
    //                var introdis = "<td><input class='form-control' id='txtintrodis" + index + "' name='Worklst[" + index + "].introdis'  style='width: 90px;' type='text'     onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.introdis + " /></td>";

    //                var tradedis = "<td><input class='form-control' id='txttradedis" + index + "' name='Worklst[" + index + "].tradedis'  style='width: 90px;' type='text'    onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.tradedis + " /></td>";

    //                var additiondis = "<td><input class='form-control' id='txtadditiondis" + index + "' name='Worklst[" + index + "].additiondis'  style='width: 90px;' type='text'   onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.additiondis + "  /></td>";
    //                var discount = "<td><input class='form-control' id='txtdiscount" + index + "' name='Worklst[" + index + "].discount'  style='width: 90px;' type='text' readonly='True'  value=" + item.discount + " /></td>";

    //                var Freight = "<td><input class='form-control' id='txtFreight" + index + "' name='Worklst[" + index + "].freight'  style='width: 90px;' type='text'   onkeydown = 'return isNumeric2(event.keyCode,this.value)' value=" + item.freight + "  /></td>";
               
    //                var FreightAmt = "<td><input class='form-control' id='txtFreightAmt" + index + "' name='Worklst[" + index + "].freightamt'  style='width: 90px;' type='text' onkeydown = 'return isNumeric2(event.keyCode,this.value)'   value=" + item.freightamt + "  /></td>";

    //                var taxtype = "<td><input class='form-control' id='txttaxtype" + index + "' name='Worklst[" + index + "].taxtype'  style='width: 120px;' type='text'  value=" + item.taxtype + "    /></td>";

    //                var matsupply = "<td><input class='form-control' id='txtmatsupply" + index + "' name='Worklst[" + index + "].matsupply'  style='width: 90px;' type='text'  value=" + item.matsupply + "    /></td>";
    //                var packind = "<td><input class='form-control' id='txtpackind" + index + "' name='Worklst[" + index + "].packind'  style='width: 130px;' type='text'   value=" + item.packind + "   /></td>";

    //                //var tax = "<td><input class='form-control' id='txttax" + index + "' name='Worklst[" + index + "].tax'  style='width: 60px;' type='text'      /></td>";
    //                var removeCell = "<td><input id='Isvalid" + index + "' name='Worklst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Worklst.Index' type='hidden' value='" + index + "'  /></td>";


    //                var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + items + itemspec + Unit + orderqty + disqty + rate + amount + qtydis + spldis + cashdis + introdis + tradedis + additiondis + discount + Freight + FreightAmt + taxtype + matsupply + packind  + removeCell + "</tr>";

    //                $("#tbBooks").append(newRow);
    //            });
    //            //}
    //        },
    //        error: function () {
    //            alert("Data Not Found");
    //        }
    //    });
    //}
     function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
        }
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlLocation").value == "" || document.getElementById("ddlLocation").value == 0) {
                isValid = false;
                $(ddlLocation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Location");
                return false;
            }
            else {
                $(ddlLocation).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtJopId").value == "") {
                isValid = false;
                $(txtJopId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter  Jop Id");
                return false;
            }
            else {
                $(txtJopId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("JopDate").value == "") {
                isValid = false;
                $(JopDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Jop Date");
                return false;
            }
            else {
                $(JopDate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlQuo").value == "" || document.getElementById("ddlQuo").value == 0) {
                isValid = false;
                $(ddlQuo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Quotation No");
                return false;
            }
            else {
                $(ddlQuo).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtCustomer").value == ""  ) {
                isValid = false;
                $(txtCustomer).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Customer Name");
                return false;
            }
            else {
                $(txtCustomer).css({
                    "border": "",
                    "background": ""
                });
            }
            //if (document.getElementById("ddlToloc").value == "" || document.getElementById("ddlToloc").value == 0) {
            //    isValid = false;
            //    $(ddlToloc).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select To Location");
            //    return false;
            //}
            //else {
            //    $(ddlToloc).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
            //if (document.getElementById("ddltype").value == "" || document.getElementById("ddltype").value == 0) {
            //    isValid = false;
            //    $(ddltype).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select Type");
            //    return false;
            //}
            //else {
            //    $(ddltype).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
   


                    if (isValid == false)
                e.preventDefault();
        });

    });
</script>