@model Arasan.Models.Company

@{
    ViewData["Title"] = "Index";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Company </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <hr>
                      @using (Html.BeginForm("Company", "Company", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Company Name<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.CompanyId, new { @id = "txtCompanyId", @class = "form-control", @TabIndex = 1 })<br />
                                            @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Description <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CompanyName, new { @id = "txtCompanyName", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>

                                </div>
                            </div>
                        </div>
                    
                          
                            <div style="height:30px;"></div>
                        <div class="col-lg-8"></div>

                            <button type="submit" class="btn aqua m-t-xs bottom15-xs " id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListCompany", "Company")'">Cancel</button>

               

                    </form>
                   }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            
            if (document.getElementById("txtCompanyId").value == "") {
                isValid = false;
                $(txtCompanyId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Company ID");
                return false;
            }
            else {
                $(txtCompanyId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCompanyName").value == "") {
                isValid = false;
                $(txtCompanyName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Doc Date");
                return false;
            }
            else {
                $(txtCompanyName).css({
                    "border": "",
                    "background": ""
                });
            }

           
            if (isValid == false)
                e.preventDefault();

        });

    });
</script>
