 @model Arasan.Models.BatchCreation
@{
    ViewData["Title"] = "Batch Creation";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Batch Creation</strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Batch Creation</h5>
                    <hr>
                     @using (Html.BeginForm("BatchCreation", "BatchCreation", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <form>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch <label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })
<br />
                                    </div>
                                </div>
                            </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.WorkCenter, Model.Worklst," -- Please Select -- ", new { @id = "ddlWorkCenter", @Class = "form-control _select", @TabIndex = 1, @onchange = "changeProcess(this.value)" })
<br />
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">

                                  <br/>  <label for="inputName3" class="col-sm-4 control-label">Process ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                 @Html.DropDownListFor(C => C.Process, Model.Processlst, new { @id = "ddlProcess", @Class = "form-control _select", @TabIndex = 1 })
<br />
                                          @Html.HiddenFor(C => C.ID)


                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Auto Seq.Y/N<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Seq, "YES", new { @TabIndex = 2 })
                                                        <label id="mt-radio">YES</label>
                                                @Html.RadioButtonFor(C => C.Seq, "NO", new { @TabIndex = 3 })
                                                        <label id="mt-radio">NO</label>


                                                    </div><br />
                                    </div>

                                    <br />


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc.Date<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.DocDate, new { @id = "DocDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />
                                        <br />

                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Ref.Batch.No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                                            @Html.TextBoxFor(C => C.RefBatch, new { @id = "txtRefBatch", @class = "form-control", @TabIndex = 2 })
<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Shell Cleaning?<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                       
    <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Shall, "YES", new { @TabIndex = 2 })
                                                        <label id="mt-radio">YES</label>
                                                @Html.RadioButtonFor(C => C.Shall, "NO", new { @TabIndex = 3 })
                                                        <label id="mt-radio">NO</label>


                                                    </div><br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Batch No.<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                                                               @Html.TextBoxFor(C => C.BatchNo, new { @id = "txtBatchNo", @class = "form-control", @TabIndex = 2 })
 <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Leafing<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                       <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Leaf, "L//", new { @TabIndex = 2 })
                                                        <label id="mt-radio">L//</label>
                                                @Html.RadioButtonFor(C => C.Leaf, "NL/", new { @TabIndex = 3 })
                                                        <label id="mt-radio">NL/</label>


                                                    </div><br />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Prod.Sch.No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                                                @Html.TextBoxFor(C => C.Prod, new { @id = "txtProd", @class = "form-control", @TabIndex = 2 })
<br />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Input/Output Radio From<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                                                             @Html.TextBoxFor(C => C.IOFrom, new { @id = "txtIOFrom", @class = "form-control", @TabIndex = 2 })
<br />

                                    </div>

                                    <br />


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> To<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">

                                                                                @Html.TextBoxFor(C => C.IOTo, new { @id = "txtIOTo", @class = "form-control", @TabIndex = 2 })
<br />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">MTO Circulation No.<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.MTO, new { @id = "txtMTO", @class = "form-control", @TabIndex = 2 })
<br />

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-1" data-toggle="tab">Production Details</a></li>
                                        <li><a href="#tab-2" data-toggle="tab">Input Details </a></li>
                                        <li><a href="#tab-3" data-toggle="tab">Output Details </a></li>
                                        <li><a href="#tab-4" data-toggle="tab">Other Process Details </a></li>
                                        <li><a href="#tab-5" data-toggle="tab"> Process Parameters </a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <!-- 1st tab  -->
                                                <div style="height:30px;"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                <table class="table table-striped table-hover" id="dataTable">
                                                                        <thead>
                                                                            <tr>
                                                                                
                                                                                <th>Work Center</th>
                                                                                <th>Process ID</th>
                                                                                <th> Seq </th>
                                                                                <th> Insp.Req.? </th>

                                                                            </tr>
                                                                        </thead>
                                                            <tbody id="tbBooks">
 
                                                                @{

                                                                    int i = 0;
                                                                  

                                                                    foreach (var item in Model.BatchLst.ToList())
                                                                    {
                                                                        <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchLst[i].WorkId, Model.BatchLst[i].WorkCenterlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlWorkId" + i, style = "width: 200px;", onchange = "Grup_Change(this.value," + i + ")"})

                                                                            </td>
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchLst[i].ProcessId, Model.BatchLst[i].Processidlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlProcessId" + i, style = "width: 200px;" })
                                                                               
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchLst[i].Seq, new { @id = "txtSeq" + i, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchLst[i].Req, new { @id = "txtReq" + i, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                           
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.BatchLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(i)" />
                                                                            </td>
                                                                        </tr>
                                                                        i = i + 1;


                                                                    }
                                                                } 
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div>
                                                <!-- 1st tab  -->
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <!-- 2nd tab  -->
                                                <div style="height:30px;"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                        <table class="table table-striped table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Process Id</th>
                                                                    <th> Input Items </th>
                                                                    <th>Unit </th>

                                                                    <th>Input Qty  </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks1">

                                                                @{

                                                                    int j = 0;

                                                                    foreach (var item in Model.BatchInLst.ToList())
                                                                    {
                                                                        <tr id="trBook1@(j)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchInLst[j].Process, Model.BatchInLst[j].IProcesslst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlInProcess" + j, style = "width: 200px;"})

                                                                            </td>
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchInLst[j].Item, Model.BatchInLst[j].Itemlst, "Please Select", new { @class = "form-control _select   newcss", @id = "ddlItem" + j, style = "width: 200px;", onchange = "changeItem(this.value," + j + ")" })
                                                                          
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchInLst[j].Unit, new { @id = "txtUnit" + j, @class = "form-control", style = "width: 120px;" ,@readonly="readonly"})
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchInLst[j].Qty, new { @id = "txtQty" + j, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                           
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.BatchInLst[j].Isvalid, new { @id = "Isvalid" + j })
                                                                                <img onclick="removeRow1(@(j));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(j)" />
                                                                            </td>
                                                                        </tr>
                                                                     
                                                                        j = j + 1;

                                                                    }
                                                                }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                  
                                            <!-- 2nd tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-3">
                                            <!-- 3rd tab  -->
                                            <div style="height:30px;"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddoutRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                        <table class="table table-striped table-hover" id="dataTableOut">
                                                                        <thead>
                                                                            <tr>
                                                                               
                                                                                <th>Process ID</th>
                                                                                <th>Output Items</th>
                                                                                <th> Unit </th>
                                                                                <th> Output Type </th>
                                                                                <th> Output Qty</th>
                                                                                <th> Waste %</th>
                                                                                <th> VM Per % </th>
                                                                                <th> Grease %</th>


                                                                            </tr>
                                                                        </thead>
                                                            <tbody id="tbBooksout">

                                                                @{

                                                                    int g = 0;

                                                                    foreach (var item in Model.BatchOutLst.ToList())
                                                                    {
                                                                        <tr id="trBookout@(g)" class="chkitemlstout" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchOutLst[g].OProcess, Model.BatchOutLst[g].OProcesslst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlOProcess" + g, style = "width: 200px;"})

                                                                            </td>
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchOutLst[g].OItem, Model.BatchOutLst[g].OItemlst, "Please Select", new { @class = "form-control _select  newcss", @id = "ddlOItem" + g, style = "width: 200px;", onchange = "changeOutItem(this.value," + g + ")" })
                                                                              
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].OUnit, new { @id = "txtOUnit" + g, @class = "form-control", style = "width: 120px;", @readonly="ReadOnly" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].OutType, new { @id = "txtOutType" + g, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].OQty, new { @id = "txtOQty" +g, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].Waste, new { @id = "txtWaste" + g, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].Vmper, new { @id = "txtVmper" +g, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOutLst[g].Greas, new { @id = "txtGreas" + g, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                           
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.BatchOutLst[g].Isvalid, new { @id = "IsOutvalid" + g })
                                                                                <img onclick="removeOutRow(@(g));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(g)" />
                                                                            </td>
                                                                        </tr>
                                                                     
                                                                        g = g + 1;

                                                                    }
                                                                }
                                                                      
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        
                                            <!-- 3rd tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-4">
                                            <!-- 4th tab  -->
                                                <div style="height:30px;"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddotherRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                        <table class="table table-striped table-hover" id="dataTableOther">
                                                                        <thead>
                                                                            <tr>
                                                                               
                                                                                <th>Process ID </th>
                                                                                <th>Seq</th>
                                                                                <th> Start Date </th>
                                                                                <th> Start Time </th>
                                                                                <th>End Date</th>
                                                                                <th> End Time </th>
                                                                                <th>Tot Hrs </th>
                                                                                <th> Break Down(Hrs)</th>
                                                                                <th> Run Hrs </th>
                                                                                <th> Remarks </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbBooksOther">

                                                                @{

                                                                    int k = 0;

                                                                    foreach (var item in Model.BatchOtherLst.ToList())
                                                                    {
                                                                        <tr id="trBookOther@(k)" class="chkitemlstOther" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.BatchOtherLst[k].OtProcessId, Model.BatchOtherLst[k].OProcessidlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlOtProcessId" + k, style = "width: 200px;"})
                                                                                   
                                                                            </td>
                                                                             <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].Seqe, new { @id = "txtSeqe" + k, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                            <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">

                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].Start, new { @id = "txtStart" + k, @class = "form-control", style = "width: 120px;",@readonly="readonly"  })
                                                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                            </div>
                                                                            </td>
                                                                            <td>
                                                                                    @Html.TextBoxFor(o => o.BatchOtherLst[k].StartT, new { @id = "txtStartT" + k, @class = "form-control", style = "width: 120px;",@Type="Time" })
                                                                               
                                                                            </td>
                                                                            <td>
                                                                            <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">

                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].End, new { @id = "txtEnd" +k, @class = "form-control", style = "width: 120px;",@readonly="readonly" })
                                                                                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                            </div>
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].EndT, new { @id = "txtEndT" + k, @class = "form-control", style = "width: 120px;",@Type="Time"  })
                                                                                  
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].Total, new { @id = "txtTotal" +k, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].Break, new { @id = "txtBreak" + k, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].RunHrs, new { @id = "txtRunHrs" +k, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchOtherLst[k].Remark, new { @id = "txtRemark" + k, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                           
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.BatchOtherLst[k].Isvalid, new { @id = "IsOthervalid" + k })
                                                                                <img onclick="removeOtherRow(@(k));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(k)" />
                                                                            </td>
                                                                        </tr>
                                                                     
                                                                       k = k + 1;

                                                                    }
                                                                }
                                                                          
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                       
                                            <!-- 4th tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-5">
                                            <!-- 5th tab  -->
                                              <div style="height:30px;"></div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                        <table class="table table-striped table-hover" id="dataTableParam">
                                                                        <thead>
                                                                            <tr>
                                                                               
                                                                                <th>Parameter </th>
                                                                                <th>Unit</th>
                                                                                <th> Start Date </th>
                                                                                <th> Start Time </th>
                                                                                <th>End Date</th>
                                                                                <th> End Time </th>
                                                                                <th>Param Value </th>

                                                                            </tr>
                                                                        </thead>
                                                                          <tbody id="tbBooks">

                                                                @{

                                                                    int a = 0;

                                                                    foreach (var item in Model.BatchParemLst.ToList())
                                                                    {
                                                                        <tr id="trBookParam@(a)" class="chkitemlstParam" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                            
                                                                             <td>
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].Param, new { @id = "txtParam" + a, @class = "form-control", style = "width: 120px;" })
                                                                                     
                                                                            </td>
                                                                               <td>
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].PUnit, new { @id = "txtPUnit" +a, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            <td>
                                                                              <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].StartDate, new { @id = "txtStartDate" + a, @class = "form-control", style = "width: 120px;" ,@readonly="readonly"})
                                                                                 <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                                                            </td>
                                                                            <td>

                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].StartTime, new { @id = "txtStartTime" + a, @class = "form-control", style = "width: 120px;",@Type="Time" })
                                                                            </td>
                                                                            <td>
                                                                                <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].EndDate, new { @id = "txtEndDate" +a, @class = "form-control", style = "width: 120px;"  ,@readonly="readonly"})
                                                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].EndTime, new { @id = "txtEndTime" + a, @class = "form-control", style = "width: 120px;",@Type="Time" })
                                                                            </td>
                                                                         
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.BatchParemLst[a].Value, new { @id = "txtValue" + a, @class = "form-control", style = "width: 120px;" })
                                                                            </td>
                                                                            
                                                                           
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.BatchOtherLst[a].Isvalid, new { @id = "IsParamvalid" + a })
                                                                                <img onclick="removeRowParam(@(a));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(a)" />
                                                                            </td>
                                                                        </tr>
                                                                     
                                                                       a = a + 1;

                                                                    }
                                                                }
                                                                       
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                       
                                            </div>
                                            <!-- 5th tab  -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div style="height:30px;"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                                                   @Html.DropDownListFor(C => C.Enterd, Model.RecList, new { @id = "ddlEnterd", @Class = "form-control _select", @TabIndex = 1 })

<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.Narr, new { @id = "txtNarr", @class = "form-control", @TabIndex = 2 })
<br />
                                    </div>
                                </div>

                            </div>

                        </div>
                         <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" >Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListBatchCreation", "BatchCreation")'">Cancel</button>



                    </form>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function() {
            $('._select').select2();
        });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    @*  function changeProcess(ItemId) {
       
        $.ajax({
            url: "GetProcessJSON",
            type: "post",
            data: { 'processid': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                    newlist = response.Worklst;
                PopulateDropDown("#ddlProcess", response);
            },
            error: function () {
                debugger;
                alert("Please Select Work Center");
            }
        });
      }*@
        function Grup_Change(itemid, i) {
        //alert(itemid);
        //debugger;
        $.ajax({
            url: "GetItemJSON",
            type: "post",
            data: { 'itemid': itemid },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlProcessId" + i, response);
            },
            error: function () {
                debugger;
                alert("Please Select Item Group");
            }
        });
    }

     function changeItem(ItemId, i) {
        $.ajax({
            url: 'GetItemDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {
                
                document.getElementById("txtUnit" + i).value = result.unit;
              
              
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
     function changeOutItem(ItemId, i) {
        $.ajax({
            url: 'GetItemDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {
                
                document.getElementById("txtOUnit" + i).value = result.unit;
              
              
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
       function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append();
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
     function AddRow1() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetProcessidJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow1(opt);
            }
        })
    }
    function AddoutRow() {
        var opt = "";
            $.ajax({
            type: "POST",
            url: 'GetProcessidJSON',
            success: function (data) {
                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });

               
                        AppendOutRow(opt );
                    }
                          
        })
    }
    
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
     function removeRow1(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook1' + id);
        var j = 0;
        $('tr.chkitemlst1').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('IsOutvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
     function removeOutRow(id) {
        var table = document.getElementById("dataTableOut");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBookout' + id);
        var j = 0;
        $('tr.chkitemlstout').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('IsOutvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
     function removeOtherRow(id) {
        var table = document.getElementById("dataTableOther");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBookOther' + id);
        var j = 0;
        $('tr.chkitemlstOther').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('IsOthervalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function removeRowParam(id) {
        var table = document.getElementById("dataTableParam");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBookParam' + id);
        var j = 0;
        $('tr.chkitemlstParam').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('IsParamvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
      function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

        var WorkId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlWorkId" + index + "' name='BatchLst[" + index + "].WorkId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";
        var ProcessId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlProcessId" + index + "' name='Processidlst[" + index + "].ProcessId' onchange = 'changeItem(this.value," + index + ")'><option value=''>Please select</option></select></td>";
        var Seq = "<td><input class='form-control' id='txtSeq" + index + "' name='BatchLst[" + index + "].Unit'  style='width: 120px;' type='text'   /></td>";
        var Req = "<td><input class='form-control' id='txtReq" + index + "' name='BatchLst[" + index + "].ConFac'  style='width: 120px;' type='text'  /></td>";     
        var removeCell = "<td><input id='Isvalid" + index + "' name='Processidlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='BatchLst.Index' type='hidden' value='" + index + "'  /></td>";
        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + WorkId + ProcessId + Seq + Req  + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);
         $(function() {
            $('._select').select2();
        });
    }
     function AppendRow1(opt) {
        var index = $("#tbBooks1").children("tr").length;
        var Process = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlProcess" + index + "' name='BatchInLst[" + index + "].Process' ><option value=''>Please select</option>" + opt + "</select></td>";
        var Item = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='Itemlst[" + index + "].Item' onchange = 'changeItem(this.value," + index + ")'><option value=''>Please select</option></select></td>";
        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='BatchLst[" + index + "].Unit'  style='width: 120px;' type='text' ReadOnly='readonly'  /></td>";
        var qty = "<td><input class='form-control' id='txtqty" + index + "' name='BatchLst[" + index + "].qty'  style='width: 120px;' type='text'  /></td>";
        var removeCell = "<td><input id='Isvalid" + index + "' name='Itemlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='BatchInLst.Index' type='hidden' value='" + index + "'  /></td>";
        var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + Process + Item + Unit + qty  + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks1").append(newRow);
       $(function() {
            $('._select').select2();
        });
    }
    function AppendOutRow(opt) {
        var index = $("#tbBooksout").children("tr").length;
        var Process = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlOProcess" + index + "' name='BatchOutLst[" + index + "].OProcess' ><option value=''>Please select</option>" + opt + "</select></td>";
        var Item = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlOItem" + index + "' name='OItemlst[" + index + "].OItem' onchange = 'changeOutItem(this.value," + index + ")'><option value=''>Please select</option></select></td>";
        var Unit = "<td><input class='form-control' id='txtOUnit" + index + "' name='BatchOutLst[" + index + "].OUnit'  style='width: 120px;' type='text'   ReadOnly='readonly' /></td>";
        var Type = "<td><input class='form-control' id='txtOutType" + index + "' name='BatchOutLst[" + index + "].OutType'  style='width: 120px;' type='text'   /></td>";
        var qty = "<td><input class='form-control' id='txtOQty" + index + "' name='BatchOutLst[" + index + "].OQty'  style='width: 120px;' type='text'  /></td>";      
        var Waste = "<td><input class='form-control' id='txtWaste" + index + "' name='BatchOutLst[" + index + "].Waste'  style='width: 120px;' type='text'  /></td>";    
        var Vm = "<td><input class='form-control' id='txtVmper" + index + "' name='BatchOutLst[" + index + "].Vmper'  style='width: 120px;' type='text'  /></td>";
        var Grase = "<td><input class='form-control' id='txtGreas" + index + "' name='BatchOutLst[" + index + "].Greas'  style='width: 120px;' type='text'  /></td>";    
        var removeCell = "<td><input id='IsOutvalid" + index + "' name='OItemlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeOutRow(" + index + ");'  style='cursor:pointer' /><input name='BatchInLst.Index' type='hidden' value='" + index + "'  /></td>";
        var newRow = "<tr class='chkitemlstout'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBookout" + index + "'>" + Process + Item + Unit + Type + qty + Waste + Vm + Grase + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooksout").append(newRow);
        $(function() {
            $('._select').select2();
        });
    }
  
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("DocDate").value == "") {
                isValid = false;
                $(DocDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Date");
                return false;
            }
            else {
                $(DocDate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtBatchNo").value == "") {
                isValid = false;
                $(txtBatchNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Batch Number");
                return false;
            }
            else {
                $(txtBatchNo).css({
                    "border": "",
                    "background": ""
                });
            }
             if (document.getElementById("txtIOFrom").value == "") {
                isValid = false;
                $(txtIOFrom).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  IOFrom");
                return false;
            }
            else {
                $(txtIOFrom).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtIOTo").value == "") {
                isValid = false;
                $(txtIOTo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select IOTo");
                return false;
            }
            else {
                $(txtIOTo).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtMTO").value == "") {
                isValid = false;
                $(txtMTO).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select MTO");
                return false;
            }
            else {
                $(txtMTO).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
                isValid = false;
                $(ddlBranch_chzn).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Customer Type");
                return false;
            }
            else {
                $(ddlBranch_chzn).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlWorkCenter").value == "" || document.getElementById("ddlWorkCenter").value == 0) {
                isValid = false;
                $(ddlWorkCenter_chzn).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Customer Name");
                return false;
            }
            else {
                $(ddlWorkCenter_chzn).css({
                    "border": "",
                    "background": ""
                });
            }
          
            if (isValid == false)
                e.preventDefault();
        });

    });
     
</script>
<script>
    function AddotherRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetProcessidJSON',
            success: function (data) {
                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });


                AppendOtherRow(opt);
            }

        })
    }
      function AppendOtherRow(opt) {
        var index = $("#tbBooksOther").children("tr").length;
        var Process = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlOtProcessId" + index + "' name='BatchOtherLst[" + index + "].OtProcessId' ><option value=''>Please select</option>" + opt + "</select></td>";
        var seq = "<td><input class='form-control' id='txtSeqe" + index + "' name='BatchOtherLst[" + index + "].Seqe'  style='width: 120px;' type='text'  /></td>";
        var start = "<td><div class="input-group date form_date col - sm - 8" data-date="" data-date-format="dd - M - yyyy">
                         <input class='form-control' id = 'txtStart" + index + "' name = 'BatchOtherLst[" + index + "].Start'  style = 'width: 120px;' type = 'text' ReadOnly='readonly'/>
                         <span class="input-group-addon" > <span class="glyphicon glyphicon-remove" > </span></span > <span class="input-group-addon" > <span class="glyphicon glyphicon-calendar" > </span></span >
                         </div></td > ";
        var starttime = "<td><input class='form-control' id='txtStartT" + index + "' name='BatchOtherLst[" + index + "].StartT'  style='width: 120px;' type='time'    /></td>";
        var end = "<td><div class="input-group date form_date col - sm - 8" data-date="" data-date-format="dd - M - yyyy">
                       <input class='form-control' id='txtEnd" + index + "' name='BatchOtherLst[" + index + "].End'  style='width: 120px;' type='text'  ReadOnly='readonly' />
                       <span class="input-group-addon" > <span class="glyphicon glyphicon-remove" > </span></span > <span class="input-group-addon" > <span class="glyphicon glyphicon-calendar" > </span></span ></div></td>";
        var endtime = "<td><input class='form-control' id='txtEndT" + index + "' name='BatchOtherLst[" + index + "].EndT'  style='width: 120px;' type='time'  /></td>";      
        var total = "<td><input class='form-control' id='txtTotal" + index + "' name='BatchOtherLst[" + index + "].Total'  style='width: 120px;' type='text'  /></td>";    
        var break = "<td><input class='form-control' id='txtBreak" + index + "' name='BatchOtherLst[" + index + "].Break'  style='width: 120px;' type='text'  /></td>";
        var run = "<td><input class='form-control' id='txtRunHrs" + index + "' name='BatchOtherLst[" + index + "].RunHrs'  style='width: 120px;' type='text'  /></td>";
        var remark = "<td><input class='form-control' id='txtRemark" + index + "' name='BatchOtherLst[" + index + "].Remark'  style='width: 120px;' type='text'  /></td>";
        var removeCell = "<td><input id='IsOthervalid" + index + "' name='OProcessidlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeOtherRow(" + index + ");'  style='cursor:pointer' /><input name='BatchOtherLst.Index' type='hidden' value='" + index + "'  /></td>";
        var newRow = "<tr class='chkitemlstOther'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBookOther" + index + "'>" + Process + seq + start + starttime + end + endtime + total + break + run + remark + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooksOther").append(newRow);
         $(function() {
            $('._select').select2();
        });
    }
</script>