@model Arasan.Models.AssetStockModel

@{
    ViewData["Title"] = "Index";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }

</script>
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    div.scroll {
        width: 100 %;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        /* text-align: center;*/
        /*padding: 20px;*/
    }

</style>

<script type="text/javascript" src="../../jqwidgets/jqxdata.export.js"></script>
<script type="text/javascript" src="../../jqwidgets/jqxgrid.export.js"></script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Reports</a> </li>
            <li class="active"> <strong>Asset Stock</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var dtFrom = document.getElementById("dtFrom").value;
            var dtTo = document.getElementById("dtTo").value;
            var Branch = document.getElementById("ddlBranch").value;
            var Location = document.getElementById("ddlLocation").value;
 



            var source =
            {
                url: "/AssetStock/MyListPurchaseRepItemReportGrid",
                //url: "/ItemName/ItemName",
                data: {
                    strstatus: "",
                    dtFrom: dtFrom,
                    dtTo: dtTo,
                    Branch: Branch,
                    Location: Location,
 
                },
                datatype: "json",
                updaterow: function (rowid, rowdata) {
                    // synchronize with the server - send update command
                },
                datafields: [
                    { name: 'itemid', type: 'string' },
                    { name: 'unitid', type: 'string' },
                    { name: 'banchid', type: 'string' },
                    { name: 'locid', type: 'string' },
                    { name: 'oq', type: 'string' },
                    { name: 'ov', type: 'string' },
                    { name: 'rq', type: 'string' },
                    { name: 'rv', type: 'string' },
                    { name: 'iq', type: 'string' },
                    { name: 'iv', type: 'string' },



                ],
                
            };
            var dataAdapter = new $.jqx.dataAdapter(source,
                { contentType: 'application/json; charset=utf-8' }, {
                loadComplete: function () {

                }
            }
            );

            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter,
                    height: 450,
                    source: source,
                    //autoheight: true,
                    sortable: true,
                    filterable: true,
                    groupable: false,
                    pageable: true,
                    showfilterbar: true,
                    //showfilterrow: true,
                    theme: 'ui-start',
                    autorowheight: true,
                    filterbarmode: 'simple',
                    enablebrowserselection: true,
                    columnsresize: true,
                    selectionmode: 'multiplerowsextended',
                    keyboardnavigation: false,
                    columns: [
                        { text: 'ItemID', filtertype: 'input', datafield: 'itemid', width: 150 },
                        { text: 'UnitID', filtertype: 'input', datafield: 'unitid', width: 150 },
                        { text: 'BranchID', filtertype: 'input', datafield: 'branchid', width: 150 },
                        { text: 'LocID', filtertype: 'input', datafield: 'locid', width: 300 },
                        { text: 'OQ', filtertype: 'input', datafield: 'oq', width: 300 },
                        { text: 'OV', filtertype: 'input', datafield: 'ov', width: 150 },
                        { text: 'RQ', filtertype: 'input', datafield: 'rq', width: 150 },
                        { text: 'RV', filtertype: 'input', datafield: 'rv', width: 150 },
                        { text: 'IQ', filtertype: 'input', datafield: 'iq', width: 150 },
                        { text: 'IV', filtertype: 'input', datafield: 'iv', width: 150 },
                    ]
                });

            //$("#excelExport").click(function () {
            //    $("#grid").jqxGrid('exportdata', 'xls', 'jqxGrid');
            //});
            $("#ddlStatus").change(function () {
                var value = "Y";
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                source.data = {
                    strstatus: value
                };
                $("#grid").jqxGrid({ source: source });
            });
        });
    });

</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <hr>
                    <div class="row">
                        <div class="col-md-12 ">
                            <center><h4><b>AssetStock</b></h4></center>
                        </div>
                    </div>
                    <div style="height:10px;"></div>
                    @using (Html.BeginForm("PurchaseRepItemReport", "PurchaseRepItemReport", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">From Date<label class="mandatory"></label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.dtFrom, new { @id = "dtFrom", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">To Date<label class="mandatory"></label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.dtTo, new { @id = "dtTo", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />

                                    </div>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, " -- Please Select -- ", new { @id = "ddlBranch", @class = "form-control _select", @Width = "200px", onchange = "changeItems(this.value)" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Location, Model.Loclst," -- Please Select -- ", new { @id = "ddlLocation", @class = "form-control _select", @Width = "200px" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                           
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success  marginright" id="btnSave" value="Run">Run</button>
                                    <button type="button" class="btn btn-primary marginright" onclick="trChange()" value="Reset" causesvalidation="false">Export</button>
                                    <button type="button" class="btn btn-danger marginright" onclick="location.href='@Url.Action("PurchaseRepItemReport", "PurchaseRepItemReport")'" value="Reset" causesvalidation="false">Reset</button>


                                </div>
                            </div>



                            <div class="row">


                                @*  <div class="col-md-10 ">*@
                                <div id="grid">
                                </div>

                                @* </div>*@

                            </div>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changeItems(ItemId) {

        $.ajax({
            url: "GetBranchJSON",
            type: "post",
            data: { 'ItemId': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                // var i = 0;
               
                        PopulateDropDown("#ddlLocation", response);
                        
            },
            error: function () {
                debugger;
                alert("Please Select Location");
            }
        });
    }





 function trChange() {
        var dtFrom = document.getElementById("dtFrom").value;
        var dtTo = document.getElementById("dtTo").value;
        var Branch = document.getElementById("ddlBranch").value;
        var Location = document.getElementById("ddlLocation").value;
 
        var url = '@Url.Action("ExportToExcel", "AssetStock")?dtFrom=' + dtFrom + '&dtTo=' + dtTo + '&Branch=' + Branch + '&Location=' + Location ;

        var $form = $('<form method="post"/>').attr('action', url).appendTo('body');

        $form.append($('#allPages').clone());
        $form.submit();
        $form.remove();
            }
    </script>
@*<link href="@Url.Content("~/assets/js/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap.multiselect.js")"></script>*@
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);
    });
    
</script>
<script>
    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }

    $('.for_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
