@model Arasan.Models.Sequence
@{
    ViewData["Title"] = "Sequence";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>



<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("ListSequence", "Sequence")">Sequence</a> </li>
            <li class="active"> <strong>  Sequence</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Sequence </h5>
                    <hr>
                    @using (Html.BeginForm("Sequence", "Sequence", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Prefix<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Prefix, new { @id = "txtPrefix", @class = "form-control", @TabIndex = 1  })
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Trans Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Trans, new { @id = "txtTrans", @class = "form-control", @TabIndex = 1,@maxlength = 5  })
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                <div class="form-group">


                                    <br />     <label for="inputName3" class="col-sm-4 control-label">Last No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.Last, new { @id = "txtLast", @class = "form-control", @TabIndex = 1   })
                                        <br />

                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                        <br />     <label for="inputName3" class="col-sm-4 control-label">Description<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.Des, new { @id = "txtDes", @class = "form-control", @TabIndex = 1   })
                                            <br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Start Date<label class="mandatory"> </label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.Start, new { @id = "txtStart", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">End Date<label class="mandatory"> </label></label>
                                        <div class="input-group date form_dateend col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.End, new { @id = "txtEnd", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListSequence", "Sequence")'">Cancel</button>

                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,

        forceParse: 0
    });
    $('.form_dateend').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        startDate: new Date(),
        forceParse: 0
    });
    $(".chosen-select").chosen();
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtPrefix").value == "") {
                isValid = false;
                $(txtPrefix).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Prefix");
                return false;
            }
            else {
                $(txtPrefix).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtTrans").value == "") {
                isValid = false;
                $(txtTrans).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Trans Type");
                return false;
            }
            else {
                $(txtTrans).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtLast").value == "") {
                isValid = false;
                $(txtLast).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Last No");
                return false;
            }
            else {
                $(txtLast).css({
                    "border": "",
                    "background": ""
                });
            }
            //if (document.getElementById("txtStart").value == "") {
            //    isValid = false;
            //    $(txtStart).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select Start Date");
            //    return false;
            //}
            //else {
            //    $(txtStart).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
            //if (document.getElementById("txtEnd").value == "") {
            //    isValid = false;
            //    $(txtEnd).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select End Date");
            //    return false;
            //}
            //else {
            //    $(txtEnd).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}

        });

    });
</script>