 @model Arasan.Models.GateInward

@{
    ViewData["Title"] = "Gate Inward";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="@Url.Action("PurchaseDash", "Home")">Home</a> </li>
            <li> <a>Transaction</a> </li>
            <li class="active"> <strong>Gate Inward</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <form>

<div style="height:10px;"></div>

                        <div class="row">
                              <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">From Date <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.fromdate, new { @id = "dtFrom", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													
													<br/>
												
                                            </div>
                                        </div> 
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">To Date <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.todate, new { @id = "dtTo", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													
													<br/>
												
                                            </div>
                                        </div>
                        
                        </div>
                        <div style="height:10px;"></div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <input type="submit" name="submit" id="btnSave" class="btn btn-success marginleft_new2" value="Generate" tabindex="5" />
                            </div>

                        </div>
<div style="height:30px;"></div>

<div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              
              <div class="ibox-content collapse in">
                <div class="widgets-container">
                  <div >
                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                      <thead>
                        <tr>
                          <th>Supplier Name</th>
                          <th>PO No.</th>
                          <th>IN Date</th>
                          <th>IN Time</th>
                          <th>Total Qty.</th>
                          <th>View</th>
                          
                          
                        </tr>
                      </thead>
                   
                      <tbody>
                            @{
                                                            int i = 1;


                                                            foreach (var item in Model.GateInlst)
                                                            {
                                                                

                                <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                                                                              <td>@Html.DisplayFor(modelItem => item.PONo)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.GateInDate)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.GateInTime)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.TotalQty)</td>

                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewGateInward", "PO",new { id=item.POID})" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' alt='Waiting for approval' /></a></div></td>


                                                                        
                                 </tr>

                                                                i++;
                                                            }
                                                        }
                     
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
                          
                                 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                          <script>
                                $(document).ready(function () {
                $('#btnSave').click(function (e) {
                    var frodate = document.getElementById("dtFrom").value;
                    var todate = document.getElementById("dtTo").value;
               window.location.href = "/PO/ListGateInWard?frodate=" + frodate + "&todate=" + todate 
                });

            });
                              $(document).ready(function() {
                                $('#example7').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    text: 'copy',
                    extend: "copy",
                    className: 'btn dark btn-outline'
                }, {
                    text: 'csv',
                    extend: "csv",
                    className: 'btn aqua btn-outline'
                }, {
                    text: 'excel',
                    extend: "excel",
                    className: 'btn aqua btn-outline'
                }, {
                    text: 'pdf',
                    extend: "pdf",
                    className: 'btn yellow  btn-outline'
                }, {
                    text: 'print',
                    extend: "print",
                    className: 'btn purple  btn-outline'
                }]
            });



        });
         $('.form_date').datetimepicker({
     //   language:  'fr',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
                          </script>

                      <a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
                        <a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
                        <link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
                        <script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
                        <script type="text/javascript">
                            var fancybox123;
                            jQuery(document).ready(function ($) {
                                $(".fancybox").fancybox({
                                    width: '80%',
                                    height: '10%',
                                    arrows: false,

                                });
                                fancybox123 = $.fancybox;
                            });
                            function close_popup() {
                                fancybox123.close();
                                $(".fancybox1").fancybox({
                                    width: '100%',
                                    height: '100%',
                                    arrows: false,
                                });
                                $(".fancybox1").eq(0).trigger('click');
                            }
                        </script>