@model Arasan.Models.MaterialRequisition

@{
     
    ViewData["Title"] = "Material Requisition";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ApproveMaterial", "MaterialRequisition", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.Branch)
                                            @Html.HiddenFor(C => C.BranchId)
                                           @Html.HiddenFor(C => C.Storeid) 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Location<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Location)
                                            @Html.HiddenFor(C => C.LocationId)
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Doc No.<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.DocId)
                                            @Html.HiddenFor(C => C.DocId)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.DocDa)
                                            @Html.HiddenFor(C => C.DocDa)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.WorkCenter)
                                            @Html.HiddenFor(C => C.WorkCenterid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Process<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Process)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Request Type<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.RequestType)
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div style="height:30px;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">

                                        <div class="ibox-content collapse in">
                                            <div class="widgets-container">
                                                <div>
                                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                        <thead>
                                                            <tr>
@*                                                                <th>@Html.CheckBoxFor(P => P.selectall, new { @id = "Selectallchk" , @onclick = "enableAllrepview();" })</th>
*@
                                                                <th>Item Name</th>
                                                                <th>Quantity</th>
                                                                <th>Stock Quantity</th>
                                                                <th>Whole Stock </th>
                                                                <th>Lot No </th>
                                                                <th>Unit</th>
                                                                <th>Issue Quantity</th>
                                                                <th>Pending Quantity</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{
                                                                int i = 0;

                                                                foreach (var item in Model.MRlst.ToList())
                                                                {

                                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                        @*<td>@Html.CheckBoxFor(o => o.MRlst[i].select, new { @id = "select" + i }) </td>*@

                                                                        <td>@Html.DisplayFor(o => o.MRlst[i].Item)@Html.HiddenFor(o => o.MRlst[i].ItemId)@Html.HiddenFor(o => o.MRlst[i].invenid,new{@id="inveid" + i})@Html.HiddenFor(o => o.MRlst[i].inventryQty,new{@id="inventryQty" + i})@Html.HiddenFor(o => o.MRlst[i].lotno,new{@id="lotno" + i})</td>
                                                                        <td>@Html.TextBoxFor(o => o.MRlst[i].ReqQty,new{@id="reqqty"+ i, @class = "form-control" , style = "width: 80px;",@readonly="readonly" })</td>
                                                                        <td>@Html.DisplayFor(o => o.MRlst[i].ClosingStock)@Html.HiddenFor(o => o.MRlst[i].ClosingStock,new{@id="txtClosingStock"+ i})</td>
                                                                          <td> <a class="nav-link" href="@Url.Action("WholeStock", "MaterialRequisition",new { id=item.ItemId })" class='fancybox' data-fancybox-type='iframe'> @Html.DisplayFor(o => o.MRlst[i].TotalStock)</a></td>
                                                                        @if (item.lot != "0")
                                                                        {
                                                                            <td><a href="@Url.Action("LotNo", "MaterialRequisition",new { id=item.Storeid,rowid=i })" class='fancybox' data-fancybox-type='iframe'> <label> Lot No </label></a></td>

                                                                        }
                                                                        else
                                                                        {
                                                                            <td></td>
                                                                        }
                                                                        <td>@Html.DisplayFor(o => o.MRlst[i].Unit)@Html.HiddenFor(o => o.MRlst[i].UnitID)@Html.HiddenFor(o => o.MRlst[i].Isvalid)@Html.HiddenFor(o => o.MRlst[i].UnitID)@Html.HiddenFor(o => o.MRlst[i].indentid)</td>
                                                                        <td>@Html.TextBoxFor(o => o.MRlst[i].InvQty, new { @id = "InvQty" + i, @class = "form-control" , style = "width: 80px;",@onkeyup = "changeQty(this," + i + ")"})</td>

                                                                        <td>@Html.TextBoxFor(o => o.MRlst[i].IndQty, new { @id = "PendingQty" + i, @class = "form-control", style = "width: 80px;color:red;" ,@readonly=true})</td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18" onClick="window.parent.jQuery.fancybox.close();">Generate</button>

                            <input type="button" class="btn btn-danger" value="Close" onclick="location.href='@Url.Action("ListMaterialRequisition", "MaterialRequisition")'" />


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        });

    })
    //   $(function () {

    //     var invid=document.getElementById("invid" + i).value;
    //     alert(invid);
    //   var url = "/MaterialRequisition/LotNo?id=" + invid + "&rowid=" + i + "&locid=" + locid;
    //        document.getElementById("hdrumselection" + i).href = url;

       
    //}   

    
    function changeQty(_this, i) {
        try {
            var GTot = 0;
            var j = 0;
            var qty = 0;
            var tot = 0;
            var totfrieght = 0;

            var totamt = 0;
            var totamount = 0;
            var qty = document.getElementById("reqqty" + i).value;
            var up = document.getElementById("InvQty" + i).value;
            var cl = document.getElementById("txtClosingStock" + i).value;
          
            if (qty == "")
                qty = 0;

            if (up == "")
                up = 0;
            if (cl == "")
                cl = 0;

            if (eval(up) > eval(cl)) {
                document.getElementById("InvQty" + i).value = "0";
                alert("Issue Qty is Greaterthen Closing Stock");
                up=0;
            }
            if (eval(up) > eval(qty)) {
                document.getElementById("InvQty" + i).value = "0";
                alert("Issue Qty is Greaterthen Request Qty");
                up = 0;
            }
            tot = eval(qty) - eval(up)

            document.getElementById("PendingQty" +i).value = tot.toFixed(2);
           

        }
        catch (ex) {
            alert(ex.message);
        }
    }
    //function enableAllrepview() {

    //    if ($("#Selectallchk").prop('checked') == true) {
    //        var i = 0;
    //        $('tr.chkitemlst').each(function () {
    //            if ($(this).css('display') !== 'none') {

    //                $('#select' + i).prop('checked', true);

    //            }
    //            i += 1;
    //        });

    //    }
    //    else {
    //        var i = 0;
    //        $('tr.chkitemlst').each(function () {
    //            if ($(this).css('display') !== 'none') {

    //                $('#select' + i).prop('checked', false);

    //            }
    //            i += 1;
    //        });
    //    }
    //}
</script>

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>


