@model Arasan.Models.MaterialReq

@{
   
    ViewData["Title"] = "";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong>  Material Requisition </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Material Requisition </h5>
                    <hr>
                    @using (Html.BeginForm("MaterialReq", "MaterialRequisition", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.user)
                                            @Html.DisplayFor(C => C.branch)
                                            @Html.HiddenFor(C => C.branchid)
                                           @* @Html.HiddenFor(C => C.MaterialReqId)
                                            @Html.HiddenFor(C => C.Storeid) *@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Req Date<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.docDate)
                                           
                                        </div>

                                    </div>
                                </div>
                               
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Location<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.location)
                                            @Html.HiddenFor(C => C.locationid)
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Item<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                           
                                            @Html.DisplayFor(C => C.item)
                                            @Html.HiddenFor(C => C.itemid)
                                            
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Req Location<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.reqlocation)
                                        @Html.HiddenFor(C => C.reqlocationid)
                                    </div>

                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Req Qty<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.reqqty, new { @id = "txtreqqty", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)" })

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18" >submit</button>

                            <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  