@model IEnumerable<Arasan.Models.StoreIssueConsumables>

@{
    ViewData["Title"] = "Stores Issuse Consumbables";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores</a> </li>
            <li class="active"> <strong>Stores Issuse Consumbables </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("StoreIssueCons", "StoreIssueConsumables")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Store Issue Consumables</a>
                                    <br>
                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>

                                                        <tr>
                                                            <th>Branch</th>
          
                                                            <th>Doc No</th>
                                                            <th>Doc Date</th>
                                                           
                                                            <th>Req Date</th>
                                                            @*<th>Send Mail</th>
                                                            <th>Followup</th>*@
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                         @{
                                                            int i = 1;


                                                            foreach (var item in Model)
                                                            {
                                                        <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.DocNo)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.DocDate)</td>
                                                                          
                                                                    <td>@Html.DisplayFor(modelItem => item.ReqDate)</td>

                                                                    @* <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("POFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                                                            *@
                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("StoreIssueCons", "StoreIssueConsumables",new { id=item.ID })"></a></div></td>
                                                                    <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("StoreIssueCons", "StoreIssueConsumables",new { id=item.ID })"></a></div></td>
                                                        </tr>
                                                                i++;
                                                            }
                                                        }
                                                       @* <tr>
                                                            <td>(TAAI)SVK - FACTORY</td>
                                                            <td>Supplier 2</td>
                                                            <td>QUOT-000002/22-23</td>
                                                            <td>PO-000002/22-23</td>
                                                            <td>26-Aug-2022</td>
                                                            <td>₹</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail2.png' alt='Email Sent' /></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("POFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>(TAAI)SVK - FACTORY</td>
                                                            <td>Supplier 1</td>
                                                            <td>QUOT-000003/22-23</td>
                                                            <td>PO-000003/22-23</td>
                                                            <td>09-Sep-2022</td>
                                                            <td>₹</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("POFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>(TAAI)SVK - FACTORY</td>
                                                            <td>Supplier 3</td>
                                                            <td>QUOT-000004/22-23</td>
                                                            <td>PO-000004/22-23</td>
                                                            <td>12-Sep-2022</td>
                                                            <td>₹</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("POFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("Purchase_Order", "PurchaseEnq")"></a></div></td>
                                                        </tr>*@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>