@model Arasan.Models.ImportIndentSupAllocation

@{
    ViewData["Title"] = "Index";
}


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("List_PI_MSupp_Allocation", "PurchaseImportIndent")">Purchase Indent</a> </li>
            <li class="active"> <strong>Supplier Allocation</strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Assign Supplier</label>
                            </div>
                        </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            @*  <div class="col-md-12">
                            <div class="btn-group">
                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                            </div>
                            </div>*@

                            <div class="row">
                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Total Quantity</th>
                                                <th>Unit</th>
                                                <th> Party Name</th>
                                                <th>Rate</th>
                                                <th>Last Purchase Qty</th>
                                                <th>Last Purchse Price</th>
                                                <th>Last Purchase Date</th>



                                            </tr>

                                        </thead>
                                        <tbody id="tbBooks">

                                            @{

                                                int i = 0;
                                                foreach (var item in Model.indentSuppAllocates.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                        <td>
                                                            @Html.TextBoxFor(o => o.indentSuppAllocates[i].ItemName, new { @id = "txtItemName" + i, @class = "form-control", style = "width: 250px;", @readonly = "readonly"})
                                                            @Html.HiddenFor(o => o.indentSuppAllocates[i].ItemId, new { @id="txtItemId" + i})
                                                        </td>
                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].EnquiryQty, new { @id = "txtEnquiryQty" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})  </td>
                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].Unit, new { @id = "txtUnit" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})  </td>
                                                        <td>
                                                            @Html.DropDownListFor(o => o.indentSuppAllocates[i].PartyName, Model.indentSuppAllocates[i].Partylst, "Please Select", new { @class = "form-control chosen-select newcss", @id = "ddlSupp" + i, style = "width: 170px;", onchange = "changesupp(this.value," + i + ")" })
                                                        </td>
                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].Rate, new { @id = "txtRate" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})</td>

                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].Qty, new { @id = "txtQty" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})  </td>
                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].LastPurchsePrice, new { @id = "txtLastPurchsePrice" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})  </td>
                                                        <td>@Html.TextBoxFor(o => o.indentSuppAllocates[i].LastPurchaseDate, new { @id = "txtLastPurchaseDate" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly"})  </td>




                                                    </tr>

                                                    i = i + 1;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>



                        </div>
                        <div style="height:30px;"></div>
                        <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Generate Enquiry</button>
                        <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("List_PI_Supp_Allocation", "PurchaseImportIndent")'">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function AddRow() {
        var opt = "";

        $.ajax({
            type: "POST",
            url: 'GetSupJSON',
            success: function (data) {
                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        });
        // AppendRow(opt);
    }
    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;
        var enqqty = document.getElementById("txtenqqty").value;

        var Partytype = "<td>  <input id='radio_existing" + index + "' name='indentSuppAllocates[" + index + "].Partytype' onclick='CustomerChange(this.value," + index + ");' type='radio' value='Existing'><label id='radio-label-id' style='padding-right:10px;'>Existing</label><input id='radio_new" + index + "' name='indentSuppAllocates[" + index + "].Partytype' checked='checked' onclick='CustomerChange(this.value," + index + ");'  type='radio' value='New'> <label id='radio-label-id'>New</label></td>";

        var Party = "<td><select style = 'width: 170px;' class='form-control chosen-select newcss' id='ddlSupp" + index + "' name='indentSuppAllocates[" + index + "].PartyName' onchange = 'changesupp(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

        var Rate = "<td><input class='form-control' id='txtRate" + index + "' name='indentSuppAllocates[" + index + "].Rate'  style='width: 100px;' type='text'  readonly='True'/></td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='indentSuppAllocates[" + index + "].Unit'  style='width: 100px;' type='text'  readonly='True' /></td>";

        var Qty = "<td><input class='form-control' id='txtQty" + index + "' name='indentSuppAllocates[" + index + "].Qty'  style='width: 100px;' type='text'  readonly='True' /></td>";

        var LastPurchsePrice = "<td><input class='form-control' id='txtLastPurchsePrice" + index + "' name='indentSuppAllocates[" + index + "].LastPurchsePrice'  style='width: 100px;' type='text'  readonly='True' /></td>";

        var LastPurchaseDate = "<td><input class='form-control' id='txtLastPurchaseDate" + index + "' name='indentSuppAllocates[" + index + "].LastPurchaseDate'  style='width: 100px;' type='text'  readonly='True' /></td>";

        var EnquiryQty = "<td><input class='form-control' id='txtEnquiryQty" + index + "' name='indentSuppAllocates[" + index + "].EnquiryQty'  style='width: 100px;' type='text'  readonly='True' value= " + enqqty + " /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='indentSuppAllocates[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='indentSuppAllocates.Index' type='hidden' value='" + index + "'  /></td>";


        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Partytype + Party + Rate + Unit + Qty + LastPurchsePrice + LastPurchaseDate + EnquiryQty + removeCell + "</tr>";

        $("#tbBooks").append(newRow);

        $(".chosen-select").chosen();

    }
    function changesupp(_this, i) {
        var ItemId = document.getElementById("txtItemId" + i).value;
        $.ajax({
            url: 'GetSupp',
            data: { "ItemId": ItemId, "SuppId": _this },
            type: "GET",
            success: function (result) {
                document.getElementById("txtRate" + i).value = result.rate;
                //document.getElementById("txtUnit" + i).value = result.unit;
                document.getElementById("txtLastPurchsePrice" + i).value = result.lpprice;
                document.getElementById("txtLastPurchaseDate" + i).value = result.lpdate;
                document.getElementById("txtQty" + i).value = result.qty;
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
    function CustomerChange(_this, i) {
        var itemid = document.getElementById("txtitemid").value;

        if (_this == "Existing") {

            $.ajax({
                url: "GetexistingSupJSON",
                type: "post",
                data: { 'itemid': itemid },
                cache: false,
                success: function (response) {
                    PopulateDropDown("#ddlSupp" + i, response);
                },
                error: function () {
                    debugger;
                    alert("Please Select Supplier");
                }
            });



        }
        else if (_this == "New") {

            $.ajax({
                url: "GetSupJSON",
                type: "post",
                data: { 'partytype': _this },
                cache: false,
                success: function (response) {
                    PopulateDropDown("#ddlSupp" + i, response);
                },
                error: function () {
                    debugger;
                    alert("Please Select Supplier");
                }
            });

        }

    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
</script>