@model Arasan.Models.WorkCenters

@{


    ViewData["Title"] = "WorkCenters";
    string rowid = ViewContext.HttpContext.Request.Query["rowid"];

}
<style>
    .newwidth {
        width: 120px;
    }

    div.scroll {
        width: 100%;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        /* text-align: center;*/
        /*padding: 20px;*/
    }
</style>


<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
             <li> <a href="@Url.Action("LisWorkCenters", "WorkCenter")">Work Center</a> </li>
            <li class="active"> <strong> Production Rate  </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ProductionRate", "WorkCenters", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                          
                                             @Html.DisplayFor(C => C.Wid, new { @id = "txtWid", @class = "form-control", @TabIndex = 1})
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                        </div>
                                    </div>
                                </div>


                              
                                <div class="col-md-6">
                                    <div class="form-group">
                                       <br />  <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                                                     @Html.DisplayFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-md-12">
                                <div class="btn-group">
                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                        <!-- / ibox-title -->
                                        <table class="table table-striped table-hover" id="dataTable">
                                            <thead>
                                                <tr>

                                                    <th>Item</th>
                                                    <th>Input Type</th>

                                                    <th>  Output Rate/Hr </th>
                                                  


                                                </tr>
                                            </thead>

                                            <tbody id="tbBooks1">
                                                @{
                                                    int i = 0;

                                                    foreach (var item in Model.ProdRatelst.ToList())
                                                    {

                                                        <tr id="trBook1@(i)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                            <td>
                                                                    @Html.DropDownListFor(o => o.ProdRatelst[i].itemid,Model.ProdRatelst[i].itemlst,"---Please select---", new { @id = "txtitemid" + i, @class = "form-control _select", style = "width: 200px;",onkeydown = "return isNumeric2(event.keyCode,this.value)" })
                                                                     @Html.HiddenFor(o => o.ProdRatelst[i].ID )
                                                            </td>
                                                            <td>        @Html.DropDownListFor(o => o.ProdRatelst[i].inputtype,Model.ProdRatelst[i].inputlst,"---Please select---", new { @id = "txtinputtype" + i, @class = "form-control _select", style = "width: 200px;",onkeydown = "return isNumeric2(event.keyCode,this.value)" })
 </td>
                                                            <td>  @Html.TextBoxFor(C => C.ProdRatelst[i].outputrate, new { @id = "txtoutputrate" +i, @class = "form-control", @TabIndex = 3 ,style = "width: 200px;" , onkeydown = "return isNumeric2(event.keyCode,this.value)" })  </td>
                                                            
                                                            <td>
                                                                @Html.HiddenFor(o => o.ProdRatelst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="ProdRatelst.Index" type="hidden" value="@(i)" />
                                                            </td>

                                                        </tr>
                                                        i++;
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                            



                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <input id="button" type="submit" value="OK" class="btn btn-success" />
                            <input type="button" class="btn btn-danger" value="Close" onclick="location.href='@Url.Action("ListWorkCenters", "WorkCenters")'" />


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        });

    })
    $(function () {
        $('._select').select2();
    });
 
      
    
   
    function AddRow() {
        var opt = "";
        var iopt = "";


        $.ajax({
            type: "POST",
            url: 'GetItemJSON',
            success: function (data) {
                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
               $.ajax({
            type: "POST",
            url: 'GetItemTypeJSON',
            success: function (data) {
                $.each(data, function () {
                    iopt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt,iopt);

            }
        })

            }
        })



    }
        function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook1' + id);
        var j = 0;
        $('tr.chkitemlst1').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
     }
    function AppendRow(opt,iopt) {
        var index = $("#tbBooks1").children("tr").length;
      


        var itemid = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='txtitemid" + index + "' name='ProdRatelst[" + index + "].itemid'><option value=''>Please select</option>" + opt + "</select></td>";
        var itemtype = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='txtinputtype" + index + "' name='ProdRatelst[" + index + "].inputtype'><option value=''>Please select</option>" + iopt + "</select></td>";





        var outrate = "<td><input class='form-control' id='txtoutputrate" + index + "' name='ProdRatelst[" + index + "].outputrate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 200px;' type='text'     /></td>";

        
        var removeCell = "<td><input id='Isvalid" + index + "' name='ProdRatelst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='ProdRatelst.Index' type='hidden' value='" + index + "'  /></td>";


        var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + itemid + itemtype + outrate + removeCell + "</tr>";

        $("#tbBooks1").append(newRow);

        $(function () {
            $('._select').select2();


        });

    }
</script>
 