@model Arasan.Models.DirectPurchase

@{
    ViewData["Title"] = "Direct Purchase";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="@Url.Action("PurchaseDash", "Home")">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Direct Purchase</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/DirectPurchase/MyListDPAccount",
            //url: "/ItemName/ItemName",
            data: {
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'branch', type: 'string' },
                { name: 'supplier', type: 'string' },
                { name: 'docNo', type: 'string' },
                { name: 'docDate', type: 'string' },
                { name: 'mailrow', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },
                { name: 'move', type: 'string' },
                { name: 'gross', type: 'string' },
                { name: 'net', type: 'string' },
                { name: 'print', type: 'string' },
                { name: 'account', type: 'string' },
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                theme: 'ui-start',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,
                columns: [
                    //{ text: 'Branch', filtertype: 'checkedlist', datafield: 'branch', width: 150 },
                    { text: 'Supplier', filtertype: 'checkedlist', datafield: 'supplier', width: 350 },
                    { text: 'Doc No', filtertype: 'input', datafield: 'docNo', width: 150 },
                    { text: 'Doc Date', datafield: 'docDate', width: 150, align: 'center' },
                    { text: 'Gross', datafield: 'gross', width: 150, align: 'center' },
                    { text: 'Net', datafield: 'net', width: 150, align: 'center' },
                   // { text: 'Print', datafield: 'print', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Account', datafield: 'account', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                  
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                       
                        <div class="row">


                              <div class="col-md-12 ">
                            <div id="grid">
                            </div>

                             </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }

</script>