@model Arasan.Models.DirectPurchase
@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Direct Purchase";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Direct Purchase</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">GRN</h5>
                    <hr>

                    <form>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Branch) @Html.HiddenFor(C => C.Branch)<br>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Doc No.<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.DocNo) @Html.HiddenFor(C => C.DocNo)<br>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="height:10px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DocDate) @Html.HiddenFor(C => C.DocDate)<br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Currency<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Currency) @Html.HiddenFor(C => C.Currency)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Ref No.<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.RefNo) @Html.HiddenFor(C => C.RefNo)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.RefDate) @Html.HiddenFor(C => C.RefDate)<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Party Name<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Supplier) @Html.HiddenFor(C => C.Supplier)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Location) @Html.HiddenFor(C => C.Location)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <br />

                            <div style="height:30px;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">

                                        <div class="ibox-content collapse in">
                                            <div class="widgets-container">
                                                <div>
                                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                        <thead>
                                                    <th> Indent No </th>
                                                    <th>Indent Date</th>
                                                    
                                                       <th> Item </th>
                                                    <th>Unit</th>
                                                    <th>Rate </th>
                                                    <th> Qty</th>
                                                    
                                                    <th> Disc amount</th>
                                                    

                                                    <th>CGSTP</th>
                                                    <th>SGSTP</th>
                                                    <th>IGSTP</th>
                                                    <th>CGST</th>
                                                    <th>SGST</th>
                                                    <th>IGST</th>
                                                    <th>Total Amount</th>
                                                  
                                                

                                                        </thead>

                                                        <tbody>
                                                            @{
                                                                int i = 0;

                                                            foreach (var item in Model.DirLst.ToList())
                                                                {

                                                                    <tr>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].indentno)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].indentdate)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].ItemId)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].Unit)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].rate)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].Quantity)</td>
                                                                       <td>@Html.DisplayFor(o => o.DirLst[i].DiscAmount)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].CGSTP)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].SGSTP)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].IGSTP)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].CGST)</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].SGST )</td>
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].IGST )</td>
                                                                  
                                                                 
                                                                    <td>@Html.DisplayFor(o => o.DirLst[i].TotalAmount)</td>
                                                                  

                                                                    </tr>

                                                                    i++;
                                                                }
                                                            }
                                                            </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Packing and Forwarding (+)<label class="mandatory"></label></label>
                                        <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Packingcharges) @Html.HiddenFor(C => C.Packingcharges)<br>
                                        </div>
                                    </div>
                                </div>
                           
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Freight Charges ( + )<label class="mandatory"></label></label>
                                <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Frieghtcharge) @Html.HiddenFor(C => C.Frieghtcharge)<br>
                                    <br />
                                </div>
                            </div>
                        </div>
                        </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Other Charges ( + )<label class="mandatory"></label></label>
                            <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Other) @Html.HiddenFor(C => C.Other)<br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Round Off ( + )<label class="mandatory"></label></label>
                            <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Round) @Html.HiddenFor(C => C.Round)<br>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Gross<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Gross) @Html.HiddenFor(C => C.Gross)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Net<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Net) @Html.HiddenFor(C => C.Net)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Narration<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Narration) @Html.HiddenFor(C => C.Narration)<br>
                                    </div>
                                </div>
                            </div>
                           @* <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Truck No.<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.truckno) @Html.HiddenFor(C => C.truckno)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    @*    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Transporter<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.drivername) @Html.HiddenFor(C => C.drivername)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">LR. No.<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.LRno) @Html.HiddenFor(C => C.LRno)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">LR.Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.LRdate) @Html.HiddenFor(C => C.LRdate)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Place Of Dispatch<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.dispatchname) @Html.HiddenFor(C => C.dispatchname)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>*@

                            <div style="height:30px;"></div>


                                           <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />


                    </form>
                </div>


            </div>
        </div>

    </div>
</div>

<script>
    <script>
        $(function () {
            $(document).on('click', '.closeFancybox', function () {
                $.fancybox.close();
            })
        })
</script>
