@model IEnumerable<Arasan.Models.BatchProduction>

@{
    ViewData["Title"] = "Batch Production";
     string sdate = ViewContext.HttpContext.Request.Query["st"];
    string edate = ViewContext.HttpContext.Request.Query["ed"];
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Batch Production </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*@Html.TextBoxFor(C => C.SStart, new { @id = "SStart", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SStart" class="form-control" readonly="readonly" value="@sdate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">

                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*  @Html.TextBoxFor(C => C.SEnd, new { @id = "SEnd", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SEnd" class="form-control" readonly="readonly" value="@edate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>
                                    </div>
                                   
                                </div>

                            </div>
                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("BatchProduction", "BatchProduction")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Batch Production </a>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Branch</th>
                                                            <th>Work Center</th>
                                                           
                                                            <th>Doc Id</th>
                                                             <th>DocDate</th>
                                                            <th>Entry Type</th>
                                                             <th>View</th>
                                                             <th>Approve</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 1;
                                                            foreach (var item in Model)
                                                            {


                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                                                            
                                                                            <td>@Html.DisplayFor(modelItem => item.DocId)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Shiftdate)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.EntryType)</td>
                                                              
                                                                             <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewProductionEntry", "BatchProduction",new { PROID=item.ID })" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' alt='View' /></a></div></td>
                                                                            @* @if(item.IsInv=="N"){*@
                                                                                 <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ApproveProEntry", "BatchProduction",new { PROID=item.ID })" ><img src='../Images/checklist.png' alt='Waiting for approval' /></a></div></td>

                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("BatchProduction", "BatchProduction",new { id=item.ID })"></a></div></td>
                                                                        <td> <a href="@Url.Action("DeleteMR","BatchProduction",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>

                                                                            @* }
                                                                             else{
                                                                                 <td></td>
                                                                                 <td></td>
                                                                                 <td></td>
                                                                                
                                                                             }*@
                                                                            
                                                                        </tr>

                                                                i++;
                                                            }
                                                        }
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>

<!-- /container -->

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }


    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
    $('#form_date').on('dp.change', function (e) {
    alert(e.date);
});

    function changesearch() {

        var isValid = true;

        if (document.getElementById("SStart").value == "" || document.getElementById("SStart").value == 0) {
            isValid = false;
            $(SStart).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select From Date");
                isValid= false;
        }
        else {
            $(SStart).css({
                "border": "",
                "background": ""
            });
        }


        if (document.getElementById("SEnd").value == "" || document.getElementById("SEnd").value == 0) {
            isValid = false;
            $(SEnd).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select To date");
                isValid= false;
        }
        else {
            $(SEnd).css({
                "border": "",
                "background": ""
            });
        }

        if (isValid == true){

        var fromDate = document.getElementById("SStart").value;
        var toDate = document.getElementById("SEnd").value;
        var url = '@Url.Action("ListBatchProduction", "BatchProduction")?st=' + fromDate + '&ed=' + toDate;
        window.location.href = url;
        }
    }
</script>