@model Arasan.Models.ETariff

@{
    ViewData["Title"] = "ETariff";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> ETariff </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("ETariff", "ETariff", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Tariff ID<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                            @Html.TextBoxFor(C => C.Tariff, new { @id = "txtTariff", @class = "form-control", @TabIndex = 2, @size="30" })<br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Tariff Des<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Tariffdes, new { @id = "txtTariffdes", @class = "form-control", @TabIndex = 2, @size="30" })<br>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Percentage<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Per, new { @id = "txtPer", @class = "form-control", @TabIndex = 2, @size="30",onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">CGST<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Cgst, new { @id = "txtCgst", @class = "form-control", @TabIndex = 2, @size="30",onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br>
                                        </div>


                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">IGST<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Igst, new { @id = "txtIgst", @class = "form-control", @TabIndex = 2, @size="30",onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br>
                                        </div>


                                    </div>
                                </div>
                            </div>

*@

                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListETariff", "ETariff")">Cancel</a>

                        </form>


                    }
                </div>

            </div>

        </div>

    </div>

</div>
<script>
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<script>

    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;


            if (document.getElementById("txtTariff").value == "") {
                isValid = false;
                $(txtTariff).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter TariffID");
                return false;
            }
            else {
                $(txtTariff).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtTariffdes").value == "") {
                isValid = false;
                $(txtTariffdes).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Tariffdes");
                return false;
            }
            else {
                $(txtTariffdes).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtSgst").value == "") {
                isValid = false;
                $(txtSgst).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Sgst");
                return false;
            }
            else {
                $(txtSgst).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCgst").value == "") {
                isValid = false;
                $(txtCgst).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Cgst");
                return false;
            }
            else {
                $(txtCgst).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtIgst").value == "") {
                isValid = false;
                $(txtIgst).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Igst");
                return false;
            }
            else {
                $(txtIgst).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });

</script>