@model Arasan.Models.Tax

@{
    ViewData["Title"] = "Tax";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Tax </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                     
                    <hr>
                    @using (Html.BeginForm("Tax", "Tax", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                              <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Tax Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.Taxtype, Model.Taxtypelst,"Please Select", new { @id = "ddlTaxtype", @Class = "form-control _select", @TabIndex = 1 })

                                           
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Tax Percentage %<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Percentage, new { @id = "txtPercentage", @class = "form-control",onkeydown = "return isNumeric2(event.keyCode,this.value)", @TabIndex = 1 ,step="0.01" ,type = "number", min = 0, max = 100})
                                            @Html.HiddenFor(C => C.ID)
                                    </div>

                                </div>
                            </div>

                        </div>
                       
                        <div style="height:30px;"></div>
                        <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs " id="btnSave">Submit</button>
                         <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListTax", "Tax")'">Cancel</button>

                    </form> 
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('._select').select2();

    });
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

           
            if (document.getElementById("txtPercentage").value == "") {
                isValid = false;
                $(txtPercentage).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Percentage");
                return false;
            }
            else {
                $(txtPercentage).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>