@model Arasan.Models.ItemGroup

@{
    ViewData["Title"] = "Item Group";

}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>



     <div class="row wrapper border-bottom page-heading">
      <div class="col-lg-12">

        <ol class="breadcrumb">
          <li> <a href="#">Home</a> </li>
          <li> <a>Master</a> </li>
          <li class="active"> <strong> Item Group </strong> </li>
        </ol>
      </div>
    </div>
     <div class="wrapper-content ">
        <div class="row">
         <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="widgets-container">
            
              <hr>
                    @using (Html.BeginForm("ItemGroup", "ItemGroup", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
              <form>

                           @* <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Item Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.ItemCat, Model.catlst,"--Please Select---", new { @id = "ddlItemCat", @Class = "form-control _select", @TabIndex = 1 }) <br/>

                                        </div>
                                    </div>
                                </div>
                            </div>*@
									<div class="row">
                            <div class="col-lg-3"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                      <br>  <label for="inputName3" class="col-sm-4 control-label">Item Group<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ItemGroups, new { @id = "txtItemGroups", @class = "form-control", @TabIndex = 1 })<br />
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                    </div>
                                            </div>
                                        </div>
                                        </div>
                         
                             @* <div class="row">
                            <div class="col-lg-3"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Item Group Description<label class="mandatory"></label></label>
                                                <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ItemGroupDescription, new { @id = "txtItemGroupDescription", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                            </div>
                                </div>
                              
                                        </div>*@
                                          <div class="col-lg-3"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label"> Group Type<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Type, new { @id = "txtType", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div style="height:30px;"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="btn-group">
                                                    <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                @* <div class="ibox float-e-margins">*@

                                                <!-- / ibox-title -->
                                                @* <div id="demo3" class="ibox-content collapse in">
                                            <div class="borderedTable">
                                            <div class="table-scrollable">*@
                                                <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>

                                                            <th>SubGroup </th>
                                                           @* <th>SubGroup Desc</th>*@
                                                            <th>ConsYN </th>
                                                          
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbBooks">
                                                        @{

                                                            int i = 0;

                                                            foreach (var item in Model.Sublst.ToList())
                                                            {

                                                                            <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                               
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.Sublst[i].subgrpname, new { @id = "txtsubgrpname" + i, @class = "form-control", style = "width: 200px;"})
                                                                                </td>
                                                                             @* <td>
                                                                                    @Html.TextBoxFor(o => o.Sublst[i].subgrpdecs, new { @id = "txtsubgrpdecs" + i, @class = "form-control", style = "width: 200px;" })
                                                                                </td>*@
                                                                              <td>
                                                                               @Html.RadioButtonFor(C => C.Sublst[i].consyn, "Y", new { @TabIndex = 2 })
                                                            <label id="mt-radio">Yes</label>
                                                            @Html.RadioButtonFor(C => C.Sublst[i].consyn, "N", new { @TabIndex = 3 })
                                                            <label id="mt-radio">No</label>

                                                                              </td>
                                                                                <td>
                                                                                    @Html.HiddenFor(o => o.Sublst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                    <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Sublst.Index" type="hidden" value="@(i)" />
                                                                                </td>
                                                                                
                                                                            </tr>

                                                                i = i + 1;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                        <div class="row">

                            <div class="col-lg-8"></div>
                                <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                                <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListItemGroup", "ItemGroup")'">Cancel</button>

                        </div>
                        
                                        </form>
                                        }
</div>
</div>
</div>
</div>
</div>

<script>

     $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
    @* alert(list);*@
            $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option> </option>").val(this['value']).html(this['text']));
            });
        }

        $(dropDownId).trigger("liszt:updated");
    }

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

             

            if (document.getElementById("txtItemGroups").value == ""|| document.getElementById("txtItemGroups").value == 0) {
                isValid = false;
                $(txtItemGroups).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Item Group");
                return false;
            }
            else {
                $(txtItemGroups).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtItemGroupDescription").value == "" || document.getElementById("txtItemGroupDescription").value == 0) {
                isValid = false;
                $(txtItemGroupDescription).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Description");
                return false;
            }
            else {
                $(txtItemGroupDescription).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });

     function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }

       function AppendRow() {
      var index = $("#tbBooks").children("tr").length;

 


        var subgrpname = "<td><input class='form-control' id='txtsubgrpname" + index + "' name='Sublst[" + index + "].subgrpname'  style='width: 200px;' type='text'   /></td>";

        var subgrbdesc = "<td><input class='form-control' id='txtsubgrpdecs" + index + "' name='Sublst[" + index + "].subgrpdecs'  style='width: 200px;' type='text'  /></td>";

 

        var consyn = "<td>  <div class='input-group'><input id='txtconsyn" + index + "' name='Sublst[" + index + "].consyn' type='radio' value='Y'/>  <label id='mt-radio'>Yes</label><input id='txtconsyn" + index + "' name='Sublst[" + index + "].consyn' type='radio' value='N'/>  <label id='mt-radio'>No</label><div></td>";


        var removeCell = "<td><input id='Isvalid" + index + "' name='Sublst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Sublst.Index' type='hidden' value='" + index + "'  /></td>";

     
        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + subgrpname + consyn  + removeCell + "</tr>";
 
        $("#tbBooks").append(newRow); 
 
    } 
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
</script>
