@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Arasan</title>
     <link rel="shortcut icon" href="~/assets/images/Arasan_Logo.ico" type="image/x-icon" />
    <link rel="icon" href="~/assets/images/Arasan_Logo.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet">
    <!-- slimscroll -->
    <link href="~/assets/css/jquery.slimscroll.css" rel="stylesheet">
    <!-- project -->
    <link href="~/assets/css/project.css" rel="stylesheet">
    <!-- flotCart css -->
    <link href="~/assets/css/flotCart.css" rel="stylesheet">
    <!-- jvectormap -->
	<link href="~/assets/css/jqvmap.css" rel="stylesheet">
    <!-- Alerts -->
    <link href="~/css/Alerts.css" rel="stylesheet">
	<!-- dataTables -->
	<link href="~/assets/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="~/assets/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/css/responsive.dataTables.min.css" rel="stylesheet">
   @* <link href="assets/css/fixedHeader.dataTables.min.css" rel="stylesheet">*@


    <!-- Fontes -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/assets/css/ameffectsanimation.css" rel="stylesheet">
    <link href="~/assets/css/buttons.css" rel="stylesheet">
    <!-- animate css -->
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <!-- top nev css -->
    <link href="~/assets/css/page-header.css" rel="stylesheet">
    <!-- adminui main css -->
    <link href="~/assets/css/main.css" rel="stylesheet">
   
    <!-- morris -->
	<link href="~/assets/css/morris.css" rel="stylesheet">

    <!-- red theme css -->
    <link href="~/assets/css/aqua-black.css" rel="stylesheet">
    <!-- media css for responsive  -->
    <link href="~/assets/css/main.media.css" rel="stylesheet">
    <!-- AdminUI demo css-->
    <link href="~/assets/css/adminUIdemo.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css" />
	<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-select.min.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-header-fixed ">
    @{
        string strName = "Admin";
        string Brname = "";
        string Locname = "";
        if(HttpContextAccessor.HttpContext.Request.Cookies["UserName"] != null || HttpContextAccessor.HttpContext.Request.Cookies["UserName"] != "")
        {
            strName = HttpContextAccessor.HttpContext.Request.Cookies["UserName"];
        }
        if(HttpContextAccessor.HttpContext.Request.Cookies["BranchName"] != null || HttpContextAccessor.HttpContext.Request.Cookies["BranchName"] != "")
        {
            Brname = HttpContextAccessor.HttpContext.Request.Cookies["BranchName"];
        }
        if(HttpContextAccessor.HttpContext.Request.Cookies["LocationName"] != null || HttpContextAccessor.HttpContext.Request.Cookies["LocationName"] != "")
        {
            Locname = HttpContextAccessor.HttpContext.Request.Cookies["LocationName"];
        }
    }
<div class="page-header navbar navbar-fixed-top">
    
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner ">
    <!-- BEGIN LOGO -->
    <div class="page-logo"> <a href="@Url.Action("Index", "Home")"> <img class="logo-default" alt="logo" src="~/assets/images/Arasan_Logo.png"> </a> </div>
    <!-- END LOGO -->
    <div class="library-menu"> <span class="one">-</span> <span class="two">-</span> <span class="three">-</span> </div><div class="top-nev-mobile-togal"><i class="glyphicon glyphicon-cog"></i></div>
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
<!--  TOP NAVIGATION MENU -->

  <div class="hor-menu  hor-menu-light hidden-sm hidden-xs">
       <ul class="nav navbar-nav pull-left" style="padding-left: 50px;padding-top:10px;">
            	       <li>
						
						 <h3><span style="color:green" > Branch Name : </span>	</h3>					</li>
      	                <li>
						
						<h3><span style="color:white" > &nbsp;&nbsp;@Brname </span>	</h3>					</li>
                        </ul>
                        <ul class="nav navbar-nav" style="padding-left: 300px;padding-top:10px;">
                            <li>
						
						<h3><span style="color:green" > Location Name : </span>	</h3>					</li>
                       <li>
						
						<h3><span style="color:white"> &nbsp;&nbsp;@Locname </span>	</h3>					</li>
       </ul>

                   
                </div>



              
                <!--  TOP NAVIGATION MENU -->
       <ul class="nav navbar-nav pull-right">
                    <!-- START USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"> <img src="~/assets/images/teem/placeholders.jpg" class="img-circle" alt=""> <span class="username username-hide-on-mobile"> @strName  </span> <i class="fa fa-angle-down"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="profile.html"> <i class="icon-user"></i> My Profile </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="lockscreen.html"> <i class="icon-lock"></i> Lock Screen </a>
                            </li>
                            <li>
                                <a href="@Url.ActionLink("Login","Account")"> <i class="icon-key"></i> Log Out </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END HEADER INNER -->
</div>
<div class="clearfix"> </div>
<div class="page-container">
  <!-- Start page sidebar wrapper -->
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar">
	<ul class="page-sidebar-menu  page-header-fixed ">
                    <li class="sidebar-search-wrapper">
                        <!-- START RESPONSIVE SEARCH FORM -->
                        <form class="sidebar-search  " action="search_results.html" method="POST">
                            <a href="javascript:;" class="remove"> <i class="icon-close"></i> </a>
                            
                        </form>
                        <!-- END RESPONSIVE SEARCH FORM -->
                    </li>
                  @*  <li class="nav-item ">
                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-th-large"></i> <span class="title">Dashboard</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("Index", "Home")"> <span class="title">Dashboard</span> </a>
                            </li>
                          
                        </ul>
                    </li>*@
               


                           
                    <li class="nav-item">
                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-th-large"></i> <span class="title">Dashboard</span> <span class="arrow"></span> </a>

                        <ul class="sub-menu">

                           @* <li class="nav-item ">

                          @*  <li class="nav-item ">

                                <a class="nav-link" href="@Url.Action("Index", "Home")"> <i class="fa fa-money"></i>  <span class="title">Common</span> </a>
                            </li>*@
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("PurchaseDash", "Home")">  <i class="fa fa-shopping-cart"></i><span class="title">Purchase</span> </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("QcDashboard", "QcDashboard")"> <i class="fa fa-flask"></i> <span class="title">Qc</span> </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("Proddashboard", "Home")"> <i class="fa fa-table"></i> <span class="title">Curing set</span> </a>
                            </li>
                           
                        </ul>
                    </li>
                     
                   <li class="nav-item active open">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-database"></i> <span class="title">Masters</span> <span class="arrow"></span> </a>
                           <ul class="sub-menu">
                             
                                  <li class="nav-item"> <a class="nav-link" href="javascript:;"> Admin <span class="arrow nav-toggle"></span> </a>
                                        <ul class="sub-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListBranch", "Branch")"> <span class="title">Branch </span> </a>
                                    </li>
                                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListCompany", "Company")"> <span class="title">Company </span> </a>
                            </li>
                            

                           
                            </ul> </li>


                             <li class="nav-item"> <a class="nav-link" href="javascript:;"> Account <span class="arrow nav-toggle"></span> </a>
                                        <ul class="sub-menu">

                                 

                                             <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("AccTreeView", "AccTreeView")"> <span class="title">Account Tree</span> </a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListAccConfig", "AccConfig")"> <span class="title">Account Config</span> </a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListAccClass", "AccClass")"> <span class="title">Account Class</span> </a>
                                        </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListAccountType", "AccountType")"> <span class="title">Account Type </span> </a>
                                    </li>
                                     <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListAccountGroup", "AccountGroup")"> <span class="title">Account Group</span> </a>
                                     </li>
                                   @* <li class="nav-item">

                                        <a class="nav-link" href="@Url.Action("ListAccountGroup", "AccGroup")"> <span class="title">Account Group</span> </a>
                                    </li>*@
                                            <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListLedger", "Ledger")"> <span class="title">Account Ledger </span> </a>
                            </li>
                             <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListDayBook", "Ledger")"> <span class="title">Day Book</span> </a>
                                    </li>
                      
                            </ul> </li>


                          	<li class="nav-item">
                                <a class="nav-link" href="javascript:;"> <span class="arrow nav-toggle">Item </span> </a>
                                        <ul class="sub-menu">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("ListItem", "ItemName")"> <span class="title">Item</span> </a>
                                    </li>
                                    
                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListItemCategory", "ItemCategory")"> <span class="title">Item Category</span> </a>
                            </li>


                             	 <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListItemGroup", "ItemGroup")"> <span class="title">Item Group</span> </a></li>

                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("ListItemSubGroup", "ItemSubGroup")"> <span class="title">Item SubGroup</span> </a>
                            </li>
							 
                           </ul></li>


                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;"> <span class="arrow nav-toggle">Qc </span> </a>
                                <ul class="sub-menu">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("ListQcTemplate", "QcTemplate")"> <span class="title">QC Template</span> </a>
                                    </li>
                                </ul>
                            </li>

                                 <li class="nav-item"> <a class="nav-link" href="javascript:;"> Common <span class="arrow nav-toggle"></span> </a>  
                                      <ul class="sub-menu">
                                   
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListSequence", "Sequence")"> <span class="title">Sequence</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListCity", "City")"> <span class="title">City </span> </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("ListCountry", "Country")"> <span class="title">Country</span> </a>
                                    </li>
                                          <li class="nav-item">
                                            <a class="nav-link" href="@Url.Action("ListCurrency", "Currency")"> <span class="title">Currency</span> </a>
                                          </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListRateCode", "RateCode")"> <span class="title">Rate Code</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListRate", "Rate")"> <span class="title">Rate</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListCuring", "Curing")"> <span class="title">Curing</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListCustomerType", "CustomerType")"> <span class="title">Customer Type</span> </a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListDepartment", "Departments")"> <span class="title">Department</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListDesignation", "Designation")"> <span class="title">Designation</span> </a>
                                    </li>
                                    <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListNewCategory", "DrumCategory")"> <span class="title">Drum Category</span> </a>
                                     </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDrumMaster", "DrumMaster")"> <span class="title">Drum Master</span> </a>
                            </li>
                            <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListEmailConfig", "EmailConfig")"> <span class="title">Email Config</span> </a>
                            </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("PromotionMail", "PromotionMail")"> <span class="title">Promotion Mail</span> </a>
                                    </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListEmployee", "Employee")"> <span class="title">Employee</span> </a>
                            </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("ListETariff", "ETariff")"> <span class="title">ETariff</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListExchangeRate", "ExchangeRate")"> <span class="title">Exchange Rate</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListHSNcode", "HSNcode")"> <span class="title">HSN Code </span> </a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListLocation", "Location")"> <span class="title">Location</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListParty", "PartyMaster")"> <span class="title">Party Master</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListSieve", "Sieve")"> <span class="title">Sieve </span> </a>
                                    </li> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListState", "State")"> <span class="title">State </span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListStop", "Stop")"> <span class="title">Stop </span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListTax", "Tax")"> <span class="title">Tax</span> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListWCSieve", "WCSieve")"> <span class="title">WorkCenter Sieve</span> </a>
                                    </li>

                                    <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListUnit", "Unit")"> <span class="title">Unit </span> </a>
                                     </li>
                                     <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListWorkCenters", "WorkCenters")"> <span class="title">Work Center </span> </a>
                                     </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListEmpMultipleAllocation", "EmpMultipleAllocation")"> <span class="title">Employee Multiple Allocation</span> </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="@Url.Action("ListItemDescription", "ItemDescription")"> <span class="title">Test Description</span> </a>
                                    </li>
                                   
                           
                          </ul>
                              </li>

                            

                         
                      </ul>

</li>
                    
                
                 
                <li class="nav-item">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-shopping-cart"></i>  <span class="title">Purchase</span> <span class="arrow"></span> </a>
                           <ul class="sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("List_Purchase_Indent", "PurchaseIndent")">Purchase Indent</a></li>
                                  <li class="nav-item"><a class="nav-link" href="@Url.Action("List_PI_Approval", "PurchaseIndent")">Purchase Indent Approval</a></li>
                                  <li class="nav-item"><a class="nav-link" href="@Url.Action("List_PI_MSupp_Allocation", "PurchaseIndent")">Supplier Allocation</a></li>
                <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("ListEnquiry", "PurchaseEnq")"> <span class="title">Enquiry</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListPurchaseQuo", "PurchaseQuo")"> <span class="title">Quotation</span> </a>
                            </li>

                           
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("ListDirectPurchase", "DirectPurchase")"> <span class="title">Direct Purchase</span> </a>

                            </li>

                                                     

                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListPO", "PO")"> <span class="title">Purchase Order</span> </a>
                            </li>    
                            
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("GateInward", "PO")"> <span class="title">PO Gate Inward</span> </a>
                            </li> 

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListGateInward", "PO")"> <span class="title">List GateInward</span> </a>
                            </li>

							 <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListGRN", "GRN")"> <span class="title">GRN</span> </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDamageGRN", "GRN")"> <span class="title">GRN Defect</span> </a>
                            </li>
                           @* <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDirectPurchaseGRN", "DirectPurchase")"> <span class="title">DirectPurchase GRN</span> </a>
                            </li>*@

														


							
@*
                                 <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Direct_Purchase", "PurchaseEnq")"> <span class="title">Direct Purchase</span> </a>
                            </li>*@
							

						@*	<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchse_Order_close", "PurchaseEnq")"> <span class="title">Purchase Order Short close</span> </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchse_Indent", "PurchaseEnq")"> <span class="title">Purchase indent short close</span> </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchase_Order_ament", "PurchaseEnq")"> <span class="title">Purchase Order Amendment</span> </a>
                            </li>*@
                        </ul>
                    </li>

                      <li class="nav-item">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-shopping-cart"></i>  <span class="title">Purchase Import</span> <span class="arrow"></span> </a>
                           <ul class="sub-menu">
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPurchaseImportIndent", "PurchaseImportIndent")">Purchase Indent</a></li>
                                  <li class="nav-item"><a class="nav-link" href="@Url.Action("List_PI_Approval", "PurchaseIndent")">Purchase Indent Approval</a></li>
                                  <li class="nav-item"><a class="nav-link" href="@Url.Action("List_PI_MSupp_Allocation", "PurchaseIndent")">Supplier Allocation</a></li>
                            <li class="nav-item">

                                <a class="nav-link" href="@Url.Action("ListPurchaseImportEnq", "PurchaseImportEnq")"> <span class="title">Enquiry</span> </a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListPurchaseImportQuo", "PurchaseImportQuo")"> <span class="title">Quotation</span> </a>
                            </li>

                           
                            <li class="nav-item active">
                                <a class="nav-link" href="@Url.Action("ListDirectPurchase", "DirectPurchase")"> <span class="title">Direct Purchase</span> </a>

                            </li>

                                                     

                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListImportPO", "ImportPO")"> <span class="title">Purchase Order</span> </a>
                            </li>    
                            
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("GateInward", "PO")"> <span class="title">PO Gate Inward</span> </a>
                            </li> 

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListGateInward", "PO")"> <span class="title">List GateInward</span> </a>
                            </li>

							 <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListGRN", "GRN")"> <span class="title">GRN</span> </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDamageGRN", "GRN")"> <span class="title">GRN Defect</span> </a>
                            </li>
                           @* <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDirectPurchaseGRN", "DirectPurchase")"> <span class="title">DirectPurchase GRN</span> </a>
                            </li>*@

														


							
@*
                                 <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Direct_Purchase", "PurchaseEnq")"> <span class="title">Direct Purchase</span> </a>
                            </li>*@
							

						@*	<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchse_Order_close", "PurchaseEnq")"> <span class="title">Purchase Order Short close</span> </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchse_Indent", "PurchaseEnq")"> <span class="title">Purchase indent short close</span> </a>
                            </li>
							<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Purchase_Order_ament", "PurchaseEnq")"> <span class="title">Purchase Order Amendment</span> </a>
                            </li>*@
                        </ul>
                    </li>




                    <li class="nav-item">
                        <a class="nav-link nav-toggle" href="javascript:;"><i class="fa fa-money"></i> <span class="title">Sales</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">

             @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Sales_Forecasting", "SalesEnquiry")">Sales Forecasting</a></li>*@

             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListSalesEnquiry", "SalesEnquiry")">Sales Enquiry</a></li>
             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListSalesQuotation", "SalesQuotation")">Sales Quotation</a></li>

          @*   <li class="nav-item"><a class="nav-link" href="@Url.Action("ListSalesEnquiry", "SalesEnquiry")">Sales Enquiry</a></li>*@
            @* <li class="nav-item"><a class="nav-link" href="@Url.Action("SalesQuotation", "SalesQuotation")">Sales Quotation</a></li>*@
              <li class="nav-item"><a class="nav-link" href="@Url.Action("ListWorkOrder", "WorkOrder")">Work Order</a></li>
               <li class="nav-item"><a class="nav-link" href="@Url.Action("ListWDrumAllocation", "WorkOrder")">Drum Allocation</a></li>
               <li class="nav-item"><a class="nav-link" href="@Url.Action("ListWDrumAllo", "WorkOrder")">Drum Allocation List</a></li>
             @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Work_Order_Amedment", "SalesEnquiry")">Work order Amendment</a></li>*@
             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListProFormaInvoice", "ProFormaInvoice")">Proforma Invoice</a></li>
                          
            @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Work_Orde_ShortClose", "SalesEnquiry")">Work order Short Close</a></li>*@
             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListSalesReturn", "SalesReturn")">Sales Return</a></li>
               <li class="nav-item active"><a class="nav-link" href="@Url.Action("Excise_Invoice", "SalesEnquiry")">Excise Invoice</a></li>
             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListDepotInvoice", "DepotInvoice")">Depot Invoice</a></li>            
             <li class="nav-item"><a class="nav-link" href="@Url.Action("Supplimantry_Invoice", "SalesEnquiry")">Supplimentary Invoice</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListSalesTarget", "SalesTarget")">Sales Target</a></li>
                           
                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Credit_Note_Bill", "SalesEnquiry")">Credit_Note_Bill</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Credit_Note_Approval", "SalesEnquiry")">Credit_Note_Approval</a></li>*@
       
                   
          </ul>
        </li>
		<li class="nav-item"> <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-industry"></i><span class="title">Production</span> <span class="arrow"></span> </a>
          <ul class="sub-menu"> 

                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("ProcessCostEntry", "ProcessCostEntry")">Process Cost Entry</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListProductionForecasting", "ProductionForecasting")">Production Forecasting</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListProductionSchedule", "ProductionSchedule")">Production Schedule</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("ProcessLostEntry", "ProcessCostEntry")">Process Lot Entry</a></li>*@
                            <li class="nav-item active"><a class="nav-link" href="@Url.Action("ListBatchCreation", "BatchCreation")">Batch Creation</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListProductionLog", "ProductionLog")">Production Log</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("APProductinentryselection", "APProductionentry")">Batch Production Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListAPProductionentry", "APProductionentry")">Batch Production Entry List</a></li>
                            
                             <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPyroProduction", "PyroProduction" )">Production Entry</a></li>
 
                           
                           
 
                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("ListReasonCode", "ReasonCode")">Reason Code Masters</a></li>*@
                           
        @*                    <li class="nav-item"><a class="nav-link" href="@Url.Action("ListProductionEntry", "ProductionEntry")">Production Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListBatchProduction", "BatchProduction")">Batch Production Entry</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListCuringInward", "ProductionEntry")">Curing Inward</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("CuringEStatus", "ProcessCostEntry")">Curing E-Status</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListCuringOutward", "CuringOutward")">Curing Outward</a></li>
                            
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("PackingIssueEntry", "ProcessCostEntry")">Packing Issue Entry</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPackDrum", "PackDrumAllocation")">Packing Drum Allocation</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPackingentry", "PackingEntry")">Packing Entry</a></li>
                                        @* <li class="nav-item"><a class="nav-link" href="@Url.Action("DrumChange", "ProcessCostEntry")"> Drum Change</a></li>*@
                         @*   <li class="nav-item"><a class="nav-link" href="@Url.Action("MonthlyProductionEntry", "ProcessCostEntry")">Monthly Production Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("MTOOutputCalculator", "ProcessCostEntry")">MTO Output Calculator</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPackingNote", "PackingNote")">Packing Note</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListDrumIssueEntry", "DrumIssueEntry")">Drum Issue Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DrumHistory", "DrumLocation")">Drum History</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListDrumLocation", "DrumLocation")">Drum Location</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListReasonCode", "ReasonCode")">Reason Code</a></li>
                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("DrumStockReconcilation", "ProcessCostEntry")">Drum Stock Reconcilation</a></li>*@
                            @* <li class="nav-item"><a class="nav-link" href="@Url.Action("DrumChangeUnPackingEntry", "ProcessCostEntry")">Drum Change/Un Packing Entry</a></li>
                            <li class="nav-item active"><a class="nav-link" href="@Url.Action("MaterialSplittingEntry", "ProcessCostEntry")">Material Splitting Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("FiredDrums", "ProcessCostEntry")">Fired Drums</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("DrumLoadEntry", "ProcessCostEntry")">Drum Load Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("FiredDrumsRelease", "ProcessCostEntry")">Fired Drums - Release</a></li>*@

                           
						
          

                        

                          

            
          </ul>
        </li>

                    <li class="nav-item">
                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-flask"></i>  <span class="title">Quality Control</span> <span class="arrow"></span> </a>
          <ul class="sub-menu">
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListQCTesting", "QCTesting")">QC Testing</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListQCResult","QCResult")">QC Result</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListQCTestValueEntry", "QCTestValueEntry")">QC TestValue Entry</a></li>
                            <li class="nav-item active"><a class="nav-link" href="@Url.Action("ListQCFinalValueEntry", "QCFinalValueEntry")">QC FinalValue Entry</a></li>
@*                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPackingQCFinalValueEntry", "PackingQCFinalValueEntry")">Packing QC FinalValue Entry</a></li>*@ 
                         
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPackingQCFinalValueEntry", "PackingQCFinalValueEntry")">Packing QCFinalValueEntry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListItemConversionEntry", "ItemConversionEntry")">Item Conversion Entry</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("NCRelease", "QCTesting")">NC Release</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListORSAT", "ORSAT")">ORSAT Entry</a></li>
                  
                        </ul>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-money"></i> <span class="title">Account</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListPaymentRequest", "PaymentRequest")"> <span class="title">Payment Request</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListApprovedPaymentRequest", "PaymentRequest")"> <span class="title">Payment Voucher</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("DebitNoteBillDet", "DebitNoteBill")"> <span class="title">Future Discount</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListDebitNoteBill", "DebitNoteBill")"> <span class="title"> Approve DN Bill</span></a>
                                </li>
                                
                                <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("CreditorDebitNotes", "CreditorDebitNotes")"> <span class="title">CN/DN</span></a>
                                </li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="fa fa-database"></i> <span class="title">StoreManagement</span> <span class="arrow"></span> </a>

                        <ul class="sub-menu"> 
                             <li class="nav-item"><a class="nav-link" href="@Url.Action("IndentStockIssue", "Stock")">Stock In Hand</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Storestock", "Stock")">Store Stock </a></li>
                                
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListMaterialRequisition", "MaterialRequisition")">Material Requisition</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListMaterialReq", "MaterialRequisition")">Approve MR</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("IndentStockIssue", "Stock")">Indent Stock Issue</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListStockIn", "StockIn")">Indent Stock Issue</a></li>
                            @* <li class="nav-item"><a class="nav-link" href="@Url.Action("IssueToProduction", "IssueToProduction")">Issue To Production</a></li>*@

                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListStoresReturn", "StoresReturn")">Stores Return</a></li>
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Returnable_NonReturnable_Dc", "StoresReturn")">Returnable NonReturnable Dc</a></li>*@
                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("List_StoreAcc", "StoreAcc")">Stores Acceptance</a></li>*@
                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Receipt_Against_Returnable_DC", "StoresReturn")">Receipt Against Returnable DC</a></li>*@
                       @*     <li class="nav-item"><a class="nav-link" href="@Url.Action("ListStoreIssueCons", "StoreIssueConsumables")">Stores Issuse Consumbables</a></li>
                           
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListStoreIssuePro", "StoreIssueProduction")">Stores Issuse Production</a></li>*@
                           @* <li class="nav-item"><a class="nav-link" href="@Url.Action("Material_Requisition_Short_Close", "StoresReturn")">Material Requisition Short Close</a></li>*@
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListPurchaseReturn", "PurReturn")">Purchase Return</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListDirectDeduction", "DirectDeduction")">Direct Deduction</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListDirectAddition", "DirectAddition")">Direct Addition</a></li>

                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;"> Asset <span class="arrow nav-toggle"></span> </a> 
                                <ul class="sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("ListAssetAddition", "AssetAddDed")">Asset Addition </a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("ListAssetDeduction", "AssetAddDed")">Asset Deduction</a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("ListConToAsset", "ContToAsset")">Consumable To Asset Transfer</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ListAssetTransfer", "AssetTransfer")"> <span class="title">Asset Transfer</span> </a>
                                    </li>


                                </ul>
                            </li>

                         

                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListRetNonRetDc", "RetNonRetDc")">Returnable NonReturnable Dc</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListReceiptAgtRetDC", "ReceiptAgtRetDC")"> Receipt Against Returnable DC</a></li>
                           
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Assetstock", "Stock")"> Asset Stock</a></li>


                            @*<li class="nav-item"><a class="nav-link" href="@Url.Action("ScarpYard", "StoresReturn")">Scarp Yard</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Sub_Contracting_DC", "StoresReturn")">Sub Contracting DC</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListItemTransfer", "ItemTransfer")">Item Transfer</a></li>
                             <li class="nav-item"><a class="nav-link" href="@Url.Action("Sub_Contracting_Material_Receipt", "StoresReturn")">Sub ContractingMaterial Receipt</a></li>*@

                        </ul>

                    </li>
                    <li class="nav-item">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="icon-paper-plane"></i> <span class="title">Sub Contract</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListSubContractingDC", "SubContractingDC")"> <span class="title">Sub Contracting DC</span> </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ListReceiptSubContract", "ReceiptSubContract")">Receipt for SubContract</a></li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ListSubContractingMaterialReceipt", "SubContractingMaterialReceipt")"> <span class="title">Sub Contracting Material Receipt</span> </a>
                            </li>
                           

                        </ul>
		</li>
                    <li class="nav-item">

                        <a class="nav-link nav-toggle" href="javascript:;"> <i class="icon-paper-plane"></i> <span class="title">Reports</span> <span class="arrow"></span> </a>
                        <ul class="sub-menu">
                          @*  <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PurchaseReport", "PurchaseReport")">Purchase Report</a>
                            </li>*@

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("GRNReport", "GRNReport")"> <span class="title">GRN Cum Bill</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("DirectPurchaseReport", "DirectPurchaseReport")"> <span class="title">Landed Cost Details</span> </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PurchaseRepItemReport", "PurchaseRepItemReport")"> <span class="title">Purchase Rep ItemWise</span> </a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" href="@Url.Action("PurchaseRepPartyReport", "PurchaseRepPartyReport")"> <span class="title">Purchase Rep PartyWise</span> </a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("WorkCenterReport", "WorkCenterReport")"> <span class="title">WorkCenter Deatils</span> </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ReceiptReport", "ReceiptReport")"> Receipt Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("PurchasePend", "PurchasePend")"> PurchasePending Report</a></li>

                            <li class="nav-item"><a class="nav-link" href="@Url.Action("ReceiptReport", "ReceiptReport")"> Returnable DC Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("PurchasePend", "PurchasePend")"> Purchase Pending Report</a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action("PurMonReport", "PurMonReport")"> Purchase Month Wise Report</a></li>


                        </ul> 
                    </li>
              @*    <li class="nav-item"> <a class="nav-link nav-toggle" href="javascript:;"><i class="fa fa-envelope"></i> <span class="title">Mailbox </span><span class="label label-warning pull-right">16/70</span></a>
          <ul class="sub-menu" >
            <li class="nav-item"><a class="nav-link" href="mailbox.html">Inbox</a></li>
            <li class="nav-item"><a class="nav-link" href="mail_detail.html">Email view</a></li>
            <li class="nav-item"><a class="nav-link" href="mail_compose.html">Compose email</a></li>
           
          </ul>
        </li>*@
             </ul>          
                 
     </div>
  </div>
  <!-- End page sidebar wrapper -->
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight">
    <div class="page-content">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="~/assets/js/vendor/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="~/assets/js/vendor/bootstrap.min.js"></script>
	<!--  morris Charts  -->
	
    <script src="@Url.Content("~/js/chosen.jquery.js")"></script>
        
    <link href="@Url.Content("~/css/chosen.css")" rel="stylesheet" />
     <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();


        $(".chosen-select").chosen();
        function isNumeric(keyCode) {
                return ((keyCode >= 48 && keyCode <= 57) || keyCode == 37 || keyCode == 39 || keyCode == 46 || keyCode == 8 || keyCode == 9 || (keyCode >= 96 && keyCode <= 105));
            }

            function isNumeric2(keyCode, e) {
                //alert(keyCode);
                return ((keyCode >= 48 && keyCode <= 57) || keyCode == 37 || keyCode == 39 || keyCode == 46 || keyCode == 8 || keyCode == 9 || keyCode == 190 || keyCode == 110 || (keyCode >= 96 && keyCode <= 105));
            }

            function checkLength(el) {
                if (el.value.length != 10) {
                    alert("Length must be exactly 10 characters")
                }
            }
    </script>

	<script type="text/javascript" src="~/assets/js/vendor/bootstrap-datetimepicker.js" charset="UTF-8"></script>
		<script type="text/javascript" src="~/assets/js/vendor/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>

    
	<script src="~/assets/js/vendor/chartJs/Chart.bundle.js"></script>
	<script src="~/assets/js/dashboard1.js"></script>
	<!-- dataTables-->
<script type="text/javascript" src="~/assets/js/vendor/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/assets/js/vendor/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/js/vendor/jquery-ui.js" charset="UTF-8"></script>
	<!-- slimscroll js -->
	<script type="text/javascript" src="~/assets/js/vendor/jquery.slimscroll.js"></script>
	<!-- pace js -->
	<script src="~/assets/js/vendor/pace/pace.min.js"></script>
    <script src="~/assets/js/vendor/select2.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap-select.min.js"></script>
	<!-- Sparkline -->
<script src="~/assets/js/vendor/jquery.sparkline.min.js"></script>
<!-- main js -->
	<script src="~/assets/js/main.js"></script>
<!-- AdminUI demo js-->
<script src="~/assets/js/adminUIdemo.js"></script>
<script type="text/javascript">
  $('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
        showMeridian: 1
    });
  
 
</script>
 @await RenderSectionAsync("Scripts", required: false)
    @RenderBody()
    
      
<!-- start footer -->
@* <div class="footer">
                    
                    <div> <strong>Copyright</strong> iCanD </div>
                </div>*@
    </div>
  </div>
</div>
<!-- Go top -->
<a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>
<!-- Go top -->
 	
</body>
</html>
