@model Arasan.Models.SubContractingDC

@{
    
    ViewData["Title"] = "SubContractingDC";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Sub Contract</a> </li>
            <li class="active"> <strong>Sub Contracting DC</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Sub Contracting DC</h5>
                    <hr>
                    @using (Html.BeginForm("PackingMatSubContractingDC", "SubContractingDC", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">Branch <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.pakid)
                                        @Html.DisplayFor(C => C.Branch)
                                        @Html.HiddenFor(C => C.Branchid)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                             @Html.DropDownListFor(C => C.Location, Model.Loc," -- Please Select -- ", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1,@onchange="changeItemDet(this.value)" })

                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:15px;"></div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <br> <label for="inputName3" class="col-sm-4 control-label">Doc No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DocId)
                                        @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Enterd)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br> <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Docdate)
                                        @Html.HiddenFor(C => C.Docdate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br>  <label for="inputName3" class="col-sm-4 control-label">Party ID<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Supplier)
                                        @Html.HiddenFor(C => C.party)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:15px;"></div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <br><label for="inputName3" class="col-sm-4 control-label">Add 1<label class="mandatory"> </label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Add1)
                                        @Html.HiddenFor(C => C.Add1)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br><label for="inputName3" class="col-sm-4 control-label">Add 2<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Add2)
                                        @Html.HiddenFor(C => C.Add2)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:15px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">City<label class="mandatory"> </label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.City)
                                        @Html.HiddenFor(C => C.City)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br><label for="inputName3" class="col-sm-4 control-label">Through<label class="mandatory"> </label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Through, new { @id = "txtThrough", @class = "form-control", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                         <li class="active"><a href="#tab-3" data-toggle="tab">Packing Material</a></li>
                                        <li ><a href="#tab-1" data-toggle="tab">Conversion Details</a></li>
                                        <li><a href="#tab-2" data-toggle="tab">Exp.Receipt Details </a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-3">
                                                <!-- 1st tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <table class="table table-striped table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>

                                                                    <th>Item ID</th>
                                                                     
                                                                    <th>Unit</th>
                                                                    @* <th>CL.Stock</th>*@
                                                                    <th> ConFactor</th>
                                                                     
                                                                    <th>Stock</th>
                                                                    <th>Qty</th>
                                                                    @* <th>No.Of.Pages</th>*@
                                                                    <th>Rate</th>
                                                                    <th>Amount</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks">
                                                                @{

                                                                    int p = 0;
                                                                     

                                                                    foreach (var item in Model.packlst.ToList())
                                                                    {
                                                                        <tr id="trBook@(p)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.packlst[p].ItemId, Model.packlst[p].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlPackItem" + p, style = "width: 200px;", onchange = "changeItemDeatils(this.value," + p + ")" })
                                                                                @Html.HiddenFor(o => o.packlst[p].saveItemId)
                                                                                
                                                                               

                                                                            </td>
                                                                         

                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.packlst[p].Unit, new { @id = "txtUnit" + p, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.packlst[p].ConFac, new { @id = "txtConFac" + p, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                            </td>
                                                                             
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.packlst[p].stock, new { @id = "txtstock" + p, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + p + ")",@readonly="readonly" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.packlst[p].Quantity, new { @id = "txtQuantity" + p, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + p + ")" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.packlst[p].rate, new { @id = "txtrate" + p, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + p + ")" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.packlst[p].Isvalid, new { @id = "Isvalid" + p })
                                                                              

                                                                                @Html.TextBoxFor(o => o.packlst[p].Amount, new { @id = "txtAmount" + p, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @readonly = "readonly", @onkeyup = "changeQty(this," + p + ")" })
                                                                            </td>


                                                                            <td>
                                                                                @Html.HiddenFor(o => o.packlst[p].Isvalid, new { @id = "Isvalid" + p })
                                                                                <img onclick="removeRow(@(p));" src="../Images/delete.png" style="cursor:pointer" /> <input name="SCDIlst.Index" type="hidden" value="@(p)" />
                                                                            </td>
                                                                        </tr>
                                                                        p = p + 1;
                                                                        

                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                        @*   </div>
                                                    </div>
                                                    </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="tab-pane " id="tab-1">
                                            <!-- 1st tab  -->
                                            <div style="height:30px;"></div>


                                            <div class="row">
                                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                    <table class="table table-striped table-hover" id="dataTable1">
                                                        <thead>
                                                            <tr>

                                                                <th>Item ID</th>
                                                                 <th></th>
                                                                <th>Unit</th>
                                                                @*   <th> ConFactor</th>*@
                                                                @* <th> Drums Desc </th>*@
                                                                <th>Qty</th>
                                                                <th>Rate</th>
                                                                <th>Amount</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbBooks1">

                                                            @{

                                                                int i = 0;


                                                                foreach (var item in Model.SCDIlst.ToList())
                                                                {
                                                                    <tr id="trBook1@(i)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                        <td>

                                                                            @Html.DisplayFor(o => o.SCDIlst[i].ItemId)
                                                                            @Html.HiddenFor(o => o.SCDIlst[i].item)
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].detid)
                                                                        </td>
                                                                      

                                                                                <td>
                                                                                    <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ListSubContractDrumSelection", "SubContractingDC",new{@id=item.detid} )" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' /></a></div> @Html.HiddenFor(o => o.SCDIlst[i].DrumIds, new { @id = "hddrumid" + i })
                                                                                </td>
                                                                          

                                                                            <td>

                                                                            @Html.DisplayFor(o => o.SCDIlst[i].Unit)
                                                                        </td>

                                                                        <td>

                                                                            @Html.DisplayFor(o => o.SCDIlst[i].Quantity)
                                                                            @Html.HiddenFor(o => o.SCDIlst[i].Quantity)
                                                                        </td>
                                                                        <td>

                                                                            @Html.DisplayFor(o => o.SCDIlst[i].rate)
                                                                            @Html.HiddenFor(o => o.SCDIlst[i].rate)
                                                                        </td>
                                                                        <td>

                                                                            @Html.DisplayFor(o => o.SCDIlst[i].Amount)
                                                                            @Html.HiddenFor(o => o.SCDIlst[i].Amount)
                                                                        </td>
                                                                    </tr>
                                                                    i = i + 1;


                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>
                                            <!-- 1st tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <!-- 2nd tab  -->
                                            <div style="height:30px;"></div>


                                            <div class="row">
                                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                    <table class="table table-striped table-hover" id="dataTable2">
                                                        <thead>
                                                            <tr>

                                                                <th>Exp.Rec.Item</th>
                                                                <th>Unit</th>
                                                                @* <th> Con.Factor</th>*@
                                                                <th>Exp.Rec.Qty</th>
                                                                <th>Rate</th>
                                                                <th>Amount</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbBooks2">

                                                            @{

                                                                int j = 0;

                                                                foreach (var item in Model.RECDlst.ToList())
                                                                {
                                                                    <tr id="trBook2@(j)" class="chkitemlst2" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                        <td>
                                                                            @Html.DisplayFor(o => o.RECDlst[j].ItemId)
                                                                            @Html.HiddenFor(o => o.RECDlst[j].item)
                                                                                @Html.HiddenFor(o => o.RECDlst[j].detid)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(o => o.RECDlst[j].Unit)

                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(o => o.RECDlst[j].Quantity)
                                                                                @Html.HiddenFor(o => o.RECDlst[j].Quantity)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(o => o.RECDlst[j].rate)
                                                                            @Html.HiddenFor(o => o.RECDlst[j].rate)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(o => o.RECDlst[j].Amount)
                                                                            @Html.HiddenFor(o => o.RECDlst[j].Amount)
                                                                        </td>


                                                                    </tr>

                                                                    j = j + 1;

                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <!-- 2nd tab  -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div style="height:30px;"></div>

                        <div class="row">

                           
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">Total Qty<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.TotalQty)
                                        @Html.HiddenFor(C => C.TotalQty)
                                    </div>
                                </div>
                            </div>
                     
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br> <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Narration)
                                        @Html.HiddenFor(C => C.Narration)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18" onClick="window.parent.jQuery.fancybox.close();">Supmit</button>

                        <input type="button" class="btn btn-danger" value="Close" onclick="window.parent.jQuery.fancybox.close();" />
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    })
     $(function () {
        $('._select').select2();
    });

     function changeItemDeatils(ItemId, i) {
        var loc = document.getElementById("ddlLocation").value;
        $.ajax({
            url: 'GetPackItemDetail',
            data: { "ItemId": ItemId, "loc": loc },
            type: "GET",
            success: function (result) {
                 
                document.getElementById("txtUnit" + i).value = result.unit;
                document.getElementById("txtConFac" + i).value = result.cf;
                document.getElementById("txtrate" + i).value = result.price;
                
                 
                document.getElementById("txtstock" + i).value = result.stock;
                },
            error: function () {
                alert("Data Not Found");
            }
           
        });

         
    }
     function changeQty(_this, i) {
        try {
    @* var GTot = 0;*@
                var j = 0;
            var qty = 0;
            var tot = 0;
    @* var totfrieght = 0;*@

            var totamt = 0;
           @* var totqtyamount = 0;*@
            var stock = document.getElementById("txtstock" + i).value;
            var qty = document.getElementById("txtQuantity" + i).value;
            var up = document.getElementById("txtrate" + i).value;
            var CF = document.getElementById("txtConFac" + i).value;
    

                if (qty == "")
                qty = 0;

          

                if (up == "")
                    up = 0;

                if (CF == "")
                    CF = 1;

    
                    if(eval(qty)>eval(stock))
                    {
                        alert("qty is Greaterthen Stock");
                        qty=0;
                          document.getElementById("txtQuantity" + i).value =0;
                           document.getElementById("txtAmount" + i).value =0;

                    }
                    else
                    {
                    var tot = eval(qty) * eval(up) * eval(CF);
                document.getElementById("txtAmount" + i).value = tot.toFixed(2);
                    }

     
            
           

         
         
    
        }
        catch (ex) {
            alert(ex.message);
        }
    }

     function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetPackItemJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

    @*  var ItemGrp = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='Depotlst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";*@

               var Item = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='SCDIlst[" + index + "].ItemId' onchange = 'changeItemDeatils(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

 
        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='SCDIlst[" + index + "].Unit'  style='width: 80px;' type='text'  readonly='True' /><input class='form-control' id='txtgroup" + index + "' name='SCDIlst[" + index + "].group' type='hidden' /><input class='form-control' id='dqty" + index + "' name='SCDIlst[" + index + "].dqty' type='hidden' /><input class='form-control' id='lot" + index + "' name='SCDIlst[" + index + "].Lotno' type='hidden' /><input class='form-control' id='drate" + index + "' name='SCDIlst[" + index + "].drate' type='hidden' /></td>";

        var ConFac = "<td><input class='form-control' id='txtConFac" + index + "' name='SCDIlst[" + index + "].ConFac'  style='width: 80px;' type='text' readonly='True'  /></td>";

 
        var Stock = "<td><input class='form-control' id='txtstock" + index + "' name='SCDIlst[" + index + "].stock'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text'   onchange = 'changeQty(this.value," + index + ")' readonly='True' /></td>";
        var Quantity = "<td><input class='form-control' id='txtQuantity" + index + "' name='SCDIlst[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text'   onchange = 'changeQty(this.value," + index + ")' /></td>";

        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='SCDIlst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='0' onkeyup = 'changeQty(this.value," + index + ")'/></td>";

        var Amount = "<td><input class='form-control' id='txtAmount" + index + "' name='SCDIlst[" + index + "].Amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='0' readonly='True' /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='SCDIlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='SCDIlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Item + Unit + ConFac + Stock + Quantity + rate + Amount + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

       
        $(function () {
            $('._select').select2();
        });
    }
     function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
</script>

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
           
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }

    </script>