@model Arasan.Models.SubContractingDC
@{
    ViewData["Title"] = "Sub Contracting DC";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong> Sub Contracting DC</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Sub Contracting DC</h5>
                    <hr>
                    @using (Html.BeginForm("SubContractingDC", "SubContractingDC", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory">*</label></label>

                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Location, Model.Loc," -- Please Select -- ", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Doc No<label class="mandatory">*</label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1 ,@readonly=true})
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />    <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true  })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Party ID<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Supplier, Model.Suplst," -- Please Select -- ", new { @id = "ddlSupplier", @Class = "form-control _select", @TabIndex = 1 ,@onchange="changeItem(this.value)"})
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Add 1<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Add1, new { @id = "txtAdd1", @class = "form-control", @TabIndex = 1 ,@readonly=true})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Add 2<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Add2, new { @id = "txtAdd2", @class = "form-control", @TabIndex = 1 ,@readonly=true})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.City, new { @id = "txtCity", @class = "form-control", @TabIndex = 1 ,@readonly=true})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Through<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Through, new { @id = "txtThrough", @class = "form-control", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Conversion Details</a></li>
                                            <li><a href="#tab-2" data-toggle="tab">Exp.Receipt Details</a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <!-- 1st tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <table class="table table-striped table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>

                                                                    <th>Item ID</th>
                                                                    <th></th>
                                                                    <th>Unit</th>
                                                                    @* <th>CL.Stock</th>*@
                                                                    <th> ConFactor</th>
                                                                    <th> Drums Desc </th>
                                                                    <th>Stock</th>
                                                                    <th>Qty</th>
                                                                    @* <th>No.Of.Pages</th>*@
                                                                    <th>Rate</th>
                                                                    <th>Amount</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks">
                                                                @{

                                                                    int i = 0;
                                                                    int j = 1;

                                                                    foreach (var item in Model.SCDIlst.ToList())
                                                                    {
                                                                        <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.SCDIlst[i].ItemId, Model.SCDIlst[i].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlItem" + i, style = "width: 200px;", onchange = "changeItemDeatils(this.value," + i + ")" })
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].saveItemId)
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].group,new{@id="txtgroup" + i})
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].dqty,new{@id="dqty" + i})
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].drate,new{@id="drate" + i})
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].Lotno, new { @id = "lotno" + i })
                                                                               

                                                                            </td>
                                                                         
                                                                             <td>
                                                                                <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("SubContractDrumSelection", "SubContractingDC")" class='fancybox' data-fancybox-type='iframe' id="hdrumselection@(i)"><img src='../Images/view_icon.png' id="im" /></a></div> @Html.HiddenFor(o => o.SCDIlst[i].DrumIds, new { @id = "hddrumid" + i }) @Html.HiddenFor(o => o.SCDIlst[i].invid, new { @id = "invid" + i })
                                                                            </td>
                                                                            

                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].Unit, new { @id = "txtUnit" + i, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].ConFac, new { @id = "txtConFac" + i, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].Drumsdesc, new { @id = "txtDrumsdesc" + i, @class = "form-control", style = "width: 150px;", @readonly = "readonly"})

                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].stock, new { @id = "txtstock" + i, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + i + ")" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].Quantity, new { @id = "txtQuantity" + i, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + i + ")" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].rate, new { @id = "txtrate" + i, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeQty(this," + i + ")" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                              

                                                                                @Html.TextBoxFor(o => o.SCDIlst[i].Amount, new { @id = "txtAmount" + i, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @readonly = "readonly", @onkeyup = "changeQty(this," + i + ")" })
                                                                            </td>


                                                                            <td>
                                                                                @Html.HiddenFor(o => o.SCDIlst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="SCDIlst.Index" type="hidden" value="@(i)" />
                                                                            </td>
                                                                        </tr>
                                                                        i = i + 1;
                                                                        j = j + 1;

                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                        @*   </div>
                                                    </div>
                                                    </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 1st tab  -->
                                            @* </div>*@
                                            @*<div class="tab-content">*@
                                            <div class="tab-pane" id="tab-2">
                                                <!-- 2nd tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                            <table class="table table-striped table-hover" id="dataTable1">
                                                                <thead>
                                                                    <tr>
                                                                        @*<th> S. No. </th>
                                                                    <th>Serial.No</th>*@
                                                                        <th>Exp.Rec.Item</th>
                                                                        <th>Unit</th>
                                                                        <th> Con.Factor</th>
                                                                        <th>Exp.Rec.Qty</th>
                                                                        <th>Rate</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbBooks1">
                                                                    @{

                                                                        int a = 0;
                                                                        int b = 1;

                                                                        foreach (var item in Model.RECDlst.ToList())
                                                                        {
                                                                            <tr id="trBook1@(i)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                                <td>
                                                                                    @Html.DropDownListFor(o => o.RECDlst[a].ItemId, Model.RECDlst[a].Itemlist, "Please Select", new { @class = "form-control _select newcss", @id = "ddlPartyItem" + a, style = "width: 200px;", onchange = "changeReceiptDetailItem(this.value," + a + ")" })
                                                                                    @Html.HiddenFor(o => o.RECDlst[a].saveItemId)

                                                                                </td>

                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.RECDlst[a].Unit, new { @id = "UnitID" + a, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.RECDlst[a].ConFac, new { @id = "ConFac" + a, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.RECDlst[a].Quantity, new { @id = "txtQty" + a, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeReciptQty(this," + a + ")"})
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.RECDlst[a].rate, new { @id = "Rate" + a, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @onkeyup = "changeReciptQty(this," + a + ")" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.HiddenFor(o => o.RECDlst[a].Isvalid1, new { @id = "Isvalid1" + a })

                                                                                    @Html.TextBoxFor(o => o.RECDlst[a].Amount, new { @id = "txtamount" + a, @class = "form-control", style = "width: 80px;",onkeydown = "return isNumeric2(event.keyCode,this.value)", @readonly = "readonly", @onkeyup = "changeReciptQty(this," + a + ")" })
                                                                                </td>


                                                                                <td>
                                                                                    @Html.HiddenFor(o => o.RECDlst[a].Isvalid1, new { @id = "Isvalid1" + a })
                                                                                    <img onclick="removeRow1(@(a));" src="../Images/delete.png" style="cursor:pointer" /> <input name="RECDlst.Index" type="hidden" value="@(a)" />
                                                                                </td>
                                                                            </tr>
                                                                            a = a + 1;
                                                                            b = b + 1;

                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 2nd tab  -->
                                        </div>

                                        @*  </div>*@
                                    </div>

                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Entered, Model.assignList, new { @id = "ddlEntered", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Total Qty <label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.TotalQty, new { @id = "TotalQty", @class = "form-control", @TabIndex = 1, @readonly = true})
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Narration, new { @id = "txtNarration", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="submit">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(".chosen-select").chosen();
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(function () {
        $('._select').select2();
    });
    $(".chosen-select").chosen();
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function changeReceiptDetailItem(ItemId, a) {
        $.ajax({
            url: 'GetItemDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("UnitID" + a).value = result.unit;
                document.getElementById("ConFac" + a).value = result.cf;
                document.getElementById("Rate" + a).value = result.price;


            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
    function changeItem(ItemId) {
        $.ajax({
            url: 'GetPartyDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("txtAdd1").value = result.add1;
                document.getElementById("txtAdd2").value = result.add2;
                document.getElementById("txtCity").value = result.city;
            },
            error: function () {
                alert("Data Not Found");
            }
        });
        $.ajax({
            url: "GetItemJSON",
            type: "post",
            data: { 'ItemId': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                var i = 0;
                $('tr.chkitemlst1').each(function () {
                    if ($(this).css('display') !== 'none') {
                        PopulateDropDown("#ddlPartyItem" + i, response);
                        i += 1;
                    }
                });
            },
            error: function () {
                debugger;
                alert("Please Select Party");
            }
        });
    }
    function changeItemDeatils(ItemId, i) {
        var loc = document.getElementById("ddlLocation").value;
        $.ajax({
            url: 'GetItemDetail',
            data: { "ItemId": ItemId, "loc": loc },
            type: "GET",
            success: function (result) {
                 
                document.getElementById("txtUnit" + i).value = result.unit;
                document.getElementById("txtConFac" + i).value = result.cf;
                document.getElementById("txtrate" + i).value = result.price;
                
                document.getElementById("txtgroup" + i).value = result.group;
                document.getElementById("txtstock" + i).value = result.stock;
                },
            error: function () {
                alert("Data Not Found");
            }
           
        });

        var g = document.getElementById("txtgroup" + i).value;
       alert(g);
       @* if (g == "semi") {

            document.getElementById("im").style.display = "block";
        }
        else {
            document.getElementById("im").style.display = "none";
        }*@
        if (ItemId == "1") {
            document.getElementById("txtQuantity" + i).value = "1";

        }
        else {
            var url = "/SubContractingDC/SubContractDrumSelection?itemid=" + ItemId + "&rowid=" + i + "&loc="+ loc +"&type="+g+"";
            document.getElementById("hdrumselection" + i).href = url;
        }
    }

    function changeQty(_this, i) {
        try {
    @* var GTot = 0;*@
                var j = 0;
            var qty = 0;
            var tot = 0;
    @* var totfrieght = 0;*@

            var totamt = 0;
           @* var totqtyamount = 0;*@
            var stock = document.getElementById("txtstock" + i).value;
            var qty = document.getElementById("txtQuantity" + i).value;
            var up = document.getElementById("txtrate" + i).value;
            var CF = document.getElementById("txtConFac" + i).value;
    

                if (qty == "")
                qty = 0;

          

                if (up == "")
                    up = 0;

                if (CF == "")
                    CF = 1;

    
                    if(eval(qty)>eval(stock))
                    {
                        alert("qty is Greaterthen Stock");
                        qty=0;
                          document.getElementById("txtQuantity" + i).value =0;
                           document.getElementById("txtAmount" + i).value =0;

                    }
                    else
                    {
                    var tot = eval(qty) * eval(up) * eval(CF);
                document.getElementById("txtAmount" + i).value = tot.toFixed(2);
                    }

    

                    $('tr.chkitemlst').each(function () {
                        if ($(this).css('display') !== 'none') {

                            var itemid = $(this).find('#ddlItem' + j.toString()).val();
                            var amt = $(this).find('#txtAmount' + j.toString()).val();
                            if (amt == "")
                                amt = 0;

                            if (itemid == "1") {
                                totamt += eval(amt);
                            }
    

                        }
                        j += 1;
                    });
            
           var totqtyamount = 0;
            var qtyt = document.getElementById("txtQuantity" + i).value;
            var qtyt = 0;


            if (qtyt == "")
                qtyt = 0;

            $('tr.chkitemlst' + i).each(function () {
                if ($(this).css('display') !== 'none') {
                    if ($('#select' + i).prop('checked') == true) {
                        var qtyamount = $(this).find('#txtQuantity' + j.toString()).val();
                        alert(qtyamount);
                        if (qtyamount == "")
                            qtyamount = 0;

                        totqtyamount += eval(qtyamount);
                    }
                    j += 1;
                }


            });
            document.getElementById("TotalQty").value = totqtyamount.toFixed(2);
    @*var roundamount = Math.ceil(totamount);

                    var round = eval(roundamount) - eval(totamount);*@


                @*document.getElementById("TotalQty").value = totqtyamount.toFixed(2);*@

           @* }*@
        }
        catch (ex) {
            alert(ex.message);
        }
    }
    function changeReciptQty(_this, a) {
        try {
    @* var GTot = 0;*@
                        var j = 0;
            var qty = 0;
            var tot = 0;
    @* var totfrieght = 0;*@

                        var totamt = 0;
    @* var totamount = 0;*@
                            var qty = document.getElementById("txtQty" + a).value;
            var up = document.getElementById("Rate" + a).value;
            var CF = document.getElementById("ConFac" + a).value;
    

                        if (qty == "")
                qty = 0;



            if (up == "")
                up = 0;

            if (CF == "")
                CF = 1;

     
                            var tot = eval(qty) * eval(up) * eval(CF);
            document.getElementById("txtamount" + a).value = tot.toFixed(2);

    


                $('tr.chkitemlst').each(function () {
                    if ($(this).css('display') !== 'none') {

    @* var itemid = $(this).find('#ddlItem' + j.toString()).val();*@
                                var amt = $(this).find('#txtamount' + j.toString()).val();
                        if (amt == "")
                            amt = 0;

    @*if (itemid == "1") {*@
                            totamt += eval(amt);
    @*}*@
    @* totfrieght += eval(frieght);*@

    @*  var tamt = $(this).find('#txtTotalAmount' + j.toString()).val();
                            if (tamt == "")
                            tamt = 0;

                            totamount += eval(tamt);*@

                                          }
                    j += 1;
                });
     

                }
        catch (ex) {
            alert(ex.message);
        }
    }
    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }

    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }

    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

    @*  var ItemGrp = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='Depotlst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";*@

               var Item = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='SCDIlst[" + index + "].ItemId' onchange = 'changeItemDeatils(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

        var drum = "<td><div class='fa-hover col-md-2 col-sm-4'> <a href='/SubContractingDC/SubContractDrumSelection' class='fancybox' data-fancybox-type='iframe' id='hdrumselection" + index + "'><img src='../Images/view_icon.png' id='im' hidden></a></div> <input  id='hddrumid" + index + "' name='SCDIlst[" + index + "].DrumIds' type='hidden'> </td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='SCDIlst[" + index + "].Unit'  style='width: 80px;' type='text'  readonly='True' /><input class='form-control' id='txtgroup" + index + "' name='SCDIlst[" + index + "].group' type='hidden' /><input class='form-control' id='dqty" + index + "' name='SCDIlst[" + index + "].dqty' type='hidden' /><input class='form-control' id='lot" + index + "' name='SCDIlst[" + index + "].Lotno' type='hidden' /><input class='form-control' id='drate" + index + "' name='SCDIlst[" + index + "].drate' type='hidden' /></td>";

        var ConFac = "<td><input class='form-control' id='txtConFac" + index + "' name='SCDIlst[" + index + "].ConFac'  style='width: 80px;' type='text' readonly='True'  /></td>";

        var drumdesc = "<td><input class='form-control' id='txtDrumsdesc" + index + "' name='SCDIlst[" + index + "].Drumsdesc'  style='width: 150px;' type='text' /></td>";

        var Stock = "<td><input class='form-control' id='txtstock" + index + "' name='SCDIlst[" + index + "].stock'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text'   onchange = 'changeQty(this.value," + index + ")' readonly='True' /></td>";
        var Quantity = "<td><input class='form-control' id='txtQuantity" + index + "' name='SCDIlst[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text'   onchange = 'changeQty(this.value," + index + ")' /></td>";

        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='SCDIlst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='0' onkeyup = 'changeQty(this.value," + index + ")'/></td>";

        var Amount = "<td><input class='form-control' id='txtAmount" + index + "' name='SCDIlst[" + index + "].Amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='0' readonly='True' /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='SCDIlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='SCDIlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Item + drum + Unit + ConFac + drumdesc + Stock + Quantity + rate + Amount + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

        $(".chosen-select").chosen();
        $(function () {
            $('._select').select2();
        });
    }
    $(".chosen-select").chosen();
    function removeRow1(id) {
        var table = document.getElementById("dataTable1");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook1' + id);
        var j = 0;
        $('tr.chkitemlst1').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid1' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function AddRow1() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow1(opt);
            }
        })
    }
    function AppendRow1(opt) {
        var index = $("#tbBooks1").children("tr").length;

    @*  var ItemGrp = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='Depotlst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";*@

               var Item = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlPartyItem" + index + "' name='RECDlst[" + index + "].ItemId' onchange = 'changeReceiptDetailItem(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";


        var Unit = "<td><input class='form-control' id='UnitID" + index + "' name='RECDlst[" + index + "].Unit'  style='width: 80px;' type='text'  readonly='True' /></td>";

        var ConFac = "<td><input class='form-control' id='ConFac" + index + "' name='RECDlst[" + index + "].ConFac'  style='width: 80px;' type='text' readonly='True'  /></td>";

        var Quantity = "<td><input class='form-control' id='txtQty" + index + "' name='RECDlst[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='1' onchange = 'changeReciptQty(this.value," + index + ")' /></td>";

        var rate = "<td><input class='form-control' id='Rate" + index + "' name='RECDlst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text'  value='0' onkeyup = 'changeReciptQty(this.value," + index + ")'/></td>";

        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='RECDlst[" + index + "].Amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;' type='text' value='0' readonly='True' /></td>";

        var removeCell = "<td><input id='Isvalid1" + index + "' name='RECDlst[" + index + "].Isvalid1' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='RECDlst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + Item + Unit + ConFac + Quantity + rate + Amount + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks1").append(newRow);

        $(".chosen-select").chosen();
        $(function () {
            $('._select').select2();
        });
    }

</script>

<script>
  $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
                isValid = false;
                $(ddlBranch).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Branch");
                return false;
            }
            else {
                $(ddlBranch).css({
                    "border": "",
                    "background": ""
                });
            }
             if (document.getElementById("ddlLocation").value == "" || document.getElementById("ddlLocation").value == 0) {
                isValid = false;
                $(ddlLocation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Location ");
                return false;Center
            }
            else {
                $(ddlLocation).css({
                    "border": "",
                    "background": ""
                });
            }
         
            if (document.getElementById("Docdate").value == "") {
                isValid = false;
                $(Docdate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Date");
                return false;
            }
            else {
                $(Docdate).css({
                    "border": "",
                    "background": ""
                });
            }
             if (document.getElementById("ddlSupplier").value == "" || document.getElementById("ddlSupplier").value == 0) {
                isValid = false;
                $(ddlSupplier).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Party");
                return false;
            }
            else {
                $(ddlSupplier).css({
                    "border": "",
                    "background": ""
                });
            }
           
          
    
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>