@model Arasan.Models.ProcessMast

@{
    ViewData["Title"] = "Process";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Process </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Process</h5>
                    <hr>
                    @using (Html.BeginForm("ProcessMast", "ProcessMast", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div style="height:20px;"></div>

                            <div class="row">
                                @* <div class="col-md-6">
                            <div class="form-group">

                            <label for="inputName3" class="col-sm-4 control-label">Process ID<label class="mandatory">*</label></label>
                            <div class="col-sm-8">
                            @Html.TextBoxFor(C => C.ProcessMastId, new { @id = "txtProcessMastId", @class = "form-control", @TabIndex = 2 })<br>
                            @Html.HiddenFor(C => C.ID)
                            </div>
                            </div>
                            </div>*@

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Process Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ProcessMastName, new { @id = "txtProcessMastname", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">S No<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Sno, new { @id = "txtSno", @class = "form-control", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Batch (Y/N)<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">

                                                @Html.RadioButtonFor(C => C.Batch, "Y", new { @TabIndex = 2 })
                                                <label id="mt-radio">Yes</label>&emsp;
                                                @Html.RadioButtonFor(C => C.Batch, "N", new { @TabIndex = 3 })
                                                <label id="mt-radio">No</label>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">QC (Y/N)<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">

                                                @Html.RadioButtonFor(C => C.Qc, "Y", new { @TabIndex = 2 })
                                                <label id="mt-radio">Yes</label>&emsp;
                                                @Html.RadioButtonFor(C => C.Qc, "N", new { @TabIndex = 3 })
                                                <label id="mt-radio">No</label>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:20px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Prod Hour Type <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Prodhrtype, Model.Prodhrtypelst," -- Please Select -- ", new { @id = "ddlProdhrtype", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Cost <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Costtype, Model.Costtypelst," -- Please Select -- ", new { @id = "ddlCosttype", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>

                            <!--new table-->
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Process Details</a></li>
                                            <li><a href="#tab-2" data-toggle="tab">Workcenter Details</a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <!-- 1st tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <table class="table table-striped table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Parameters</th>
                                                                    <th>Unit</th>
                                                                    <th>Parameter Value</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks">
                                                                @{

                                                                    int i = 0;
                                                                    int j = 0;


                                                                    foreach (var item in Model.Prolst.ToList())
                                                                    {
                                                                        <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.Prolst[i].para, new { @id = "txtpara" + i, @class = "form-control", style = "width: 200px;" })

                                                                            </td>
                                                                            <td>


                                                                                @Html.DropDownListFor(o => o.Prolst[i].unit, Model.Prolst[i].ulst, " -- Please Select -- ", new { @id = "ddlUnitid", @Class = "form-control _select newcss", @TabIndex = 1 })

                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(o => o.Prolst[i].paraval, new { @id = "txtparaval" + i, @class = "form-control", style = "width: 150px;" })

                                                                            </td>
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.Prolst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Prolst.Index" type="hidden" value="@(i)" />
                                                                            </td>
                                                                        </tr>
                                                                        i = i + 1;
                                                                        j = j + 1;


                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                        @*   </div>
                                                    </div>
                                                    </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 1st tab  -->
                                            @* </div>*@
                                            @*<div class="tab-content">*@
                                            <div class="tab-pane" id="tab-2">
                                                <!-- 2nd tab  -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group">
                                                            <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                            <table class="table table-striped table-hover" id="dataTable1">
                                                                <thead>
                                                                    <tr>

                                                                        <th>Workcenter ID</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbBooks1">
                                                                    @{

                                                                        int a = 0;
                                                                        int b = 1;

                                                                        foreach (var item in Model.wclst.ToList())
                                                                        {
                                                                            <tr id="trBook1@(a)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                                <td>
                                                                                    @Html.DropDownListFor(o => o.wclst[a].wc, Model.wclst[a].wlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlwc" + a, style = "width: 200px;" })
                                                                                    @Html.HiddenFor(o => o.wclst[a].wc)

                                                                                </td>


                                                                                <td>
                                                                                    @Html.HiddenFor(o => o.wclst[a].Isvalid1, new { @id = "Isvalid1" + a })
                                                                                    <img onclick="removeRow1(@(a));" src="../Images/delete.png" style="cursor:pointer" /> <input name="wclst.Index" type="hidden" value="@(a)" />
                                                                                </td>
                                                                            </tr>
                                                                            a = a + 1;
                                                                            b = b + 1;

                                                                        }
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- 2nd tab  -->
                                        </div>

                                        @*  </div>*@
                                    </div>

                                </div>
                            </div>
                            <!--new table  end-->


                            <div class="col-lg-10"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListProcessMast", "ProcessMast")">Cancel</a>

                        </form>
                    }
                </div>

            </div>

        </div>

    </div>

    <script>

            $(function () {
                $('._select').select2();
            });


        function PopulateDropDown(dropDownId, list) {
            //alert(list);
            $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                });
            }
            $(dropDownId).trigger("liszt:updated");
        }
        $(".chosen-select").chosen();
        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                var isValid = true;
                if (document.getElementById("txtProcessMastname").value == "") {
                    isValid = false;
                    $(txtProcessMastname).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });

                    alert("Please enter Process name");
                    return false;
                }
                else {
                    $(txtProcessMastname).css({
                        "border": "",
                        "background": ""
                    });
                }

                if (document.getElementById("ddlProdhrtype").value == "" || document.getElementById("ddlProdhrtype").value == 0) {
                    isValid = false;
                    $(ddlProdhrtype).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });

                    alert("Please choose Prod Hr type");
                    return false;
                }
                else {
                    $(ddlProdhrtype).css({
                        "border": "",
                        "background": ""
                    });
                }

                if (document.getElementById("ddlCosttype").value == "" || document.getElementById("ddlCosttype").value == 0) {
                    isValid = false;
                    $(ddlCosttype).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });

                    alert("Please choose Cost");
                    return false;
                }
                else {
                    $(ddlCosttype).css({
                        "border": "",
                        "background": ""
                    });
                }



            });

        });


        function AddRow() {
            var opt = "";
            $.ajax({
                type: "POST",
                url: 'GetItemJSON',
                success: function (data) {

                    $.each(data, function () {
                        opt += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    AppendRow(opt);
                }
            })
        }
        function AppendRow(opt) {
            var index = $("#tbBooks").children("tr").length;

            var Parameter = "<td><input class='form-control' id='txtpara" + index + "' name='Prolst[" + index + "].para'  style='width: 200px;' type='text' /></td>";

            var unit = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlUnitid" + index + "' name='Prolst[" + index + "].unit'><option value=''>Please select</option>" + opt + "</select></td>";

            var ParameterValue = "<td><input class='form-control' id='txtparaval" + index + "' name='Prolst[" + index + "].paraval'  style='width: 150px;' type='text' /></td>";

            var removeCell = "<td><input id='Isvalid" + index + "' name='Prolst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Prolst.Index' type='hidden' value='" + index + "'  /></td>";

            var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Parameter + unit + ParameterValue + removeCell + "</tr>";
            //alert(Packing);
            $("#tbBooks").append(newRow);

            $(".chosen-select").chosen();
            $(function () {
                $('._select').select2();
            });
        }
        function removeRow(id) {
            var table = document.getElementById("dataTable");
            var rowCount = table.rows.length;
            var row = document.getElementById('trBook' + id);
            var j = 0;
            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {
                    j += 1;
                }
            });
            if (j > 1) {
                row.style.display = "none";
                document.getElementById('Isvalid' + id).value = "N";
            }
            else {
                alert("Cannot delete all the rows.")
            }
        }

        function AddRow1() {
            var opt = "";
            $.ajax({
                type: "POST",
                url: 'GetItemJSON1',
                success: function (data) {

                    $.each(data, function () {
                        opt += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    AppendRow1(opt);
                }
            })
        }
        function AppendRow1(opt) {
            var index = $("#tbBooks1").children("tr").length;

            var wc = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlwc" + index + "' name='wclst[" + index + "].wc'><option value=''>Please select</option>" + opt + "</select></td>";


            var removeCell = "<td><input id='Isvalid1" + index + "' name='wclst[" + index + "].Isvalid1' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='wclst.Index' type='hidden' value='" + index + "'  /></td>";

            var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + wc + removeCell + "</tr>";
            //alert(Packing);
            $("#tbBooks1").append(newRow);

            $(".chosen-select").chosen();
            $(function () {
                $('._select').select2();
            });
        }
        function removeRow1(id) {
            var table = document.getElementById("dataTable1");
            var rowCount = table.rows.length;
            var row = document.getElementById('trBook1' + id);
            var j = 0;
            $('tr.chkitemlst1').each(function () {
                if ($(this).css('display') !== 'none') {
                    j += 1;
                }
            });
            if (j > 1) {
                row.style.display = "none";
                document.getElementById('Isvalid1' + id).value = "N";
            }
            else {
                alert("Cannot delete all the rows.")
            }
        }
    </script>
