@model Arasan.Models.AccGroup
@{
    ViewData["Title"] = "Account Group";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Account</a> </li>
            <li class="active"> <strong>  Account Group</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Account Group </h5>
                    <hr>
                    @using (Html.BeginForm("AccountGroup", "AccGroup", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control chosen-select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                               

                          
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Document ID<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1,@maxlength=10 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />     <label for="inputName3" class="col-sm-4 control-label">CPM NAME<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.CPMName, new { @id = "txtCPMName", @class = "form-control", @TabIndex = 1 }) <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                    <br />     <label for="inputName3" class="col-sm-4 control-label">PM Name<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.PmName, new { @id = "txtPmName", @class = "form-control", @TabIndex = 1 ,onkeydown = "return isNumeric2(event.keyCode,this.value)" })
                                        <br />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">UNIQUE ID<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Unique, new { @id = "txtUnique", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                        <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                        <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListAccountGroup", "AccGroup")'">Cancel</button>

                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(".chosen-select").chosen();
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtDocId").value == "") {
                isValid = false;
                $(txtDocId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Doc No");
                return false;
            }
            else {
                $(txtDocId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtCPMName").value == "") {
                isValid = false;
                $(txtCPMName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select CPM Name");
                return false;
            }
            else {
                $(txtCPMName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtUnique").value == "") {
                isValid = false;
                $(txtUnique).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Unique Id");
                return false;
            }
            else {
                $(txtUnique).css({
                    "border": "",
                    "background": ""
                });
            }

        });

    });
</script>