@model Arasan.Models.PyroProductionentryDet
@{
    ViewData["Title"] = "Production  Entry";
    string tag = ViewContext.HttpContext.Request.Query["tag"];
    string shift = ViewContext.HttpContext.Request.Query["shift"];
  
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Production  Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Production Entry</h5>
                    <hr>
                    @using (Html.BeginForm("PyroProduction", "PyroProduction", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                             <form>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Supervisor<label class="mandatory"></label></label>
                                            <div class="col-sm-8">
                                                <h4>@Html.DisplayFor(C => C.Eng)</h4>
                                                @Html.HiddenFor(C => C.Eng,new{@id="Eng"})
                                                @Html.HiddenFor(C => C.super)
                                                @Html.HiddenFor(C => C.Branch,new{@id="hdbrch"})

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Work Center <label class="mandatory"></label></label>
                                            <div class="col-sm-8">
                                                @Html.HiddenFor(C => C.APID)
                                                @Html.HiddenFor(C => C.workid,new{@id="WorkCenterid"})
                                                @* @Html.TextBoxFor(C => C.Location, new { @id = "txtLocation", @class = "form-control", @TabIndex = 1,@readonly=true })*@
                                                @Html.DropDownListFor(C => C.Location, Model.worklst," -- Please Select -- ", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1,@onchange="changesch(this.value)" })
                                                <br>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Doc Id<label class="mandatory"> </label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1,@readonly="readonly" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory">*</label></label>
                                            <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                @Html.TextBoxFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName3" class="col-sm-4 control-label">Prod.Sch.No<label class="mandatory">*</label></label>

                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(C => C.ProdSchNo, Model.ProdSchlst," -- Please Select -- ", new { @id = "ddlProdSchNo", @Class = "form-control _select", @TabIndex = 1,@onchange="changeschQty(this.value)" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName3" class="col-sm-4 control-label">Processer ID<label class="Mandatory"></label></label>

                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(C => C.ProcessId, Model.Processlst," -- Please Select -- ", new { @id = "ddlProcess", @Class = "form-control _select", @TabIndex = 1 ,@onchange="changeproc(this.value)"})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">ProcLot Y/N<label class="Mandatory"></label></label>
                                            <div class="col-sm-8">
                                                <div class="input-group">

                                                    @Html.RadioButtonFor(C => C.ProdLog, "Y", new { @TabIndex = 2 })
                                                    <label id="mt-radio">YES</label>&emsp;
                                                    @Html.RadioButtonFor(C => C.ProdLog, "N", new { @TabIndex = 3 })
                                                    <label id="mt-radio">NO</label>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Process Lot No<label class="Mandatory"></label></label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(C => C.ProcessLot, Model.Plotlst," -- Please Select -- ", new { @id = "ddlProcessLot", @Class = "form-control _select", @TabIndex = 1 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* <div id="divshiftgenerate">*@
                                <div style="height:15px;"></div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName3" class="col-sm-4 control-label">Shift<label class="mandatory"> *</label></label>

                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(C => C.Shift, Model.Shiftlst," -- Please Select -- ", new { @id = "ddlShift", @Class = "form-control _select", @TabIndex = 1 ,onchange = "changeshift(this.value);"})
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="inputName3" class="col-sm-4 control-label">Shift Details<label class="Mandatory"></label></label>

                                            <div class="col-sm-8">
                                                <span style="color:green;font-size: 14px;"> <label id="shiftdetails1"></label></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Sch Qty<label class="mandatory"> *</label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.SchQty, new { @id = "txtSchQty", @class = "form-control", @TabIndex = 1 ,onkeydown = "return isNumeric2(event.keyCode,this.value)"})
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Prod Qty<label class="mandatory"> *</label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.ProdQty, new { @id = "txtProdQty", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)" })
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                <div class="col-lg-10"></div>
                                @*<button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" >start</button>*@
                                <button type="button" class="btn aqua m-t-xs bottom15-xs" id="btnSave" onclick="insertbasicdetails()">Start</button>
                                <button class="btn btn-danger" type="button" causesvalidation="false" id="btnCansel" onclick="location.href='@Url.Action("ListPyroProduction", "PyroProduction")'">Cancel</button>

                            
                           
</form>
 }
                
            </div>
        </div>`

    </div>
</div>

</div>
<script>
    $(function () {
        $('._select').select2();
        var shift = '@ViewBag.shift';
      changeshift(shift);
     
    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function changeshift(Shiftid) {
        $.ajax({
            url: 'GetshiftDetail',
            data: { "Shiftid": Shiftid },
            type: "GET",
            success: function (result) {
@*                alert(result);
*@                document.getElementById("shiftdetails").innerHTML = result.fromtime + " to " + result.totime + "  Total Hours : " + result.tothrs;
            },
            error: function () {
                alert("Data Not Found");
            }
        });


         

    }
   function changeshift1(Shiftid) {
        var wcid=document.getElementById("ddlLocation").value;
        $.ajax({
            url: 'GetWcRec',
            data: { "wcid": wcid ,"shift" : Shiftid},
            type: "POST",
            success: function (result) {
               if (result.res == "No") {
                    window.location.href = "PyroProduction?tag="+ wcid + "&shift=" + Shiftid;
               }
               else{
                   window.location.href = "PyroProduction?id=" +result.url;
               }

            },
            error: function () {

            }
        });

    }
    function changesch(schid) {
        $.ajax({
            url: 'Getsch',
            data: { "schid": schid },
            type: "GET",
            success: function (result) {


                var $procde = $("#ddlProcess").select2();
                $procde.val(result.proc).trigger("change");
                var wcid = document.getElementById("WorkCenterid").value;
                var procid = document.getElementById("ddlProcess").value;
                $.ajax({
                    url: "GetPLotJSON",
                    type: "post",
                    data: { 'procid': procid, 'schid': schid },
                    cache: false,
                    success: function (response) {
                        var newlist;
                        newlist = response.Ilst;
                        PopulateDropDown("#ddlProcessLot", response);
                    },
                    error: function () {
                        debugger;
                        alert("Please Select Work Center ");
                    }
                });
                $.ajax({
                    url: "GetPSchedJSON",
                    type: "post",
                    data: { 'schid': schid },
                    cache: false,
                    success: function (response) {
                        var newlist;
                        newlist = response.Ilst;
                        PopulateDropDown("#ddlProdSchNo", response);
                    },
                    error: function () {
                        debugger;
                        alert("Please Select Work Center ");
                    }
                });
            },
            error: function () {
                alert("Data Not Found");
            }
        });


    }
    function changeschQty(schid) {
        $.ajax({
            url: 'Getschqty',
            data: { "schid": schid },
            type: "GET",
            success: function (result) {


                document.getElementById("txtSchQty").value = result.schqty;
                document.getElementById("txtProdQty").value = result.prodqty;


            },
            error: function () {
                alert("Data Not Found");
            }
        });


    }
    function changeproc(procid) {
        var wcid = document.getElementById("WorkCenterid").value;
        $.ajax({
            url: "GetPLotJSON",
            type: "post",
            data: { 'procid': procid, 'wcid': wcid },
            cache: false,
            success: function (response) {
                var newlist;
                newlist = response.Ilst;
                PopulateDropDown("#ddlProcessLot", response);
            },
            error: function () {
                debugger;
                alert("Please Select Item ");
            }
        });
    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    function insertbasicdetails() {
        var isValid = true;

        if (document.getElementById("ddlProdSchNo").value == "" || document.getElementById("ddlProdSchNo").value == 0) {
            isValid = false;
            $(ddlProdSchNo).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select Schedule No.");
            return false;
        }
        else {
            $(ddlProdSchNo).css({
                "border": "",
                "background": ""
            });
        }

        if (document.getElementById("ddlShift").value == "" || document.getElementById("ddlShift").value == 0) {
            isValid = false;
            $(ddlShift).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select Shift");
            return false;
        }
        else {
            $(ddlShift).css({
                "border": "",
                "background": ""
            });
        }

        if (isValid == false) {
            e.preventDefault();
        } else {
            var schno = document.getElementById("ddlProdSchNo").value;
            var docid = document.getElementById("txtDocId").value;
            var docdate = document.getElementById("Docdate").value;
            var loc = ""; //document.getElementById("ddlLocation").value;
            var proc = document.getElementById("ddlProcess").value;
            var shift = document.getElementById("ddlShift").value;
            var schqty = document.getElementById("txtSchQty").value;
            var prodqty = document.getElementById("txtProdQty").value;
            var wcid = document.getElementById("ddlLocation").value;
            var proclot = document.getElementById("ddlProcessLot").value;

            var brid = document.getElementById("hdbrch").value;
            var eng = document.getElementById("Eng").value;
            $.ajax({
                url: 'SaveOutDetail',
                data: { "schno": schno, "docid": docid, "docdate": docdate, "loc": loc, "proc": proc, "shift": shift, "schqty": schqty, "prodqty": prodqty, "wcid": wcid, "proclot": proclot, "brid": brid, "eng": eng },
                type: "POST",
                success: function (result) {
                    var pid = result.pid;
                    window.location.href = "PyroProductionentry?tag=2&id=" + pid;
                },
                error: function () {

                }
            });
            // window.location.reload();
            //window.location.href = "PyroProductionentry?tag=2";
        }

    }
</script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>

