@model Arasan.Models.PyroProductionentryDet
@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "PyroProduction";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<style>

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Pyro Production Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Pyro Production Entry</h5>
                    <hr>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.HiddenFor(C => C.ID)
                                        @Html.DisplayFor(C => C.Location)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />  <label for="inputName3" class="col-sm-4 control-label">Supervisor<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Eng)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />   <label for="inputName3" class="col-sm-4 control-label">DOC ID<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DocId)
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Docdate)
                                    </div>

                                </div>

                            </div>

                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Shift<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Shift)
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Shift Details<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <span style="color:green;font-size: 14px;"> <label id="shiftdetails"></label></span><br />

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div style="height:30px;"></div>
                        <div id="divshiftrowdetail">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Input Details
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="tabs-container">
                                                <ul class="nav nav-tabs">
                                                    <li class="active" id="liinp"><a href="#tab-1" data-toggle="tab" id="ainp">Input Detail</a></li>
                                                    <li id="liinpC"> <a href="#tab-2" data-toggle="tab" id="ainpc">Consumables </a></li>

                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab-1">
                                                        <!-- 1st tab  -->

                                                        <div class="row">
                                                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">

                                                                <table class="table table-striped table-hover" id="dataTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Item ID</th>
                                                                            <th>Bin ID</th>
                                                                            <th>Drum No</th>

                                                                            <th> Batch No </th>
                                                                            <th> Charging Time </th>

                                                                            <th> Stock</th>
                                                                            <th> Issue Qty </th>
                                                                           
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbBooks">
                                                                        @{

                                                                            int i = 0;
                                                                            foreach (var item in Model.inplst.ToList())
                                                                            {
                                                                                <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                                    <td>

                                                                                        @Html.DisplayFor(o => o.inplst[i].ItemId)

                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].BinId)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].drumno)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].batchno)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].Time)
                                                                                    </td>

                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].StockAvailable)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.inplst[i].IssueQty)
                                                                                    </td>


                                                                                </tr>

                                                                                i = i + 1;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>

                                                        <!-- 1st tab  -->
                                                    </div>
                                                    <div class="tab-pane" id="tab-2">
                                                        <!-- 2nd tab  -->
                                                        <div class="row">



                                                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">
                                                                <table class="table table-striped table-hover" id="dataTableinc">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Item Id</th>
                                                                            <th> Unit </th>
                                                                            <th> Bin Id </th>
                                                                            <th> Stock </th>
                                                                            <th>Cons.Qty  </th>
                                                                            <th>Used Qty</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbBooksinc">
                                                                        @{

                                                                            int j = 0;
                                                                            foreach (var item in Model.Binconslst.ToList())
                                                                            {
                                                                                <tr id="trBookinc@(j)" class="chkitemlstinc" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].ItemId)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].consunit)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].BinId)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].ConsStock)

                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].consQty)
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.DisplayFor(o => o.Binconslst[j].Qty)
                                                                                    </td>


                                                                                </tr>

                                                                                j = j + 1;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>


                                                        </div>

                                                        <!-- 2nd tab  -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                    Output Details
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">

                                            <div class="panel-body">

                                                <div class="row">



                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">
                                                        <table class="table table-striped table-hover" id="dataTableout">
                                                            <thead>
                                                                <tr>
                                                                    <th>Item Id</th>
                                                                    <th> Drum  </th>
                                                                    <th> Bin Id </th>
                                                                    <th>From Time </th>
                                                                    <th>To Time </th>
                                                                    <th> Qty </th>

                                                                    <th>Test Result</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooksout">
                                                                @{

                                                                    int m = 0;
                                                                    foreach (var item in Model.outlst.ToList())
                                                                    {
                                                                        <tr id="trBookout@(m)" class="chkitemlstout" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].ItemId)

                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].drumno)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].BinId)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].FromTime)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].ToTime)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].OutputQty)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.outlst[m].Result)
                                                                            </td>



                                                                        </tr>

                                                                        m = m + 1;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Employee Details
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">


                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">

                                                        <table class="table table-striped table-hover" id="dataTableEmp">

                                                            <thead>
                                                                <tr>

                                                                    <th>Emp Name</th>
                                                                    <th>Emp Code</th>
                                                                    <th>Department </th>
                                                                    <th> Start Date </th>
                                                                    <th> Start Time </th>
                                                                    <th> End Date </th>
                                                                    <th> End Time </th>
                                                                    <th>OT Hrs </th>
                                                                    <th>ET Others </th>
                                                                    <th>Normel Hour </th>
                                                                    <th>Nature Of Work </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooksEmp">
                                                                @{

                                                                    int k = 0;
                                                                    foreach (var item in Model.EmplLst.ToList())
                                                                    {
                                                                        <tr id="trBookEmp@(k)" class="chkEmpitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">



                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].Employee)

                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].EmpCode)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].Depart)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].StartDate)

                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].StartTime)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].EndDate)

                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].EndTime)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].OTHrs)
                                                                            </td>
                                                                            @* <td>@Html.TextBoxFor(o => o.inputlst[i].MillLoadAdd, new { @id = "txtMillLoadAdd" + i, @class = "form-control", style = "width: 100px;"})</td>*@
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].ETOther)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].Normal)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.EmplLst[k].NOW)
                                                                            </td>


                                                                        </tr>

                                                                        k = k + 1;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Breakdown Details
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <!--    Panel 4 Start  -->


                                                <div class="row">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">

                                                        <table class="table table-striped table-hover" id="dataTableBreak">
                                                            <thead>
                                                                <tr>

                                                                    <th>Machine Code</th>
                                                                    <th>Description</th>
                                                                    <th>Dept.Type </th>
                                                                    <th> Maint.Type </th>
                                                                    <th> From Time </th>

                                                                    <th> To Time </th>
                                                                    <th>P/B </th>
                                                                    <th>Allotted To</th>
                                                                    <th>Reason </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooksBreak">
                                                                @{

                                                                    int a = 0;
                                                                    foreach (var item in Model.BreakLst.ToList())
                                                                    {
                                                                        <tr id="trBookBreak@(a)" class="chkBreakitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">



                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].MachineId)

                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].MachineDes)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].DType)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].MType)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].StartTime)
                                                                            </td>

                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].EndTime)
                                                                            </td>

                                                                            @* <td>@Html.TextBoxFor(o => o.inputlst[i].MillLoadAdd, new { @id = "txtMillLoadAdd" + i, @class = "form-control", style = "width: 100px;"})</td>*@
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].PB)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].Alloted)

                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(o => o.BreakLst[a].Reason)
                                                                            </td>


                                                                        </tr>

                                                                        a = a + 1;
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                                <!--    Panel 4 End  -->
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFive">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                        Log Details
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <div class="panel-body">


                                                    <div class="row">
                                                        <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">

                                                            <table class="table table-striped table-hover" id="dataTableLog">

                                                                <thead>
                                                                    <tr>

                                                                        <th> Start Date </th>
                                                                        <th> Start Time </th>
                                                                        <th> End Date </th>
                                                                        <th> End Time </th>
                                                                        <th>Total Hrs </th>

                                                                        <th>Reason </th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbBooksLog">
                                                                    @{

                                                                        int x = 0;
                                                                        foreach (var item in Model.LogLst.ToList())
                                                                        {
                                                                            <tr id="trBookLog@(x)" class="chkLogitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">



                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].StartDate)

                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].StartTime)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].EndDate)

                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].EndTime)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].tothrs)
                                                                                </td>
                                                                                <td>
                                                                                    @Html.DisplayFor(o => o.LogLst[x].Reason)
                                                                                </td>

                                                                            </tr>

                                                                            k = k + 1;
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
        var shift = '@ViewBag.shift';
        changeshift(shift);
    });
    function changeshift(Shiftid) {
        $.ajax({
            url: 'GetshiftDetail',
            data: { "Shiftid": Shiftid },
            type: "GET",
            success: function (result) {
                document.getElementById("shiftdetails").innerHTML = result.fromtime + " to " + result.totime + "  Total Hours : " + result.tothrs;
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
</script>