@model Arasan.Models.PartyMaster

@{
    ViewData["Title"] = "Party Master";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Party Master</strong> </li>
        </ol>
    </div>
</div>

<style>
    .tab-content>.tab-pane {
    display: none;
    padding: 10px !important;
}

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                   
                    <hr>
                    @using (Html.BeginForm("PartyMaster", "PartyMaster", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab" >Party Master</a></li>
                <li ><a href="#tab-2" data-toggle="tab" >General Info</a></li>
                <li ><a href="#tab-3" data-toggle="tab" >Contact Whom</a></li>
                
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                 @*1st atb*@

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Party ID<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.PartyCode, new { @id = "PartyCode", @class = "form-control", @TabIndex = 1})
<br />
                                                         @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Party Name<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.PartyName, new { @id = "PartyName", @class = "form-control", @TabIndex = 1})
                                    </div>

                                </div>
                            </div>
                        </div>

                         <div class="row">
                          
                             <div class="col-md-6">
                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Party Category<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.PartyCategory, Model.Categorylst, new { @id = "ddlPartyCategory", @Class = "form-control chosen-select", @TabIndex = 1 })<br />
                                                </div>

                                </div>
                            </div>
                       

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Account Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.AccName, new { @id = "AccName", @class = "form-control", @TabIndex = 1})<br />
                                                </div>

                                </div>
                            </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Party Group<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.PartyGroup, new { @id = "PartyGroup", @class = "form-control", @TabIndex = 1})<br />
                                    </div>

                                </div>
                            </div>

                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Comm.Code<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Comm, new { @id = "Comm", @class = "form-control", @TabIndex = 1})
                                                </div>

                                </div>
                            </div>
                               </div>

 <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Regular Y/N<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    <div class="input-group">

                                                        @Html.RadioButtonFor(C => C.Regular, "YES", new { @TabIndex = 2 })
                                                        <label id="mt-radio">YES</label>
                                                        @Html.RadioButtonFor(C => C.Regular, "NO", new { @TabIndex = 3 })
                                                        <label id="mt-radio">NO</label>


                                                    </div><br />
                                    </div>

                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">LUT No <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.LUTNumber, new { @id = "LUTNumber", @class = "form-control", @TabIndex = 1})
                                                </div>

                                </div>
                            </div>
                            </div>

                             <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">LUT Date<label class="Mandatory"></label></label>
                                  
                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.LUTDate, new { @id = "LUTDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        <br />
                                                 
                                    </div>

                                </div>
                            </div>
                           

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Join Date<label class="Mandatory"></label></label>
                                    
                                         <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.JoinDate, new { @id = "JoinDate", @class = "form-control", @TabIndex = 2,@size="30",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                   <br />
                                    
                                    </div>

                                </div>
                            </div>
                             </div>

                            <div class="row">

                        @*    <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Party Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.PartyType, new { @id = "PartyType", @class = "form-control", @TabIndex = 1})
                                    </div>

                                </div>
                            </div>*@
                     
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Credit Limit <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.CreditLimit, new { @id = "CreditLimit", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />
                                                </div>

                                </div>
                            </div>
                                  
                             <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Credit Days<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">

                                                        @Html.TextBoxFor(C => C.CreditDate, new { @id = "CreditDate", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />

                                    </div>

                                </div>
                            </div>
                              </div>
                                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">TDS Section ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.SectionID, new { @id = "SectionID", @class = "form-control", @TabIndex = 1})<br />
                                    </div>

                                </div>
                            </div>

                           
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Consionee Party ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.ConPartyID, new { @id = "ConPartyID", @class = "form-control", @TabIndex = 1})<br />
                                    </div>

                                </div>
                            </div>
                     
                             </div>

                            <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Transaction Limit<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.TransationLimit, new { @id = "TransationLimit", @class = "form-control", @TabIndex = 1})<br />
                                    </div>

                                </div>
                            </div>
                             

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">GST Number<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.GST, new { @id = "GST", @class = "form-control", @TabIndex = 1})<br />
                                    </div>

                                </div>
                            </div>
                       
                             </div>
                        
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Active<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                     <div class="input-group">

                                                            @Html.RadioButtonFor(C => C.Active, "YES", new { @TabIndex = 2 })
                                                        <label id="mt-radio">YES</label>
                                                            @Html.RadioButtonFor(C => C.Active, "NO", new { @TabIndex = 3 })
                                                        <label id="mt-radio">NO</label>


                                                    </div><br />
                                                    </div>

                                </div>
                            </div>

                                    
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">OurRighr Rate Code<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.RateCode, new { @id = "RateCode", @class = "form-control", @TabIndex = 1})
                                                    </div>

                                </div>
                            </div>
                       </div>
                         
                  @*1st atb*@
                </div>
                <div class="tab-pane" id="tab-2">
                 
                    @*2nd tab*@

                                    <div class="row">
@*
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Name<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="inputEmail3" type="text">
                                                </div>

                                            </div>
                                        </div>*@


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Phone Number<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Phone, new { @id = "Phone", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />
                                                </div>

                                            </div>
                                        </div>
                               
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Mobile<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Mobile, new { @id = "Mobile", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />
                                                </div>

                                            </div>
                                        </div>
                                              </div>
                                   <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">PAN<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.PanNumber, new { @id = "PanNumber", @class = "form-control", @TabIndex = 1})<br />
                                                </div>

                                            </div>
                                        </div>
                                           
                                  
                                        <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Country<label class="mandatory"></label></label>
                                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Country, Model.Countrylst, new { @id = "ddlCountry", @Class = "form-control chosen-select", @TabIndex = 1 })<br />

                                                    </div>
                                                </div>
                                            </div>
                                                      
                                        
                                          
                                             </div>

                                    <div class="row">

                                       <div class="col-md-6">
                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">State<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.State, Model.Statelst, new { @id = "ddlState", @Class = "form-control chosen-select", @TabIndex = 1 })<br />

                                    </div>
                                </div>
                            </div>
                               
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.City, Model.Citylst, new { @id = "ddlCity", @Class = "form-control chosen-select", @TabIndex = 1 })<br />

                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                
                                    <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">

                                                    <br />  <label for="inputName3" class="col-sm-4 control-label">Pin Code<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Pincode, new { @id = "Pincode", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)"})   <br />
                                                </div>

                                </div>
                            </div>
                     
                           

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Country Code<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.CountryCode, new { @id = "txtCountryCode ", @class = "form-control", @TabIndex = 1})   <br />

                                                </div>

                                            </div>
                                        </div>

                                       

                                    

                                     @*   <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">SCode<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="inputEmail3" type="text"><br />
                                                </div>

                                            </div>
                                        </div>*@
                                  
                                        </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Intred By<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.Intred, Model.assignList, new { @id = "ddlIntred", @Class = "form-control chosen-select", @TabIndex = 1 })<br />

                                                </div>

                                            </div>
                                        </div>
                                      @*  <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Old TNGST No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="inputEmail3" type="text"><br />
                                                </div>

                                            </div>
                                        </div>
                               *@
                                        

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Email <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Email, new { @id = "Email", @class = "form-control", @TabIndex = 1,@Type="email"})   <br />
                                                </div>

                                            </div>
                                        </div>
                                        </div>

                                    <div class="row">
                                         
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">FAX<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Fax, new { @id = "Fax", @class = "form-control", @TabIndex = 1})
                                                        <br />
                                                </div>

                                            </div>
                                        </div>
                                   


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Commisionerate<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                              @Html.TextBoxFor(C => C.Commisionerate, new { @id = "Commisionerate", @class = "form-control", @TabIndex = 1})<br/>

                                                </div>

                                            </div>
                                        </div>
                                         </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Range Division<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Range, new { @id = "Range", @class = "form-control", @TabIndex = 1})<br/>
<br />
                                                </div>

                                            </div>
                                        </div>
                                   
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">ECC No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.EccID, new { @id = "EccID", @class = "form-control", @TabIndex = 1})<br />

                                                </div>

                                            </div>
                                        </div>
                                        
                                        </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Excise Applicable<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Excise, new { @id = "Excise", @class = "form-control", @TabIndex = 1})
<br />
                                                </div>

                                            </div>
                                        </div>
                                    
                                       
@*
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Party Type<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Type, new { @id = "Type", @class = "form-control", @TabIndex = 1})
                                                    </div>

                                            </div>
                                        </div>*@

                                         

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Web Site<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Http, new { @id = "Http", @class = "form-control", @TabIndex = 1})
<br />
                                                </div>

                                            </div>
                                        </div>
                                        </div>

                                        <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Over Due Int%<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.OverDueInterest, new { @id = "OverDueInterest", @class = "form-control", @TabIndex = 1})<br />
                                                </div>

                                            </div>
                                        </div>

                                         
@*
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Central Excise RegNo <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="inputEmail3" type="text"><br />
                                                </div>

                                            </div>
                                        </div>*@
                                 
 
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextAreaFor(C => C.Address, new { @id = "Address", @class = "form-control", @TabIndex = 1})
                                                </div>

                                            </div>
                                        </div>

                                       </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Remarks<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextAreaFor(C => C.Remark, new { @id = "Remark", @class = "form-control", @TabIndex = 1})
<br />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                   @* 2 nd tab*@
                </div>
                <div class="tab-pane" id="tab-3">
                 @*3rd tab*@
                                        <div style="height:30px;"></div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="btn-group">
                                                    <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                                @* <div class="ibox float-e-margins">*@

                                                <!-- / ibox-title -->
                                                @* <div id="demo3" class="ibox-content collapse in">
                                            <div class="borderedTable">
                                            <div class="table-scrollable">*@
                                                <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>

                                                            <th>Purpose </th>
                                                            <th>Name</th>
                                                            <th>Design</th>
                                                            <th> Phone </th>
                                                            <th> Email </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbBooks">
                                                        @{

                                                           int  i = 0;

                                                         

                                                                            <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                               
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.Purpose, new { @id = "txtPurpose" + i, @class = "form-control", style = "width: 180px;"})
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.ContactPerson, new { @id = "txtContactPerson" + i, @class = "form-control", @style = "width: 180px;" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.Designation, new { @id = "txtDesignation" + i, @class = "form-control", style = "width: 180px;" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.CPhone, new { @id = "txtPhone" + i, @class = "form-control", style = "width: 180px;" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.TextBoxFor(o => o.CEmail, new { @id = "txtEmail" + i, @class = "form-control", style = "width: 180px;",@Type="email" })
                                                                                </td>
                                                                                <td>
                                                                                    @Html.HiddenFor(o => o.Isvalid, new { @id = "Isvalid" + i })
                                                                                    <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Suplst.Index" type="hidden" value="@(i)" />
                                                                                </td>
                                                                            </tr>
                                                                    
                                                           
                                                                i = i + 1;
                                                                }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div style="height:30px;"></div>
                          <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListParty", "PartyMaster")'">Cancel</button>
 

                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("PartyCode").value == "") {
                isValid = false;
                $(PartyCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Party ID");
                return false;
            }
            else {
                $(PartyCode).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("PartyName").value == "") {
                isValid = false;
                $(PartyName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Party Name");
                return false;
            }
            else {
                $(PartyName).css({
                    "border": "",
                    "background": ""
                });
            }

          

            if (document.getElementById("Mobile").value == "") {
                isValid = false;
                $(Mobile).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Mobile Number ");
                return false;
            }
            else {
                $(Mobile).css({
                    "border": "",
                    "background": ""
                });
            }
           
            if (isValid == false)
                e.preventDefault();
        });

    });
      function changeCode(CID) {
        $.ajax({
            url: 'GetCountryDetail',
            data: { "CID": CID },
            type: "GET",
            success: function (result) {
                
                document.getElementById("txtCountryCode" ).value = result.country;
              
               
            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
    </script>
<script>
     $(".chosen-select").chosen();

  
     </script>
<script>
   
   
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
     function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

        var Purpose = "<td><input class='form-control' id='txtPurpose" + index + "' name='PartyLst[" + index + "].Purpose'  style='width: 180px;' type='text'  /></td>";

        var ContactPerson = "<td><input class='form-control' id='txtContactPerson" + index + "' name='PartyLst[" + index + "].ContactPerson'  style='width: 180px;' type='text' '  /></td>";
       
       
        var Designation = "<td><input class='form-control' id='txtDesignation" + index + "' name='PartyLst[" + index + "].Designation'  style='width: 180px;text-align:right' type='text'  /></td>";
       
        var Phone = "<td><input class='form-control' id='txtPhone" + index + "' name='PartyLst[" + index + "].Phone'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 180px;text-align:right' type='text'  /></td>";
       
        var Email = "<td><input class='form-control' id='txtEmail" + index + "' name='PartyLst[" + index + "].Email'   style='width: 180px;text-align:right' type='text'   /></td>";
       
       
        var removeCell = "<td><input id='Isvalid" + index + "' name='Purpose[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='PartyLst.Index' type='hidden' value='" + index + "'  /></td>";


        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + Purpose + ContactPerson + Designation + Phone + Email  + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

        $(".chosen-select").chosen();
    }
   
</script>