@model Arasan.Models.Curing

@{
    ViewData["Title"] = "Curing";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Curing</strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">


                    <hr>
                    @using (Html.BeginForm("Curing", "Curing", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Location Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
 
                                            @Html.DropDownListFor(C => C.Location, Model.Cur,"Please Select", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1 })
                                           
 
                                           @* @Html.DropDownListFor(C => C.Location, Model.Cur, new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 1 })*@
                                            @Html.HiddenFor(C => C.ID)
 
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Sub Group<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.Sub, Model.Sublst,"Please Select", new { @id = "ddlSub", @Class = "form-control _select", @TabIndex = 1 })

                                           @* @Html.DropDownListFor(C => C.Sub, Model.Sublst, new { @id = "ddlSub", @Class = "form-control _select", @TabIndex = 1 })*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Shed Number<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Shed, new { @id = "txtShed", @class = "form-control", @TabIndex = 1})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Capacity<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Cap, new { @id = "txtCap", @class = "form-control", @TabIndex = 1,onkeydown = "return isNumeric2(event.keyCode,this.value)" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                          @*  <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Capacity<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Status, Model.statuslst, new { @id = "ddlStatus", @Class = "form-control chosen-select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>

                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListCuring", "Curing")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

     $(function () {
        $('._select').select2();
    });

    
        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                var isValid = true;
            if (document.getElementById("ddlLocation").value == "" || document.getElementById("ddlLocation").value == 0) {
                isValid = false;
                $(ddlLocation).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Location");
                return false;
            }
            else {
                $(ddlLocation).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlSub").value == "" || document.getElementById("ddlSub").value == 0) {
                isValid = false;
                $(ddlSub).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Sub Group");
                return false;
            }
            else {
                $(ddlSub).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtShed").value == "") {
                    isValid = false;
                $(txtShed).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });

                alert("Please Select Shed Number");
                    return false;
                }
                else {
                $(txtShed).css({
                        "border": "",
                        "background": ""
                    });
                }
            if (document.getElementById("txtCap").value == "") {
                    isValid = false;
                $(txtCap).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });

                alert("Please Enter Capacity");
                    return false;
                }
                else {
                $(txtCap).css({
                        "border": "",
                        "background": ""
                    });
                }


                if (isValid == false)
                    e.preventDefault();

            });

        });
</script>