@model Arasan.Models.Curing

@{
    ViewData["Title"] = "Curing";

}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li> <a href="/PurchaseEnq/ListEnquiry">Curing</a> </li>
            <li class="active"> <strong> Status </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Status</h5>
                    <hr>
                    @using (Html.BeginForm("Curing", "Curing", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Location Name <label class="Mandatory"></label></label>
                                        <div class="col-sm-8 bootstrap-timepicker">
                                            @Html.DisplayFor(C=>C.Location)
                                            @Html.HiddenFor(C => C.ID)
                                           @* @Html.TextBoxFor(C => C.Location, new { @id = "txtLocation", @class = "form-control", @TabIndex = 1})*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Bin Id<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C=>C.binid)
                                            @* @Html.TextBoxFor(C => C.binid, new { @id = "txtbinid", @class = "form-control", @TabIndex = 1})*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Capacity<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C=>C.Cap)
                                           @* @Html.TextBoxFor(C => C.Cap, new { @id = "txtCap", @class = "form-control", @TabIndex = 1})*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Status<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.status, Model.statuslst, new { @id = "ddlstatus", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListCuring", "Curing")'">Cancel</button>


                        </form>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>