@model Arasan.Models.Contract

@{
    ViewData["Title"] = "Contract";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("LisContract", "Contract")">Contract</a> </li>
            <li class="active"> <strong>Contract</strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">


                    <hr>
                    @using (Html.BeginForm("Contract", "Contract", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Contract Type<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.Contype, Model.conlst, " -- Please Select -- ", new { @id = "ddlpurchasecate", @Class = "form-control _select", @TabIndex = 1 })
                                                                                   @Html.HiddenFor(C => C.ID)

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Salary Perday<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Salpd, new { @id = "txtSalpd", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Day Or KG<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Dkg, Model.kglst, " -- Please Select -- ", new { @id = "ddlDkg", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>

                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("Contract", "Contract")'">Cancel</button>



                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

                            <script>
     
       $(function () {
        $('._select').select2();
    });
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlpurchasecate").value == ""||document.getElementById("ddlpurchasecate").value == 0) {
                isValid = false;
                $(ddlpurchasecate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Contract Type");
                return false;
            }
            else {
                $(ddlpurchasecate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtSalpd").value == ""||document.getElementById("txtSalpd").value == 0) {
                isValid = false;
                $(txtSalpd).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Salary Perday");
                return false;
            }
            else {
                $(txtSalpd).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlDkg").value == "") {
                isValid = false;
                $(ddlDkg).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Day Or KG");
                return false;
            }
            else {
                $(ddlDkg).css({
                    "border": "",
                    "background": ""
                });
            }
            //if (document.getElementById("txtStart").value == "") {
            //    isValid = false;
            //    $(txtStart).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select Start Date");
            //    return false;
            //}
            //else {
            //    $(txtStart).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
            //if (document.getElementById("txtEnd").value == "") {
            //    isValid = false;
            //    $(txtEnd).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select End Date");
            //    return false;
            //}
            //else {
            //    $(txtEnd).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}

        });

    });
</script>