@model Arasan.Models.QCTestValueEntry
@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "QC TestValue Deatils";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Sales</a> </li>
            <li class="active"> <strong>QC TestValue Deatils</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">QC TestValue Deatils</h5>
                    <hr>

                    <form>

                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                    <th> Doc Id </th>
                                                    <th> Pro Id </th>
                                                    <th> Doc Date </th>
                                                    <th> Pro Date </th>
                                                    <th> Item Name </th>
                                                    <th> Drum No </th>
                                                    <th> Time </th>

                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 0;

                                                            foreach (var item in Model.QCTestLst.ToList())
                                                            {

                                                                <tr>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].Docid)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].Proid)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].DocDate)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].ProDate)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].ItemName)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].Drum)</td>
                                                                    <td>@Html.DisplayFor(o => o.QCTestLst[i].Time)</td>


                                                                </tr>

                                                                i++;
                                                            }
                                                        }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                 <div style="height:30px;"></div>
                <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("QcDashboard", "QcDashboard")'">Cancel</button>
                


            </div>
        </div>

    </div>
</div>


