@model Arasan.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .info-boxalert {
        display: block;
        height: 150px;
        background: #FFF;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 2px;
        margin-bottom: 5px;
        overflow-y: auto;
    }

    .info-box {
        display: block;
        min-height: 90px;
        background: #F1F1F1;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        border-radius: 2px;
        margin-bottom: 15px;
    }

        .info-box small {
            font-size: 14px;
        }

        .info-box .progress {
            background: #F1F1F1;
            margin: 5px -10px 5px -10px;
            height: 2px;
        }

            .info-box .progress, .info-box .progress .progress-bar {
                border-radius: 0;
            }

                .info-box .progress .progress-bar {
                    background: #fff;
                }

    .info-box-icon {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 45px;
        line-height: 90px;
        background: rgba(0,0,0,0.2);
    }

    .info-box-content {
        padding: 5px 10px;
        margin-left: 90px;
    }

    .info-box-number {
        display: block;
        font-weight: bold;
        font-size: 18px;
    }

    .progress-description, .info-box-text {
        display: block;
        font-size: 14px;
        white-space: initial;
        /*white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;*/
    }

    .info-box-text {
        text-transform: uppercase;
    }

    .info-box-more {
        display: block;
    }

    .progress-description {
        margin: 0;
    }

    .round1 {
        position: relative;
        margin: 0px;
        font-size: 1em;
        vertical-align: middle;
        border-right: 1px solid #fff;
        text-align: center;
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        .round1 i {
            padding-left: 5px;
        }

    .xdsoft_datepicker.active, .xdsoft_datetimepicker .xdsoft_timepicker.active {
        width: 400Px !important;
    }

    .xdsoft_calendar table {
        height: 254px !important;
    }

    .panel {
        margin: 10px !important;
    }

    .xdsoft_datetimepicker.xdsoft_.xdsoft_noselect.xdsoft_inline {
        margin: 10px !important;
    }

     Style the tab 
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

     Style the buttons that are used to open the tab content 
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border-right: 2px solid #fff;
    }

    .tab button:last-child {
        border-right: none;
    }

     Change background color of buttons on hover 
    .tab button:hover {
        background-color: #ddd;
    }

    Create an active current tablink class 
    .tab button.active {
        background-color: #ccc;
    }

     Style the tab content 
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
        height: 100%;
    }

</style>

<div class="row">
    <div class="col-lg-6 top15">

        <!-- begin col-3 -->
        <div class="col-lg-6">
            <div class="widget red-bg box-shadow">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-bank fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>Total Expenses</span>

                        <h2 class="font-bold">$ 9,982</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-3 -->
        <div class="col-lg-6">
            <div class="widget white-bg box-shadow">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Order Received </span>

                        <h2 class="font-bold">30</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-3 -->
        <div class="col-lg-6">
            <div class="widget white-bg box-shadow">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-line-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Total Sales</span>

                        <h2 class="font-bold">$ 290</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-3 -->
        <div class="col-lg-6">
            <div class="widget white-bg box-shadow">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>PENDING ORDERS</span>

                        <h2 class="font-bold">40</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- begin col-2 -->
        <div class="col-lg-4">
            <div class="widget box-shadow green-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-bus fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Suppliers</span>
                        <h2 class="font-bold">320</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-2 -->
        <div class="col-lg-4">
            <div class="widget box-shadow aqua-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-ship fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Products</span>
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-2 -->
        <div class="col-lg-4">
            <div class="widget box-shadow red-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-plane fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Customes</span>
                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>



    </div>


    <!-- Column Chart-->
    <div class="col-lg-6 top15">
        <div class="ibox float-e-margins ">

            <div class="ibox-content top10" id="demo2">
                <div class="demo-container">
                    <div class="table-responsive">
                        <h3><span style="color:brown">Waiting for QC</span></h3><br />
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Gate In Date &Time</th>
                                    <th>Party Name</th>
                                    <th>Item Name</th>
                                    <th>Total Qty</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    int i = 0;

                                    foreach (var item in Model.qcNotifies.ToList())
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(o => o.qcNotifies[i].GateDate)</td>
                                            <td>@Html.DisplayFor(o => o.qcNotifies[i].PartyName)</td>
                                            <td>@Html.DisplayFor(o => o.qcNotifies[i].ItemName)</td>
                                            <td>@Html.DisplayFor(o => o.qcNotifies[i].TotalQty)</td>
                                            <td>@Html.DisplayFor(o => o.qcNotifies[i].Unit)</td>
                                        </tr>
                                        i = i + 1;

                                    }
                                }
                            </tbody>
                        </table>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Doc Id</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Item Name</th>
                                    <th>Drum No</th>
                                    <th> </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    int j = 0;

                                    foreach (var item in Model.Notifies.ToList())
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(o => o.Notifies[j].Doc)</td>
                                            <td>@Html.DisplayFor(o => o.Notifies[j].Date)</td>
                                            <td>@Html.DisplayFor(o => o.Notifies[j].Type)</td>
                                            <td>@Html.DisplayFor(o => o.Notifies[j].Item)</td>
                                            <td>@Html.DisplayFor(o => o.Notifies[j].Drum)</td>
                                            <td> <a class="nav-link" href="@Url.Action("QCFinalValueEntry", "QCFinalValueEntry",new { id=item.ID })"> <span class="title">Go To QC </span> </a></td>

                                        </tr>
                                        j = j + 1;

                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 top5">
            <div class="ibox float-e-margins " style="padding-left : 20px;">

                <div class="ibox-content top10" id="demo2">
                    <div class="demo-container">
                        <div class="table-responsive">
                            <h3><span style="color:brown">Out of Stock in Store</span></h3><br />
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Location Name</th>
                                        <th>Date</th>
                                        <th>Item Name</th>
                                        <th>Available Stock</th>
                                        <th>Rquested Qty</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        int k = 0;

                                        foreach (var item in Model.Materialnotification.ToList())
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(o => o.Materialnotification[k].Date)</td>
                                                <td>@Html.DisplayFor(o => o.Materialnotification[k].LocationName)</td>
                                                <td>@Html.DisplayFor(o => o.Materialnotification[k].ItemName)</td>
                                                <td><span style="color:red">@Html.DisplayFor(o => o.Materialnotification[k].stockQty)</span></td>
                                                <td>@Html.DisplayFor(o => o.Materialnotification[k].TotalQty)</td>
                                                <td>@Html.DisplayFor(o => o.Materialnotification[k].Unit)</td>
                                            </tr>
                                            k = k + 1;

                                        }
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div id="divalerts" style="display:block">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Alerts</h3>

           @* <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>

            </div>*@
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p style="font-weight:bold;color:darkgreen">Leads Followup @*- <label id="Quotefollowcount">(@Html.DisplayFor(m => m.Count))</label>*@</p>

                    <div class="info-boxalert">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Enq No</th>
                                    <th>Follwed By</th>
                                    <th>Next Follow Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{


                                    int t = 0;

                                    foreach (var item in Model.Enqlllst.ToList())
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(o => o.Enqlllst[t].displaytext)</td>

                                            <td>@Html.DisplayFor(o => o.Enqlllst[t].followedby)</td>

                                            <td>@Html.DisplayFor(o => o.Enqlllst[t].status)</td>

                                        </tr>
                                        t = t + 1;

                                    }
                                }

                            </tbody>
                        </table>

                    </div>
                    <!-- /.info-box -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p style="font-weight:bold;color:darkgreen">Quote Followup @*- <label id="Quotefollowcount">(@Html.DisplayFor(m => m.Count))</label>*@</p>

                    <div class="info-boxalert">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Quo No</th>
                                    <th>Follwed By</th>
                                    <th>Next Follow Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    int e = 0;

                                    foreach (var item in Model.Folllst.ToList())
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(o => o.Folllst[e].displaytext)</td>

                                            <td>@Html.DisplayFor(o => o.Folllst[e].followedby)</td>

                                            <td>@Html.DisplayFor(o => o.Folllst[e].status)</td>

                                        </tr>
                                        e = e + 1;

                                    }
                                }

                           </tbody>
                        </table>

                    </div>
                    <!-- /.info-box -->
                </div>


            </div>


        </div>
    </div>

</div>
<br />
<br />



@*<script>

 function BindLeadfollow(strBranch, strfrom, strTo, KAMID) {
                $.ajax({
                    url: 'BindLeadfollow',
                    data: { "strBranch": strBranch, "strfrom": strfrom, "strTo": strTo, "KAMID": KAMID },
                    type: "GET",
                    success: function (json) {
                        json = json || {};
                        $('#blogTable1 tbody').empty();
                        var c = 0;
                        $.each(json, function (i, item) {
                            var rows = "
<tr style='border-bottom: 1px dashed #c7c7c7; !important'>
    "
    + "
    <td style='font-weight: 400; color: #000; padding: 4px;'>" + item.displaytext + " - <span style='color: #F47A27;'>" + item.followedby + "</span> - <span style='color: red;'>" + item.status + "</span> </td>"
    + "
</tr>";
                            $('#blogTable1 tbody').append(rows);
                            c = c + 1;
                        });
                        document.getElementById("Leadsfollowcount").innerHTML = c;
                    },
                    error: function () {
                        // alert("Data Not Found");
                    }
                });
            }



</script>*@











@*<script>
    function BindQuotefollow(strBranch) {
        $.ajax({
            url: 'BindQuotefollow',
            data: { "strBranch": strBranch },
            type: "GET",
            success: function (result) {
                $('#blogTable2 tbody').empty();
                var c = 0;
                $.each(function (result) {
                    var rows = "<tr style='border-bottom: 1px dashed #c7c7c7; !important'>"
                    + "<td style='font-weight: 400; color: #000; padding: 4px;'>" + result.displaytext + " - <span style='color: #F47A27;'>" + result.followedby + "</span> - <span style='color: red;'>" + result.status + "</span></td>"
                        + "</tr>";status
                    $('#blogTable2 tbody').append(rows);
                    c = c + 1;
                });
                document.getElementById("Quotefollowcount").innerHTML = c;
            },
            error: function () {
                // alert("Data Not Found");
            }
        });
    }
</script>*@