@model Arasan.Models.Home
@{
    ViewData["Title"] = "Home Page";
    string sdate = ViewContext.HttpContext.Request.Query["st"];
    string edate = ViewContext.HttpContext.Request.Query["ed"];
}
 
 <script src="~/assets/js/vendor/amcharts/amcharts.js"></script>
		<script src="~/assets/js/vendor/amcharts/serial.js"></script>
		<script src="~/assets/js/vendor/amcharts/pie.js"></script>
		<script src="~/assets/js/vendor/amcharts/gantt.js"></script>
		<script src="~/assets/js/vendor/amcharts/funnel.js"></script>
		<script src="~/assets/js/vendor/amcharts/radar.js"></script>
		 
		<script src="~/assets/js/vendor/amcharts/ammap.js"></script>
		<script src="~/assets/js/vendor/amcharts/worldLow.js"></script>
		<script src="~/assets/js/vendor/amcharts/light.js"></script>
		 
		<script type="text/javascript" src="~/assets/js/vendor/amcharts.js"></script>
	 
<div class="row">
    <div class="col-lg-6 top15">
        <div class="col-lg-4">
            <div class="widget box-shadow green-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Suppliers</span>
                        <h2 class="font-bold">320</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-2 -->
        <div class="col-lg-4">
            <div class="widget box-shadow aqua-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Products</span>
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget box-shadow red-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Customes</span>
                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 top15">
        <div class="row">
            <div class="col-md-6">
                <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory"></label></label>
                <div class="col-sm-7">
                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                        @*@Html.TextBoxFor(C => C.SStart, new { @id = "SStart", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                        <input id="SStart" class="form-control" readonly="readonly" value="@sdate" style="width:130px" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory"></label></label>
                <div class="col-sm-7">

                    <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                        @*  @Html.TextBoxFor(C => C.SEnd, new { @id = "SEnd", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                        <input id="SEnd" class="form-control" readonly="readonly" value="@edate" style="width:130px"   />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>
                </div>

            </div>

        </div>
        <div>
            <h5>Today List</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm"><lable id="indent">@Html.DisplayFor(o => o.indent)</lable></button> Total Indent
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary m-r-sm"><lable id="enq">@Html.DisplayFor(o => o.enqury )</lable></button>  Enquiry
                        </td>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm"><lable id="quot">@Html.DisplayFor(o => o.qout )</lable></button> Quotation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm"><lable id="po">@Html.DisplayFor(o => o.po )</lable></button> PO
                        </td>
                        <td>
                            <button type="button" class="btn btn-success m-r-sm"><lable id="direct">@Html.DisplayFor(o => o.direct )</lable></button> Direct Purchase
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm"><lable id="grn">@Html.DisplayFor(o => o.grn )</lable></button> GRN
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
</div>
</div>
@*
 <div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Indent </h5>
									<div class="ibox-tools">
										<a class="collapse-link" data-toggle="collapse" data-target="#demo4"> <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i> </a>
										<a href="#" data-toggle="dropdown" class="dropdown-toggle">
										 
										 </a>
									</div>
								</div>
								<div class="ibox-content collapse in" id="demo4">
									<div class="chartdiv-container">
										<div id="ColumnChart"></div>
										 
									</div>
								</div>
							</div>
						</div>
					</div>*@

 	

            <div class="row">
    @if (Model.dagrncnt > 0)
    {
    <div class="col-lg-6">
        <!-- Start feed -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Damaged Purchase</h5>
                <div class="ibox-tools">
                    <a class="collapse-link" data-toggle="collapse" data-target="#demo6"> <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i> </a>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content collapse in" id="demo6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content collapse in">
                            <div class="widgets-container">
                                <div>
                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                        <thead>
                                            <tr>
                                                @* <th>Item Group</th>*@
                                                <th> Grn No </th>
                                                <th> Date </th>
                                                <th>Supplier</th>

                                                <th> Item </th>
                                               
                                                <th> Damege Qty </th>


                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;

                                                foreach (var item in Model.purlst.ToList())
                                                {
                                                        <tr>


                                                            <td>@Html.DisplayFor(o => o.purlst[i].grn)</td>
                                                            <td>@Html.DisplayFor(o => o.purlst[i].Date)</td>
                                                            <td>@Html.DisplayFor(o => o.purlst[i].party)</td>

                                                            <td>@Html.DisplayFor(o => o.purlst[i].ItemName)</td>
                                                            <td>@Html.DisplayFor(o => o.purlst[i].qty)</td>
                                                             
                                                            <td> <small class="pull-right">@Html.DisplayFor(o => o.purlst[i].days)</small></td>

                                                            </tr>
                                                        i++;
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- End feed -->
    </div>
    }
    @if (Model.indcnt > 0)
    {
        <div class="col-lg-6">
            <!-- Start feed -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Material Request Pending</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" data-toggle="collapse" data-target="#demo8"> <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i> </a>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content collapse in" id="demo8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-content collapse in">
                                    <div class="widgets-container">
                                        <div>
                                            <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                <thead>
                                                    <tr>
                                                        @* <th>Item Group</th>*@
                                                        <th> Doc No </th>
                                                        <th> Date </th>
                                                        <th>Location</th>

                                                        <th> Item </th>

                                                        <th> Qty </th>


                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{
                                                        int k = 0;

                                                        foreach (var item in Model.penlst.ToList())
                                                        {
                                                                <tr>


                                                                    <td>@Html.DisplayFor(o => o.penlst[k].docid)</td>
                                                                    <td>@Html.DisplayFor(o => o.penlst[k].Date)</td>
                                                                    <td>@Html.DisplayFor(o => o.penlst[k].location)</td>

                                                                    <td>@Html.DisplayFor(o => o.penlst[k].ItemName)</td>
                                                                    <td>@Html.DisplayFor(o => o.penlst[k].qty)</td>

                                                                    <td> <small class="pull-right">@Html.DisplayFor(o => o.indlst[k].days)</small></td>

                                                                </tr>
                                                            k++;
                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             

            </div>
            <!-- End feed -->
        </div>
    }
</div>
<div class="row">
   
    @if (Model.EnqFollowcunt > 0)
    {
        <div class="col-lg-6">
            <!-- Start feed -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Enquiry Followup -<label id="EnqFollowcunt">(@Html.DisplayFor(m => m.EnqFollowcunt))</label></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" data-toggle="collapse" data-target="#demo9"> <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i> </a>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content collapse in" id="demo9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-content collapse in">
                                    <div class="widgets-container">
                                        <div>
                                            <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Enq No</th>
                                                        <th>Follwed By</th>
                                                        <th>Next Follow Date</th>




                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{


                                                        int t = 0;

                                                        foreach (var item in Model.Enqlllst.ToList())
                                                        {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(o => o.Enqlllst[t].displaytext)</td>

                                                                    <td>@Html.DisplayFor(o => o.Enqlllst[t].followedby)</td>

                                                                    <td>@Html.DisplayFor(o => o.Enqlllst[t].status)</td>

                                                                </tr>
                                                            t = t + 1;

                                                        }
                                                    }
                                                </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End feed -->
    </div>
    }
           
    @if (Model.Quotefollowcunt > 0)
{
    <div class="col-lg-6">
        <!-- Start feed -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                    <h5>Quote Followup -<label id="Quotefollowcunt">(@Html.DisplayFor(m => m.Quotefollowcunt))</label></h5>
                <div class="ibox-tools">
                    <a class="collapse-link" data-toggle="collapse" data-target="#demo10"> <i class="fa fa-chevron-up"></i> <i class="fa fa-chevron-down"></i> </a>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content collapse in" id="demo10">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content collapse in">
                                <div class="widgets-container">
                                    <div>
                                        <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                            <thead>
                                                <tr>
                                                        <th>Quo No</th>
                                                        <th>Follwed By</th>
                                                        <th>Next Follow Date</th>




                                                </tr>
                                            </thead>

                                            <tbody>
                                                @{


                                                        int e = 0;

                                                        foreach (var item in Model.Folllst.ToList())
                                                        {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(o => o.Folllst[e].displaytext)</td>

                                                                    <td>@Html.DisplayFor(o => o.Folllst[e].followedby)</td>

                                                                    <td>@Html.DisplayFor(o => o.Folllst[e].status)</td>

                                                                </tr>
                                                            e = e + 1;

                                                        }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End feed -->
    </div>
}
</div>
<script>

  $(function () {
      var ItemId = '@ViewBag.Item';
     var result = ItemId.replace(/&quot;/g, '"');

   @* // 3D Cylinder Chart  


      var chart = AmCharts.makeChart("cylinderChart", {
          "theme": "light",
          "type": "serial",
          "startDuration": 2,
          "dataProvider": [{ "date": "08-MAR-2022", "create": "6", "complete": "0", "pending": "6" }, { "date": "01-MAR-2022", "create": "14", "complete": "0", "pending": "14" }, { "date": "03-MAR-2022", "create": "6", "complete": "0", "pending": "6" }, { "date": "07-MAR-2022", "create": "18", "complete": "0", "pending": "18" }, { "date": "02-MAR-2022", "create": "3", "complete": "0", "pending": "3" }, { "date": "04-MAR-2022", "create": "11", "complete": "2", "pending": "11" }, { "date": "05-MAR-2022", "create": "5", "complete": "0", "pending": "5" }],
        "valueAxes": [{
            "position": "left",
            "axisAlpha": 0,
            "gridAlpha": 0
        }],
        "graphs": [
        {
            "balloonText": "Created: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "create"
        },
              {
            "balloonText": "Completed: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "complete"
        },
              {
            "balloonText": "Pending: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "pending"
        }
        ],
        "depth3D": 40,
        "angle": 30,
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "date",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "gridAlpha": 0

        },
        "export": {
            "enabled": true
        }

    }, 0);

    jQuery('.chart-input2').off().on('input change', function () {
        var property = jQuery(this).data('property');
        var target = chart;
        chart.startDuration = 0;

        if (property == 'topRadius') {
            target = chart.graphs[0];
        }

        target[property] = this.value;
        chart.validateNow();
    });*@


    var chart = AmCharts.makeChart("ColumnChart", {
    "theme": "light",
    "type": "serial",
    "startDuration": 2,
     "legend": {
        "useGraphSettings": true,
        "markerSize":12,
        "valueWidth":0,
        "verticalGap":0
    },
       "dataProvider": [{ "date": "08-MAR-2022", "create": "6", "complete": "0", "pending": "6" }, { "date": "01-MAR-2022", "create": "14", "complete": "0", "pending": "14" }, { "date": "03-MAR-2022", "create": "6", "complete": "0", "pending": "6" }, { "date": "07-MAR-2022", "create": "18", "complete": "0", "pending": "18" }, { "date": "02-MAR-2022", "create": "3", "complete": "0", "pending": "3" }, { "date": "04-MAR-2022", "create": "11", "complete": "2", "pending": "9" }, { "date": "05-MAR-2022", "create": "5", "complete": "0", "pending": "5" }
       ],

    "valueAxes": [{
        "position": "left",
        "title": "Count"
    }],
    "graphs": [
        {
            "balloonText": "[[title]]: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "create",
            "title": "Created"
         
        
        },
              {
            "balloonText": "[[title]]: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "complete",
              "title": "Completed"
        },
              {
            "balloonText": "[[title]]: <b>[[value]]</b>",
            "colorField": "color",
            "fillAlphas": 0.85,
            "lineAlpha": 0.1,
            "type": "column",
            "topRadius": 1,
            "valueField": "pending",
            "title": "Pending"
        }
        ],
    "depth3D": 20,
    "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },    
    "categoryField": "date",
    "categoryAxis": {
        "gridPosition": "end",
        "labelRotation": 0
    },
    "export": {
        "enabled": true
     }

});
});
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);
    });
    function changesearch() {

        var isValid = true;

        if (document.getElementById("SStart").value == "" || document.getElementById("SStart").value == 0) {
            isValid = false;
            $(SStart).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select From Date");
            isValid = false;
        }
        else {
            $(SStart).css({
                "border": "",
                "background": ""
            });
        }


        if (document.getElementById("SEnd").value == "" || document.getElementById("SEnd").value == 0) {
            isValid = false;
            $(SEnd).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select To date");
            isValid = false;
        }
        else {
            $(SEnd).css({
                "border": "",
                "background": ""
            });
        }

        if (isValid == true) {

            var st = document.getElementById("SStart").value;
            var ed = document.getElementById("SEnd").value;
            $.ajax({
                url: 'GetDatewisecount',
                data: { 'st': st, 'ed': ed },
                type: "GET",
                success: function (result) {
                        
                    document.getElementById("indent").innerHTML = result.indent;
                    document.getElementById("enq" ).innerHTML = result.enq;
                    document.getElementById("quot").innerHTML = result.quot;
                    document.getElementById("po").innerHTML = result.po;
                    document.getElementById("direct").innerHTML = result.direct;
                    document.getElementById("grn").innerHTML = result.grn;
                    
                },
                error: function () {
                    alert("Data Not Found");
                }
            });
          @*  var url = '@Url.Action("PurchaseDash", "Home")?st=' + fromDate + '&ed=' + toDate;
            window.location.href = url;*@
        }
    }
</script>