@model Arasan.Models.APProductionentry
@{
    ViewData["Title"] = "AP Production  Entry";
    string tag = ViewContext.HttpContext.Request.Query["tag"];
    string Qid=ViewContext.HttpContext.Request.Query["id"];
  
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>AP Production  Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">AP Production Entry</h5>
                    <hr>
                                                              @using (Html.BeginForm("APProductionentry", "APProductionentry", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                             <form>
                            <div id="divstart">
  <div class="row">
        <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Supervisor<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.Super, Model.suplst," -- Please Select -- ", new { @id = "ddlStLoc", @Class = "form-control _select", @TabIndex = 1  })<br />

                                    </div>
                                </div>
                            </div>
                       <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Batch<label class="mandatory"> *</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.BatchNo, Model.Batchlst, new { @id = "ddlBatchNo", @Class = "form-control _select", @TabIndex = 1, @onchange = "ItemChange(this.value)"})<br />
                                        </div>
                                    </div>
                                </div>
      
                          
                        </div>
                        <div style="height:15px;"></div>
                        <div class="row">
                               <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Work Center <label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.HiddenFor(C => C.ID)
                                         @Html.HiddenFor(C => C.APID)
                                            @Html.HiddenFor(C => C.Branch)
                                            @Html.HiddenFor(C => C.workid,new{@id="WorkCenterid"})
                                                @Html.TextBoxFor(C => C.Location, new { @id = "txtLocation", @class = "form-control", @TabIndex = 1,@readonly=true })<br />
@* @Html.DropDownListFor(C => C.Location, Model.Loclst," -- Please Select -- ", new { @id = "ddlStLoc", @Class = "form-control _select", @TabIndex = 1 /*, @onchange = "Stk_Change(this.value)"*/ })<br />
*@                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">DOC ID <label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1,@readonly=true })<br />
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        
                            <div class="row">
                                  <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Doc Date <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													
													<br/>
												
                                            </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Sch Qty<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.SchQty, new { @id = "txtSchQty", @class = "form-control", @TabIndex = 1 ,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Prod Qty<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ProdQty, new { @id = "txtProdQty", @class = "form-control", @TabIndex = 1 ,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Batch Comp.Y/N<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">

                                                @Html.RadioButtonFor(C => C.batchcomplete, "Y", new { @TabIndex = 2 })
                                                <label id="mt-radio">Yes</label>
                                                @Html.RadioButtonFor(C => C.batchcomplete, "N", new { @TabIndex = 3 })
                                                <label id="mt-radio">No</label>


                                            </div><br />
                                        </div>

                                    </div>
                                </div>
                             

                            </div>
                           
                         <div style="height:15px;"></div>
                          <div class="row">
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Shift<label class="mandatory"> *</label></label>

                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Shift, Model.Shiftlst," -- Please Select -- ", new { @id = "ddlShift", @Class = "form-control _select", @TabIndex = 1 ,onchange = "changeshift(this.value)"})<br/>
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Shift Details<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                       <span style="color:green;font-size: 14px;"> <label id="shiftdetails"></label></span><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                       

                          <div style="height:15px;"></div>
                             <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Start</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListAPProductionentry", "APProductionentry")'">Cancel</button>
                            </div>
                          
                        
                 

</form>
 }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function() {
            $('._select').select2();
        });
        $('.form_date').datetimepicker({
            //   language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
        startDate: new Date(),
            forceParse: 0
        });
    
    function changeshift(Shiftid) {
                $.ajax({
                    url: 'GetshiftDetail',
                    data: { "Shiftid": Shiftid },
                    type: "GET",
                    success: function (result) {
                        document.getElementById("shiftdetails").innerHTML = result.fromtime + " to " + result.totime + "  Total Hours : " + result.tothrs;
                    },
                    error: function () {
                        alert("Data Not Found");
                    }
                });
            }
             $(document).ready(function () {
        var val2 = "@Qid";
        var tag="@tag";
        $('#dllstatus').val(val2);
    });
      function ItemChange(batchid){

          $.ajax({
            url: 'GetBatch',
            data: { "batchid": batchid },
            type: "GET",
            success: function (result) {

                document.getElementById("txtLocation").value = result.work;
            
                document.getElementById("WorkCenterid").value = result.workid;
                document.getElementById("txtSchQty").value = result.schqty;
                document.getElementById("txtProdQty").value = result.prodqty;
              
           
            },
            error: function () {
            alert("Data Not Found");
            }
            });
            }
</script>