@model IEnumerable<Arasan.Models.APProductionentry>

@{
    ViewData["Title"] = "AP Production  Entry";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>AP Production  Entry </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("APProductionentry", "APProductionentry")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add AP Production </a>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th>Work Center</th>
                                                            <th>DocId</th>
                                                            <th>Doc Date</th>
                                                            <th>Supervisor</th>
                                                             <th>Shift</th>
                                                             <th>View</th>
                                                           <th>Print</th>
                                                           <th>Approve</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 1;
                                                            foreach (var item in Model)
                                                            {


                                                                        <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.DocId)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Docdate)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Eng)</td>
                                                                             <td>@Html.DisplayFor(modelItem => item.Shift)</td>

                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewAPProductionentry", "APProductionentry",new { id=item.ID })" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' alt='View' /></a></div></td>
                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("Print", "APProductionentry" ,new { id=item.DocId})"><img src='../Images/pdf.png' alt='Generate PO' width='20' /></a></div></td>
                                                                    @if (item.isapprove == "N")
                                                                    {
                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ApproveAPProductionentry", "APProductionentry",new { id=item.ID })"><img src='../Images/checklist.png' alt='Approve' /></a></div></td>
                                                                        <td><a href="@Url.Action("DeleteMR","BatchProduction",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td></td>
                                                                        <td></td>
                                                                    }
                                                                   
 
                                                                            
                                                                        </tr>

                                                                i++;
                                                            }
                                                        }
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>

<!-- /container -->

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>