@model Arasan.Models.LeaveTypeMaster

@{
    ViewData["Title"] = "Leave Type Master";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        @* <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action(" LeaveTypeMaster", " LeaveTypeMaster")">HR</a> </li>
            <li class="active"> <strong>Leave Type Master </strong> </li>
        </ol> *@
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Leave Type Master</h5>
                    <hr>
                    @using (Html.BeginForm("LeaveTypeMaster", "LeaveTypeMaster", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /><label for="inputName3" class="col-sm-4 control-label">Leave Type Name<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.LTName, new { @id = "txtLTName", @class = "form-control", @TabIndex = 2 })
                                        @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                           @*  <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Leave Type Name<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.LTName, Model.LTNamelst, " -- Please Select -- ", new { @id = "ddlLTName", @class = "form-control _select", @Width = "200px" })
                                    </div>
                                </div>
                            </div> *@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /><label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextAreaFor(C => C.Des, new { @id = "txtDes", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>
                        </div>`
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /><label for="inputName3" class="col-sm-4 control-label">Maximum Allowed Per Year<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Mapy, new { @id = "txtMapy", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:30px;"></div>
                        <div class="col-lg-8"></div>
                        <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("LeaveTypeMasterList", "LeaveTypeMaster")'">Cancel</button>
                    </form>
                     }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    //$(function () {
    //    $('._select').select2();
    //});

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtLTName").value == "") {
                isValid = false;
                $(txtLTName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Leave Type Name");
                return false;
            }
            else {
                $(txtLTName).css({
                    "border": "",
                    "background": ""
                });
            }
           `
            if (document.getElementById("txtMapy").value == "") {
                isValid = false;
                $(txtMapy).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Maximum Allowed Per Year");
                return false;
            }
            else {
                $(txtMapy).css({
                    "border": "",
                    "background": ""
                });
            }
           



            if (isValid == false)
                e.preventDefault();
        });

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });
</script>




