@model IEnumerable<Arasan.Models.ProductionEntry>

@{
    ViewData["Title"] = "Production Entry";
    string sdate = ViewContext.HttpContext.Request.Query["st"];
    string edate = ViewContext.HttpContext.Request.Query["ed"];
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Transaction</a> </li>
            <li class="active"> <strong>Production Entry</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                      
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*@Html.TextBoxFor(C => C.SStart, new { @id = "SStart", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SStart" class="form-control" readonly="readonly" value="@sdate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">

                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*  @Html.TextBoxFor(C => C.SEnd, new { @id = "SEnd", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SEnd" class="form-control" readonly="readonly" value="@edate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>
                                    </div>
                                   
                                </div>

                            </div>
                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("ProductionEntry", "ProductionEntry")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add ProductionEntry </a>
                                    <br>

                                </div>
                              
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                        
                                            
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Branch</th>
                                                          
                                                            <th>Doc No</th>
                                                            <th>Doc Date</th>
                                                              <th>Entry Type</th>
                                                            <th>View</th>
                                                            @* <th>Followup</th>
                                                            <th>Move To Quote</th>*@
                                                             <th>Approve</th>
                                                            <th>Curing Inward</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="tbBooks">
                                                        @{
                                                            int i = 1;
                                                            foreach (var item in Model)
                                                            {


                                                                <tr id="trBook@(i)">
                                                                    <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                                                    
                                                                    <td>@Html.DisplayFor(modelItem => item.DocId)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Shiftdate)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.EntryType)</td>
                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewProductionEntry", "ProductionEntry",new { PROID=item.ID })" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' alt='Waiting for approval' /></a></div></td>
                                                                    @*<td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>*@
                                                                    @if (item.IsCuring =="Y")
                                                                    {
                                                                        <td></td>
                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("CuringInward", "ProductionEntry",new { PROID=item.ID })"><img src='../Images/move_quote.png' alt='View Details' width='20'/></a></div></td>
                                                                        
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ApproveProCEntry", "ProductionEntry",new { PROID=item.ID })"><img src='../Images/checklist.png' alt='View Details' width='20'/></a></div></td>
                                                                        <td></td>
                                                                    }
                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("ProductionEntry", "ProductionEntry",new { id=item.ID })"></a></div></td>
                                                                    <td> <a href="@Url.Action("DeleteMR","ProductionEntry",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>

                                                                </tr>

                                                                i++;
                                                            }
                                                        }
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>

<!-- /container -->

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
$('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
             $('.to_date').datetimepicker('setStartDate', minDate);
        });
    
//    $('#form_date').on('dp.change', function (e) {
//    alert(e.date);
//});
//       $('.form_date').on('dp.change', function (e) {
//           alert(e.date);
//    $('.to_date').data("DateTimePicker").startdate(e.date);
//});
    function changesearch() {

        var isValid = true;

        if (document.getElementById("SStart").value == "" || document.getElementById("SStart").value == 0) {
            isValid = false;
            $(SStart).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select From Date");
                isValid= false;
        }
        else {
            $(SStart).css({
                "border": "",
                "background": ""
            });
        }


        if (document.getElementById("SEnd").value == "" || document.getElementById("SEnd").value == 0) {
            isValid = false;
            $(SEnd).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select To date");
                isValid= false;
        }
        else {
            $(SEnd).css({
                "border": "",
                "background": ""
            });
        }

        if (isValid == true){

        var fromDate = document.getElementById("SStart").value;
        var toDate = document.getElementById("SEnd").value;
        var url = '@Url.Action("ListProductionEntry", "ProductionEntry")?st=' + fromDate + '&ed=' + toDate;
        window.location.href = url;
        }
    }

    //function changesearch() {
    //    var st = document.getElementById("SStart").value;
    //    var ed = document.getElementById("SEnd").value;
    //    document.getElementById("tbBooks").innerHTML = "";
    //    $.ajax({
    //        url: 'ListProductionEntry',
    //        data: { "st": st, "ed": ed },
    //        type: "GET",
    //        success: function (list) {


    //            if (list != null && list.length > 0) {
    //                list.forEach((item) => {
    //                    var index = $("#tbBooks").children("tr").length;
    //                    var branch = "<td><label style='font-weight: 200;'>" + item.itemname + "</label></td>";
    //                    var Qc = "<td><label style='font-weight: 200;'>" + item.qc + "</label><input type='hidden' value=" + item.qc + " id='txtqc" + index + "' name='PoItem[" + index + "].qc'></td>";
    //                    var Qt = "<td><label style='font-weight: 200;'>" + item.quantity + "</label></td>";
    //                    var Unit = "<td><label style='font-weight: 200;'>" + item.unit + "</label></td>";
    //                    var Quantity = "<td><input class='form-control' id='txtQuantity" + index + "' name='PoItem[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value='0'  onkeyup = 'changeQty(this," + index + ")'/></td>";

    //                    var newRow = "<tr  id='trBook" + index + "'>" + Item + Qc + Qt + Unit + Quantity + "</tr>";
    //                    $("#tbBooks").append(newRow);

    //                });

    //            }


                
    //        },
    //        error: function () {
    //            alert("Data Not Found");
    //        }
    //    });
    //}
</script>