@model IEnumerable<Arasan.Models.ProductionEntry>

@{
    ViewData["Title"] = "Production Entry";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Transaction</a> </li>
            <li class="active"> <strong>Curing Inward</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                       
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Branch</th>
                                                          
                                                            <th>Doc No</th>
                                                            <th>Doc Date</th>
                                                              <th>Entry Type</th>
                                                            <th>View</th>
                                                           <th>Inward</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 1;
                                                            foreach (var item in Model)
                                                            {


                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                                                    
                                                                    <td>@Html.DisplayFor(modelItem => item.DocId)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Shiftdate)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.EntryType)</td>

                                                                    <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ApproveProEntry", "ProductionEntry",new { PROID=item.ID })"><img src='../Images/view_icon.png' alt='Waiting for approval' /></a></div></td>
                                                                 <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ApproveProEntry", "ProductionEntry",new { PROID=item.ID })"><img src='../Images/move_quote.png' alt='Waiting for approval' /></a></div></td>
                                                                </tr>

                                                                i++;
                                                            }
                                                        }
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>

<!-- /container -->

