@model Arasan.Models.PurchaseReport

@{
    ViewData["Title"] = "Purchase Report";
    string sdate = ViewContext.HttpContext.Request.Query["st"];
    string edate = ViewContext.HttpContext.Request.Query["ed"];
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Report</a> </li>
            <li class="active"> <strong>Purchase Report</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Sales Target</h5>
                    <hr>
                    @using (Html.BeginForm("PurchaseReport", "PurchaseReport", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                     <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory"></label></label>
                                    <div class="col-sm-7">
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*@Html.TextBoxFor(C => C.SStart, new { @id = "SStart", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SStart" class="form-control" readonly="readonly" value="@sdate" style="width:130px" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.HiddenFor(C => C.Branch)
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory"></label></label>
                                    <div class="col-sm-7">

                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*  @Html.TextBoxFor(C => C.SEnd, new { @id = "SEnd", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SEnd" class="form-control" readonly="readonly" value="@edate" style="width:130px" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Purchase Quotation <label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input type="checkbox" id="myCheck">                                         
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>


                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);
    });
</script>
<script>
    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    $('.for_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtDocId").value == "") {
                isValid = false;
                $(txtDocId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select DocID");
                return false;
            }
            else {
                $(txtDocId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDocdate").value == "") {
                isValid = false;
                $(txtDocdate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select DocDate");
                return false;
            }
            else {
                $(txtDocdate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtFMonth").value == "") {
                isValid = false;
                $(txtFMonth).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Financial Month");
                return false;
            }
            else {
                $(txtFMonth).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtFYear").value == "") {
                isValid = false;
                $(txtFYear).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Financial Year");
                return false;
            }
            else {
                $(txtFYear).css({
                    "border": "",
                    "background": ""
                });
            }

        });

    });
</script>