@model Arasan.Models.Employee

@{
    ViewData["Title"] = "Change Password";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li>  <a href="@Url.Action("Index", "Home")">Home</a> </li>
            <li> <a href="@Url.Action("ChangePassword", "Employee")">Change Password</a> </li>
            <li class="active"> <strong> Change Password  </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("ChangePassword", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Employee<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.EmpName, new { @id = "EmpName", @class = "form-control", @TabIndex = 1, @size = "30" })<br>

                                            @* for edit & delete*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">User Name<label class="mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.UserName, new { @id = "UserName", @class = "form-control", @TabIndex = 1, @size = "30",@readonly="readonly" })<br>
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.createby)
                                            @* for edit & delete*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Old Password<label class="mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.PasswordFor(C => C.oldpass, new { @id = "oldpass", @class = "form-control", @TabIndex = 1, @size = "30" })<br>

                                            @* for edit & delete*@
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">


                                        <label for="inputName3" class="col-sm-4 control-label">New Password<label class="mandatory">*</label></label>


                                        <div class="col-sm-8">
                                            @Html.PasswordFor(C => C.newpass, new { @id = "newpass", @class = "form-control", autocomplete = "off", @TabIndex = 2, @size = "30" })
                                            <span class="input-group-addon" onclick="togglePasswordVisibility()">
                                                <i id="eyeIcon" class="fa fa-eye"></i> <!-- Font Awesome eye icon -->
                                            </span>
                                        </div>


                                    </div>
                                </div>
                            </div>

                          @*  <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Conform Password<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.confpass, new { @id = "confpass", @class = "form-control", autocomplete = "off", @TabIndex = 3, @size = "30" })<br>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                            <div style="height:30px;"></div>
                            <div class="col-lg-7"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                          @*  <a button class="btn btn-danger" type="submit" href="@Url.Action("ListEmployee", "Employee")">Cancel</a>*@


                        </form>
                    }

                </div>

            </div>

        </div>

    </div>

</div>







<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("newpass");
        var eyeIcon = document.getElementById("eyeIcon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
        $(function () {
            $('._select').select2();
        });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("newpass").value == "" || document.getElementById("newpass").value == 0) {
                isValid = false;
                $(newpass).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter New Password");
                return false;
            }
            else {
                $(newpass).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("confpass").value == "" || document.getElementById("confpass").value == 0) {
                isValid = false;
                $(confpass).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Conform Password");
                return false;
            }
            else {
                $(confpass).css({
                    "border": "",
                    "background": ""
                });
            }

            // if (document.getElementById("newpass").value != document.getElementById("confpass").value == 0) {
            //     isValid = false;


            //     alert("New Password And  Conform Password Dosn't Same");
            //     return false;
            // }


            //if (document.getElementById("txtDescription").value == "") {
            //    isValid = false;
            //    $(txtDescription).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Enter Description");
            //    return false;
            //}
            //else {
            //    $(txtDescription).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}


            if (isValid == false)
                e.preventDefault();

        });

    });

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
