@model Arasan.Models.Employee

@{
    ViewData["Title"] = "Item Master";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Employee</strong> </li>
        </ol>
    </div>
</div>

<style>
    .tab-content>.tab-pane {
    display: none;
    padding: 10px !important;
}
</style>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Employee</h5>
                    <hr>
                    @using (Html.BeginForm("Employee", "Employee", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                    <form>
                        <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab" >Employee Details</a></li>
                <li ><a href="#tab-2" data-toggle="tab" >EducationDetails</a></li>
                <li ><a href="#tab-3" data-toggle="tab" >Pay Code </a></li>
                <li ><a href="#tab-4" data-toggle="tab" >Personal Details</a></li>
                                <li><a href="#tab-5" data-toggle="tab">Login Details</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                 @*1st atb*@

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.EmpName, new { @id = "EnqNo", @class = "form-control", @TabIndex = 1})
                                            @Html.HiddenFor(C => C.ID)
                                              <br />
                                     </div>
                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Employee ID<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EmpNo, new { @id = "EmpId", @class = "form-control", @TabIndex = 1})
                                                   
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Gender<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                 <div class="input-group">

                                                                    @Html.RadioButtonFor(C => C.Gender, "Male", new { @TabIndex = 2 })
                                                                    <label id="mt-radio">Male</label>
                                                                    @Html.RadioButtonFor(C => C.Gender, "Female", new { @TabIndex = 3 })
                                                                    <label id="mt-radio">Female</label>
                                                                    

                                                   </div>
                                     </div>

                                </div>
                            </div>
                                    <br />

                          
                        
                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">DOB <label class="mandatory">*</label></label>
                                              
													   <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.DOB, new { @id = "DOB", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
													
													
												
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                     <div class="col-md-6">
                             <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.Address, new { @id = "address", @class = "form-control", @TabIndex = 5})
                                          <br />
                                    </div>
                             </div>
                         </div><br />

                                  
                                
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">State<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                             @Html.DropDownListFor(C => C.StateId, Model.Statelst, new { @id = "ddlState", @Class = "form-control chosen-select", @TabIndex = 6 , onchange = "State_Change(this.value)"})
                                             <br />
                                        </div>

                                    </div>
                                            </div>
                                    </div>



                                    <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.CityId, Model.Citylst, new { @id = "ddlCity", @Class = "form-control chosen-select", @TabIndex = 7 })
                                            <br />
                                            
                                        </div>

                                    </div>
                                </div>

                              <br />
                           
                          
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.PhoneNo, new { @id = "Phoneno", @class = "form-control", @TabIndex = 8}) <br />
                                    </div>

                                </div>
                                        </div>
                                          </div>
                     

                                                            
                              <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Email<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                      @Html.TextBoxFor(C => C.EmailId, new { @id = "Emailid", @class = "form-control", @TabIndex = 9}) <br />
                                      
                                     </div>

                                 </div>
                             </div>
                          </div>

                         
                         

                         

                        
                  @*1st atb*@
              </div>
            

               
                <div class="tab-pane" id="tab-2">
                 
                    @*2nd tab*@
                                      
                                                <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Education <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                            @Html.TextBoxFor(C => C.Education, new { @id = "education ", @class = "form-control", @TabIndex = 10})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">College<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.College, new { @id = "college ", @class = "form-control", @TabIndex = 11})<br />


                                        </div>

                                    </div>
                                </div>
                            </div>

                                   <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Edu.Place <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                @Html.TextBoxFor(C => C.EcPlace, new { @id = "Eplace ", @class = "form-control", @TabIndex = 12})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">YearPassing<label class="Mandatory"></label></label>
                                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                                @Html.TextBoxFor(C => C.YearPassing, new { @id = "YearPassing", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>

                                    </div>
                                </div>
                            </div>

                                <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Grade/Percentage <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                @Html.TextBoxFor(C => C.MPercentage, new { @id = "education ", @class = "form-control", @TabIndex = 14})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Skillset<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                @Html.TextBoxFor(C => C.SkillSet, new { @id = "college ", @class = "form-control", @TabIndex = 15})<br />

                                        </div>

                                    </div>
                                </div>
                            </div>

                             
                                

                   @* 2 nd tab*@
                </div>

                                

                                    <div class="tab-pane" id="tab-3">
                 @*3rd tab*@

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> EMP Pay Category <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPPayCategory, new { @id = "EMPPayCategory ", @class = "form-control", @TabIndex = 12})<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">EMP Basic<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPBasic, new { @id = "EMPBasic ", @class = "form-control", @TabIndex = 13})<br />


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> PF No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.PFNo, new { @id = "PFNo ", @class = "form-control", @TabIndex = 14})<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">ESI No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.ESINo, new { @id = "ESINo ", @class = "form-control", @TabIndex = 15})<br />

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> PF date<label class="Mandatory"></label></label>
                                                
                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.PFdate, new { @id = "PFdate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">ESI Date<label class="Mandatory"></label></label>
                                                
                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.ESIDate, new { @id = "ESIDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                   
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> EMP Cost<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPCost, new { @id = "EMPCost ", @class = "form-control", @TabIndex = 14})<br />

                                                </div>

                                            </div>
                                        </div>
                                        </div>
                   
                </div>
                
                <div class="tab-pane" id="tab-4">
                 
                    @*4th tab*@
                    
                        <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Father Name <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.FatherName, new { @id = "FatherName ", @class = "form-control", @TabIndex = 10})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Mother Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.MotherName, new { @id = "MotherName ", @class = "form-control", @TabIndex = 11})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                               <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> Material Status<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.MaterialStatus, new { @id = "MaterialStatus ", @class = "form-control", @TabIndex = 12})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Blood Group<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.BloodGroup, new { @id = "BloodGroup ", @class = "form-control", @TabIndex = 13})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Community <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Community, new { @id = "Community ", @class = "form-control", @TabIndex = 14})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Pay Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.PayType, new { @id = "PayType ", @class = "form-control", @TabIndex = 15})<br />

                                    </div>

                                </div>
                            </div>
                        </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> Emp Type <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EmpType, new { @id = "EmpType ", @class = "form-control", @TabIndex = 14})<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Disp<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Disp, new { @id = "Disp ", @class = "form-control", @TabIndex = 15})<br />

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                      
                        

                   @* 4th tab*@
                </div>
                 <div class="tab-pane" id="tab-5">
                 
                    @*5th tab*@
                    
                        <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> User Name <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.UserName, new { @id = "UserName ", @class = "form-control", @TabIndex = 10})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Password<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Password, new { @id = "Password ", @class = "form-control", @TabIndex = 11})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                               <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> EMP Deptment<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.EMPDeptment, new { @id = "EMPDeptment ", @class = "form-control", @TabIndex = 12})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">EMP Design<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPDesign, new { @id = "EMPDesign ", @class = "form-control", @TabIndex = 13})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> EMP DeptCode <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPDeptCode, new { @id = "EMPDeptCode ", @class = "form-control", @TabIndex = 14})<br />

                                    </div>

                                </div>
                            </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Join Date<label class="Mandatory"></label></label>

                                                <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.JoinDate, new { @id = "JoinDate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span><br />
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Resign Date<label class="Mandatory"></label></label>

                                                <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.ResignDate, new { @id = "ResignDate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span><br />
                                                </div>

                                            </div>
                                        </div>
                                        
                                    </div>
                      
                        

                   @* 5th tab*@
                </div>
              </div>
           

        
                            <div style="height:30px;"></div>
                               <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListEmployee", "Employee")'">Cancel</button>
  </div>
                        
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".chosen-select").chosen();
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    function State_Change(itemid, i) {
        //alert(itemid);
        //debugger;
        $.ajax({
            url: "GetItemJSON",
            type: "post",
            data: { 'itemid': itemid },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlCity" + i, response);
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    }
</script>