@model Arasan.Models.Employee

@{
    ViewData["Title"] = "Employee Master";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Employee</strong> </li>
        </ol>
    </div>
</div>

<style>
    .tab-content>.tab-pane {
    display: none;
    padding: 10px !important;
}

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
      
     .preview {
        display: inline-block;
        margin: 10px;
         padding-left:900px;
    }

        .preview img {
            width: 70px;
            height: 70px;
            margin-right: 10px;
            
        }
      input[type=file] {
    display: block;
    padding-left:700px;
}
</style>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Employee</h5>
                    <hr>
                    @using (Html.BeginForm("Employee", "Employee", FormMethod.Post))
                    
                      {
                            @Html.AntiForgeryToken()

                    <form>
                                          <div class="row">
                            <div class="col-md-6">
                      
@*               <lable style="padding-left:500px;">Upload an Image</lable>
*@                <div class="row">
                            <div class="col-md-6">
                      
     <input type="file" id="file" name="file1"
        onchange="return fileValidation()" />
 
    <!-- Image preview -->
    <div id="preview-container" class="preview"></div>
                 @if(Model.imgpath!="" )
                 {
                                        <a class="example-image-link" href="@Html.DisplayFor(C => C.imgpath)" data-lightbox="example-set" data-title="@Html.DisplayFor(C => C.EmpName)"><img class="example-image" src="@Html.DisplayFor(C => C.imgpath)" alt="" style="width:70px;height:70px" /></a>

                     @*<img src='@Html.DisplayFor(C => C.imgpath)' style="width:70px;height:70px"/>*@
                 }
               
                 
            </div> 
            </div> 
               
                 
            </div> 
            </div> 
                        <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab" >Employee Details</a></li>
                <li ><a href="#tab-3" data-toggle="tab" >EducationDetails</a></li>
                <li ><a href="#tab-4" data-toggle="tab" >Pay Code </a></li>
                <li ><a href="#tab-5" data-toggle="tab" >Personal Details</a></li>
                <li><a href="#tab-2" data-toggle="tab">Login Details</a></li>
                              
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                 @*1st atb*@

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.EmpName, new { @id = "EmpName", @class = "form-control", @TabIndex = 1,autocomplete="off"})
                                           
                                              <br />
                                     </div>
                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Employee ID<label class="mandatory">*</label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.EmpNo, new { @id = "EmpId", @class = "form-control", @TabIndex = 1,autocomplete="off"})
                                                        @Html.HiddenFor(C => C.ID)
                                                          @Html.HiddenFor(C => C.Branch)
                                                          @Html.HiddenFor(C => C.createby) 
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="row">
                                       <div class="col-md-6">
                                         <div class="form-group">

                                           <label for="inputName3" class="col-sm-4 control-label">Gender<label class="Mandatory"></label></label>
                                             <div class="col-sm-8">
                                                 <div class="input-group">

                                                                    @Html.RadioButtonFor(C => C.Gender, "MALE", new { @TabIndex = 2 })
                                                                    <label id="mt-radio">MALE</label>&emsp;
                                                                    @Html.RadioButtonFor(C => C.Gender, "FEMALE", new { @TabIndex = 3 })
                                                            <label id="mt-radio">FEMALE</label>
                                                                    

                                                 </div>
                                              </div>

                                          </div>
                                       </div>
                        
                                      <div class="col-md-6">
                                        <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">DOB <label class="mandatory"></label></label>
                                              
													   <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                    @Html.TextBoxFor(C => C.DOB, new { @id = "DOB", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                     </div>
												
                                        </div>
                                      </div>
                                    </div>
                             <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.PhoneNo, new { @id = "Phoneno", @class = "form-control", @TabIndex = 8,@onkeydown = "return isNumeric2(event.keyCode,this.value)"}) <br />
                                                    </div>

                                                </div>
                                            </div>
                               <div class="col-md-6">
                                 <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Email<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                      @Html.TextBoxFor(C => C.EmailId, new { @id = "Emailid", @class = "form-control", @TabIndex = 9,@Type="email"}) <br />
                                      
                                    </div>

                                 </div>
                               </div>
                             </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextAreaFor(C => C.Address, new { @id = "address", @class = "form-control", @TabIndex = 5})
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>

                                  
                                
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">State<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.StateId, Model.Statelst, new { @id = "ddlState", @Class = "form-control _select newcss", @TabIndex = 6,onchange = "State_Change(this.value)"})
                                             <br />
                                        </div>

                                    </div>
                                </div>
                               </div>



                                    <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.CityId, Model.Citylst, "Please Select", new{ @id = "ddlCity", @Class = "form-control _select newcss", @TabIndex = 7 })
                                            <br />
                                            
                                        </div>

                                    </div>
                                </div>

                              <br />
                           
                                    </div>

                        
                  @*1st atb*@
              </div>
            
            
               
                <div class="tab-pane" id="tab-3">
                 
                    @*3rd tab*@
                                      
                                                <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Education <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                            @Html.TextBoxFor(C => C.Education, new { @id = "education ", @class = "form-control", @TabIndex = 10})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">College<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.College, new { @id = "college ", @class = "form-control", @TabIndex = 11})<br />


                                        </div>

                                    </div>
                                </div>
                            </div>

                                   <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Edu.Place <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                @Html.TextBoxFor(C => C.EcPlace, new { @id = "Eplace ", @class = "form-control", @TabIndex = 12})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Year Of Passing<label class="mandatory">*</label></label>
                                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                                @Html.TextBoxFor(C => C.YearPassing, new { @id = "YearPassing", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        </div>

                                    </div>
                                </div>
                            </div>

                                <div class="row">
                             
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label"> Grade/Percentage <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.MPercentage, new { @id = "education ", @class = "form-control", @TabIndex = 14,@onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Skillset<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                                                @Html.TextBoxFor(C => C.SkillSet, new { @id = "college ", @class = "form-control", @TabIndex = 15})<br />

                                        </div>

                                    </div>
                                </div>
                            </div>

                             
                                

                   @* 3rd tab*@
                </div>

                                

                                    <div class="tab-pane" id="tab-4">
                 @*4th tab*@

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> EMP Pay Category <label class="Mandatory"></label></label>
                                             <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPPayCategory, new { @id = "EMPPayCategory ", @class = "form-control", @TabIndex = 12 ,onkeydown = "return isNumeric2(event.keyCode,this.value)" })<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">EMP Basic<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EMPBasic, new { @id = "EMPBasic ", @class = "form-control", @TabIndex = 13,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> PF No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.PFNo, new { @id = "PFNo ", @class = "form-control", @TabIndex = 14})<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">ESI No<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.ESINo, new { @id = "ESINo ", @class = "form-control", @TabIndex = 15})<br />

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label"> PF date<label class="mandatory"> </label></label>
                                                
                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.PFdate, new { @id = "PFdate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">ESI Date<label class="mandatory"> </label></label>
                                                
                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.ESIDate, new { @id = "ESIDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                   
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> EMP Cost<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.EMPCost, new { @id = "EMPCost ", @class = "form-control", @TabIndex = 14 ,onkeydown = "return isNumeric2(event.keyCode,this.value)"})<br />

                                                </div>

                                            </div>
                                        </div>
                                        </div>
                   
                </div>
                
                <div class="tab-pane" id="tab-5">
                 
                    @*5th tab*@
                    
                        <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Father Name <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.FatherName, new { @id = "FatherName ", @class = "form-control", @TabIndex = 10})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Mother Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.MotherName, new { @id = "MotherName ", @class = "form-control", @TabIndex = 11})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                               <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> Marital Status<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                        <div class="input-group">

                                                            @Html.RadioButtonFor(C => C.MaterialStatus, "Single", new { @TabIndex = 2 })
                                                            <label id="mt-radio">Single</label>&emsp;
                                                            @Html.RadioButtonFor(C => C.MaterialStatus, "Married", new { @TabIndex = 3 })
                                                            <label id="mt-radio">Married</label>


                                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Blood Group<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.BloodGroup, new { @id = "BloodGroup ", @class = "form-control", @TabIndex = 13})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Community <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Community, new { @id = "Community ", @class = "form-control", @TabIndex = 14})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Pay Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.PayType, new { @id = "PayType ", @class = "form-control", @TabIndex = 15})<br />

                                    </div>

                                </div>
                            </div>
                        </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label"> Emp Type <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.EmpType, new { @id = "EmpType ", @class = "form-control", @TabIndex = 14})<br />

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputName3" class="col-sm-4 control-label">Disp<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Disp, new { @id = "Disp ", @class = "form-control", @TabIndex = 15})<br />

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                      
                        
                            
                   @* 5th tab*@
                </div>

                                    <div class="tab-pane" id="tab-2">

                                        @*2nd tab*@

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label"> User Name <label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.UserName, new { @id = "txtuse ", @class = "form-control", @TabIndex = 10})<br />

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">Password<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.Password, new { @id = "Password ", @class = "form-control", @TabIndex = 11})<br />


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">EMP Department<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.EMPDeptment, Model.EMPDeptlst,"Please Select", new { @id = "ddlEMPDeptment", @Class = "form-control _select", @TabIndex = 6 ,style = "width: 350px;"})<br />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">EMP Design<label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.EMPDesign, Model.EMPDesignlst,"Please Select", new { @id = "ddlEMPDesign", @Class = "form-control _select newcss", @TabIndex = 6,style = "width: 350px;"})
                                                        <br /><br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label"> EMP Department<label class="Mandatory"></label></label>
                                                   
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.EMPDeptment, Model.EMPDeptlst,"Please Select", new { @id = "ddlEMPDeptment", @Class = "form-control _select", @TabIndex = 1 })<br />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label">EMP Design<label class="Mandatory"></label></label>
                                                   
                                                    <div class="col-sm-8">
                                                        @Html.DropDownListFor(C => C.EMPDesign, Model.EMPDesignlst,"Please Select", new { @id = "ddlEMPDesign", @Class = "form-control _select", @TabIndex = 1 })<br /><br>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label for="inputName3" class="col-sm-4 control-label"> EMP DeptCode <label class="Mandatory"></label></label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(C => C.EMPDeptCode, new { @id = "EMPDeptCode ", @class = "form-control", @TabIndex = 14})<br />

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputName3" class="col-sm-4 control-label">Join Date<label class="mandatory">*</label></label>

                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.JoinDate, new { @id = "JoinDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputName3" class="col-sm-4 control-label">Resign Date<label class="mandatory"> </label></label>

                                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                                        @Html.TextBoxFor(C => C.ResignDate, new { @id = "ResignDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                      

                                        @* 2nd tab*@
                                    </div>
                 
              </div>
           

        
                            <div style="height:30px;"></div>
                                <div class="col-lg-10"></div>
                                <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListEmployee", "Employee")'">Cancel</button> 
  </div>
                        
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("EmpName").value == ""||document.getElementById("EmpName").value == 0) {
                isValid = false;
                $(EmpName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Employee Name");
                return false;
            }
            else {
                $(EmpName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("EmpId").value == ""||document.getElementById("EmpId").value == 0) {
                isValid = false;
                $(EmpId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Employee ID");
                return false;
            }
            else {
                $(EmpId).css({
                    "border": "",
                    "background": ""
                });
            }
            // if (document.getElementById("DOB").value == "") {
            //    isValid = false;
            //    $(DOB).css({
            //        "border": "1px solid red",
            //        "background": "#FFCECE"
            //    });

            //    alert("Please Select DOB");
            //    return false;
            //}
            //else {
            //    $(DOB).css({
            //        "border": "",
            //        "background": ""
            //    });
            //}
             if (document.getElementById("Phoneno").value == "") {
                isValid = false;
                $(Phoneno).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Mobile No");
                return false;
            }
            else {
                $(Phoneno).css({
                    "border": "",
                    "background": ""
                });
            } 

             if (document.getElementById("txtuse").value == "") {
                isValid = false;
                $(txtuse).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select User Name");
                return false;
            }
            else {
                $(txtuse).css({
                    "border": "",
                    "background": ""
                });
            }


            if (document.getElementById("Password").value == "") {
                isValid = false;
                $(Password).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Password");
                return false;
            }
            else {
                $(Password).css({
                    "border": "",
                    "background": ""
                });
            } 

            if (document.getElementById("JoinDate").value == "") {
                isValid = false;
                $(JoinDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Join Date");
                return false;
            }
            else {
                $(JoinDate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("YearPassing").value == "") {
                isValid = false;
                $(YearPassing).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Year Of Passing");
                return false;
            }
            else {
                $(YearPassing).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlEMPDeptment").value == "") {
                isValid = false;
                $(ddlEMPDeptment).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select EMPDeptment");
                return false;
            }
            else {
                $(ddlEMPDeptment).css({
                    "border": "",
                    "background": ""
                });
            }if (document.getElementById("ddlEMPDesign").value == "") {
                isValid = false;
                $(ddlEMPDesign).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select EMP Design");
                return false;
            }
            else {
                $(ddlEMPDesign).css({
                    "border": "",
                    "background": ""
                });
            }

           @*  var emailInput = document.getElementById('Emailid').value;
            var emailPattern = /^[a-zA-Z0-9._%+-]+@{a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (!emailPattern.test(emailInput)) {
        errorMessage.textContent = "Please enter a valid email address.";
        alert("Invalid email format! Please enter a valid email address.");
    }*@

            if (isValid == false)
                e.preventDefault();

        });

    });

</script>

<script>

    $(function () {
        $('._select').select2();
    });
    function State_Change(itemid, i) {
        //alert(itemid);
        //debugger;
        $.ajax({
            url: "GetStateJSON",
            type: "post",
            data: { 'supid': itemid },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlCity", response);
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
  
function fileValidation() {
            var fileInput = 
                document.getElementById('file');
             
            var filePath = fileInput.value;
         
            // Allowing file type
            var allowedExtensions = 
                    /(\.jpg|\.jpeg|\.png|\.gif)$/i;
             
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type (Please Select Image Type is .jpg,.jpeg,.png )');
                fileInput.value = '';
                return false;
            } 
            else 
            {
             
                // Image preview
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById(
                            'preview-container').innerHTML = 
                            '<img src="' + e.target.result
                            + '"/>';
                    };
                     
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
            $("#preview-container").on("click", ".delete", function () {
            $(this).parent(".preview").remove();
            $("#file").val(""); // Clear input value if needed
        });
        }
</script>





