@model Arasan.Models.Employee

@{
    ViewData["Title"] = "Item Master";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Employee</strong> </li>
        </ol>
    </div>
</div>

<style>
    .tab-content>.tab-pane {
    display: none;
    padding: 10px !important;
}
</style>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Employee</h5>
                    <hr>
                    <form>
                        <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1" data-toggle="tab" >Employee Details</a></li>
                <li ><a href="#tab-2" data-toggle="tab" >EducationDetails</a></li>
                <li ><a href="#tab-3" data-toggle="tab" >Bin </a></li>
                
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                 @*1st atb*@

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.EmpName, new { @id = "EnqNo", @class = "form-control", @TabIndex = 1})
                                            @Html.HiddenFor(C => C.EmpId)
                                              <br />
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Gender<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                                 <div class="input-group">

                                                                    @Html.RadioButtonFor(C => C.Gender, "Male", new { @TabIndex = 2 })
                                                                    <label id="mt-radio">Male</label>
                                                                    @Html.RadioButtonFor(C => C.Gender, "Female", new { @TabIndex = 3 })
                                                                    <label id="mt-radio">Female</label>
                                                                    

                                                   </div>
                                     </div>

                                </div>
                            </div>
                        </div>

                          
                          <div class="row">
                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">DOB <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.DOB, new { @id = "IndentDate", @class = "form-control", @TabIndex = 4,@size="32" })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        <br />
													</div>
													
													
												
                                            </div>
                                        </div>
                     <div class="col-md-6">
                             <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.Address, new { @id = "address", @class = "form-control", @TabIndex = 5})
                                          <br />
                                    </div>
                             </div>
                         </div>       

                     </div>
                     
                          <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">State<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.DropDownListFor(C => C.StateId, Model.Statelst, new { @id = "ddlState", @Class = "form-control chosen-select", @TabIndex = 6 })
                                         <br />
                                    </div>

                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.CityId, Model.Citylst, new { @id = "ddlCity", @Class = "form-control chosen-select", @TabIndex = 7 })
                                        <br />
                                        
                                    </div>

                                </div>
                            </div>

                          </div>
                           
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Mobile No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.PhoneNo, new { @id = "Phoneno", @class = "form-control", @TabIndex = 8}) <br />
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Email<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                      @Html.TextBoxFor(C => C.EmailId, new { @id = "Emailid", @class = "form-control", @TabIndex = 9}) <br />
                                      
                                     </div>

                                 </div>
                             </div>
                          </div>

                         
                         

                         

                        
                  @*1st atb*@
              </div>
            

              
                <div class="tab-pane" id="tab-2">
                 
                    @*2nd tab*@
                    
                        <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Education <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.Education, new { @id = "education ", @class = "form-control", @TabIndex = 10})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">College<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.College, new { @id = "college ", @class = "form-control", @TabIndex = 11})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                               <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Edu.Place <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.EcPlace, new { @id = "Eplace ", @class = "form-control", @TabIndex = 12})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">YearPassing<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.YearPassing, new { @id = "YearPassing ", @class = "form-control", @TabIndex = 13})<br />


                                    </div>

                                </div>
                            </div>
                        </div>

                            <div class="row">
                         
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Grade/Percentage <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.MPercentage, new { @id = "education ", @class = "form-control", @TabIndex = 14})<br />

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Skillset<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                           @Html.TextBoxFor(C => C.SkillSet, new { @id = "college ", @class = "form-control", @TabIndex = 15})<br />

                                    </div>

                                </div>
                            </div>
                        </div>

                     
                      
                        

                   @* 2 nd tab*@
                </div>

              
                <div class="tab-pane" id="tab-3">
                 @*3rd tab*@
                
               
                
		
							
                   
                </div>
                
              </div>
           

        
                            <div style="height:30px;"></div>
                            <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ItemList", "ItemName")">Submit</a>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ItemList", "ItemName")">Cancel</a>
                    </div>
                        
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".chosen-select").chosen();
</script>