@model Arasan.Models.AccDescrip

@{
    ViewData["Title"] = "AccDescrip";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> AccDescrip </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("AccDescrip", "AccDescrip", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Trasaction Name<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
@*
                                        @* @Html.TextBoxFor(C => C.TrasactionName, new { @id = "txtTrasactionName", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>

                                        
                                            @Html.HiddenFor(C => C.ID)*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Trasaction ID<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                          @*  @Html.TextBoxFor(C => C.TrasactionID, new { @id = "txtTrasactionID", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>*@
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Scheme Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                       @* @Html.TextBoxFor(C => C.SchemeName, new { @id = "txtSchemeName", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>*@
                                    </div>


                                </div>
                            </div>
                           </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Description<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                           @* @Html.TextBoxFor(C => C.Description, new { @id = "txtDescription", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>*@
                                        </div>


                                    </div>
                                </div>
                            </div>
                              


                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListAccDescrip", "AccDescrip")">Cancel</a>




                        </form>


                    }
                </div>

            </div>

        </div>

    </div>

</div>
<script>
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<script>

    $(function () {
        $('._select').select2();
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;


            if (document.getElementById("txtTrasactionName").value == "") {
                isValid = false;
                $(txtTrasactionName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Trasaction Name");
                return false;
            }
            else {
                $(txtTrasactionName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtTrasactionID").value == "") {
                isValid = false;
                $(txtTrasactionID).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Trasaction ID");
                return false;
            }
            else {
                $(txtTrasactionID).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtSchemeName").value == "") {
                isValid = false;
                $(txtSchemeName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Scheme Name");
                return false;
            }
            else {
                $(txtSchemeName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDescription").value == "") {
                isValid = false;
                $(txtDescription).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Description");
                return false;
            }
            else {
                $(txtDescription).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });

</script>