@model Arasan.Models.Branch

@{
    ViewData["Title"] = "Branch";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Branch  </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <hr>
                    @using (Html.BeginForm("Branch", "Branch", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Company Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.CompanyName, Model.Compalst,"Please Select", new { @id = "ddlCompany", @Class = "form-control _select", @TabIndex = 1 })<br />
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                           @* <input type="text" onkeypress="return allowOnlyLetters(event,this);" />*@
                                            @Html.TextBoxFor(C => C.BranchName, new { @id = "txtBranchName", @class = "form-control", @TabIndex = 2,@size="30"})<br>
                                           @* @Html.EditorFor(model => model.BranchName)
                                            @Html.ValidationMessageFor(model => model.BranchName )*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Address<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(C => C.Address, new { @id = "txtAddress",@class = "form-control", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Country<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.countryid, Model.cuntylst,"Please Select",  new { @id = "ddlcountry", @Class = "form-control _select", @TabIndex = 1,onchange = "StateChange(value)" })<br />
                                        </div>

                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">State<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C. StateName , Model.statlst,"---Please Select---",  new { @id = "ddlState", @Class = "form-control _select", @TabIndex = 1,onchange = "CityChange(value)" })<br />
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">City<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                           @* <input class="form-control" id="inputEmail3" placeholder="" type="text" ><br />*@
                                            @Html.DropDownListFor(C => C. City , Model.Citylst,"---Please Select---",  new { @id = "ddlCity", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Pin Code<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.PinCode, new { @id = "PinCode",@maxlength="6",onkeydown = "return isNumeric2(event.keyCode,this.value)", @class = "form-control", @TabIndex = 2,@size="30" })
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">GST No<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                           @* <input type="text" class="numericOnly" placeholder="Search" id="txtSearch">*@

                                             @Html.TextBoxFor(C => C.GSTNo, new { @id = "GSTNo ", @maxlength="15", @class = "form-control", @TabIndex = 2 })
                                            @*<input type="text"maxlength="10">*@
                                        </div>

                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">GST Date<label class="Mandatory"></label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.GSTDate, new { @id = "GSTDate", @class = "form-control", @TabIndex = 2,@size="30",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>

                            <div class="col-lg-10"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListBranch", "Branch")">Cancel</a>

                        </form>
                    }
                </div>

            </div>

        </div>

    </div>

</div>
<script>

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
 
<script>

    $(function () {
        $('._select').select2();
    });

    function CityChange(itemid) {
        //alert(itemid);
        //debugger;
        $.ajax({
            url: "GetCityJSON",
            type: "post",
            data: { 'supid': itemid },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlCity", response);
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlCompany").value == "") {
                isValid = false;
                $(ddlCompany).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Company");
                return false;
            }
            else {
                $(ddlCompany).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtBranchName").value == "") {
                isValid = false;
                $(txtBranchName).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Branch Name");
                return false;
            }
            else {
                $(txtBranchName).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtAddress").value == "") {
                isValid = false;
                $(txtAddress).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Address ");
                return false;
            }
            else {
                $(txtAddress).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlState").value == "" ) {
                isValid = false;
                $(ddlState).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select State");
                return false;
            }
            else {
                $(ddlState).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlCity").value == "") {
                isValid = false;
                $(ddlCity).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select City ");
                return false;
            }
            else {
                $(ddlCity).css({
                    "border": "",
                    "background": ""
                });
            }
            

        });

    });

</script>