@model IEnumerable<Arasan.Models.Branch>

@{
    ViewData["Title"] = "Index";
}
 <div class="row wrapper border-bottom page-heading">
      <div class="col-lg-12">

        <ol class="breadcrumb">
          <li> <a href="#">Home</a> </li>
          <li> <a>Sales</a> </li>
          <li class="active"> <strong> Sales Quotation </strong> </li>
        </ol>
      </div>
    </div>


 <div class="wrapper-content ">
        <div class="row">
         <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="widgets-container">
              <h5 style="font-size:14px">Sales Quotation</h5>
              <hr>
              <form>
			  <div class="row">
                  <div class="col-md-12">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addr3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addr2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addr3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

                </div>
                </div>
                </form>
                </div>
 </div>
  </div>
   </div>
    </div>