@model IEnumerable<Arasan.Models.PurchaseEnquiry>

@{
    ViewData["Title"] = "Purchase Enquiry";
    string query = ViewContext.HttpContext.Request.Query["Active"];
    string Eid = string.Empty;
    if (!string.IsNullOrEmpty(query)) { Eid = ViewContext.HttpContext.Request.Query["Active"]; }
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Purchase Enquiry</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <form>
                        <div class="row">
                        <div class="col-md-6">
                            <select style='width: 200px;' class='form-control  newcss' id="dllstatus" onchange="changeStatus(this.value)">
                                <option value='YES'>Open</option>
                                <option value='NO'>Close</option>
                            <option value='InActive'>Disabled</option>
                            </select>
                        </div>
                      
@*  <div class="row">
                             <div class="col-md-12 "> 
                                   <div class=" textalignright">
                                       <a href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Purchase Enquiry</a>
                                     <br>
                                </div>
                        </div>
                        </div>*@
                        </div>
<div class="row">
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              
              <div class="ibox-content collapse in">
                <div class="widgets-container">
                  <div>
                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                      <thead>
                        <tr>
                          <th>Branch</th>
                          <th>Enquiry Ref</th>
                          <th>Enquiry Date</th>
                          <th>Supplier Name</th>
                          <th>Send Mail</th>
                          <th>Followup</th>
                          @*<th>Move To Quote</th>*@
                          <th>View</th>
                          <th>Close</th>
                        </tr>
                      </thead>
                   
                      <tbody>
                          @{
                                                            int i = 1;


                                                            foreach (var item in Model)
                                                            {
                                                                

                                <tr>
                                                                            <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.RefNo)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Enqdate)</td>
                                                                            <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                                                                            
                                                                           @if (item.Active == "NO")
                                                                    {
                                                                        <td></td>
                                                                        <td> </td>
                                                                        <td></td>
                                                                        <td> </td>
                                                                        <td> </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("SendMail", "PurchaseEnq",new { id=item.ID })"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                                                                        <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("Followup", "PurchaseEnq",new { id=item.ID })"><img src='../Images/followup.png' /></a></div></td>
                                                                          //<td><div class="fa-hover col-md-2 col-sm-4"> <img src='../Images/view_icon.png' alt='Moved to Quote' width='20' /></div></td>


                                                                    //    @if (item.Status == "1" )
                                                                    //    {
                                                                    //        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewEnq", "PurchaseEnq",new { id=item.ID })" class='fancybox' data-fancybox-type='iframe'><img src='../Images/move_quote.png' alt='View Details' width='20'/></a></div>
                                                                    //        </td>
                                                                    //    }
                                                                    //    else
                                                                    //    {
                                                                    //        <td><div class="fa-hover col-md-2 col-sm-4"> <img src='../Images/view_icon.png' alt='Moved to Quote' width='20' /></div></td>
                                                                    //    }
                                                                    
                                                                    

                                                                    //<td>
                                                                    //    @if (item.Status == "1"   )
                                                                    //    {
                                                                    //        <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq",new { id=item.ID })"></a></div>
                                                                    //    }
                                                                    //</td>
                                                                    //<td>
                                                                    //    @if (item.Status == "1" )
                                                                    //    {
                                                                    //        <a href="@Url.Action("DeleteMR","PurchaseEnq",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a>
                                                                    //    }
                                                                    //</td>

                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("ViewEnq", "PurchaseEnq",new { id=item.ID })" class='fancybox' data-fancybox-type='iframe'><img src='../Images/view_icon.png' alt='Waiting for approval' /></a></div></td>
                                                                        <td> <a href="@Url.Action("DeleteMR","PurchaseEnq",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>

                                                                    }
                                                                   @* <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq",new { id=item.ID })"></a></div></td>
                                                                   *@
                                                                   
                                                                </tr>

                                                                i++;
                                                            }
                                                        }


                        @*<tr>
                                                       <td>(TAAI)SVK - FACTORY</td>
                                                        <td>Supplier 2</td>
                                                       <td>ENQ-000002/22-23</td>
                                                        <td>26-Aug-2022</td>
                                                       <td>₹</td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail2.png' alt='Email Sent' /></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                        </tr>
                         <tr>
                         <td>(TAAI)SVK - FACTORY</td>
                          <td>Supplier 1</td>
                          <td>ENQ-000003/22-23</td>
                          <td>09-Sep-2022</td>
                          <td>₹</td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                        </tr>
                          <tr>
                         <td>(TAAI)SVK - FACTORY</td>
                          <td>Supplier 3</td>
                          <td>ENQ-000004/22-23</td>
                          <td>12-Sep-2022</td>
                          <td>₹</td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a href="#"><img src='../Images/mail_icon.png' alt='Send Email' /></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"><img src='../Images/followup.png' alt='FollowUp' /> - (1)</a></div></td>
                          <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                           <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")"></a></div></td>
                        </tr>*@
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>

                          <script>
                              $(document).ready(function() {
                                $('#example7').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    text: 'copy',
                    extend: "copy",
                    className: 'btn dark btn-outline'
                }, {
                    text: 'csv',
                    extend: "csv",
                    className: 'btn aqua btn-outline'
                }, {
                    text: 'excel',
                    extend: "excel",
                    className: 'btn aqua btn-outline'
                }, {
                    text: 'pdf',
                    extend: "pdf",
                    className: 'btn yellow  btn-outline'
                }, {
                    text: 'print',
                    extend: "print",
                    className: 'btn purple  btn-outline'
                }]
            });



        });
                          </script>

                    <!-- /container -->
                       
                        <a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
                        <a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
                        <link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
                        <script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
                        <script type="text/javascript">
                            var fancybox123;
                            jQuery(document).ready(function ($) {
                                $(".fancybox").fancybox({
                                    width: '80%',
                                    height: '10%',
                                    arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
                                });
                                fancybox123 = $.fancybox;
                            });
                            function close_popup() {
                                fancybox123.close();
                                $(".fancybox1").fancybox({
                                    width: '100%',
                                    height: '100%',
                                    arrows: false,
                                });
                                $(".fancybox1").eq(0).trigger('click');
                            }
    function changeStatus(status) {
        var url = "/PurchaseEnq/ListEnquiry?status=" + status;
        window.location.href = url;
        //$.ajax({
        //    url: 'AssignSession',
        //    data: { "status": status },
        //    type: "GET",
        //    success: function (result) {
        //        document.getElementById("hdstatus").value = result;
        //    },
        //    error: function () {
        //        alert("Data Not Found");
        //    }
        //});
        //window.location.reload();

    }
    $(document).ready(function () {
        var val2 = "@Eid";
        $('#dllstatus').val(val2);
    });
                        </script>