@model Arasan.Models.PurchaseEnquiry

@{
    ViewData["Title"] = "Index";
}
  <partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
    
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Purchase Enquiry</strong> </li>
        </ol>
    </div>
</div>

 <script type="text/javascript">
        $(document).ready(function () {
            var source =
            {
                url: "/PurchaseEnq/MyListEnquirygrid",
               datatype: "json",
                updaterow: function (rowid, rowdata) {
                  // synchronize with the server - send update command
              },-
                datafields: [
                    { name: 'SuppName' , type: 'string'},
                    { name: 'EnqNo', type: 'string' },
                    { name: 'EnqDate', type: 'string' },
                    { name: 'Currency', type: 'string' },
                    { name: 'Branch', type: 'string' }
                ],
                id: 'PRID',
            };
              var employeesAdapter = new $.jqx.dataAdapter(source,
                { contentType: 'application/json; charset=utf-8' }, {
                    loadComplete: function () {

                    }
                }
            );
            
                        
            var ordersSource =
            {
                 url: "/PurchaseEnq/ListEnquiryItemgrid",
                datafields: [
                    { name: 'PRID', type: 'string' },
                    { name: 'ProName', type: 'string' },
                    { name: 'Unit', type: 'string' },
                    { name: 'Quantity', type: 'int' },
                    { name: 'Rate', type: 'float' },
                    { name: 'Amount', type: 'float' }
                ],
               
                datatype: "json",
               
                async: false
            };
              var ordersDataAdapter = new $.jqx.dataAdapter(ordersSource,
                { contentType: 'application/json; charset=utf-8' }, { autoBind: true }
                );
              ordersDataAdapter.dataBind();
            //var ordersDataAdapter = new $.jqx.dataAdapter(ordersSource, { autoBind: true });
            var orders = ordersDataAdapter.records;

            console.log(orders);
            
            var nestedGrids = new Array();
            // create nested grid.
            var initrowdetails = function (index, parentElement, gridElement, record) {
                var id = record.uid.toString();
                var grid = $($(parentElement).children()[0]);
                nestedGrids[index] = grid;
                var filtergroup = new $.jqx.filter();
                var filter_or_operator = 1;
                var filtervalue = id;
                var filtercondition = 'equal';
                var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
                // fill the orders depending on the id.
                var ordersbyid = [];
                for (var m = 0; m < orders.length; m++) {
                    alert(m);
                    var result = filter.evaluate(orders[m]["PRID"]);
                    if (result)
                        ordersbyid.push(orders[m]);
                }
                var orderssource = { datafields: [
                    { name: 'PRID', type: 'string' },
                    { name: 'ProName', type: 'string' },
                    { name: 'Unit', type: 'string' },
                    { name: 'Quantity', type: 'int' },
                    { name: 'Rate', type: 'float' },
                    { name: 'Amount', type: 'float' }
                ],
                    id: 'OrderID',
                    localdata: ordersbyid
                }
                var nestedGridAdapter = new $.jqx.dataAdapter(orderssource);
                if (grid != null) {
                    grid.jqxGrid({
                        source: nestedGridAdapter, width: 780, height: 200,
                        columns: [
                          { text: 'Product Name', datafield: 'ProName', width: 200 },
                          { text: 'Unit', datafield: 'Unit', width: 80 },
                          { text: 'Quantity', datafield: 'Quantity', width: 150 },
                          { text: 'Rate', datafield: 'Rate', width: 150 },
                          { text: 'Amount', datafield: 'Amount', width: 200 }
                       ]
                    });
                }
            }
             var renderer = function (row, column, value) {
                 
                return '<span style="margin-left: 4px; margin-top: 9px; float: left; ">' + value + '</span>';
            }
            
            // creage grid
            $("#grid").jqxGrid(
                {
                    width: getWidth('Grid'),
                    height: 365,
                    source: source,
                    pageable: true,
                    filterable: true,
                    autoheight: true,
                    sortable: true,
                    rowdetails: true,
                    rowsheight: 35,
                    initrowdetails: initrowdetails,
                    rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 10px;'></div>", rowdetailsheight: 220, rowdetailshidden: true },
                    ready: function() {
                        $("#grid").jqxGrid('showrowdetails', 1);
                    },
                    columns: [
                    
                    { text: 'Branch', datafield: 'Branch', width: 200 },
                      { text: 'Supplier Name', datafield: 'SuppName', width: 200 },
                      { text: 'Enquiry No.', datafield: 'EnqNo', width: 150 },
                      { text: 'Enquiry Date', datafield: 'EnqDate', width: 150 },
                      { text: 'Currency', datafield: 'Currency', width: 110}
                  ]
            });
        });
    </script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Purchase Enquiry</h5>
                    <hr>
                    <form>
                         <div class="row">
                             <div class="col-md-12 "> 
                                   <div class=" textalignright">
                                    <a href="@Url.Action("PurchaseEnquiry", "PurchaseEnq")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Purchase Enquiry</a>
                                     <br>
                                </div>
                       
                       
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    .
                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td>S.No</td>
                                                            <th>Branch</th>
                                                            <th>Enq No</th>
                                                            <th>Enq Date</th>
                                                            <th>Enq Recived</th>
                                                            <th>Enq Assign</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        
                                                           
                                                              
                                                               
                                                               

                                                        <tr>
                                                        <td>2</td>
                                                        <td>India</td>
                                                        <td>KA</td>
                                                        <td>Karnataka</td>
                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("State", "State")"></a></div></td>
                                                        <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("State", "State")"></a></div></td>
                                                        </tr>
                                                        <tr>
                                                        <td>3</td>
                                                        <td>India</td>
                                                        <td>KL</td>
                                                        <td>Kerala</td>
                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("State", "State")"></a></div></td>
                                                        <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("State", "State")"></a></div></td>
                                                        </tr>>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                             <div class="col-md-2 "> </div>
                            <div class="col-md-10 "> 
                                <div id="grid">
    </div>

                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
