@model Arasan.Models.PurchaseEnquiry

@{
    ViewData["Title"] = "Purchase Enquiry";
    var previousDate = DateTime.Now.AddDays(-7);

    string strDate2 = String.Format("{0:dd-MMM-yyyy}", previousDate);
    string strDate3 = String.Format("{0:dd-MMM-yyyy}", DateTime.Now);


    string strfrom1 = ViewContext.HttpContext.Request.Query["strfrom"];
    string strTo1 = ViewContext.HttpContext.Request.Query["strTo"];

    string strfrom = "";
    string strTo = "";

    if (strfrom1 == null)
    {
        strfrom = strDate2;
    }
    else
    {
        strfrom = strfrom1;
    }
    if (strTo1 == null)
    {
        strTo = strDate3;
    }
    else
    {
        strTo = strTo1;
    }
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Purchase Enquiry</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () 
    {
        var source =
        {
            url: "/PurchaseEnq/MyListPurchaseEnquiryGrid",
            //url: "/ItemName/ItemName",
            data: {
                strfrom: "@strfrom ",
                strTo: "@strTo",
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                //{ name: 'branch', type: 'string' },
                { name: 'docNo', type: 'string' },
                { name: 'docDate', type: 'string' },
                { name: 'supplier', type: 'string' },
                { name: 'mailrow', type: 'string' },
                { name: 'follow', type: 'string' },
                { name: 'move', type: 'string' },
                { name: 'reg', type: 'string' },
                { name: 'view', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },
                
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                theme: 'ui-start',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,
                columns: [
                    //{ text: 'Branch', filtertype: 'checkedlist', datafield: 'branch', width: 150 },
                    { text: 'Enq No', filtertype: 'input', datafield: 'docNo', width: 150 },
                    { text: 'Enq Date', datafield: 'docDate', width: 100, align: 'center' },
                    { text: 'Supplier', filtertype: 'checkedlist', datafield: 'supplier', width: 250 },
                    { text: 'Send Mail', datafield: 'mailrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Follow Up', datafield: 'follow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Move To Quote', datafield: 'move', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, align: 'center', cellsalign: 'center', width: 150 },
                    { text: 'Regenerate', datafield: 'reg', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, align: 'center', cellsalign: 'center', width: 70 },
                    { text: 'View', datafield: 'view', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, align: 'center', cellsalign: 'center', width: 70 },
                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    //{ text: 'Move To GRN', datafield: 'move', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 120 },
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strfrom: "@strfrom ",
                strTo: "@strTo",
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                       @* <div class="row">
                            <div class="col-md-5">
                                <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory"></label></label>
                               
                                    <div class="input-group date form_date col-sm-9" data-date="" data-date-format="dd-M-yyyy">
                                        <input id="SStart" class="form-control" readonly="readonly" value="@strfrom" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                   

                                </div>
                            </div>

                            <div class="col-md-5">
                                <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory"></label></label>
                              

                                    <div class="input-group date to_date col-sm-9" data-date="" data-date-format="dd-M-yyyy">

                                        <input id="SEnd" class="form-control" readonly="readonly" value="@strTo" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                    </div>
                                   

                                

                            </div>
                            <div class="col-md-2">
                            <button type="button" class="btn btn-primary  marginright" id="btnSave" value="Run" onclick="loadReport()">Search</button>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                                <br>
                            </div>
                          @*  <div class="col-md-9 ">
                                 <div class=" textalignright">
                                <a href="@Url.Action("DirectPurchase", "DirectPurchase")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add DirectPurchase</a>
                                <br>
                                </div>


                            </div>*@
                        </div>
                        <div class="row">


                            @*  <div class="col-md-10 ">*@
                            <div id="grid">
                            </div>

                            @* </div>*@

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>


<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }


    //function changeStatus(status) {
    //    var url = "/PurchaseQuo/ListPurchaseQuo?status=" + status;
    //    window.location.href = url;
    //    //$.ajax({
    //    //    url: 'AssignSession',
    //    //    data: { "status": status },
    //    //    type: "GET",
    //    //    success: function (result) {
    //    //        document.getElementById("hdstatus").value = result;
    //    //    },
    //    //    error: function () {
    //    //        alert("Data Not Found");
    //    //    }
    //    //});
    //    //window.location.reload();
</script>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
    function loadReport() {
        var dtfrom = document.getElementById("SStart").value;
        var dtto = document.getElementById("SEnd").value;

        var url = 'ListEnquiry?strfrom=' + dtfrom + '&strTo=' + dtto;
        window.location.href = url;

    }
</script>
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);
    });
</script>