@model Arasan.Models.PurchaseEnquiry

@{
    ViewData["Title"] = "Followup";

}

     <div class="row wrapper border-bottom page-heading">
      <div class="col-lg-12">

        <ol class="breadcrumb">
          <li> <a href="#">Home</a> </li>
          <li> <a>Transaction</a> </li>
           <li> <a href="/PurchaseEnq/ListPO">Purchase Order</a> </li>
          <li class="active"> <strong>Followup </strong> </li>
        </ol>
      </div>
    </div>
     <div class="wrapper-content ">
        <div class="row">
         <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="widgets-container">
              <h5 style="font-size:14px">Followup</h5>
              <hr>
              <form>
			 <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">PO ID <label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                   
                                                   PO-000001/22-23
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Supplier Name<label class="Mandatory"></label></label>
                                                <div class="col-sm-8 bootstrap-timepicker">
                                                  Supplier 1
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:30px;"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Followed By<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                   <select class=" _select js-states form-control">
                       
                       
                        <option value="Anitha">Anitha </option>
                        <option value="Ramesh">Ramesh </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">PO Status<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                 <select class=" _select js-states form-control">
                       
                       
                        <option value=""> </option>
                        <option value=""> </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:30px;"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Follow Date<label class="Mandatory"></label></label>
                                               	<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
														data-link-format="yyyy-mm-dd">
														<input class="form-control" size="32" type="text" value="" readonly>
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													<input type="hidden" id="dtp_input2" value="" />
													<br/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Next Follow Date<label class="Mandatory"></label></label>
                                             	<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
														data-link-format="yyyy-mm-dd">
														<input class="form-control" size="32" type="text" value="" readonly>
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													<input type="hidden" id="dtp_input2" value="" />
													<br/>
                                            </div>
                                        </div>
                                    </div>
                                   
                                  
                                  
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-2 control-label">Remarks<label class="Mandatory"></label></label>
                                                <div class="col-sm-12">
                                                      <textarea class="form-control" id="inputEmail3" type="text" rows="3"></textarea><br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                        <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ListPO", "PurchaseEnq")">Submit</a>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListPO", "PurchaseEnq")">Cancel</a>




                          <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td>S.No</td>
                                                            <th>Followed By</th>
                                                            <th>Follow Date</th>
                                                            <th>Next Follow Date</th>
                                                            <th>Remarks</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                   
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Anitha</td>
                                                            <td>09-Sep-2022</td>
                                                             <td>22-Sep-2022</td>
                                                             <td>Remarks</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                          <td>Anitha</td>
                                                            <td>09-Sep-2022</td>
                                                             <td>22-Sep-2022</td>
                                                             <td>Remarks</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Anitha</td>
                                                            <td>09-Sep-2022</td>
                                                             <td>22-Sep-2022</td>
                                                             <td>Remarks</td>
                                                            <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                            <td> <div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-trash" aria-hidden="true" href="@Url.Action("PurchaseFollowup", "PurchaseEnq")"></a></div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                   


                        </div>

                    </div>


                                        </form>
</div>
</div>
</div>
</div>
</div>