@model Arasan.Models.PurchaseReturn
@{
    ViewData["Title"] = " Purchase Return";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong> Purchase Return</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Purchase Return</h5>
                    <hr>

                    @using (Html.BeginForm("PurchaseRet", "PurReturn", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">GRN No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(o => o.Grn, Model.POlst, "---Please Select--", new { @class = "form-control _select newcss", @id = "ddlGRN" , onchange = "changeItem(this.value," + 0 + ")" })
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Location, new { @id = "txtLocation"})
                                            @Html.HiddenFor(C => C.Branch, new { @id = "txtBranch"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Party <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Supplier, "---Please Select--",new { @id = "txtSupplier", @class = "form-control", @TabIndex = "2",@readonly=true})
                                            @*@Html.DropDownListFor(C => C.Supplier, Model.Suplst, new { @id = "ddlParty", @Class = "form-control _select", @TabIndex = 1 })*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"> 

                                        <br /><label for="inputName3" class="col-sm-4 control-label">P.Return.No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8"> 
                                            @Html.TextBoxFor(C => C.RetNo, new { @id = "txtRetNo", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true})
                                            @Html.HiddenFor(C => C.ID) 
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">P.Return Date<label class="mandatory">*</label></label>

                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.RetDate, new { @id = "RetDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>
                            </div>



                            @*
                        <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">

                        <br /><label for="inputName3" class="col-sm-4 control-label">GRN No<label class="Mandatory"></label></label>
                        <div class="col-sm-8">
                        @Html.DropDownListFor(o => o.Grn, Model.POlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlGRN" , onchange = "changeItem(this.value," + 0 + ")" })
                        </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">

                        <br /> <label for="inputName3" class="col-sm-4 control-label">Party <label class="Mandatory"></label></label>
                        <div class="col-sm-8">
                        @Html.DropDownListFor(C => C.party, Model.Partylst, new { @id = "ddlParty", @Class = "form-control _select", @TabIndex = 1 })
                        </div>
                        </div>
                        </div>

                        </div>*@



                                          

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Currency<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Currency, Model.currlst, new { @id = "ddlCurrency", @Class = "form-control _select", @TabIndex = 1,@readonly="readonly" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.TextBoxFor(C => C.ExRate, new { @id = "txtExRate", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true})

                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Req No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ReqNo, new { @id = "txtReqNo", @class = "form-control", @TabIndex = "2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Req Date<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.ReqDate, new { @id = "ReqDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>


                                    </div>
                                </div>


                            </div>



                           
                                @*<div class="col-md-6">
                            <div class="form-group">

                            <label for="inputName3" class="col-sm-4 control-label">Reason Code<label class="Mandatory"></label></label>
                            <div class="col-sm-8">

                            @Html.TextBoxFor(C => C.ReasonCode, new { @id = "txtReasonCode", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)" , @onkeyup = "changeTot(this)"})


                            </div>
                            </div>
                            </div>*@


                                @*<div class="row">
                            @* <div class="col-md-6">
                            <div class="form-group">

                            <label for="inputName3" class="col-sm-4 control-label">Trans Type<label class="Mandatory"></label></label>
                            <div class="col-sm-8">
                            @Html.TextBoxFor(C => C.Trans, new { @id = "txtReason", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)" , @onkeyup = "changeTot(this)"})<br />
                            </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">

                            <label for="inputName3" class="col-sm-4 control-label">Tax Template<label class="Mandatory"></label></label>
                            <div class="col-sm-8">

                            @Html.TextBoxFor(C => C.Temp, new { @id = "txtTemp", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)" , @onkeyup = "changeTot(this)"})<br />

                            </div>
                            </div>
                            </div>
                            </div>
                        *@ <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Transit LocID<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Trans, Model.Loclst, "---Please Select--", new { @id = "ddlTrans", @Class = "form-control _select", @TabIndex = 4 })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Rejected By<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.Rej, Model.assignList,  "---Please Select--",new { @id = "ddlRej", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>
                            @*  <div class="row">
                        <div class="col-md-12">
                        <div class="btn-group">
                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                        </div>
                        </div>
                        </div>*@


                            <div class="row">


                                <div class="col-lg-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">

                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th> Item  </th>
                                                <th>Unit</th>
                                                <th>CF</th>
                                                <th> Qty</th>
                                                <th>Bin ID</th>
                                                <th>Current Stock</th>
                                                <th>Return Qty</th>
                                                <th>Rate</th>
                                                <th>Amount</th>
                                                <th>Disc %</th>
                                                <th>Discount</th>
                                                <th>Freight</th>

                                                <th>SGST%</th>
                                                <th>CGST%</th>
                                                <th>IGST%</th>
                                                <th>SGSTAMT</th>
                                                <th>CGSTAMT</th>
                                                <th>IGSTAMT</th>
                                                <th>Total Amount</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tbBooks">

                                            @{

                                                int g = 0;

                                                foreach (var item in Model.RetLst.ToList())
                                                {
                                                    <tr id="trBookout@(g)" class="chkitemlstout" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].ItemId, new { @id = "txtItem" + g, @class = "form-control", style = "width: 200px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Unit, new { @id = "txtUnit" + g, @class = "form-control", style = "width: 60px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].ConFac, new { @id = "txtConFac " + g, @class = "form-control", style = "width: 50px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Quantity, new { @id = "txtQuantity" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].binid, new { @id = "txtbinid" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Current, new { @id = "txtCurrent" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Return, new { @id = "txtReturn" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].rate, new { @id = "txtrate" + g, @class = "form-control", style = "width: 100px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Amount, new { @id = "txtAmount" + g, @class = "form-control", style = "width: 100px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].Disc, new { @id = "txtDisc" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].DiscAmount, new { @id = "txtDiscAmount" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].FrigCharge, new { @id = "txtFrigCharge" + g, @class = "form-control", style = "width: 80px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].CGSTPer, new { @id = "txtCGSTPer" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].SGSTPer, new { @id = "txtSGSTPer" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].IGSTPer, new { @id = "txtIGSTPer" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].CGSTAmt, new { @id = "txtCGSTAmt" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].SGSTAmt, new { @id = "txtSGSTAmt" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].IGSTAmt, new { @id = "txtIGSTAmt" + g, @class = "form-control", style = "width: 70px;", @readonly="ReadOnly" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.RetLst[g].TotalAmount, new { @id = "txtTotalAmount" + g, @class = "form-control", style = "width: 100px;", @readonly="ReadOnly" })
                                                        </td>

                                                        <td>
                                                            @Html.HiddenFor(o => o.RetLst[g].Isvalid, new { @id = "Isvalid" + g })
                                                            <img onclick="removeOutRow(@(g));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(g)" />
                                                        </td>
                                                    </tr>

                                                    g = g + 1;

                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>





                            <div style="height:30px;"></div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Packing and Forwarding ( + ) <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Packingcharges, new { @id = "txtPackingcharges", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Freight Charges ( + ) <label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Frieghtcharge, new { @id = "txtFrieghtcharge", @class = "form-control", @TabIndex = 2, onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Other Charges ( + )<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Othercharges, new { @id = "txtOthercharges", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Round Off ( + )<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Round, new { @id = "txtRound", @class = "form-control", @TabIndex = 2 ,onkeydown = "return isNumeric2(event.keyCode,this.value),@readonly=true" ,@readonly=true})
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Other Deductions ( - )<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.otherdeduction, new { @id = "txtotherdeduction", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Round Off ( - )<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Roundminus, new { @id = "txtRoundminus", @class = "form-control", @TabIndex = 2 ,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true })
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Gross<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Gross, new { @id = "txtGross", @class = "form-control", @TabIndex = 2 ,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Net<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            <input type="hidden" id="hidnet" />
                                            @Html.TextBoxFor(C => C.Net, new { @id = "txtNet", @class = "form-control", @TabIndex = 2,onkeydown = "return isNumeric2(event.keyCode,this.value)",@readonly=true})
                                        </div>

                                    </div>
                                </div>
                            </div>




                            @*<div class="row">
                        <div class="col-md-12">

                        <div class="tabs-container">
                        <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-1" data-toggle="tab">Addition Deduction</a></li>


                        </ul>
                        <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                        <div class="row">


                        <div class="col-lg-12">
                        <div class="ibox float-e-margins">

                        <!-- / ibox-title -->
                        <div id="demo3" class="ibox-content collapse in">
                        <div class="borderedTable">
                        <div class="table-scrollable">
                        <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                        <th> S. No. </th>
                        <th> Desc </th>
                        <th> Type </th>
                        <th> Account Name </th>
                        <th> Amount </th>
                        <th> Dr/Cr </th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td> 1 </td>

                        <td><input class="form-control" id="inputEmail3" placeholder="Desc" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="Type" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="AccName" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                        </tr>
                        <tr>
                        <td> 2 </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="Desc" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="Type" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="AccName" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                        </tr>
                        <tr>
                        <td> 3 </td>

                        <td><input class="form-control" id="inputEmail3" placeholder="Desc" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="Type" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="AccName" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                        <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>

                        <!-- 1st tab -->
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>*@


                            <div class="row">
                                <div class="col-md-12">


                                    @*   <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">

                                <label for="inputName3" class="col-sm-4 control-label">Gross<label class="Mandatory"></label></label>
                                <div class="col-sm-8">
                                <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                </div>
                                </div>
                                </div>


                                <div class="col-md-6">
                                <div class="form-group">

                                <label for="inputName3" class="col-sm-4 control-label">Net<label class="Mandatory"></label></label>
                                <div class="col-sm-8">
                                <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                </div>
                                </div>
                                </div>
                                </div>*@

                                    @* <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">

                                <label for="inputName3" class="col-sm-4 control-label">Amount in Words<label class="Mandatory"></label></label>
                                <div class="col-sm-8">
                                <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                </div>
                                </div>
                                </div>*@
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <br />  <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextAreaFor(C => C.Narration, new { @id = "txtNarration", @class = "form-control", @TabIndex = 2})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*    <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">

                                <label for="inputName3" class="col-sm-4 control-label">Reason<label class="Mandatory"></label></label>
                                <div class="col-sm-8">
                                @Html.TextBoxFor(C => C.Reason, new { @id = "txtReason", @class = "form-control", @TabIndex = 2})<br />
                                </div>
                                </div>
                                </div>
                                </div>*@


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <br />    <label for="inputName3" class="col-sm-4 control-label">Area ID<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Addr, new { @id = "txtAddr", @class = "form-control", @TabIndex = 2})
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <br /> <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextAreaFor(C => C.Address, new { @id = "txtAddress", @class = "form-control", @TabIndex = 2})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <br /> <label for="inputName3" class="col-sm-4 control-label">State<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.DropDownListFor(C => C.State, Model.Satlst, "---Please Select--", new { @id = "ddlState", @Class = "form-control _select", @TabIndex = 1 , @onchange = "changeCity(this.value)"})
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <br /> <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>

                                                <div class="col-sm-8">

                                                    @Html.DropDownListFor(C => C.City, Model.Citylst, "---Please Select--", new { @id = "ddlCity", @Class = "form-control _select", @TabIndex = 1 })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <br />  <label for="inputName3" class="col-sm-4 control-label">Pincode<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Pin, new { @id = "txtPin", @class = "form-control", @TabIndex = 2})
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <br />  <label for="inputName3" class="col-sm-4 control-label">Phone<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.Phone, new { @id = "txtPhone", @class = "form-control", @TabIndex = 2})
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*  <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">

                                <label for="inputName3" class="col-sm-4 control-label">Fax<label class="Mandatory"></label></label>
                                <div class="col-sm-8">
                                <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                </div>
                                </div>
                                </div>*@


                                    <!-- 3rd tab  -->

                                </div>
                            </div>




                            @*<div style="height:30px;"></div>*@
                            <div style="height:30px;"></div>
                            <div class="col-log-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListPurchaseReturn", "PurReturn")'">Cancel</button>

                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $("#txtBranch").change(function () {
        var branch = this.value;
        var GRNID = document.getElementById("ddlGRN").value;
        var loc = document.getElementById("ddllocation").value;
        $.ajax({
            url: 'GetStkqty',
            data: { 'grnid': GRNID, 'branch': branch, 'loc': loc },
            type: "post",
            success: function (result) {
                var j = 0;
                $('tr.chkitemlst').each(function () {
                    if ($(this).css('display') !== 'none') {
                        document.getElementById('txtstkqty' + j.toString()).value = result.stkqty;
                    }
                    j += 1;
                });


            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    });
    $("#txtLocation").change(function () {
        var loc = this.value;
        var GRNID = document.getElementById("ddlGRN").value;
        var branch = document.getElementById("ddlBranch").value;
        $.ajax({
            url: 'GetStkqty',
            data: { 'grnid': GRNID, 'branch': branch, 'loc': loc },
            type: "post",
            success: function (result) {
                var j = 0;
                $('tr.chkitemlst').each(function () {
                    if ($(this).css('display') !== 'none') {
                        document.getElementById('txtstkqty' + j.toString()).value = result.stkqty;
                    }
                    j += 1;
                });
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });
    });
    $(".chosen-select").chosen();
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    function changeCity(ItemId) {

        $.ajax({
            url: 'GetCityJSON',
            data: { "ItemId": ItemId },
            type: "post",
            success: function (response) {
                var newlist;
                newlist = response.Itemlst;
                PopulateDropDown("#ddlCity", response);
            },
            error: function () {
                debugger;
                alert("Please Select State");
            }
        });

    }
    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
    function changeItem(GRNID, i) {
        var branch = document.getElementById("txtBranch").value;
        var loc = document.getElementById("txtLocation").value;

        $.ajax({
            url: 'GetGRNBL',
            data: { "GRNID": GRNID },
            type: "GET",
            success: function (result) {

                document.getElementById("txtSupplier").value = result.party;
              @*  document.getElementById("ddlCurrency").value = result.currency;*@
                document.getElementById("ddlCurrency").value = result.currencyid;
                document.getElementById("txtPackingcharges").value = result.packing;
                document.getElementById("txtExRate").value = result.ex;
                document.getElementById("txtFrieghtcharge").value = result.frig;
                document.getElementById("txtOthercharges").value = result.other;
                document.getElementById("txtRound").value = result.roundoffplus;
                document.getElementById("txtRoundminus").value = result.roundoffmin;

                document.getElementById("txtotherdeduction").value = result.otherdedu;


                document.getElementById("txtGross").value = result.gross;
                document.getElementById("txtNet").value = result.net;
            },
            error: function () {
                alert("Data Not Found");
            }
        });


        document.getElementById("tbBooks").innerHTML = "";

        $.ajax({
            url: "GetPRJSON",
            type: "post",
            data: { 'grnid': GRNID, 'branch': branch, 'loc': loc },
            cache: false,
            success: function (list) {

                if (list != null && list.length > 0) {

                    list.forEach((item) => {

                        var index = $("#tbBooks").children("tr").length;

                        var ItemId = "<td><label style='width: 200px;'>" + item.itemname + "</label><input type='hidden' value=" + item.itemid + " id='txtItem" + index + "' name='returnlist[" + index + "].itemid'></td>";

                        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='returnlist[" + index + "].unit'  style='width: 60px;' type='text'  readonly='True'  value=" + item.unit + " /><input type='hidden' value=" + item.unitid + " id='hdunit" + index + "' name='returnlist[" + index + "].unitid'></td>";

                        var ConFac = "<td><input class='form-control' id='txtConFac" + index + "' name='returnlist[" + index + "].confac'  style='width: 50px;' type='text' readonly='True'  value=" + item.confac + " /></td>";

                        var Qty = "<td><input class='form-control' id='txtquantity" + index + "' name='returnlist[" + index + "].quantity'  style='width: 50px;' type='text' readonly='True' value=" + item.quantity + "  onkeyup = 'changeQty(this.value," + index + ")' /></td>";

    @* var binid = "<td><input class='form-control' id='txtbinid" + index + "' name='returnlist[" + index + "].binid'  style='width: 50px;' type='text' readonly='True'  value=" + item.binid + " /></td>";

                            var cstock = "<td><input class='form-control' id='txtstkqty" + index + "' name='returnlist[" + index + "].stkqty'  style='width: 50px;' type='text' readonly='True' value=" + item.stkqty + "  /></td>";
                            *@

            var binid = "<td><input class='form-control' id='txtbinid" + index + "' name='returnlist[" + index + "].binid'  style='width: 50px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.binid + "  /></td>";

                        var cstock = "<td><input class='form-control' id='txtstkqty" + index + "' name='returnlist[" + index + "].stkqty'  style='width: 50px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.stkqty + "  /></td>";

                        var RQuantity = "<td><input class='form-control' id='txtrqty" + index + "' name='returnlist[" + index + "].rqty'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;text-align:right' type='text' value=" + item.rqty + " onkeyup = 'changeQty(this.value," + index + ")' /></td>";

                        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='returnlist[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value=" + item.rate + " readonly='True' /></td>";

                        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='returnlist[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value=" + item.amount + " readonly='True' /></td>";

                        var Disc = "<td><input class='form-control' id='txtdisc" + index + "' name='returnlist[" + index + "].disc'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'  readonly='True' value=" + item.disc + " /></td>";

                        var DiscAmount = "<td><input class='form-control' id='txtDiscAmount" + index + "' name='returnlist[" + index + "].discAmount'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.discAmount + " readonly='True' /></td>";

                        var FrigCharge = "<td><input class='form-control' id='txtFrigCharge" + index + "' name='returnlist[" + index + "].frigcharge'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.frigcharge + "   readonly='True'/></td>";

                        var CGSTPer = "<td><input class='form-control' id='txtCGSTPer" + index + "' name='returnlist[" + index + "].cgstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' readonly='True' value=" + item.cgstper + " /></td>";

                        var SGSTPer = "<td><input class='form-control' id='txtSGSTPer" + index + "' name='returnlist[" + index + "].sgstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    readonly='True' value=" + item.sgstper + " /></td>";

                        var IGSTPer = "<td><input class='form-control' id='txtIGSTPer" + index + "' name='returnlist[" + index + "].igstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.igstper + "  readonly='True' /></td>";

                        var CGSTAmt = "<td><input class='form-control' id='txtCGSTAmt" + index + "' name='returnlist[" + index + "].cgstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.cgstamt + "  readonly='True' /></td>";

                        var SGSTAmt = "<td><input class='form-control' id='txtSGSTAmt" + index + "' name='returnlist[" + index + "].sgstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.sgstamt + " readonly='True'  /></td>";

                        var IGSTAmt = "<td><input class='form-control' id='txtIGSTAmt" + index + "' name='returnlist[" + index + "].igstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'  value=" + item.igstamt + " readonly='True' /></td>";

                        var TotalAmount = "<td><input class='form-control' id='txtTotalAmount" + index + "' name='returnlist[" + index + "].totalamount'  style='width: 100px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' readonly='True' value=" + item.totalamount + "  /></td>";

                        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId + Unit + ConFac + Qty + binid + cstock + RQuantity + rate + Amount + Disc + DiscAmount + FrigCharge + CGSTPer + SGSTPer + IGSTPer + CGSTAmt + SGSTAmt + IGSTAmt + TotalAmount + "</tr>";
                        $("#tbBooks").append(newRow);

                    });

                }


            },
            error: function () {
                debugger;
                alert("Please Select Supplier");
            }
        });

    }
    function changeItemDetails(POID, i) {
        $.ajax({
            url: 'GetGRNDetail',
            data: { "POID": POID },
            type: "GET",
            success: function (result) {

                document.getElementById("txtUnit" + i).value = result.unit;
                document.getElementById("txtConFac" + i).value = result.cf;
                document.getElementById("txtQuantity" + i).value = result.qty;
                document.getElementById("txtrate" + i).value = result.rate;
                document.getElementById("txtAmount" + i).value = result.amount;



    @*  document.getElementById("txtDiscAmount" + i).value = result.discAmount;
                    document.getElementById("txtFrigCharge" + i).value = result.frig;*@
                    document.getElementById("txtCGSTPer" + i).value = result.cgs;
                document.getElementById("txtCGSTAmt" + i).value = result.cgta;
                document.getElementById("txtSGSTPer" + i).value = result.sgs;
                document.getElementById("txtSGSTAmt" + i).value = result.sgta;
                document.getElementById("txtIGSTPer" + i).value = result.igs;


                document.getElementById("txtIGSTAmt" + i).value = result.igsta;
                document.getElementById("txtTotalAmount" + i).value = result.totalAm;
    @* document.getElementById("txtPackingcharges" + i).value = result.packing;*@
    @*  document.getElementById("txtPackingcharges" + i).value = result.packing;
                    document.getElementById("txtFrieghtcharge" + i).value = result.friegh;
                    document.getElementById("txtOthercharges" + i).value = result.other;
                    document.getElementById("txtRound" + i).value = result.round;
                    document.getElementById("txtotherdeduction" + i).value = result.deduction;
                    document.getElementById("txtRoundminus" + i).value = result.minus;


                    document.getElementById("txtGross" + i).value = result.gross;
                    document.getElementById("txtNet" + i).value = result.totalAm;*@
                },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');

        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    function changeQty(_this, i) {
        try {


            var j = 0;
            var qty = 0;

            var qty = 0;
            var tot = 0;
            var totfrieght = 0;
            var totamt = 0;
            var totamount = 0;
            var qty = document.getElementById("txtrqty" + i).value;

            var up = document.getElementById("txtrate" + i).value;
            var cf = document.getElementById("txtConFac" + i).value;
            var stkqty = document.getElementById("txtstkqty" + i).value;


            var IGST = document.getElementById("txtIGSTPer" + i).value;

            var CGST = document.getElementById("txtCGSTPer" + i).value;

            var SGST = document.getElementById("txtSGSTPer" + i).value;

            var Disc = document.getElementById("txtdisc" + i).value;

            if (qty == "")
                qty = 0;

            if (up == "")
                up = 0;

            if (cf == "")
                cf = 1;

            if (IGST == "")
                IGST = 0;

            if (CGST == "")
                CGST = 0;

            if (SGST == "")
                SGST = 0;

            if (Disc == "")
                Disc = 0;

            @*if (eval(qty) >= eval(stkqty)) {
                document.getElementById("txtrqty" + i).value = "0";
                alert("Stock Quantity Exceeds the Actual Quantity");
                qty = 0;
            }*@


            var tot = eval(qty) * eval(up) * eval(cf);

            document.getElementById("txtamount" + i).value = tot.toFixed(2);
            var igstperc = (eval(tot) / 100) * eval(IGST);
            var cgstperc = (eval(tot) / 100) * eval(CGST);
            var sgstperc = (eval(tot) / 100) * eval(SGST);

            var Discperc = (eval(tot) / 100) * eval(Disc);

            document.getElementById("txtCGSTAmt" + i).value = cgstperc.toFixed(2);
            document.getElementById("txtSGSTAmt" + i).value = sgstperc.toFixed(2);
            document.getElementById("txtIGSTAmt" + i).value = igstperc.toFixed(2);
            document.getElementById("txtDiscAmount" + i).value = Discperc.toFixed(2);

            var tottax = eval(tot) + eval(igstperc) + eval(cgstperc) + eval(sgstperc);
            var totdisc = eval(tottax) - eval(Discperc);
            document.getElementById("txtTotalAmount" + i).value = totdisc.toFixed(2);

            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {

                    var amt = $(this).find('#txtamount' + j.toString()).val();
                    if (amt == "")
                        amt = 0;

                    totamt += eval(amt);


                    var tamt = $(this).find('#txtTotalAmount' + j.toString()).val();
                    if (tamt == "")
                        tamt = 0;

                    totamount += eval(tamt);

                }
                j += 1;
            });
            document.getElementById("txtGross").value = totamt.toFixed(2);
            document.getElementById("hidnet").value = totamount.toFixed(2);



            var netamt = document.getElementById("hidnet").value;
            var frieght = document.getElementById("txtFrieghtcharge").value;
            var packing = document.getElementById("txtPackingcharges").value;
            var other = document.getElementById("txtOthercharges").value;
            var roundoff = document.getElementById("txtRound").value;
            var otherdeduct = document.getElementById("txtotherdeduction").value;
            var roundoffminus = document.getElementById("txtRoundminus").value;

            var totamounts = 0;
            var rotamt = 0;
            if (frieght == "")
                frieght = 0;

            if (packing == "")
                packing = 0;

            if (other == "")
                other = 0;

            if (roundoff == "")
                roundoff = 0;

            if (otherdeduct == "")
                otherdeduct = 0;

            if (roundoffminus == "")
                roundoffminus = 0;

            totamounts = eval(frieght) + eval(packing) + eval(other) + eval(roundoff) + eval(netamt);
            rotamt = eval(totamounts) - (eval(roundoffminus) + eval(otherdeduct));
            document.getElementById("txtNet").value = rotamt.toFixed(2);




        }
        catch (ex) {
            alert(ex.message);
        }
    }



    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
    $(".chosen-select").chosen();
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }





    function AppendRow(opt) {
        var index = $("#tbBooks").children("tr").length;

        var GRNNo = "<td><select style = 'width: 170px;' class='form-control _select newcss' id='ddlGRN" + index + "' name='RetLst[" + index + "].GRNNo' onchange = 'changeItem(this.value, " + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

        var ItemId = "<td><select style = 'width: 170px;' class='form-control _select newcss' id='ddlItemId" + index + "' name='Itemlst[" + index + "].ItemId'><option value=''>Please select</option></select></td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='RetLst[" + index + "].Unit'  style='width: 60px;' type='text'  readonly='True' /></td>";

        var ConFac = "<td><input class='form-control' id='txtConFac" + index + "' name='RetLst[" + index + "].ConFac'  style='width: 50px;' type='text' readonly='True'  /></td>";

        var Quantity = "<td><input class='form-control' id='txtQuantity" + index + "' name='RetLst[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;text-align:right' type='text' value='0' onchange = 'changeQty(this.value," + index + ")' /></td>";

        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='RetLst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value='0' readonly='True' /></td>";

        var Amount = "<td><input class='form-control' id='txtAmount" + index + "' name='RetLst[" + index + "].Amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value='0' readonly='True' /></td>";

        var Disc = "<td><input class='form-control' id='txtDisc" + index + "' name='RetLst[" + index + "].Disc'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var DiscAmount = "<td><input class='form-control' id='txtDiscAmount" + index + "' name='RetLst[" + index + "].DiscAmount'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'   /></td>";

        var FrigCharge = "<td><input class='form-control' id='txtFrigCharge" + index + "' name='RetLst[" + index + "].CostRate'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var CGSTPer = "<td><input class='form-control' id='txtCGSTPer" + index + "' name='RetLst[" + index + "].CGSTPer'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'  /></td>";

        var SGSTPer = "<td><input class='form-control' id='txtSGSTPer" + index + "' name='RetLst[" + index + "].SGSTPer'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var IGSTPer = "<td><input class='form-control' id='txtIGSTPer" + index + "' name='RetLst[" + index + "].IGSTPer'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var CGSTAmt = "<td><input class='form-control' id='txtCGSTAmt" + index + "' name='RetLst[" + index + "].CGSTAmt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var SGSTAmt = "<td><input class='form-control' id='txtSGSTAmt" + index + "' name='RetLst[" + index + "].SGSTAmt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var IGSTAmt = "<td><input class='form-control' id='txtIGSTAmt" + index + "' name='RetLst[" + index + "].IGSTAmt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";

        var TotalAmount = "<td><input class='form-control' id='txtTotalAmount" + index + "' name='RetLst[" + index + "].TotalAmount'  style='width: 100px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    /></td>";



        var removeCell = "<td><input id='Isvalid" + index + "' name='Itemlst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='RetLst.Index' type='hidden' value='" + index + "'  /></td>";


        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + GRNNo + ItemId + Unit + ConFac + Quantity + rate + Amount + CGSTPer + SGSTPer + IGSTPer + CGSTAmt + SGSTAmt + IGSTAmt + TotalAmount + removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

        $(function () {
            $('._select').select2();
        });
    }


</script>
<script>
    $(function () {
        $('._select').select2();
    });
</script>

<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtRetNo").value == "") {
                isValid = false;
                $(txtRetNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Return No");
                return false;
            }
            else {
                $(txtRetNo).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("RetDate").value == "") {
                isValid = false;
                $(RetDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Return Date");
                return false;
            }
            else {
                $(RetDate).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtReqNo").value == "") {
                isValid = false;
                $(txtReqNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Req No");
                return false;
            }
            else {
                $(txtReqNo).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ReqDate").value == "") {
                isValid = false;
                $(ReqDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Req Date");
                return false;
            }
            else {
                $(ReqDate).css({
                    "border": "",
                    "background": ""
                });

            }
        });

    });
</script>