@model Arasan.Models.SalaryStructure

@{
    Layout = "_PopupLayout";

    ViewData["Title"] = "View Salary Structure";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("ListSalaryStructure", "SalaryStructure")">HR</a> </li>
            <li class="active"> <strong>View Salary Structure Details</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">View Salary Structure Detail</h5>
                    <hr>
                    @using (Html.BeginForm("ViewSalaryStructure", "SalaryStructure", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.EmpName, new { @id = "EmpName", @Class = "form-control _select", @TabIndex = 1 })
                                            @Html.HiddenFor(C => C.ID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Basic Salary<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Salary, new { @id = "Salary", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">HRA<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.HRA, new { @id = "HRA", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Allowance Amount<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.AllowanceAmt, new { @id = "AllowanceAmt", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>`
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">OT Rate<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.OTRate, new { @id = "OTRate", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Incentive<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Incentive, new { @id = "Incentive", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Bonus IsEligible<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Bonus, new { @id = "Bonus", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

