@model Arasan.Models.ReceiptAgtRetDC
@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "ReceiptAgtRetDC";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Sales</a> </li>
            <li class="active"> <strong>Receipt Against Returnable DC</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Receipt Against Returnable DC</h5>
                    <hr>

                    <form>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Location) @Html.HiddenFor(C => C.Location)<br>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Document ID <label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Did) @Html.HiddenFor(C => C.Did)<br>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="height:10px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Document Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DDate) @Html.HiddenFor(C => C.DDate)<br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /> <label for="inputName3" class="col-sm-4 control-label">Ref No<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Ref) @Html.HiddenFor(C => C.Ref)<br>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <br />  <label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                                @Html.DisplayFor(C => C.RefDate) @Html.HiddenFor(C => C.RefDate)<br>

                                        </div>
                                    
                                    </div>
                                </div>
                          

                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /> <label for="inputName3" class="col-sm-4 control-label">D.C Type<label class="mandatory"></label></label>


                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DcType) @Html.HiddenFor(C => C.DcType)<br>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /> <label for="inputName3" class="col-sm-4 control-label">DC No<label class="mandatory"></label></label>


                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Dcno) @Html.HiddenFor(C => C.Dcno)<br>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <br />  
                                    <label for="inputName3" class="col-sm-4 control-label">D.C Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.DcDate) @Html.HiddenFor(C => C.DcDate)<br>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br />  <label for="inputName3" class="col-sm-4 control-label">Party ID<label class="mandatory">*</label></label>

                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Party) @Html.HiddenFor(C => C.Party)<br>

                                    </div>

                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group">

                                    <br /><label for="inputName3" class="col-sm-4 control-label">Stock Type<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Stock) @Html.HiddenFor(C => C.Stock)<br>

                                    </div>
                                </div>
                            </div>
                        </div>
                


                        <div style="height:30px;"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                  
                                                    <thead>
                                                         <tr>
                                                    
                                                    <th>Item Name</th>
                                                    <th> Unit </th>
                                                    <th> Bin ID </th>
                                                        @*<th> Batch </th>*@
                                                    @*<th> Serial </th>*@
                                                    <th> Pend Qty </th>
                                                    <th> Recd Qty </th>
                                                    <th> Rej Qty </th>
                                                    @*<th> Acc Qty </th>*@
                                                    <th> Rate </th>
                                                  @*  <th>Amount</th>*@

                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 0;

                                                            foreach (var item in Model.ReceiptLst.ToList())
                                                            {

                                                                <tr>

                                                                    
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].itemname)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].unit)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].bin)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].Pend)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].Recd)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].rej)</td>
                                                                    <td>@Html.DisplayFor(o => o.ReceiptLst[i].rate)</td>

                                                                   

                                                                </tr>

                                                                i++;
                                                            }
                                                        }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <br /> <label for="inputName3" class="col-sm-2 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-10">
                                        @Html.DisplayFor(C => C.Narration) @Html.HiddenFor(C => C.Narration)<br>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Entered) @Html.HiddenFor(C => C.Entered)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Approved By<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Approved) @Html.HiddenFor(C => C.Approved)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Approval 2<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Approval2) @Html.HiddenFor(C => C.Approval2)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div style="height:30px;"></div>
                    @*<div class="col-lg-10"></div>*@

                    <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />

                </div>
            </div>
        </div>

    </div>
</div>
<script>

    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    })
</script>