@model Arasan.Models.DrumIssueEntry
@{
 
    ViewData["Title"] = "Drum Issue Entry";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Drum Issue Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Production Schedule</h5>
                    <hr>
                 @*   @using (Html.BeginForm("ApproveDrumIssue", "DrumIssueEntry", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()*@
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Branch<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.Branch)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Doc No<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Docid)<br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Docdate)<br>
                                        </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Item ID<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Itemid)<br>
                                        </div>




                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Unit<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Unit)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">From Location<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.FromLoc)<br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">To Location<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Toloc)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          @*  <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">From BinID<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Frombin)<br>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">To BinID<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Tobin)<br>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>*@
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Available Stock<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Stock)<br>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Type<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.type)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Drum Stock<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            @Html.DisplayFor(C => C.Drum)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                             

                            <div class="col-lg-12">
                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                    <!-- / ibox-title -->
                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>

                                               
                                                <th> Drum No</th>
                                                <th>Batch No</th>
                                                <th>Qty</th>
                                            @* <th>Rate</th>
                                                <th>Amount</th>
                                                <th>From BinId </th>
                                                <th>To BinId</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="tbBooks">

                                            @{

                                                int i = 0;


                                                foreach (var item in Model.Drumlst.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                     
                                                        <td>
                                                            @Html.DisplayFor(o => o.Drumlst[i].drum)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.Drumlst[i].batch)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.Drumlst[i].qty)
                                                        </td>
                                                    @* <td>

                                                           @Html.DisplayFor(o => o.Drumlst[i].Rate)
                                                        </td>
                                                        <td>

                                                            @Html.DisplayFor(o => o.Drumlst[i].Amount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.Drumlst[i].FBinId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(o => o.Drumlst[i].TBinid)
                                                        </td>*@

                                                    </tr>
                                                    i = i + 1;


                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Total Qty<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Qty)<br>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Issue Rate<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.IRate)<br>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Issue Value<label class="mandatory"> </label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.IValue)<br>
                                            <br />
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br />  <label for="inputName3" class="col-sm-4 control-label">EnteredBy<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Entered)<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Approved By<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Approved)<br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div style="height:30px;"></div>
                        <button   class="btn aqua m-t-xs bottom15-xs"  type="button" id="btnSave" onclick="location.href='@Url.Action("ListDrumIssueEntry", "DrumIssueEntry")'">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListDrumIssueEntry", "DrumIssueEntry")'">Cancel</button>
                        </form>
                   @* }*@
                </div>
            </div>
        </div>

    </div>
</div>
@*<script>
    $(function () {
        var entry = '@ViewBag.entrytype';
        changeentry(entry);
        function changeentry(typeid) {
            if (typeid == "INPUT") {
                document.getElementById("ainp").click();
    @*window.location.href = href
                    document.getElementById("liinp").style.display = "block";
                document.getElementById("liinpC").style.display = "block";
                document.getElementById("liout").style.display = "none";
                document.getElementById("lioutW").style.display = "none";
            }
            else if (typeid == "OUTPUT") {
                document.getElementById("aout").click();;
    @*  window.location.href = href
                    document.getElementById("liinp").style.display = "none";
                document.getElementById("liinpC").style.display = "none";
                document.getElementById("liout").style.display = "block";
                document.getElementById("lioutW").style.display = "block";
            }
            else {
                document.getElementById("ainp").click();
    @*window.location.href = href
                    document.getElementById("liinp").style.display = "block";
                document.getElementById("liinpC").style.display = "block";
                document.getElementById("liout").style.display = "block";
                document.getElementById("lioutW").style.display = "block";
            }
        }
    });
</script>*@