@model Arasan.Models.PurchaseQuo

@{
    ViewData["Title"] = "  Purchase Quotations";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong> Purchase Quotations </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @* <h5 style="font-size:14px">Purchase Quotations </h5>*@
                    <hr>
                    @using (Html.BeginForm("PurchaseQuotation", "PurchaseQuo", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control chosen-select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Supplier Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Supplier, Model.Suplst, new { @id = "ddlSupplier", @Class = "form-control chosen-select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Quotation Id<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.QuoId, new { @id = "txtQuoId", @class = "form-control", @TabIndex = 1 })<br />
                                         </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc. Date<label class="Mandatory"></label></label>

                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.DocDate, new { @id = "DocDate", @class = "form-control", @TabIndex = 2,@size="32" })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />
                                    
                                  


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.Currency, Model.Curlst, new { @id = "ddlCurrency", @Class = "form-control chosen-select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>
                           @* <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="1.00" type="text">
                                    </div>

                                </div>
                            </div>*@
                        </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Enquiry No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.EnqNo, new { @id = "txtEnqNo", @class = "form-control", @TabIndex = 1 })<br />
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Enquiry Date<label class="Mandatory"></label></label>
                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                        @Html.TextBoxFor(C => C.EnqDate, new { @id = "EnqDate", @class = "form-control", @TabIndex = 2,@size="32"})
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />

                                </div>
                            </div>
                        </div>

                        				 <div style="height:30px;"></div>
			 <div class="row">
			 <div class="col-md-12">
                        <div class="btn-group">
                         <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                        </div>
                      </div>
			 </div>
              <div class="row">
           <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                    @* <div class="ibox float-e-margins">*@

                                <!-- / ibox-title -->
                                    @* <div id="demo3" class="ibox-content collapse in">
                                <div class="borderedTable">
                                <div class="table-scrollable">*@
                                            <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th> S. No. </th>
                                                            <th>Item</th>
                                                            <th>Description</th>
                                                            <th> Unit</th>
                                                            <th> Qty </th>
                                                            <th>Rate</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> 1 </td>

                                                            <td>
                                                                <select class=" _select js-states form-control">
                                                                    <option value="RS">Empty Old Drums Renaatus </option>

                                                                </select>
                                                            </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="Description" type="text"> </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="Unit" type="text"> </td>

                                                            <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>

                                                        </tr>
                                                        <tr>
                                                            <td> 2 </td>

                                                            <td>
                                                                <select class=" _select js-states form-control">
                                                                    <option value="RS">Empty Old Drums Renaatus </option>

                                                                </select>
                                                            </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="Description" type="text"> </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="Unit" type="text"> </td>

                                                            <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>
                                                            <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                   
                          
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Quot. Sent By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <select class=" _select js-states form-control">


                                            <option value="Anitha">Anitha </option>
                                            <option value="Ramesh">Ramesh </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Quot. Recd By<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <select class=" _select js-states form-control">


                                            <option value="Anitha">Anitha </option>
                                            <option value="Ramesh">Ramesh </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>

                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListPurchaseQuo", "PurchaseQuo")">Cancel</a>


                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    function AddRow() {
        var opt = "";
        $.ajax({
            type: "POST",
            url: 'GetItemGrpJSON',
            success: function (data) {

                $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });
                AppendRow(opt);
            }
        })
    }
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
</script>