@model Arasan.Models.PurchaseQuo

@{
    ViewData["Title"] = "  Purchase Quotations";
}
<style>
     

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong> Purchase Quotations </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @* <h5 style="font-size:14px">Purchase Quotations </h5>*@
                    <hr>
                    @using (Html.BeginForm("PurchaseQuotation", "PurchaseQuo", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                    <form>
                        <div class="row">
                           @* <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })

                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Supplier Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Supplier, Model.Suplst, new { @id = "ddlSupplier", @Class = "form-control _select", @TabIndex = 1,disabled="disabled" })
                                               @Html.HiddenFor(C => C.Supplier) 

                                    </div>
                                </div>
                            </div>
                        </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Enquiry No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.EnqNo, new { @id = "txtEnqNo", @class = "form-control", @TabIndex = 1,@readonly=true })<br />
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Enq)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Enquiry Date<label class="Mandatory"></label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.EnqDate, new { @id = "EnqDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                        <br />

                                    </div>
                                </div>
                            </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Quotation No<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.QuoId, new { @id = "txtQuoId", @class = "form-control", @TabIndex = 1,@readonly=true })<br />
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.user)
                                            @Html.HiddenFor(C => C.Branch)

                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Quotation Date<label class="mandatory">*</label></label>

                                    <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.DocDate, new { @id = "DocDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Currency<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Currency, Model.Curlst, new { @id = "ddlCurrency", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                        
                    
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.ExRate, new { @id = "txtExRate", @class = "form-control", @TabIndex = 1,@readonly=true })<br />
                                         
                                        </div>
                                </div>
                            </div>
                       
                            
                                </div>
                           @* <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="1.00" type="text">
                                    </div>

                                </div>
                            </div>*@
                        
                  

             <div style="height:30px;"></div>
			@* <div class="row">
			 <div class="col-md-12">
                        <div class="btn-group">
                         <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                        </div>
                      </div>
                        </div>*@
              <div class="row">
           <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                    @* <div class="ibox float-e-margins">*@

                                <!-- / ibox-title -->
                                    @* <div id="demo3" class="ibox-content collapse in">
                                <div class="borderedTable">
                                <div class="table-scrollable">*@
                                            <table class="table table-striped table-hover" id="dataTable">
                                                    <thead >
                                                        <tr>
                                                           @*<th>Item Group</th>*@
                                                            <th>Item</th>
                                                            <th>Description</th>
                                                             <th>Unit</th>
                                                            <th> Conv. Factor</th>
                                                            <th> Qty </th>
                                                            <th>Rate</th>
                                                             <th>Amount</th>
                                                            

                                                        </tr>
                                                    </thead>
                                        <tbody id="tbBooks">
                                             @{

                                                            int i = 0;
                                                            int j = 1;
                                                            foreach (var item in Model.QoLst.ToList())
                                                            {
                                                            <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                               @* <td>
                                                            @Html.DropDownListFor(o => o.QoLst[i].ItemGroupId, Model.QoLst[i].ItemGrouplst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlItemGrp" + i, style = "width: 200px;", onchange = "Grup_Change(this.value," + i + ")",disabled="disabled"})
                                                                </td>*@
                                                                    <td>
                                                            @Html.DropDownListFor(o => o.QoLst[i].ItemId, Model.QoLst[i].Ilst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlItem" + i, style = "width: 200px;", onchange = "changeItem(this.value," + i + ")",disabled="disabled"})
                                                            @Html.HiddenFor(o => o.QoLst[i].saveItemId)
                                                              @Html.HiddenFor(o => o.QoLst[i].pri,new{@id="txtpri"+i})
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(o => o.QoLst[i].Desc, new { @id = "txtDesc" + i, @class = "form-control", style = "width: 150px;", @readonly = "readonly"})
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(o => o.QoLst[i].Unit, new { @id = "txtUnit" + i, @class = "form-control", style = "width: 80px;" , @readonly = "readonly"})
                                                                </td>
                                                                 <td>
                                                            @Html.TextBoxFor(o => o.QoLst[i].ConsFa, new { @id = "txtConsFa" + i, @class = "form-control", style = "width: 100px;", @readonly = "readonly" })
                                                                                                            </td>
                                                                <td>
                                                                    @Html.TextBoxFor(o => o.QoLst[i].Quantity, new { @id = "txtQuantity" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 80px;text-align:right", @onkeyup = "changeQty(this," + i + ")"})
                                                                </td>
                                                                <td>
                                                            @Html.TextBoxFor(o => o.QoLst[i].rate, new { @id = "txtrate" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 90px;text-align:right", @onkeyup = "changeQty(this," + i + ")",@readonly="readonly" })
                                                                </td>
                                                                 <td>
                                                             @Html.HiddenFor(o => o.QoLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                            @Html.TextBoxFor(o => o.QoLst[i].TotalAmount, new { @id = "txtTotalAmount" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 100px;text-align:right",@readonly="readonly"})
                                                                                                            </td>
                                                                @*<td>
                                                                    @Html.HiddenFor(o => o.QoLst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                    <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="EnqLst.Index" type="hidden" value="@(i)" />
                                                                </td>*@
                                                             
                                                                </tr>
                                                    i = i + 1;
                                                    j = j + 1;
                                                }
                                            }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Total Amount<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Net, new { @id = "net", @class = "form-control", @TabIndex = 2,@readonly=true })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Quot. Sent By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.assignid, new { @id = "assignid", @class = "form-control", @TabIndex = 2  })
@*                                            @Html.DropDownListFor(C => C.assignid, Model.assignList, new { @id = "ddlPosent", @Class = "form-control _select", @TabIndex = 1 })
*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Quot. Recd By<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Recid, Model.RecList, new { @id = "ddlEnqRec", @Class = "form-control _select", @TabIndex = 1 })

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>

                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListPurchaseQuo", "PurchaseQuo")'">Cancel</button>



                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    function changeQty(_this, i) {
        try {
            var qty = document.getElementById("txtQuantity" + i).value;
            var up = document.getElementById("txtrate" + i).value;
                               var CF = document.getElementById("txtConsFa" + i).value;

            if (qty == "")
                qty = 0;

            if (up == "")
                up = 0;

            if (CF == "")
                CF = 0;
            if (up > 0) {
                var tot = eval(qty) * eval(up) * eval(CF);
                  var pri = eval(qty) * eval(CF);
                document.getElementById("txtTotalAmount" + i).value = tot.toFixed(2);
                document.getElementById("txtpri" + i).value = pri.toFixed(2);
            } else {
                document.getElementById("txtTotalAmount" + i).value = 0;
            }



            var GTot = 0;
            var j = 0;
            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {
                    var unit = $(this).find('#txtQuantity' + j.toString()).val();
                    var qtys = $(this).find('#txtrate' + j.toString()).val();
                    var CFs = $(this).find('#txtConsFa' + j.toString()).val();
                    if (CFs == "")
                        CFs = 0;

                    var tots = eval(qtys) * eval(unit) * eval(CFs);
                    GTot = eval(tots) + eval(GTot);
                }
                j += 1;
            });

            //document.getElementById("gross").value = GTot;
            document.getElementById("net").value = GTot;
            // document.getElementById('words').value = inWords(GTot);


        }
        catch (ex) {
            alert(ex.message);
        }
    }
   
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            
            if (document.getElementById("txtQuoId").value == "") {
                isValid = false;
                $(txtQuoId).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  ID");
                return false;
            }
            else {
                $(txtQuoId).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("DocDate").value == "") {
                isValid = false;
                $(DocDate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Date");
                return false;
            }
            else {
                $(DocDate).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtEnqNo").value == "") {
                isValid = false;
                $(txtEnqNo).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Enquiry Id");
                return false;
            }
            else {
                $(txtEnqNo).css({
                    "border": "",
                    "background": ""
                });
            }
            

            if (isValid == false)
                e.preventDefault();
        });

    });
</script> 