@model Arasan.Models.SubContractingMaterialReceipt

@{
    ViewData["Title"] = "Sub ContractingMaterial Receipt";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong> Sub ContractingMaterial Receipt</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Sub ContractingMaterial Receipt</h5>
                    <hr>
                    @using (Html.BeginForm("SubContractingMaterialReceipt", "SubContractingMaterialReceipt", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Branch, Model.Brlst," -- Please Select -- ", new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 10 })
                                            @Html.HiddenFor(C => C.Enterd)
                                            @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Doc ID<label class="mandatory">*</label></label>

                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 1 ,@readonly="readonly"})
                                            @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                   <br /> <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>

                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                       
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Rec.Location<label class="mandatory">*</label></label>

                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Location, Model.Loc," -- Please Select -- ", new { @id = "ddlLocation", @Class = "form-control _select", @TabIndex = 10,onchange = "changeItem(this.value)" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Rec.Work.Center<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.WorkCenter, new { @id = "txtWorkCenter", @class = "form-control", @TabIndex = 1 ,@readonly="readonly"})
                                            @Html.HiddenFor(C => C.ID)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">D.C.No<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.DCNo, Model.DClst," -- Please Select -- ", new { @id = "ddlDC", @Class = "form-control _select", @TabIndex = 5 ,onchange = "changeDcDeatils(this.value)"})<br />
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Party ID<label class="mandatory">*</label></label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(C => C.Supplier, Model.Suplst," -- Please Select -- ", new { @id = "ddlSupplier", @Class = "form-control _select", @TabIndex = 6 })
                                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Ref No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.RefNo, new { @id = "txtRefNo", @class = "form-control", @TabIndex = 3  })
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                        <br /><label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="Mandatory"></label></label>

                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.RefDate, new { @id = "RefDate", @class = "form-control", @TabIndex = 4,@size="32",@readonly=true })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                        
                                </div>
                            </div>
                        </div>


                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Against ExpRecepit Details</a></li>
                                            <li><a href="#tab-2" data-toggle="tab">Actual Material Recepit </a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <!-- 1st tab  -->

                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                                    </div>
                                                </div>


                                                <div class="col-lg-12">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <!-- / ibox-title -->
                                                        <table class="table table-striped table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>

                                                                    <th>Item ID</th>
                                                                    <th>Drum</th>
                                                                    <th>Unit</th>
                                                                    @* <th>PendQty</th>*@
                                                                    <th>RecQty</th>
                                                                    <th>Rate</th>
                                                                    <th>Amount</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks1">
                                                                @{
                                                                    int i = 0;

                                                                    foreach (var item in Model.SubMatlilst.ToList())
                                                                    {

                                                                        <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.SubMatlilst[i].item, Model.SubMatlilst[i].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlitem" + i, style = "width: 200px;", onchange = "ItemChange(this.value," + i + ")" })
                                                                            </td>
                                                                            <td><div class='fa-hover col-md-2 col-sm-4'> <a href='@Url.Action("DrumSelection", "SubContractingMaterialReceipt",new{id= item.id ,rowid=i})' class='fancybox' data-fancybox-type="iframe"><img src='../Images/view_icon.png' /></a></div> </td>
                                                                            <td>@Html.TextBoxFor(o => o.SubMatlilst[i].unit, new { @id = "txtunit" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.SubMatlilst[i].qty, new { @id = "txtqty" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.SubMatlilst[i].rate, new { @id = "txtrate" + i, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.SubMatlilst[i].amount, new { @id = "txtamount" + i, @class = "form-control", style = "width: 120px;" }) </td>
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.SubMatlilst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="SubMatlilst.Index" type="hidden" value="@(i)" />
                                                                            </td>

                                                                        </tr>
                                                                        i++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <!-- 1st tab  -->
                                            </div>
                                            <div class="tab-pane" id="tab-2">
                                                <!-- 2nd tab  -->

                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow1()" class="btn sbold green" /></p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                                                        <!-- / ibox-title -->
                                                        <table class="table table-striped table-hover" id="dataTable1">
                                                            <thead>
                                                                <tr>

                                                                    <th>Item ID</th>
                                                                    <th>Unit</th>
                                                                    <th>Qty</th>
                                                                    <th>Rate</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbBooks">
                                                                @{
                                                                    int j = 0;

                                                                    foreach (var item in Model.Contlilst.ToList())
                                                                    {

                                                                        <tr id="trBook1@(j)" class="chkitemlst1" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                                            <td>
                                                                                @Html.DropDownListFor(o => o.Contlilst[j].item, Model.Contlilst[j].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlRitem" + i, style = "width: 200px;", onchange = "Item_Deatils(this.value," + j + ")" })
                                                                            </td>
                                                                            <td>@Html.TextBoxFor(o => o.Contlilst[j].unit, new { @id = "txtRunit" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.Contlilst[j].qty, new { @id = "txtRqty" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.Contlilst[j].rate, new { @id = "txtRrate" + j, @class = "form-control", style = "width: 100px;" })  </td>
                                                                            <td>@Html.TextBoxFor(o => o.Contlilst[j].amount, new { @id = "txtRamount" + j, @class = "form-control", style = "width: 120px;" }) </td>
                                                                            <td>
                                                                                @Html.HiddenFor(o => o.Contlilst[j].Isvalid, new { @id = "Isvalid" + j })
                                                                                <img onclick="removeRow1(@(j));" src="../Images/delete.png" style="cursor:pointer" /> <input name="Contlilst.Index" type="hidden" value="@(j)" />
                                                                            </td>

                                                                        </tr>
                                                                        i++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                                <!-- 2nd tab  -->
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        <div style="height:30px;"></div>
                        <div class="row">
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Qty to be Recived<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.qtyrec, new { @id = "qtyrec", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Recived Qty<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.TotRecqty, new { @id = "TotRecqty", @class = "form-control", @TabIndex = 11 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                        <br /> <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.enterd, Model.assignList," -- Please Select -- ", new { @id = "ddlenterd", @Class = "form-control _select", @TabIndex = 6 })
                                    </div>
                                </div>
                            </div>
                         </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <br /> <label for="inputName3" class="col-sm-4 control-label">Narration<label class="Mandatory"></label></label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(C => C.Narration, new { @id = "txtNarration", @class = "form-control", @TabIndex = 1 })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListSubContractingMaterialReceipt", "SubContractingMaterialReceipt")'">Cancel</button>


                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    function changeDcDeatils(ItemId) {
       @* $.ajax({
            url: 'GetDCDetail',s
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("txtAdd1").value = result.add1;

                document.getElementById("txtAdd2").value = result.add2;
                document.getElementById("txtCity").value = result.city;
            },
            error: function () {
                alert("Data Not Found");
            }
        });*@
        $.ajax({
            url: "GetPartyJSON",
            type: "post",
            data: { 'itemid': ItemId },
            cache: false,
            success: function (response) {
                var newlist;
                //alert(JSON.stringify(response));
                newlist = response.Ilst;
                PopulateDropDown("#ddlSupplier", response);
            },
            error: function () {
                debugger;
                alert("Please Select Dc No");
            }
        });

        document.getElementById("tbBooks").innerHTML = "";
        document.getElementById("tbBooks1").innerHTML = "";
        $.ajax({
            url: 'GetSubRecivedDetail',

            type: "post",
            data: { "ItemId": ItemId, },
            cache: false,
            success: function (list) {
                if (list != null && list.length > 0) {

                    list.forEach((item) => {

                        var index = $("#tbBooks").children("tr").length;

                        var ItemId = "<td><label style='width: 200px;'>" + item.item + "</label><input type='hidden' value=" + item.itemid + " id='txtitemid" + index + "' name='Contlilst[" + index + "].itemid'><input type='hidden' value=" + item.id + " id='txtID" + index + "' name='Contlilst[" + index + "].id'></td>";

                        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Contlilst[" + index + "].unit'  style='width: 90px;' type='text'  readonly='True'  value=" + item.unit + " /></td>";


                        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Contlilst[" + index + "].qty'  style='width: 100px;' type='text' readonly='True' value=" + item.qty + " /></td>";





                        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Contlilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text' value=" + item.rate + " readonly='True' /></td>";

                        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Contlilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px; type='text' value=" + item.amount + " readonly='True' /></td>";






                        var removeCell = "<td><input id='Isvalid" + index + "' name='Contlilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='Contlilst.Index' type='hidden' value='" + index + "'  /></td>";

                        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId + Unit + Qty + rate + Amount + removeCell + "</tr>";
                        $("#tbBooks").append(newRow);

                    });

                }


            },
            error: function () {
                debugger;
                alert("Please Select Supplier");
            }
        });
        $.ajax({
            url: 'GetSubDeliverItemDetail',

            type: "post",
            data: { "ItemId": ItemId, },
            cache: false,
            success: function (list) {
                if (list != null && list.length > 0) {

                    list.forEach((item) => {

                        var index = $("#tbBooks1").children("tr").length;

                        var ItemId = "<td><label style='width: 200px;'>" + item.item + "</label><input type='hidden' value=" + item.itemid + " id='txtitemid" + index + "' name='SubMatlilst[" + index + "].itemid'><input type='hidden' value=" + item.drumno + " id='txtdrumno" + index + "' name='SubMatlilst[" + index + "].drumno'><input type='hidden' value=" + item.dqty + " id='txtdqty" + index + "' name='SubMatlilst[" + index + "].dqty'><input type='hidden' value=" + item.drate + " id='txtdrate" + index + "' name='SubMatlilst[" + index + "].drate'><input type='hidden' value=" + item.damount + " id='txtdamount" + index + "' name='SubMatlilst[" + index + "].damount'><input type='hidden' value=" + item.supid + " id='txtsupid" + index + "' name='SubMatlilst[" + index + "].supid'></td>";
                        var Drum = "<td><div class='fa-hover col-md-2 col-sm-4''> <a href='@Url.Action("DrumSelection", "SubContractingMaterialReceipt")?rowid=0&id=" + item.supid + "' class='fancybox' data-fancybox-type='iframe' ><img src='../Images/view_icon.png' /></a></div> </td>";

                        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='SubMatlilst[" + index + "].unit'  style='width: 90px;' type='text'  readonly='True'  value=" + item.unit + " /></td>";


                        var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='SubMatlilst[" + index + "].qty'  style='width: 100px;' type='text' readonly='True' value=" + item.qty + " /></td>";





                        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='SubMatlilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text' value=" + item.rate + " readonly='True' /></td>";

                        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='SubMatlilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px;' type='text' value=" + item.amount + " readonly='True' /></td>";






                        var removeCell = "<td><input id='Isvalid" + index + "' name='SubMatlilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='SubMatlilst.Index' type='hidden' value='" + index + "'  /></td>";

                        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId + Drum + Unit + Qty + rate + Amount + removeCell + "</tr>";
                        $("#tbBooks1").append(newRow);

                    });

                }


            },
            error: function () {
                debugger;
                alert("Please Select DC Number");
            }
        });
    }
    function ItemChange(ItemId, i) {
    @* var locid = document.getElementById("ddlLoc").value;*@
            $.ajax({
                url: 'GetItemDetail',
                data: { "ItemId": ItemId },
                type: "GET",
                success: function (result) {

                    document.getElementById("txtunit" + i).value = result.unit;
                    document.getElementById("txtrate" + i).value = result.price;

            
                    },
                error: function () {
                    alert("Data Not Found");
                }
            });
    }
    function Item_Deatils(ItemId, j) {
    @* var locid = document.getElementById("ddlLoc").value;*@
            $.ajax({
                url: 'GetItem',
                data: { "ItemId": ItemId },
                type: "GET",
                success: function (result) {

                    document.getElementById("txtRunit" + j).value = result.unitid;
                    document.getElementById("txtRrate" + j).value = result.rate;


                },
                error: function () {
                    alert("Data Not Found");
                }
            });
    }
    function changeItem(ItemId) {
        $.ajax({
            url: 'GetWCDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("txtWorkCenter").value = result.work;

            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }

        function AddRow() {
            var opt = "";
            $.ajax({
                type: "POST",
                url: 'GetItemJSON',
                success: function (data) {

                    $.each(data, function () {
                        opt += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    AppendRow(opt);
                }
            });
        }
        function removeRow(id) {
            var table = document.getElementById("dataTable");
            var rowCount = table.rows.length;
            var row = document.getElementById('trBook' + id);
            var j = 0;
            $('tr.chkitemlst').each(function () {
                if ($(this).css('display') !== 'none') {
                    j += 1;
                }
            });
            if (j > 1) {
                row.style.display = "none";
                document.getElementById('Isvalid' + id).value = "N";
            }
            else {
                alert("Cannot delete all the rows.")
            }
        }
        function AppendRow(opt) {
            var index = $("#tbBooks1").children("tr").length;

            var ItemId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='SubMatlilst[" + index + "].item' style='width:150px;' onchange = 'ItemChange(this.value," + index + ")'> <option value=''>Please select</option>" + opt + " < /select><input type='hidden' id='txtitemid" + index + "' name='SubMatlilst[" + index + "].itemid'><input type='hidden'  id='txtdrumno" + index + "' name='SubMatlilst[" + index + "].drumno'><input type='hidden'  id='txtdqty" + index + "' name='SubMatlilst[" + index + "].dqty'><input type='hidden'  id='txtdrate" + index + "' name='SubMatlilst[" + index + "].drate'><input type='hidden'  id='txtdamount" + index + "' name='SubMatlilst[" + index + "].damount'><input type='hidden'  id='txtsupid" + index + "' name='SubMatlilst[" + index + "].supid'></td>";

            var Drum = "<td><div class='fa-hover col-md-2 col-sm-4''> <a href='@Url.Action("DrumSelection", "SubContractingMaterialReceipt")?rowid=0&id='item' class='fancybox' data-fancybox-type='iframe' ><img src='../Images/view_icon.png' /></a></div> </td>";

            var Unit = "<td><input class='form-control' id='txtunit" + index + "' name='SubMatlilst[" + index + "].unit'  style='width: 100px;' type='text'    /></td>";

            var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='SubMatlilst[" + index + "].qty'  style='width: 100px;' type='text' /></td>";

            var rate = "<td><input class='form-control' id='txtrate" + index + "' name='SubMatlilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text'  /></td>";

            var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='SubMatlilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px;' type='text'  /></td>";


            var removeCell = "<td><input id='Isvalid" + index + "' name='SubMatlilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='SubMatlilst.Index' type='hidden' value='" + index + "'  /></td>";

            var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemId + Drum + Unit + Qty + rate + Amount + removeCell + "</tr>";
            $("#tbBooks1").append(newRow);

            $(function () {
                $('._select').select2();
            });
          }

        function AddRow1() {
            var opt = "";
            $.ajax({
                type: "POST",
                url: 'GetItemDelJSON',
                success: function (data) {

                    $.each(data, function () {
                        opt += "<option value=" + this.value + ">" + this.text + "</option>";
                    });
                    AppendRow1(opt);
                }
            });
        }
        function removeRow1(id) {
            var table = document.getElementById("dataTable1");
            var rowCount = table.rows.length;
            var row = document.getElementById('trBook1' + id);
            var j = 0;
            $('tr.chkitemlst1').each(function () {
                if ($(this).css('display') !== 'none') {
                    j += 1;
                }
            });
            if (j > 1) {
                row.style.display = "none";
                document.getElementById('Isvalid' + id).value = "N";
            }
            else {
                alert("Cannot delete all the rows.")
            }
        }
        function AppendRow1(opt) {
            var index = $("#tbBooks").children("tr").length;

            //var ItemGrp = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='MRlst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

            var ItemId = "<td><select style = 'width: 200px;' class='form-control _select newcss' id='ddlItem" + index + "' name='Contlilst[" + index + "].item' style='width:150px;' onchange = 'Item_Deatils(this.value," + index + ")'> <option value=''>Please select</option>" + opt + " < /select><input type='hidden'   id='txtitemid" + index + "' name='Contlilst[" + index + "].itemid'><input type='hidden'  id='txtID" + index + "' name='Contlilst[" + index + "].id'></td>";

            var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='Contlilst[" + index + "].unit'  style='width: 100px;' type='text'  '    /></td>";


            var Qty = "<td><input class='form-control' id='txtqty" + index + "' name='Contlilst[" + index + "].qty'  style='width: 100px;' type='text'   /></td>";

            var rate = "<td><input class='form-control' id='txtrate" + index + "' name='Contlilst[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;' type='text'  /></td>";

            var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='Contlilst[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 120px; type='text'   /></td>";

            var removeCell = "<td><input id='Isvalid" + index + "' name='Contlilst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow1(" + index + ");'  style='cursor:pointer' /><input name='Contlilst.Index' type='hidden' value='" + index + "'  /></td>";

            var newRow = "<tr class='chkitemlst1'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook1" + index + "'>" + ItemId + Unit + Qty + rate + Amount + removeCell + "</tr>";
            $("#tbBooks").append(newRow);

            $(function () {
                $('._select').select2();
            });
        }
</script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>