@model Arasan.Models.SalesTarget

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Sales Target";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ViewSalesTarget", "SalesTarget", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.DisplayFor(C => C.Branch)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Doc.No<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.DocId)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Doc.Date<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Docdate)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">From Day<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.FDay)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">To Day<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.TDay)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Financial Month<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.FMonth)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Financial Year<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.FYear)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height:30px;"></div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">

                                        <div class="ibox-content collapse in">
                                            <div class="widgets-container">
                                                <div>
                                                    <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Party</th>
                                                                <th>Qty</th>
                                                                <th>Rate</th>
                                                                <th>Amount</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{
                                                                int i = 0;

                                                                foreach (var item in Model.Targetlst.ToList())
                                                                {

                                                                    <tr>
                                                                        <td>@Html.DisplayFor(o => o.Targetlst[i].ItemId)</td>
                                                                        <td>@Html.DisplayFor(o => o.Targetlst[i].PartyId)</td>
                                                                        <td>@Html.DisplayFor(o => o.Targetlst[i].Quantity)</td>
                                                                        <td>@Html.DisplayFor(o => o.Targetlst[i].rate)</td>
                                                                        <td>@Html.DisplayFor(o => o.Targetlst[i].Amount)</td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           @* <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListSalesTarget", "SalesTarget")'">Cancel</button>
*@

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    })
</script>


