@model IEnumerable<AccountType>
@{
    ViewData["Title"] = "ListAccountType";
    string query = ViewContext.HttpContext.Request.Query["status"];
    string Qid = string.Empty;
    if (!string.IsNullOrEmpty(query)) { Qid = ViewContext.HttpContext.Request.Query["status"]; }
}

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> AccountType </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                           <div class="col-md-6 ">
                            <select style='width: 200px;' class='form-control  newcss' id="dllstatus" onchange="changeStatus(this.value)">
                                    <option value="" selected>Open</option>
                                <option value='INACTIVE'>Close</option>
                                @* <option value='InActive'>Disabled</option>*@
                            </select>
                        </div>

                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("AccountType","AccountType")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add AccountType</a>
                                    <br>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>
                                                        <tr>

                                                            <th>Account Class</th>
                                                            <th>AccountType</th>
                                                            <th>AccountCode</th>
                                                           @* <th>Status</th>*@


                                                            <th>Edit</th>
                                                            <th>Close</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int i = 1;

                                                            foreach (var item in Model)
                                                            {
                                                                <tr>


                                                                    <td>@Html.DisplayFor(modelItem => item.Accountclass)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Accounttype)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.AccountCode)</td>
                                                                   @* <td>@Html.DisplayFor(modelItem => item.Status)</td> *@

                                                                    @if (item.status == "N")
                                                                    {
                                                                        <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("AccountType", "AccountType",new { id=item.ID })"></a></div></td>
                                                                        <td> <a href="@Url.Action("Remove","AccountType",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>
                                                                    }
                                                                    else
                                                                    {
                                                                       <td><div class="fa-hover col-md-2 col-sm-4"> <a class="icon fa fa-pencil" aria-hidden="true" href="@Url.Action("AccountType", "AccountType",new { id=item.ID })"></a></div></td>
                                                                      <td> <a href="@Url.Action("DeleteMR","AccountType",new {tag="Del",id=item.ID})" onclick="return confirm('Are you sure you want to close this record?');"><img src='../Images/Inactive.png' alt='Deactivate' /></a></td>
                                                                    }
                                                                </tr>
                                                                i++;
                                                            }
                                                        }


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example7').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                text: 'copy',
                extend: "copy",
                className: 'btn dark btn-outline'
            }, {
                text: 'csv',
                extend: "csv",
                className: 'btn aqua btn-outline'
            }, {
                text: 'excel',
                extend: "excel",
                className: 'btn aqua btn-outline'
            }, {
                text: 'pdf',
                extend: "pdf",
                className: 'btn yellow  btn-outline'
            }, {
                text: 'print',
                extend: "print",
                className: 'btn purple  btn-outline'
            }]
        });



    });
</script>

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
    function changeStatus(status) {
        var url = "/AccountType/ListAccountType?status=" + status;
        window.location.href = url;
        //$.ajax({
        //    url: 'AssignSession',
        //    data: { "status": status },
        //    type: "GET",
        //    success: function (result) {
        //        document.getElementById("hdstatus").value = result;
        //    },
        //    error: function () {
        //        alert("Data Not Found");
        //    }
        //});
        //window.location.reload();

    }
    $(document).ready(function () {
        var val2 = "@Qid";
        $('#dllstatus').val(val2);
    });
</script>
