@model Arasan.Models.GRN

@{
    ViewData["Title"] = "GRN";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="@Url.Action("PurchaseDash", "Home")">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>GRN</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/GRN/MyListGRNAcc",
            //url: "/ItemName/ItemName",
            data: {
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'enqno', type: 'string' },
                { name: 'docDate', type: 'string' },
                { name: 'supplier', type: 'string' },
                { name: 'gross', type: 'string' },
                { name: 'net', type: 'string' },
                { name: 'qcresult', type: 'string' },
                { name: 'grn', type: 'string' },
                { name: 'acc', type: 'string' },
               
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );
        var linkrenderer1 = function (row, column, value) {
            return '<a href="' + value + '" onclick="return ConfirmDelete()"><img  src="../Images/Inactive.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';
        }
        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                theme: 'ui-start',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,
                columns: [
                    //{ text: 'Branch', filtertype: 'checkedlist', datafield: 'branch', width: 150 },
                    { text: 'GRN No', filtertype: 'input', datafield: 'enqno', width: 150 },
                    { text: 'GRN Date', datafield: 'docDate', width: 100, align: 'center' },
                    { text: 'Supplier', filtertype: 'checkedlist', datafield: 'supplier', width: 250 },
                    { text: 'Gross', filtertype: 'checkedlist', datafield: 'gross', width: 100 },
                    { text: 'Net', filtertype: 'checkedlist', datafield: 'net', width: 100 },
                    { text: 'Qc Testing', filtertype: 'input', datafield: 'qcresult', width: 100 },
                   // { text: 'GRN Status', datafield: 'grn', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, align: 'center', cellsalign: 'center', width: 100 },
                    { text: 'Account', datafield: 'acc', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, align: 'center', cellsalign: 'center', width: 150 },
                  
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                              <div class="col-md-12 ">
                            <div id="grid">
                            </div>

                             </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>


<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
        });
        fancybox123 = $.fancybox;
    });

    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }


</script>