@model Arasan.Models.Drumhistory

@{
    ViewData["Title"] = "Drum History";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong> Drum History</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Drum History</h5>
                    <hr>
                    @using (Html.BeginForm("Drumhistory", "DrumLocation", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Drum No.<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.DrumNo, new { @id = "txtDrumNo", @class = "form-control", @TabIndex = 2  })<br />
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>
                                </div>
                                <div class="col-lg-4">
                                    </div>
                            </div>

                            <div style="height:30px;"></div>
                             

                            <div class="row">
                                <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">

                                    @* <div class="ibox float-e-margins">*@

                                    <!-- / ibox-title -->
                                    @* <div id="demo3" class="ibox-content collapse in">
                                <div class="borderedTable">
                                <div class="table-scrollable">*@
                                    <table class="table table-striped table-hover" id="dataTable">
                                        <thead>
                                            <tr>


                                                <th> Drum Location  </th>
                                                <th> Item  </th>

                                                <th>Drum</th>
                                                <th> Type</th>
                                                <th> Party</th>
                                                 
                                                





                                            </tr>

                                        </thead>
                                        <tbody id="tbBooks">
                                            @{

                                                int i = 0;

                                                foreach (var item in Model.dumlst.ToList())
                                                {

                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">




                                                        
                                                        <td>
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation1" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation2" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation3" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation4" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation5" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Location, new { @id = "txtLocation6" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item1" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item2" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item3" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item4" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item5" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Item, new { @id = "Item6" + i, @class = "form-control", style = "width: 230px;" , @readonly = "readonly"})
                                                            
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.dumlst[i].Drum, new { @id = "Drum" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Drum, new { @id = "Drum1" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Drum, new { @id = "Drum2" + i, @class = "form-control", style = "width: 180px;", @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Drum, new { @id = "Drum3" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Drum, new { @id = "Drum4" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type1" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type2" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type3" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type4" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type5" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                            @Html.TextBoxFor(o => o.dumlst[i].Type, new { @id = "Type6" + i, @class = "form-control", style = "width: 180px;" , @readonly = "readonly"})
                                                        </td>

                                                        <td>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                       

                                                            @Html.TextBoxFor(o => o.dumlst[i].Party, new { @id = "party" + i, @class = "form-control", style = "width: 260px;" , @readonly = "readonly"})
                                                               </td>



                                                    </tr>
                                                    i = i + 1;

                                                }
                                            }

                                        </tbody>




                                    </table>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changesearch(){
        var drumno=document.getElementById("txtDrumNo").value;
        var i=0;
         $.ajax({
                    url: "GetDrumJSON",
                    type: "post",
                    data: {'drumno': drumno},
                    cache: false,
                    success: function (response) {
                document.getElementById("txtLocation" + i).value = response.locid;
                document.getElementById("txtLocation1" + i).value = response.locid1;
                document.getElementById("txtLocation2" + i).value = response.locid2;
                document.getElementById("txtLocation3" + i).value = response.locid3;
                document.getElementById("txtLocation4" + i).value = response.locid4;
                document.getElementById("txtLocation5" + i).value = response.inloc;
                document.getElementById("txtLocation6" + i).value = response.inloc1;

                document.getElementById("Drum" + i).value = response.drumid;
                document.getElementById("Drum1"+ i).value = response.drum;
                document.getElementById("Drum2"+ i).value = response.drum1;
                document.getElementById("Drum3"+ i).value = response.drum2;
                document.getElementById("Drum4" + i).value = response.drum3;

                document.getElementById("Type" + i).value = response.type;
                document.getElementById("Type1"+ i).value = response.type1;
                document.getElementById("Type2"+ i).value = response.type2;
                document.getElementById("Type3"+ i).value = response.type3;
                document.getElementById("Type4" + i).value = response.type4;
                document.getElementById("Type5" + i).value = response.intype;
                document.getElementById("Type6" + i).value = response.intype1;

                document.getElementById("Item"+ i).value = response.item;
                document.getElementById("Item1"+ i).value = response.item1;
                document.getElementById("Item2"+ i).value = response.item2;
                document.getElementById("Item3"+ i).value = response.item3;
                document.getElementById("Item4" + i).value = response.item4;
                document.getElementById("Item5" + i).value = response.initem;
                document.getElementById("Item6" + i).value = response.initem1;
                document.getElementById("party" + i).value = response.party;
                    },
                    error: function () {
                        debugger;
                        alert("Please Select Supplier");
                    }
                });
    }
</script>