@model Arasan.Models.EmpMultipleAllocation

@{
    ViewData["Title"] = "EmpMultipleAllocation";
}
<style>


    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    div.scroll {
        width: 100 %;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        /* text-align: center;*/
        /*padding: 20px;*/
    }

</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Pyro Supervisor Allocation</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Pyro Supervisor Allocation</h5>
                    <hr>
                    @using (Html.BeginForm("EmpMultipleAllocation", "EmpMultipleAllocation", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br /><label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Emp, Model.Emolst," -- Please Select -- ", new { @id = "ddlEmp", @Class = "form-control _select", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Date<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.EDate, new { @id = "EDate", @class = "form-control", @TabIndex = 2,@size="31" , @readonly=true})
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />  <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.ListBoxFor(C => C.Location, Model.Loclst, new { @class = "listbox" ,@id = "ddlLoc"})
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListEmpMultipleAllocation", "EmpMultipleAllocation")'">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<link href="@Url.Content("~/assets/js/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap.multiselect.js")"></script>
<script>
    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
       
</script>
<script type="text/javascript">
    $(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });

    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("ddlEmp").value == "") {
                isValid = false;
                $(ddlEmp).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Employee");
                return false;
            }
            else {
                $(ddlEmp).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlLoc").value == "") {
                isValid = false;
                $(ddlLoc).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Location");
                return false;
            }
            else {
                $(ddlLoc).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>
