@model Arasan.Models.PrivilegesModel

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Privileges";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    @using (Html.BeginForm("ViewPriv", "Privileges", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Department<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.dept)
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Position<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.desg)
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Employee<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.emp)

                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            <div style="height:30px;"></div>
                            <div class="row">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                    @{

                                        int i = 0;
                                        foreach (var item in Model.menulst.ToList())
                                        {


                                           
                                                <div class="panel-heading" role="tab" id="headingOne@(i)">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne@(i)" aria-expanded="false" aria-controls="collapseOne@(i)">
                                                            @Html.DisplayFor(o => o.menulst[i].menuname) @Html.HiddenFor(o => o.menulst[i].menuid)
                                                        </a>
                                                    </h4>
                                                </div>

                                               
                                                  
                                                    <div class="panel-body">
                                                        @{
                                                            bool isenable = true;
                                                            if (item.menuname == "Dashboard")
                                                            {
                                                                isenable = false;
                                                            }
                                                        }
                                                        <div class="row">
                                                            <div class="col-md-12" >
                                                                <div class="scroll">
                                                                    <table class="table table-striped table-hover" id="dataTable@(i)">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="60%"></th>
                                                                                <th width="10%" align="center">View</th>
                                                                                @if (isenable == true)
                                                                                {
                                                                                    <th width="10%" align="center">Add</th>
                                                                                    <th width="10%" align="center">Edit</th>
                                                                                    <th width="10%" align="center">Delete </th>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <th width="10%"></th>
                                                                                    <th width="10%"></th>
                                                                                    <th width="10%"></th>
                                                                                }
                                                                            </tr>
                                                                           
                                                                        </thead>
                                                                        <tbody id="tbBooks@(i)">
                                                                            @{

                                                                                int j = 0;

                                                                                foreach (var drum in item.menudlst.ToList())
                                                                                {
                                                                                    <tr id="trBook_@(i)_@(j)" class="chkitemlst@(i)" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                                        <td width="60%">@Html.DisplayFor(o => o.menulst[i].menudlst[j].urlname)@Html.HiddenFor(o => o.menulst[i].menudlst[j].mapid)</td>
                                                                                        <td width="10%"><img src="~/Images/Approved.png" alt="Yes">
                                                                                      </td>

                                                                                        @if (isenable == true)
                                                                                        {
                                                                                            <td width="10%">
                                                                                        @if (drum.add == true)
                                                                                        {
                                                                                            <img src="~/Images/Approved.png" alt="Yes">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <img src="~/Images/cancel.png" alt="No">
                                                                                        }</td>

                                                                                            <td width="10%">
                                                                                        @if (drum.edit == true)
                                                                                        {
                                                                                            <img src="~/Images/Approved.png" alt="Yes">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <img src="~/Images/cancel.png" alt="No">
                                                                                        }
                                                                                            </td>
                                                                                            <td width="10%">
                                                                                        @if (drum.delete == true)
                                                                                        {
                                                                                            <img src="~/Images/Approved.png" alt="Yes">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <img src="~/Images/cancel.png" alt="No">
                                                                                        }
                                                                                    </td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td width="10%"></td>
                                                                                            <td width="10%"></td>
                                                                                            <td width="10%"></td>

                                                                                        }

                                                                                    </tr>

                                                                                    j = j + 1;
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   
                                                </div>
                                            
                                            <div style="height:20px;"></div>
                                            i = i + 1;
                                        }
                                    }

                                </div>

                                </div>

                           
                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                        
                            <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />


                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    })
</script>


