@model Arasan.Models.OTEntry

@{
    Layout = "_PopupLayout";

    ViewData["Title"] = "OTEntry";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a href="@Url.Action("OTEntryList", "OTEntry")">HR</a> </li>
            <li class="active"> <strong>View OTEntry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">OTEntry</h5>
                    <hr>
                    @using (Html.BeginForm("ViewOTEntry", "OTEntry", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Employee Name<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.EmpName, new { @id = "txtEmpID", @class = "form-control _select", @TabIndex = 2 })
                                            @Html.HiddenFor(C => C.PID)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Date<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Date, new { @id = "txtDate", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">OT performed on<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.OTON, new { @id = "OTON", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">OT Hours<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.OTHours, new { @id = "TTDate", @class = "form-control", @TabIndex = 2, @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.DisplayFor(C => C.Description, new { @id = "txtReason", @class = "form-control", @TabIndex = 2 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputName3" class="col-sm-4 control-label">Permission Status<label class="Mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.RadioButtonFor(C => C.Status, "Approve", new { @id = "Status", @TabIndex = 2 })
                                                <label id="mt-radio">Approve</label>&emsp;
                                                @Html.RadioButtonFor(C => C.Status, "Reject", new { @id = "Status", @TabIndex = 3 })
                                                <label id="mt-radio">Reject</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" onClick="window.parent.jQuery.fancybox123.close()"> submit</button>;
 
@*                             <input type="submit" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />
 *@                           <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("OTEntryList", "OTEntry")'">Cancel</button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("Status").value == "" || document.getElementById("Status").value == 0) {
                isValid = false;
                $(Status).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select OTEntry");
                return false;
            }
            else {
                $(Status).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();

        });

    });
// </script>
// <script>
//     <script>
//         $(function () {
//             $(document).on('click', '.closeFancybox', function () {
//                 $.fancybox.close();
//             })
//         })
// </script>
