@model Arasan.Models.PurchaseIndent
@{
    ViewData["Title"] = " Purchase Indent";
}
<style>
    .newwidth {
        width: 120px;
    }
    .mandatory{
	color: red;
	position:relative;
	top:2px;
	left:5px;
}
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Stores Management</a> </li>
            <li class="active"> <strong>Purchase Indent</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px"> Purchase Indent</h5>
                    <hr>
                                          @using (Html.BeginForm("Purchase_Indent", "PurchaseIndent", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.HiddenFor(C => C.ID)
                                        @Html.DropDownListFor(C => C.Branch, Model.Brlst," -- Please Select -- ", new { @id = "ddlBranch", @Class = "form-control _select", @TabIndex = 1 })<br/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                            @Html.DropDownListFor(C => C.SLocation, Model.SLoclst, new { @id = "ddlStLoc", @Class = "form-control _select", @TabIndex = 1 })<br />

                                    </div>
                                </div>
                            </div>
                        </div>
                         <div style="height:30px;"></div>
                        <div class="row">
                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Indent Date <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.IndentDate, new { @id = "IndentDate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													
													<br/>
												
                                            </div>
                                        </div>

                             <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Ref Date <label class="mandatory">*</label></label>
                                              
													<div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                         @Html.TextBoxFor(C => C.RefDate, new { @id = "RefDate", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })
														<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
													</div>
													
													<br/>
												
                                            </div>
                                        </div>

                        </div>

                        <div class="row">
                          
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Erection/Normal <label class="Mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DropDownListFor(C => C.Erection, Model.ELst, new { @id = "ddlErection", @Class = "form-control _select", @TabIndex = 1 })<br />

                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Purchase Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Purtype, Model.PURLst, new { @id = "ddlPurtype", @Class = "form-control _select", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    


                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                   <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRow()" class="btn sbold green" /></p>
                                </div>
                            </div>

                             <div class="row">
           <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:200px;">
                           
                                                <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ItemGroup</th>
                                                            <th> Item</th>
                                                            <th>QC Y/N</th>
                                                            <th> Unit</th>
                                                            <th> Avalible Stock </th>
                                                            <th> Whole Stock </th>
                                                            <th> Indent Placed </th>
                                                            <th>Qty</th>
                                                            <th> Department </th>
                                                            <th> DueDate</th>
                                                            <th>Narration</th>



                                                        </tr>

                                                    </thead>
                                                    <tbody id="tbBooks">
                                                        
                                                        @{

                                                            int i = 0;
                                                            foreach (var item in Model.PILst.ToList())
                                                            {
                                                                              <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                                

                                                                                    <td>
                                                                                                                                @Html.DropDownListFor(o => o.PILst[i].ItemGroupId, Model.PILst[i].ItemGrouplst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlItemGrp" + i, style = "width: 170px;", onchange = "Grup_Change(this.value," + i + ")"})
                                                                                                                            </td>
                                                                                                                            <td>
                                                                                                                                @Html.DropDownListFor(o => o.PILst[i].ItemId, Model.PILst[i].Itemlst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlItem" + i, style = "width: 170px;", onchange = "changeItem(this.value," + i + ")" })
                                                                                                                            </td>
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].QC, new { @id = "txtQC" + i, @class = "form-control", style = "width: 50px;", @readonly = "readonly"})</td> 
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].Unit, new { @id = "txtUnit" + i, @class = "form-control", style = "width: 50px;", @readonly = "readonly"}) 
                                                                                     @Html.HiddenFor(o=>o.PILst[i].UnitID , new { @id = "txtUnitID" + i})
                                                                                    </td>
                                                                                    <td> @Html.TextBoxFor(o => o.PILst[i].Stock, new { @id = "txtStock" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 50px;text-align:right" ,@readonly="readonly"})</td>
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].WholeStock, new { @id = "txtWholeStock" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 50px;text-align:right",@readonly="readonly" })</td>
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].IndentPlaced, new { @id = "txtIndentPlaced" + i, @class = "form-control", style = "width: 50px;", @readonly="readonly"})</td>
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].Quantity, new { @id = "txtQuantity" + i, @class = "form-control", onkeydown = "return isNumeric2(event.keyCode,this.value)", style = "width: 75px;text-align:right", @onkeyup = "changeQty(this," + i + ")"})</td>
                                                            <td> @Html.DropDownListFor(o => o.PILst[i].LocId, Model.PILst[i].loclst, "Please Select", new { @class = "form-control _select newcss", @id = "ddlLoc" + i, style = "width: 170px;" }) </td>
                                                                                     <td>
                                                                                     <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy" >
                                                                                       @Html.TextBoxFor(o => o.PILst[i].Duedate, new { @id = "txtDuedate" + i, @class = "form-control", style = "width: 100px;",@readonly=true}) 
                                                                               <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                                            </div> </td>
                                                                                    <td>@Html.TextBoxFor(o => o.PILst[i].Narration, new { @id = "txtNarration" + i, @class = "form-control", style = "width: 100px;"})</td>

                                                                                       <td>
                                                                                                                                @Html.HiddenFor(o => o.PILst[i].Isvalid, new { @id = "Isvalid" + i })
                                                                                                                                <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> 
                                                                                                                            </td>


                                                                                </tr>
                                                      
                                                          i = i + 1;
                                                            }
                                                        }

                                                    </tbody>
                                               </table>
                                            </div>
                                        </div>
                                   
                            </div>
                        

                      


                         <div style="height:30px;"></div>

                         <div class="row">
                             <div class="col-md-5"></div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            
                                                <label for="inputName3" class="col-sm-4 control-label">Total Quantity<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(C => C.TotalQty, new { @id = "txttotalQty", @Class = "form-control", @TabIndex = 1 ,@readonly=true})
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-md-3"></div>
									@* <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            
                                                <label for="inputName3" class="col-sm-4 control-label">Prepared By<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                    @Html.DropDownListFor(C => C.PreparedBy, Model.EmpLst, new { @id = "ddlPreparedBy", @Class = "form-control chosen-select", @TabIndex = 1 })
                                                </div>
                                            </div>
                                        </div>
                                        </div>*@

 
                <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                   <p style="float:right;"> <input type="button" value="Add Row" onclick="AddRowT()" class="btn sbold green" /></p>
                                </div>
                            </div>

                             <div class="row">
           <div class="col-md-12" style="overflow-x:scroll; min-width:300px; min-height:300px;">
                  <table class="table table-striped table-hover" id="dataTables">
                                                    <thead>
                                                        <tr>
                                                            <th>Terms And Condition</th>
                                                        </tr>

                                                    </thead>
                                                    <tbody id="tbBooksT">
                                                         @{

                                                            int j = 0;
                                                            foreach (var item in Model.TANDClst.ToList())
                                                            {
                                                                              <tr id="trBooks@(j)" class="chkitemlsts" style="height: 30px;border-bottom: 1px dashed #ddd;">
                                                                                

                                                                                   <td>@Html.TextBoxFor(C => C.TANDClst[j].TANDC, new { @id = "txtTANDC" + j, @class = "form-control", style = "width: 500px;"})</td>
                                                                                   
                                                                                       <td>
                                                                                             @Html.HiddenFor(C => C.TANDClst[j].Isvalid, new { @id = "IsvalidT" + j })
                                                                                             <img onclick="removeRowT(@(j));" src="../Images/delete.png" style="cursor:pointer" /> <input name="TANDClst.Index" type="hidden" value="@(j)" />
                                                                                      </td>                                   
                                                                              </tr>
                                                              j = j + 1;
                                                            }
                                                        }
                                                        </tbody>
                                                        </table>
                                                        </div>
                                                        </div>
                                                        </div>

                        <div style="height:30px;"></div>
                        <div class="row">
                <div class="col-sm-4 col-sm-offset-2">

                        <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                        <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("List_Purchase_Indent", "PurchaseIndent")'">Cancel</button>
                        </div>
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
 <script>
       $(document).ready(function () {
                $('#btnSave').click(function (e) {
                    var isValid = true;
                    if (document.getElementById("ddlBranch").value == "" || document.getElementById("ddlBranch").value == 0) {
                        isValid = false;
                        $(ddlBranch_chzn).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Select Branch");
                        return false;
                    }
                    else {
                        $(ddlBranch_chzn).css({
                            "border": "",
                            "background": ""
                        });
                    }
                     if (document.getElementById("IndentDate").value == "") {
                        isValid = false;
                        $(IndentDate).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Select Indent Date");
                        return false;
                    }
                    else {
                        $(IndentDate).css({
                            "border": "",
                            "background": ""
                        });
                    }

                     if (document.getElementById("RefDate").value == "") {
                        isValid = false;
                        $(RefDate).css({
                            "border": "1px solid red",
                            "background": "#FFCECE"
                        });

                        alert("Please Select Ref. Date");
                        return false;
                    }
                    else {
                        $(RefDate).css({
                            "border": "",
                            "background": ""
                        });
                    }

                     //Grid validation
                    var j = 0;
                    $('tr.chkitemlst').each(function () {
                        if ($(this).css('display') !== 'none') {
                           
                             if ($(this).find('#ddlItemGrp' + j.toString()).val() == "" || $(this).find('#ddlItemGrp' + j.toString()).val() == 0) {
                                isValid = false;
                                alert("Please Select Sub Group");
                                return false;
                            }
                            if ($(this).find('#ddlItemGrp' + j.toString()).val() != "" || $(this).find('#ddlItemGrp' + j.toString()).val() != "0") {

                                if ($(this).find('#ddlItem' + j.toString()).val() == "" || $(this).find('#ddlItem' + j.toString()).val() == 0) {
                                    isValid = false;
                                    $(this).find('#ddlItem' + j.toString()).css({
                                        "border": "1px solid red",
                                        "background": "#FFCECE"
                                    });
                                    alert("Please Select Item");
                                    $(this).find('#ddlItem' + j.toString()).focus();
                                    return false;
                                }
                                else {
                                    $(this).find('#ddlItem' + j.toString()).css({
                                        "border": "",
                                        "background": ""
                                    });
                                }
                            }
                                if ($(this).find('#txtQuantity' + j.toString()).val() == "" || $(this).find('#txtQuantity' + j.toString()).val() == "0") {
                                    isValid = false;
                                    $(this).find('#txtQuantity' + j.toString()).css({
                                        "border": "1px solid red",
                                        "background": "#FFCECE"
                                    });

                                    alert("Please Enter Quantity");
                                    $(this).find('#txtQuantity' + j.toString()).focus();
                                    return false;

                                }
                                else {
                                    $(this).find('#txtQuantity' + j.toString()).css({
                                        "border": "",
                                        "background": ""
                                    });
                                }
                         
                                 if ($(this).find('#ddlLoc' + j.toString()).val() == "" || $(this).find('#ddlLoc' + j.toString()).val() == 0) {
                                isValid = false;
                                alert("Please Select Department");
                                return false;
                            }


                             if ($(this).find('#txtDuedate' + j.toString()).val() == "" || $(this).find('#txtDuedate' + j.toString()).val() == "0") {
                                    isValid = false;
                                    $(this).find('#txtDuedate' + j.toString()).css({
                                        "border": "1px solid red",
                                        "background": "#FFCECE"
                                    });

                                    alert("Please Select Due Date");
                                    $(this).find('#txtDuedate' + j.toString()).focus();
                                    return false;

                                }
                                else {
                                    $(this).find('#txtDuedate' + j.toString()).css({
                                        "border": "",
                                        "background": ""
                                    });
                                }


                        }
                        j += 1;
                    });


 if (isValid == false)
                        e.preventDefault();

                });

            });
            function changeQty(_this, i) {
                try {

                       var j = 0;
                    var qty = 0;
                    var tot = 0;
                    $('tr.chkitemlst').each(function () {
                        if ($(this).css('display') !== 'none') {
                            qty = $(this).find('#txtQuantity' + j.toString()).val();
                            if (qty == "")
                        qty = 0;

                         tot += eval(qty);
                              }
                        j += 1;
                    });
                  document.getElementById("txttotalQty").value = tot.toFixed(2);
                }
                catch (ex) {
                    alert(ex.message);
                }
            }
     $(function () {
        $('._select').select2();
        
     
    });
     function AddRow() {
        var opt = "";
       var remopt = "";

        $.ajax({
                    type: "POST",
                    url: 'GetItemGrpJSON',
                    success: function (data) {
                        $.each(data, function () {
                    opt += "<option value=" + this.value + ">" + this.text + "</option>";
                });

                        $.ajax({
                            type: "POST",
                            url: 'GetLocGSON',
                            success: function (data) {
                                $.each(data, function () {
                                    remopt += "<option value=" + this.value + ">" + this.text + "</option>";
                                });
                                AppendRow(opt, remopt);
                            }
                        })
                     
                    }
                })



    }
     function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }

          var i = 0;
                    var qty = 0;
                    var tot = 0;
                    $('tr.chkitemlst').each(function () {
                        if ($(this).css('display') !== 'none') {
                            qty = $(this).find('#txtQuantity' + i.toString()).val();
                            if (qty == "")
                        qty = 0;

                         tot += eval(qty);
                              }
                        i += 1;
                    });
                  document.getElementById("txttotalQty").value = tot.toFixed(2);

    }
    function removeRowT(id) {
        var table = document.getElementById("dataTables");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBooks' + id);
        var j = 0;
        $('tr.chkitemlsts').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('IsvalidT' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
     $('.form_date').datetimepicker({
     //   language:  'fr',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
function AddRowT() {
    var index = $("#tbBooksT").children("tr").length;
    var TANDCbx = "<td><input class='form-control' id='txtTANDC" + index + "' name='TANDClst[" + index + "].TANDC'  style='width: 500px;' type='text'  /></td>";
      var removeCell = "<td><input id='IsvalidT" + index + "' name='TANDClst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRowT(" + index + ");'  style='cursor:pointer' /><input name='TANDClst.Index' type='hidden' value='" + index + "'  /></td>";
       

        var newRow = "<tr class='chkitemlsts'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBooks" + index + "'>" + TANDCbx  +  removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooksT").append(newRow);
}
         function AppendRow(opt,remopt) {
        var index = $("#tbBooks").children("tr").length;

        var ItemGrp = "<td><select style = 'width: 170px;' class='form-control _select newcss' id='ddlItemGrp" + index + "' name='PILst[" + index + "].ItemGroupId' onchange = 'Grup_Change(this.value," + index + ")'><option value=''>Please select</option>" + opt + "</select></td>";

        var Item = "<td><select style = 'width: 170px;' class='form-control _select newcss' id='ddlItem" + index + "' name='PILst[" + index + "].ItemId' onchange = 'changeItem(this.value," + index + ")'><option value=''>Please select</option></select></td>";

        var QC = "<td><input class='form-control' id='txtQC" + index + "' name='PILst[" + index + "].QC'  style='width: 50px;' type='text'  readonly='True'/></td>";

        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='PILst[" + index + "].Unit'  style='width: 50px;' type='text'  readonly='True' /><input type='hidden' name='PILst[" + index + "].UnitID' id='txtUnitID" + index + "'></td>";

        var Stock = "<td><input class='form-control' id='txtStock" + index + "' name='PILst[" + index + "].Stock'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 50px;text-align:right' type='text' value='0' readonly='True' /></td>";

        var WholeStock = "<td><input class='form-control' id='txtWholeStock" + index + "' name='PILst[" + index + "].WholeStock'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 50px;text-align:right' type='text' value='0' readonly='True' /></td>";
        
        var IndentPlaced = "<td><input class='form-control' id='txtIndentPlaced" + index + "' name='PILst[" + index + "].IndentPlaced'  style='width: 50px;' type='text' readonly='True' /></td>";

        var Quantity = "<td><input class='form-control' id='txtQuantity" + index + "' name='PILst[" + index + "].Quantity'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 75px;text-align:right' type='text' value='0'  onkeyup = 'changeQty(this," + index + ")'/></td>";
        
        var Loc = "<td><select style = 'width: 170px;' class='form-control _select newcss' id='ddlILoc" + index + "' name='PILst[" + index + "].LocId' ><option value=''>Please select</option>" + remopt + "</select></td>";

        var Duedate = "<td><div class='input-group date form_date col-sm-8' data-date='' data-date-format='dd-M-yyyy'><input class='form-control' id='txtDuedate" + index + "' name='PILst[" + index + "].Duedate'  style='width: 100px;' type='text'  readonly='True'/> <span class='input-group-addon'><span class='glyphicon glyphicon-remove'></span></span> <span class='input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span></div> </td>";

        var Narration = "<td><input class='form-control' id='txtNarration" + index + "' name='PILst[" + index + "].Narration'  style='width: 100px;' type='text'  /></td>";

        var removeCell = "<td><input id='Isvalid" + index + "' name='PILst[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='PILst.Index' type='hidden' value='" + index + "'  /></td>";
       

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" + ItemGrp + Item + QC +  Unit + Stock + WholeStock + IndentPlaced + Quantity + Loc + Duedate + Narration +  removeCell + "</tr>";
        //alert(Packing);
        $("#tbBooks").append(newRow);

        $(function () {
            $('._select').select2();


        });
          $('.form_date').datetimepicker({
     //   language:  'fr',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });
    }
     function Grup_Change(itemid, i) {
               //alert(itemid);
               //debugger;
                $.ajax({
                    url: "GetItemJSON",
                    type: "post",
                    data: {'itemid': itemid},
                    cache: false,
                    success: function (response) {
                        var newlist;
                        //alert(JSON.stringify(response));
                        newlist = response.Itemlst;
                        PopulateDropDown("#ddlItem" + i, response);
                    },
                    error: function () {
                        debugger;
                        alert("Please Select Item Group");
                    }
                });
            }
            function PopulateDropDown(dropDownId, list) {
                 //alert(list);
                $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
                if (list != null && list.length > 0) {
                    $(dropDownId).removeAttr("disabled");
                    $.each(list, function () {
                        $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                    });
                }
                $(dropDownId).trigger("liszt:updated");
            }
            function changeItem(ItemId, i) {
                $.ajax({
                    url: 'GetItemDetail',
                    data: { "ItemId": ItemId },
                    type: "GET",
                    success: function (result) {
                        document.getElementById("txtQC" + i).value = result.qc;
                        document.getElementById("txtUnit" + i).value = result.unit;
                        document.getElementById("txtUnitID" + i).value = result.unitid;
                        document.getElementById("txtIndentPlaced" + i).value = result.indentqty;
                    },
                    error: function () {
                        alert("Data Not Found");
                    }
                });
            }
     </script>