@model Arasan.Models.SalesReturn
@{
    ViewData["Title"] = "Sales Return";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
      <div class="col-lg-12">

        <ol class="breadcrumb">
          <li> <a href="#">Home</a> </li>
          <li> <a>Sales</a> </li>
          <li class="active"> <strong> Sales Return </strong> </li>
        </ol>
      </div>
    </div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Sales Return</h5>
                    <hr>
                    @using (Html.BeginForm("SalesReturn", "SalesReturn", FormMethod.Post))
                        {
                          @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputName3" class="col-sm-4 control-label">Invoice No. <label class="mandatory">*</label></label>
                                                    <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.invoiceid, Model.invoicelst," -- Select -- ", new { @id = "ddlinvoiceno", @Class = "form-control _select", @TabIndex = 1, onchange = "changeInvoice(this.value)"})<br />
                                                    </div>
                                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Invoice Date<label class="Mandatory"></label></label>
                                    
                                         <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.invoicedate, new { @id = "txtinvoicedate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })<br />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.HiddenFor(C => C.ID)
                                            @Html.HiddenFor(C => C.Branch)
                                         </div>
                                   
                                 </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Customer Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.custname, new { @id = "txtcustname", @class = "form-control", @TabIndex = 2/*,@readonly=true*/})<br />
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Voucher Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.DropDownListFor(C => C.Vtype, Model.vlst, " -- Select -- ", new { @id = "ddlVtype", @Class = "form-control _select" })<br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Doc ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.DocId, new { @id = "txtDocId", @class = "form-control", @TabIndex = 2,@readonly=true})<br />
                                    </div>
                                </div>
                            </div>
                                  <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory">*</label></label>


                                                      <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.Docdate, new { @id = "Docdate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />


                                            </div>
                                        </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Ref No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.RefNo, new { @id = "txtRefNo", @class = "form-control", @TabIndex = 2})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="mandatory"></label></label>


                                                      <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.RefDate, new { @id = "RefDate", @class = "form-control", @TabIndex = 2,@size="31",@readonly=true })
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <br />


                                            </div>
                                        </div>
                        </div>
                      
                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.location, Model.Loc, " -- Select -- ", new { @id = "ddllocation", @Class = "form-control _select" })<br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Transit/consignee Location<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(C => C.transitlocation, Model.Loc, " -- Select -- ", new { @id = "ddltransitlocation", @Class = "form-control _select" })<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                            <div class="row">


                                <br />   <br />  <div class="col-lg-12" style=" overflow-y:scroll; min-width:800px; min-height:400px;">

                                    <br />   <br />
                                    <div class="scroll">
                                        <table class="table table-striped table-hover" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th> Item Name</th>
                                                            <th> Unit </th>
                                                            <th> Sold Qty </th>
                                                            <th> Recd Qty </th>
                                                            <th>Rate</th>
                                                            <th>Amount</th>
                                                            <th>Discount</th>
                                                            <th>Exice Type</th>
                                                            <th>Traiff id</th>
                                                            <th>CGST (%)</th>
                                                            <th>CGST Value</th>
                                                            <th>SGST (%)</th>
                                                            <th>SGST Value</th>
                                                            <th>IGST (%)</th>
                                                            <th>IGST Value</th>
                                                            <th>Total Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbBooks">
                                                     @*  @{

                                                int i = 0;
                                                foreach (var item in Model.salesReturnItems.ToList())
                                                {
                                                    <tr id="trBook@(i)" class="chkitemlst" style="height: 30px;border-bottom: 1px dashed #ddd;">

                                                     <td>
                                                            @Html.HiddenFor(o => o.salesReturnItems[i].Isvalid, new { @id = "Isvalid" + i })
                                                            <img onclick="removeRow(@(i));" src="../Images/delete.png" style="cursor:pointer" /> <input name="salesReturnItems.Index" type="hidden" value="@(i)" />
                                                        </td>

                                                    </tr>

                                                    i = i + 1;
                                                }
                                            }*@
                                                     </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                

                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                <br />    <label for="inputName3" class="col-sm-4 control-label">Gross<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.gross, new { @id = "txtGross", @class = "form-control", @TabIndex = 2,@readonly=true})
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                        <br />    <label for="inputName3" class="col-sm-4 control-label">Net<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                         @Html.TextBoxFor(C => C.net, new { @id = "txtNet", @class = "form-control", @TabIndex = 2,@readonly=true})<br />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-2 control-label">Narration<label class="Mandatory"></label></label>
                                    <div class="col-sm-10">
                                        @Html.TextAreaFor(C => C.Narr, new { @id = "txtNarr", @class = "form-control", @TabIndex = 2})
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                            <div style="height:30px;"></div>
                            <div class="col-lg-10"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListSalesReturn", "SalesReturn")'">Cancel</button>
                    </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
     $(function() {
            $('._select').select2();
        });
    $(function () {
        var jobid = '@ViewBag.invoiceid';
        changeInvoice('edit', jobid);
    });
        $('.form_date').datetimepicker({
            //   language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
 
        $('._select').select2();
    function changeInvoice(invoiceid, jobid) {
           $.ajax({
            url: 'GetInvoice',
            data: { "id": invoiceid},
            type: "GET",
            success: function (result) {
                    document.getElementById("txtGross").value = result.gross;
                    document.getElementById("txtNet" ).value = result.net;
                    document.getElementById("txtcustname" ).value = result.partyname;
                    document.getElementById("txtinvoicedate" ).value = result.invdate;
                },
            error: function () {
                alert("Data Not Found");
            }
        });

         document.getElementById("tbBooks").innerHTML="";

         $.ajax({
                    url: "GetSRJSON",
                    type: "post",
            data: { 'invoiceid': invoiceid, 'jobid': jobid },
                    cache: false,
                    success: function (list) {
                      
                         if (list != null && list.length > 0) {
                    list.forEach((item) => {

        var index = $("#tbBooks").children("tr").length;

        var ItemId = "<td><label style='font-weight: 200;'>" + item.itemname + "</label><input type='hidden' value=" + item.itemid + " id='txtItem" + index + "'   style='width: 80px;' name='returnlist[" + index + "].itemid'></td>";
        
        var Unit = "<td><input class='form-control' id='txtUnit" + index + "' name='returnlist[" + index + "].unit'  style='width: 60px;' type='text'  readonly='True'  value=" + item.unit + " /><input type='hidden' value=" + item.unitid + " id='hdunit" + index + "' name='returnlist[" + index + "].unitid'></td>";

        var Qty = "<td><input class='form-control' id='txtquantity" + index + "' name='returnlist[" + index + "].quantity'  style='width: 50px;' type='text' readonly='True' value=" + item.soldqty + "  /></td>";
         
        var RQuantity = "<td><input class='form-control' id='txtrqty" + index + "' name='returnlist[" + index + "].rqty'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 80px;text-align:right' type='text' value=" + item.quantity + " onkeyup = 'changeQty(this.value," + index + ")' /></td>";

        var rate = "<td><input class='form-control' id='txtrate" + index + "' name='returnlist[" + index + "].rate'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value=" + item.rate + " readonly='True' /></td>";

        var Amount = "<td><input class='form-control' id='txtamount" + index + "' name='returnlist[" + index + "].amount'  onkeydown='return isNumeric2(event.keyCode,this.value)' style='width: 100px;text-align:right' type='text' value=" + item.amount + " readonly='True' /></td>";

        var Disc = "<td><input class='form-control' id='txtdisc" + index + "' name='returnlist[" + index + "].disc'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'  readonly='True' value=" + item.discamount + " /></td>";

        var ExiseType = "<td><input class='form-control' id='txtExiseType" + index + "' name='returnlist[" + index + "].exicetype'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.exicetype + " readonly='True' /></td>";

        var Tarrifid = "<td><input class='form-control' id='txtTarrifid" + index + "' name='returnlist[" + index + "].traiffid'  style='width: 80px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.traiffid + "  readonly='True'/></td>";

        var CGSTPer = "<td><input class='form-control' id='txtCGSTPer" + index + "' name='returnlist[" + index + "].cgstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' readonly='True' value=" + item.cgstper + " /></td>";

        var SGSTPer = "<td><input class='form-control' id='txtSGSTPer" + index + "' name='returnlist[" + index + "].sgstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'    readonly='True' value=" + item.sgstper + " /></td>";

        var IGSTPer = "<td><input class='form-control' id='txtIGSTPer" + index + "' name='returnlist[" + index + "].igstper'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.igstper + "  readonly='True' /></td>";

        var CGSTAmt = "<td><input class='form-control' id='txtCGSTAmt" + index + "' name='returnlist[" + index + "].cgstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.cgstamt + "  readonly='True' /></td>";

        var SGSTAmt = "<td><input class='form-control' id='txtSGSTAmt" + index + "' name='returnlist[" + index + "].sgstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' value=" + item.sgstamt + " readonly='True'  /></td>";

        var IGSTAmt = "<td><input class='form-control' id='txtIGSTAmt" + index + "' name='returnlist[" + index + "].igstamt'  style='width: 70px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text'  value=" + item.igstamt + " readonly='True' /></td>";

        var TotalAmount = "<td><input class='form-control' id='txtTotalAmount" + index + "' name='returnlist[" + index + "].totalamount'  style='width: 100px;' onkeydown='return isNumeric2(event.keyCode,this.value)' type='text' readonly='True' value=" + item.totalamount + "  /></td>";
                        var removeCell = "<td><input id='Isvalid" + index + "' name='returnlist[" + index + "].Isvalid' type='hidden' value='Y'><img  src='../Images/delete.png' onclick='removeRow(" + index + ");'  style='cursor:pointer' /><input name='Worklst.Index' type='hidden' value='" + index + "'  /></td>";

        var newRow = "<tr class='chkitemlst'  style='height: 30px;border-bottom: 1px dashed #ddd;'  id='trBook" + index + "'>" +  ItemId + Unit +  Qty +  RQuantity + rate + Amount + Disc + ExiseType + Tarrifid + CGSTPer +  CGSTAmt + SGSTPer + SGSTAmt + IGSTPer +  IGSTAmt + TotalAmount +removeCell+  "</tr>";
        $("#tbBooks").append(newRow);

});
}


                    },
                    error: function () {
                        debugger;
                        alert("Please Select Supplier");
                    }
                });
       }
    function removeRow(id) {
        var table = document.getElementById("dataTable");
        var rowCount = table.rows.length;
        var row = document.getElementById('trBook' + id);
        var j = 0;
        $('tr.chkitemlst').each(function () {
            if ($(this).css('display') !== 'none') {
                j += 1;
            }
        });
        if (j > 1) {
            row.style.display = "none";
            document.getElementById('Isvalid' + id).value = "N";
        }
        else {
            alert("Cannot delete all the rows.")
        }
    }
 function changeQty(_this, i) {
                try {
                    var stkqty = document.getElementById("txtquantity"+ i).value;
                    var j = 0;
                    var qty = 0;
                    var tot = 0;
                    var totfrieght = 0;
                    var totamt = 0;
                    var totamount = 0;
                    var qty = document.getElementById("txtrqty" + i).value;
                    var up = document.getElementById("txtrate" + i).value;
                    //var cf = document.getElementById("txtConFac" + i).value;
                    //var frieght = document.getElementById("txtFrieghtAmt" + i).value;
                 
                    var IGST = document.getElementById("txtIGSTPer" + i).value;

                    var CGST = document.getElementById("txtCGSTPer" + i).value;

                    var SGST = document.getElementById("txtSGSTPer" + i).value;
                   
                    var Disc = document.getElementById("txtdisc" + i).value;
                   
                    if (qty == "")
                        qty = 0;

                    if (up == "")
                        up = 0;

                    //if (cf == "")
                    //    cf = 1;

                    if (IGST == "")
                        IGST = 0;

                    if (CGST == "")
                        CGST = 0;

                    if (SGST == "")
                        SGST = 0;

                    if (Disc == "")
                        Disc = 0;

                    if (eval(qty) > eval(stkqty)) {
                        document.getElementById("txtrqty" + i).value = "0";
                        alert("Stock Quantity Exceeds the Actual Quantity");
                        qty = 0;
                    }
                   
                    //if (frieght == "")
                    //    frieght = 0;
                    var tot = eval(qty) * eval(up); /** eval(cf);*/
                   @* alert(tot);*@
                    document.getElementById("txtamount" + i).value = tot.toFixed(2);
                    var igstperc = (eval(tot) / 100) * eval(IGST);
                    var cgstperc = (eval(tot) / 100) * eval(CGST);
                    var sgstperc = (eval(tot) / 100) * eval(SGST);

                    //var Discperc = (eval(tot) / 100) * eval(Disc);

                     document.getElementById("txtCGSTAmt" + i).value = cgstperc.toFixed(2);
                      document.getElementById("txtSGSTAmt" + i).value = sgstperc.toFixed(2);
                       document.getElementById("txtIGSTAmt" + i).value = igstperc.toFixed(2);
                        //document.getElementById("txtDiscAmount" + i).value = Discperc.toFixed(2);

                    var tottax = eval(tot) + eval(igstperc) + eval(cgstperc) + eval(sgstperc); /*+ eval(frieght);*/
                    var totdisc = eval(tottax) - eval(Disc);
                    //alert(totdisc);
                    document.getElementById("txtTotalAmount" + i).value = totdisc.toFixed(2);

                    $('tr.chkitemlst').each(function () {
                        if ($(this).css('display') !== 'none') {
                        //    frieght = $(this).find('#txtFrieghtAmt' + j.toString()).val();
                        //    if (frieght == "")
                        //frieght = 0;

                         var amt = $(this).find('#txtamount' + j.toString()).val();
                            if (amt == "")
                        amt = 0;

                         totamt += eval(amt);
                         //totfrieght += eval(frieght);

                          var tamt = $(this).find('#txtTotalAmount' + j.toString()).val();
                            if (tamt == "")
                        tamt = 0;

                        totamount += eval(tamt);

                              }
                        j += 1;
                    });
                   document.getElementById("txtGross").value = totamt.toFixed(2);
                 document.getElementById("txtNet").value = totamount.toFixed(2); 
                }
                catch (ex) {
                    alert(ex.message);
                }
            }
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlinvoiceno").value == "" || document.getElementById("ddlinvoiceno").value == 0) {
                isValid = false;
                $(ddlinvoiceno).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Invoise No");
                return false;
            }
            else {
                $(ddlinvoiceno).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("Docdate").value == "") {
                isValid = false;
                $(Docdate).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select  Doc Date");
                return false;
            }
            else {
                $(Docdate).css({
                    "border": "",
                    "background": ""
                });
            }
       




            if (isValid == false)
                e.preventDefault();
        });

    });
</script>