@model Arasan.Models.SalesReturn
@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "SalesReturn";
}
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }

    a {
        outline: none;
        text-decoration: none;
        color: #000;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
            color: #000;
        }

    .container {
        max-width: 960px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #e4e5e7;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .panel-default > .panel-heading a {
            display: block;
            padding: 10px 15px;
        }

            .panel-default > .panel-heading a:after {
                content: "";
                position: relative;
                top: 1px;
                display: inline-block;
                /*    font-family: 'Glyphicons Halflings';*/
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
            }

            .panel-default > .panel-heading a[aria-expanded="true"] {
                background-color: #49B6D6;
            }

                .panel-default > .panel-heading a[aria-expanded="true"]:after {
                    content: "\2212";
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }

            .panel-default > .panel-heading a[aria-expanded="false"]:after {
                content: "\002b";
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }

    .accordion-option {
        width: 100%;
        float: left;
        clear: both;
        margin: 15px 0;
    }

        .accordion-option .title {
            font-size: 20px;
            font-weight: bold;
            float: left;
            padding: 0;
            margin: 0;
        }

        .accordion-option .toggle-accordion {
            float: right;
            font-size: 16px;
            color: #AAB7B8;
        }

            .accordion-option .toggle-accordion:before {
                content: "Expand All";
            }

            .accordion-option .toggle-accordion.active:before {
                content: "Collapse All";
            }

    .panel-title a {
        background-color: #AAB7B8;
    }

    .panel-body table tr td {
        padding: 5px;
    }

    .panel-body table {
        /* font-size: 15px;*/
        font-weight: normal;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Sales</a> </li>
            <li class="active"> <strong>SalesReturn</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">SalesReturn</h5>
                    <hr>

                    <form>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Invoice No<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.invoiceid) @Html.HiddenFor(C => C.invoiceid)<br>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Invoice Date <label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.invoicedate) @Html.HiddenFor(C => C.invoicedate)<br>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="height:10px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Customer Name<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.custname) @Html.HiddenFor(C => C.custname)<br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Voucher Type<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Vtype) @Html.HiddenFor(C => C.Vtype)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Doc ID<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.DocId) @Html.HiddenFor(C => C.DocId)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.Docdate) @Html.HiddenFor(C => C.Docdate)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Ref No<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.RefNo) @Html.HiddenFor(C => C.RefNo)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Ref Date<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.RefDate) @Html.HiddenFor(C => C.RefDate)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.location) @Html.HiddenFor(C => C.location)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Transit/consignee Location<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.transitlocation) @Html.HiddenFor(C => C.transitlocation)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">

                                    <div class="ibox-content collapse in">
                                        <div class="widgets-container">
                                            <div>
                                                <table id="example7" class="display nowrap table  responsive nowrap table-bordered">
                                                    <thead>

                                            @*<th>Item Group</th>*@
                                                    <th> Item Name</th>
                                                    <th> Unit </th>
                                                    <th> Sold Qty </th>
                                                    <th> Recd Qty </th>
                                                    <th>Rate</th>
                                                    <th>Amount</th>
                                                    <th>Discount</th>
                                                    <th>Exice Type</th>
                                                    <th>Traiff id</th>
                                                    <th>CGST (%)</th>
                                                    <th>CGST Value</th>
                                                    <th>SGST (%)</th>
                                                    <th>SGST Value</th>
                                                    <th>IGST (%)</th>
                                                    <th>IGST Value</th>
                                                    <th>Total Amount</th>


                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @{
                                                            int i = 0;

                                                            foreach (var item in Model.returnlist.ToList())
                                                            {

                                                                <tr>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].itemname)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].unit)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].soldqty)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].quantity)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].rate)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].amount)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].discamount)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].exicetype)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].traiffid)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].cgstper)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].sgstper)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].igstper)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].cgstamt)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].sgstamt)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].igstamt)</td>
                                                                    <td>@Html.DisplayFor(o => o.returnlist[i].totalamount)</td>


                                                                </tr>
                                                                //i = i + 1;
                                                                i++;
                                                            }
                                                        }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Gross<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.gross) @Html.HiddenFor(C => C.gross)<br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Net<label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.DisplayFor(C => C.net) @Html.HiddenFor(C => C.net)<br>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Narration<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                        @Html.DisplayFor(C => C.Narr) @Html.HiddenFor(C => C.Narr)<br>
                                    </div>
                                </div>
                            </div>
                       
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
