@model Arasan.Models.CuringOutward

@{
    ViewData["Title"] = "Curing Outward";
    string sdate = ViewContext.HttpContext.Request.Query["st"];
    string edate = ViewContext.HttpContext.Request.Query["ed"];
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<style>
    .newwidth {
        width: 120px;
    }
</style>
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Curing Outward </strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/CuringOutward/MyListCuringOutwardGrid",
            data: {
                sdate: "@sdate ",
                edate: "@edate",
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'branch', type: 'string' },
                { name: 'docId', type: 'string' },
                { name: 'docdate', type: 'string' },
                { name: 'itemId', type: 'string' },
                { name: 'shi', type: 'string' },
                { name: 'viewrow', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                theme: 'ui-start',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,
                columns: [
                    { text: 'Branch', filtertype: 'input', datafield: 'branch', width: 150 },
                    { text: 'Doc ID', filtertype: 'input', datafield: 'docId', width: 140 },
                    { text: 'Doc Date', filtertype: 'checkedlist', datafield: 'docdate', width: 134 },
                    { text: 'Item', filtertype: 'checkedlist', datafield: 'itemId', width: 134, align: 'center' },
                    { text: 'Shift', filtertype: 'checkedlist', datafield: 'shi', width: 134, align: 'center' },
                    { text: 'View', datafield: 'viewrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>



<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label">From Date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*@Html.TextBoxFor(C => C.SStart, new { @id = "SStart", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SStart" class="form-control" readonly="readonly" value="@sdate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputName3" class="col-sm-3 control-label"> To date  <label class="mandatory">*</label></label>
                                    <div class="col-sm-7">

                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @*  @Html.TextBoxFor(C => C.SEnd, new { @id = "SEnd", @class = "form-control", @TabIndex = 2,@size="32",@readonly=true })*@
                                            <input id="SEnd" class="form-control" readonly="readonly" value="@edate" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                        <button type="button" class="btn  btn-round btn-primary" onclick="changesearch()" style="float: right; color:white;">Search </button>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div>

                            <div class="col-md-12 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("CuringOutward", "CuringOutward")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Curing Outward </a>
                                    <br>
                                </div>
                            </div>
                        </div>
                         <div class="row">

                            <div class="col-md-10 ">
                                <div id="grid">
                                </div>

                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }

    function loadReport() {
        var dtfrom = document.getElementById("SStart").value;
        var dtto = document.getElementById("SEnd").value;

        var url = 'ListCurinngOutward?strfrom=' + dtfrom + '&strTo=' + dtto;
        window.location.href = url;

</script>

<!-- /container -->

<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,

        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    });

    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);
    });
    function changesearch() {

        var isValid = true;

        if (document.getElementById("SStart").value == "" || document.getElementById("SStart").value == 0) {
            isValid = false;
            $(SStart).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select From Date");
            isValid = false;
        }
        else {
            $(SStart).css({
                "border": "",
                "background": ""
            });
        }


        if (document.getElementById("SEnd").value == "" || document.getElementById("SEnd").value == 0) {
            isValid = false;
            $(SEnd).css({
                "border": "1px solid red",
                "background": "#FFCECE"
            });

            alert("Please Select To date");
            isValid = false;
        }
        else {
            $(SEnd).css({
                "border": "",
                "background": ""
            });
        }

        if (isValid == true) {

            var fromDate = document.getElementById("SStart").value;
            var toDate = document.getElementById("SEnd").value;
            var url = '@Url.Action("ListCuringOutward", "CuringOutward")?st=' + fromDate + '&ed=' + toDate;
            window.location.href = url;
        }
    }
</script>